<div [ngStyle]="{ 'height': (isDialogInstance() ? '95%' : '100%') }">
  <div style="height: 10%; display: flex; flex-direction: row;">
    <button mat-icon-button matTooltip="Select all local changes"
      class="flex-right-align" (click)="selectVersionForAllDifferences(
      VersionSelection.LOCAL)">
      <mat-icon class="fa fa-arrow-circle-o-left"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Select all remote changes"
      class="flex-right-align" (click)="selectVersionForAllDifferences(
      VersionSelection.REMOTE)">
      <mat-icon class="fa fa-arrow-circle-o-right"></mat-icon>
    </button>
  </div>
  <tree [root]="differences" [getChildren]="getChildren" [getText]="getText"
    style="height: 50%;" (elementSelected)="differenceSelected($event)">
  </tree>
  <split direction="horizontal" style="height: 40%;">
    <split-area [size]="50">
      <div style="height: 10%; display: flex; flex-direction: row;">
        <button mat-icon-button matTooltip="Select this version"
          (click)="selectedDifference.versionSelection = VersionSelection.
          LOCAL" [ngClass]="{ 'highlight': (selectedDifference.
          versionSelection === VersionSelection.LOCAL) }"
          class="flex-right-align">
          <mat-icon class="fa fa-crosshairs"></mat-icon>
        </button>
      </div>
      <markdown [data]="selectedDifference.localValue"></markdown>
    </split-area>
    <split-area [size]="50">
      <div style="height: 10%; display: flex; flex-direction: row;">
        <button mat-icon-button matTooltip="Select this version"
          (click)="selectedDifference.versionSelection = VersionSelection.
          REMOTE" [ngClass]="{ 'highlight': (selectedDifference.
          versionSelection === VersionSelection.REMOTE) }"
          class="flex-right-align">
          <mat-icon class="fa fa-crosshairs"></mat-icon>
        </button>
      </div>
      <markdown [data]="selectedDifference.remoteValue"></markdown>
    </split-area>
  </split>
</div>
<ng-container *ngIf="isDialogInstance()">
  <mat-dialog-actions style="height: 5%; display: flex; flex-direction: row;">
    <span class="flex-right-align">
      <button mat-button matTooltip="Accept the merge selections and save the
        affected Items" [disabled]="!canMerge()" (click)="matDialogRef.close(
        differences)">
        Merge
      </button>
      <button mat-button matTooltip="Cancel the merge process"
        (click)="matDialogRef.close(undefined)">
        Cancel
      </button>
    </span>
  </mat-dialog-actions>
</ng-container>