<div *ngIf="getTreeRoot()">
    <div id="top-action-bar">
      <button mat-raised-button (click)="expandAll()"
        class="btn btn-default btn-sm">
        Expand All
      </button>
      <button mat-raised-button (click)="expandFiltered()"
        class="btn btn-default btn-sm">
        Expand Filtered
      </button>
      <button mat-raised-button (click)="collapseAll()"
        class="btn btn-default btn-sm">
        Collapse All
      </button>
      <button mat-raised-button class="btn btn-default btn-sm" (click)="upLevel()"
        [disabled]="isRootDefault()">
        Up Level
      </button>
      <button mat-raised-button class="btn btn-default btn-sm" (click)="resetRoot()"
        [disabled]="isRootDefault()">
        Reset Root
      </button>
      <i (click)="syncLocation()"
         [ngClass]="{ 'btn-green': locationSynced}"
         class="btn btn-default btn-sm fa fa-exchange">
      </i>
        <span>Showing
            {{getItemMatchedCount()}} of
            {{getTreeRoot().descendantCount}}
        </span>
      <div>
        <!-- Start View Control -->
        <span class="control-group">
          <span class="controls">
            <mat-form-field>
              <mat-select placeholder="View" (selectionChange)="viewSelectionChanged($event)">
                <mat-option *ngFor="let view of viewList" [value]="view">
                  {{view}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </span>
        </span>
        <!-- Start View Forking -->
        <span [ngSwitch]="viewType">
          <!-- Start Default Toolbar -->
          <span *ngSwitchCase="Default">
            <span class="control-group">
              <!-- Kind Selection -->
              <span class="controls">
                <mat-form-field>
                  <mat-select placeholder="Kind" (selectionChange)="kindFilterChanged($event)">
                    <mat-option>{{NO_KIND_SPECIFIED}}</mat-option>
                    <mat-option *ngFor="let type of types" [value]="type">
                      {{type.item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- String Filtering -->
                <mat-form-field>
                  <input matInput type="text" [(ngModel)]="proxyFilter.text"
                    [ngStyle]="proxyFilter.invalidRegex && {'background-color':'pink'}"
                    placeholder="Filter" (input)="filter()"/>
                </mat-form-field>
              </span>
            </span>
            <!-- Version Control Filtering -->
            <span class="control-group">
              <mat-checkbox [(ngModel)]="filter.status">
                Modified
              </mat-checkbox>
            </span>
            <span class="control-group">
              <mat-checkbox [(ngModel)]="filter.dirty">
                Dirty
              </mat-checkbox>
            </span>
            <!-- End Version Control Filtering -->
            <!-- Action Filtering -->
            <div *ngIf="proxyFilter.kind === 'Action'" class="control-group">
              <span class="controls">
                <mat-form-field>
                  <mat-select placeholder="State">
                    <mat-option *ngFor="let state of actionStates" [(value)]="proxyFilter.actionState">
                      {{state.item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
              <span *ngIf="proxyFilter.kind === 'Action'" class="control-group">
                <span class="controls">
                  <mat-form-field>
                    <mat-select placeholder="Assignee">
                      <mat-option *ngFor="let user of userList" [(value)]="proxyFilter.actionAssignee">
                        {{user.item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </span>
              </span>
            </div> <!-- End Action Filtering -->
          </span>	<!-- End Default Controls -->
          <!-- Start Version Control View -->
          <span *ngSwitchCase="Version Control"></span>
        </span> <!-- End Switch on View Type -->
      </div>
    </div>
    <!-- Begin Knowledge Tree -->
    <div class="knowledge-tree-panel">
      <div id="theKT" class="knowledge-tree">
        <div class="kt-head">
          <div class="kth-cell kti-name">Name</div>
        </div>
        <div class="kt-body">
          <tree-row *ngFor="let childProxy of getTreeRoot().children"
            [itemProxy]="childProxy" [filterSubject]="filterSubject">
          </tree-row>
        </div>
      </div>
    </div> <!-- End Knowledge Tree -->
</div>
<div *ngIf="!getTreeRoot()">Loading...</div>
