<div class="kt-item" id="{{treeRow.itemProxy.item.id}}"
  matTooltip="{{treeRow.itemProxy.item.name}}"
  (click)="treeRow.itemProxy.internal ? '' : navigate('Explore', {id: treeRow.itemProxy.item.id})"
  [ngClass]="{ 'selected-border': (treeRow.itemProxy.item.id === selectedProxyIdStream.getValue()),
  'highlight-row': ((treeRow.itemProxy !== treeRootStream.getValue()) && treeRow.visible && treeRow.matchesFilter) }"
  [ngStyle]="getIndentationStyle()">
  <i class="kt-icon fa"
    (click)="treeRow.expanded = !treeRow.expanded; treeRow.updateVisibleRows.next(true); $event.stopPropagation()"
    [ngClass]="{ 'fa-caret-down': ((treeRow.itemProxy !== treeRootStream.getValue()) && (treeRow.getRowChildrenProxies().length > 0) && treeRow.expanded),
    'fa-caret-right': ((treeRow.itemProxy !== treeRootStream.getValue()) && (treeRow.getRowChildrenProxies().length > 0) && !treeRow.expanded),
    'no-children': ((treeRow.itemProxy === treeRootStream.getValue()) || (0 === treeRow.getRowChildrenProxies().length)) }">
  </i>
  <ng-container
    *ngIf="koheseType && koheseType.viewModelProxy && koheseType.viewModelProxy.item.icon">
    <mat-icon matTooltip="{{koheseType.viewModelProxy.item.modelName}}"
      class="kt-icon {{koheseType.viewModelProxy.item.icon}}">
    </mat-icon>
  </ng-container>
  <ng-container
    *ngIf="!koheseType || !koheseType.viewModelProxy || !koheseType.viewModelProxy.item.icon">
    <span class="kt-icon no-icon"></span>
  </ng-container>
  <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
    {{treeRow.itemProxy.item.name}}
    <ng-container *ngIf="treeRow.itemProxy.item.tags">
      {{treeRow.itemProxy.item.tags}}
    </ng-container>
  </span>
  <!-- Conditional Icons for Item status -->
  <ng-container *ngIf="treeRow.itemProxy.dirty">
    <img src="assets/icons/versioncontrol/dirty.ico" title="Dirty item"/>
  </ng-container>
  <span id="rightSpan">
    <!-- VC Status Icons -->
    <img *ngIf="treeRow.itemProxy.status['Unstaged']"
      src="assets/icons/versioncontrol/unstaged.ico"
      title="Unstaged - {{treeRow.itemProxy.status['Unstaged']}}"/>
    <img *ngIf="treeRow.itemProxy.status['Staged']"
      src="assets/icons/versioncontrol/index-mod.ico"
      title="Staged - {{treeRow.itemProxy.status['Staged']}}"/>
    <ng-container *ngIf="(treeRow.itemProxy !== treeRootStream.getValue())">
      <button mat-icon-button
        (click)="treeRootStream.next(treeRow.itemProxy); $event.stopPropagation()">
        <mat-icon class="fa fa-anchor"></mat-icon>
      </button>
    </ng-container>
    <ng-container *ngFor="let action of rowActions">
      <ng-container *ngIf="action.show(treeRow)">
        <button mat-icon-button matTooltip="{{action.description}}"
          (click)="action.perform(treeRow); $event.stopPropagation()">
          <mat-icon class="kt-icon {{action.icon}}"></mat-icon>
        </button> 
      </ng-container>
    </ng-container>
    <button mat-icon-button [matMenuTriggerFor]="menu"
      (click)="$event.stopPropagation()">
      <mat-icon class="fa fa-bars"></mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [matMenuTriggerFor]="compareMenu">
        Compare
      </button>
      <mat-menu #compareMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item [disabled]="!treeRow.itemProxy.status['Staged']"
          (click)="openComparisonDialog(VersionDesignator.STAGED_VERSION)">
          Against Staged Version
        </button>
        <button mat-menu-item
          (click)="openComparisonDialog(VersionDesignator.LAST_COMMITTED_VERSION)">
          Against Last Committed Version
        </button>
        <button mat-menu-item (click)="openComparisonDialog(undefined)">
          Against... 
        </button>
      </mat-menu>
      <button mat-menu-item *ngFor="let action of menuActions"
        (click)="action.perform(treeRow)" matTooltip="{{action.description}}"
        [disabled]="!action.enable(treeRow)">
        <mat-icon class="{{action.icon}}"></mat-icon>
        {{action.name}}
      </button>
    </mat-menu>
  </span>
</div>
