<div class="panel">
    <div class="panel-heading">Create Item
        <span class="pull-right item-actions">
        <i ng-if="detailsCtrl.tab.type === 'singleview'" class="fa fa-clone pull-right"
           ui-sref="kohese.explore.edit({id:detailsCtrl.itemProxy.item.id})"
           ng-click="detailsCtrl.updateTab('edit', itemProxy.item.id, 'dualview')">
        </i>
        <i class="fa fa-lg fa-arrows-alt" ng-if="detailsCtrl.tab.type === 'dualview'"
           ui-sref="kohese.investigate({id:detailsCtrl.itemProxy.item.id})"
           ng-click="detailsCtrl.updateTab('investigate', itemProxy.item.id, 'singleview')"></i>
            </span>
    </div>
    <tabset>
        <tab>
            <tab-heading>Overview</tab-heading>

            <div class="panel-body">
                <ng-include
                        ng-if="detailsCtrl.itemProxy.kind != 'Repository'"
                        src="'components/common/templates/itemform.html'"></ng-include>
                <div class="details-tab" ng-if="detailsCtrl.itemProxy.kind ==='Repository'">
                    <ng-include src="'components/common/templates/repository-form.html'"></ng-include>
                </div>
            </div>
        </tab>
        </tab>
        <tab ng-if="detailsCtrl.itemProxy.kind === 'Observation'">
            <tab-heading>Observation</tab-heading>
            <ng-include src="'components/common/templates/observation-form.html'"></ng-include>
        </tab>
        <tab ng-if="detailsCtrl.itemProxy.kind === 'Issue'">
            <tab-heading>Issue</tab-heading>
            <ng-include src="'components/common/templates/issue-form.html'"></ng-include>
        </tab>
        <tab ng-if="detailsCtrl.itemProxy.kind === 'Action' || detailsCtrl.itemProxy.kind === 'Decision'"
             class="decision-tab">
            <tab-heading>Decision</tab-heading>
            <ng-include src="'components/common/templates/decision-form.html'"></ng-include>

        </tab>
        <tab ng-if="detailsCtrl.itemProxy.kind === 'Action'">
            <tab-heading>Action</tab-heading>
            <ng-include src="'components/common/templates/action-form.html'"></ng-include>
        </tab>
        <tab ng-if="detailsCtrl.itemProxy.kind === 'Task'">
            <tab-heading>Task</tab-heading>
            <ng-include src="'components/common/templates/task-form.html'"></ng-include>
        </tab>
    </tabset>
    <div class="form-actions create-controls">
        <button ng-click="detailsCtrl.enableEdit=true" ng-disabled="detailsCtrl.enableEdit"
                class="btn btn-primary">
            Edit
        </button>
        <button ng-if="detailsCtrl.itemProxy.item.parentId"
                ng-click="detailsCtrl.createItem('parent')"
                ng-disabled="!detailsCtrl.enableEdit || detailsCtrl.itemForm.$pristine
                && detailsCtrl.actionForm.$pristine && detailsCtrl.decisionForm.$pristine" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i> Save + Return
        </button>
        <button ng-click="detailsCtrl.createItem('child'); "
                ng-disabled="!detailsCtrl.enableEdit || detailsCtrl.itemForm.$pristine
                && detailsCtrl.actionForm.$pristine && detailsCtrl.decisionForm.$pristine" class="btn btn-primary">
            Save + Enter <i class="fa fa-chevron-right"></i>
        </button>
        <button ng-click="detailsCtrl.enableEdit=false; detailsCtrl.cancel()"
                ng-disabled="!detailsCtrl.enableEdit"
                class="btn btn-danger">
            Cancel
        </button>
    </div>
</div>
