<div style="height: 50px; display: flex; flex-direction: row;">
  <ng-container *ngIf="!enclosingType">
    <ng-container *ngIf="!editable else editableBlock">
      <button mat-icon-button matTooltip="Edit structure settings for this kind"
        class="flex-right-align" [disabled]="dataModel.isMetaModel"
        (click)="editable = true">
        <mat-icon class="fa fa-edit"></mat-icon>
      </button>
    </ng-container>
    <ng-template #editableBlock>
      <button mat-icon-button matTooltip="Save structure settings for this kind"
        class="flex-right-align" (click)="save()"
        [disabled]="!hasUnsavedChanges">
        <mat-icon class="fa fa-save"></mat-icon>
      </button>
      <button mat-icon-button matTooltip="Discard structure changes to this kind"
        (click)="discardChanges()">
        <mat-icon class="fa fa-times"></mat-icon>
      </button>
    </ng-template>
  </ng-container>
</div>
<mat-form-field style="width: 100%;">
  <input matInput type="text" placeholder="Name" [ngModel]="dataModel.name"
    (ngModelChange)="dataModel.name = $event; modifiedEventEmitter.emit()"
    [disabled]="!editable"/>
</mat-form-field>
<br/>
<mat-form-field style="width: 100%;">
  <mat-select placeholder="Parent Type" [ngModel]="dataModel.base"
    (ngModelChange)="parentTypeSelected($event)"
    [compareWith]="areParentTypeValuesEqual" [disabled]="!editable">
    <ng-container *ngFor="let kind of filteredKinds">
      <mat-option [value]="kind">
        {{kind.name}}
      </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>
<br/>
<mat-form-field style="width: 100%;">
  <textarea matInput placeholder="Description" rows="3" cols="80"
    [ngModel]="dataModel.description" (ngModelChange)="dataModel.description =
    $event; modifiedEventEmitter.emit()" [disabled]="!editable">
  </textarea>
</mat-form-field>
<div style="height: 50px; width: 100%; display: flex;
  flex-direction: row;">
  <h3>
    Attributes
  </h3>
  <button mat-icon-button matTooltip="Add an attribute"
    class="flex-right-align" (click)="addAttribute()" [disabled]="!editable">
    <mat-icon class="fa fa-plus"></mat-icon>
  </button>
</div>
<mat-table #attributeTable matSort [dataSource]="attributes"
  (matSortChange)="sortAttributes($event.active, $event.direction)">
  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Name
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-form-field style="width: 100%; padding-right: 5px;">
        <input matInput type="text" [ngModel]="element.name"
          (ngModelChange)="setAttributeName(element, $event)"
          [disabled]="!editable"/>
      </mat-form-field>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Type">
    <mat-header-cell *matHeaderCellDef mat-sort-header
      style="flex: 0 0 400px;">
      Type
    </mat-header-cell>
    <mat-cell *matCellDef="let element" style="flex: 0 0 400px;">
      <mat-form-field style="width: 180px;">
        <mat-select [ngModel]="element.type" (ngModelChange)="typeSelected(
          element, $event)" [compareWith]="areTypesSame"
          [disabled]="!editable">
          <mat-option *ngFor="let attributeType of (attributeTypes |
            mapKey)"
            [value]="attributeTypes[attributeType]">
            {{attributeType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="element.type === 'StateMachine'">
        <button mat-icon-button matTooltip="Edit the associated state
          machine" (click)="openStateMachineEditor(element)"
          [disabled]="!editable">
          <mat-icon class="fa fa-edit"></mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="(Object.values(fundamentalTypes).indexOf(
        isMultivalued(element) ? element.type[0] : element.type) === -1)">
        <mat-form-field style="width: 180px; padding: 0px 5px 0px 5px;">
          <mat-select placeholder="Reference Attribute"
            [ngModel]="element.relation" (ngModelChange)="element.
            relation = $event; modifiedEventEmitter.emit()"
            [compareWith]="areRelationsEqual" [disabled]="!editable">
            <mat-optgroup *ngFor="let typeName of (idAttributes | mapKey)"
              [label]="typeName">
              <mat-option *ngFor="let attributeName of idAttributes[
                typeName]" [value]="{ kind: typeName, foreignKey:
                attributeName }">
                {{attributeName}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Is Multivalued">
    <mat-header-cell *matHeaderCellDef mat-sort-header
      style="flex: 0 0 80px;">
      Is Multivalued
    </mat-header-cell>
    <mat-cell *matCellDef="let element" style="flex: 0 0 80px;">
      <mat-checkbox [ngModel]="isMultivalued(element)"
        (ngModelChange)="toggleMultivaluedness(element)"
        [disabled]="!editable">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Is Required">
    <mat-header-cell *matHeaderCellDef mat-sort-header
      style="flex: 0 0 80px;">
      Is Required
    </mat-header-cell>
    <mat-cell *matCellDef="let element" style="flex: 0 0 80px;">
      <mat-checkbox [ngModel]="element.required" (ngModelChange)="element.
        required = $event; modifiedEventEmitter.emit()" [disabled]="!editable">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Is Kind ID">
    <mat-header-cell *matHeaderCellDef mat-sort-header
      style="flex: 0 0 80px;">
      Is Kind ID
    </mat-header-cell>
    <mat-cell *matCellDef="let element" style="flex: 0 0 80px;">
      <mat-checkbox [ngModel]="element.id" (ngModelChange)="element.id =
        $event; modifiedEventEmitter.emit()" [disabled]="!editable">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Default Value">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Default Value
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-form-field style="width: 100%;">
        <input matInput type="text" [ngModel]="element.default"
          (ngModelChange)="element.default = $event; modifiedEventEmitter.
          emit()" [disabled]="!editable"/>
      </mat-form-field>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef style="flex: 0 0 74px;">
    </mat-header-cell>
    <mat-cell *matCellDef="let element" style="flex: 0 0 74px;">
      <button mat-icon-button [matMenuTriggerFor]="actionMenu">
        <mat-icon class="fa fa-bars"></mat-icon>
      </button>
      <mat-menu #actionMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item matTooltip="Remove this attribute"
          [disabled]="(!editable || (getAttributeUsages(element.name).length >
          0) || (enclosingType && (attributes.length === 1)))"
          (click)="removeAttribute(element.name)">
          <mat-icon class="fa fa-trash"></mat-icon>
          Remove
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['Name', 'Type', 'Is Multivalued',
    'Is Required', 'Is Kind ID', 'Default Value', 'actions'];
    sticky: true">
  </mat-header-row>
  <mat-row *matRowDef="let row; columns: ['Name', 'Type', 'Is Multivalued',
    'Is Required', 'Is Kind ID', 'Default Value', 'actions']">
  </mat-row>
</mat-table>
<!-- The latter condition is present for component initialization. -->
<ng-container *ngIf="(!enclosingType && dataModel.localTypes)">
  <div style="width: 100%; display: flex; flex-direction: column;">
    <h3>
      Local Types
    </h3>
    <span class="flex-right-align">
      <button mat-icon-button matTooltip="Add a local type"
        (click)="addLocalType()" [disabled]="!editable">
        <mat-icon class="fa fa-plus"></mat-icon>
      </button>
    </span>
    <ng-container *ngFor="let localType of Object.values(dataModel.localTypes)">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="align-items: center;">
            {{localType.name}}
          </mat-panel-title>
          <button mat-icon-button matTooltip="Remove this local type"
            (click)="removeLocalType(localType.name)" [disabled]="!editable"
            class="flex-right-align">
            <mat-icon class="fa fa-trash"></mat-icon>
          </button>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <!-- The use of hasUnsavedChanges below is bad but preferred over
          changing API. -->
          <data-model-editor [dataModel]="localType"
            [hasUnsavedChanges]="editable" (modified)="modifiedEventEmitter.
            emit()" [enclosingType]="dataModel">
          </data-model-editor>
        </ng-template>
      </mat-expansion-panel>
    </ng-container>
  </div>
</ng-container>