<div id="login-form">
    <h1>Kohese</h1>
    <form (ngSubmit)="login()">
        <label for="username"> Username: </label>
          <input id="username"
                 type="text"
                 name="username"
                 [(ngModel)]="username"
                 class="form-control"
                 required/>
          <div class="alert alert-danger"
               *ngIf="(0 === username.length) && loginSubmitted">Username is required</div>
        <br/>
        <label for="password">Password: </label>
          <input  id="password"
                  type="password"
                  name="password"
                  class="form-control"
                  [(ngModel)]="password"
                  required/>
          <div class="alert alert-danger"
               *ngIf="(0 === password.length) && loginSubmitted">Password is required</div>
        <br/>
        <button type="submit"
                class="btn btn-primary">
        Log In</button>
    </form>
</div>
