@import '../utils/variables';

body {
  font-family: FontAwesome, arial, sans-serif;

  .two-columns {
    width: 50%;
  }

  .three-columns {
    width: 30%
  }
}

table {
  th {
    .glyphicon-plus {
      color: green;
      &:hover {
        cursor: pointer;
      }
    }
  }

  td {
    .glyphicon-remove {
      color: $secondaryColor + 100;
      &:hover {
        cursor: pointer;
      }
    }
  }
}