<div style="height: 100%; width: 100%;">
  <div style="height: 7%; width: 100%;">
    <mat-form-field class="pad" style="width: 25%;">
      <mat-select placeholder="Type" [(ngModel)]="selectedType">
        <mat-option *ngFor="let type of types"
          matTooltip="{{type.dataModelItemProxy.item.description}}"
          [value]="type">
          <mat-icon class="{{type.viewModelItemProxy.item.icon}}">
          </mat-icon>
          {{type.dataModelItemProxy.item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="pull-right">
      <button mat-icon-button matTooltip="Add Type" (click)="add()">
        <mat-icon class="fa fa-plus"></mat-icon>
      </button>
      <button mat-icon-button matTooltip="Delete Type" (click)="delete()"
        [disabled]="(!selectedType || selectedType.dataModelItemProxy.item.
        isMetaModel)">
        <mat-icon class="fa fa-trash"></mat-icon>
      </button>
    </span>
  </div>
  <div style="height: 93%; width: 100%;">
    <ng-container *ngIf="selectedType">
      <mat-tab-group class="pad" style="height: 100%; width: 100%;">
        <mat-tab>
          <ng-template mat-tab-label>
            Structure
            <ng-container *ngIf="selectedType.dataModelItemProxy.dirty">
              <img src="assets/icons/versioncontrol/dirty.ico"/>
            </ng-container>
          </ng-template>
          <ng-template matTabContent>
            <data-model-editor [dataModel]="selectedType.dataModelItemProxy.
              item" [hasUnsavedChanges]="selectedType.dataModelItemProxy.dirty"
              (modified)="selectedType.dataModelItemProxy.dirty = true">
            </data-model-editor>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Display
            <ng-container *ngIf="selectedType.viewModelItemProxy.dirty">
              <img src="assets/icons/versioncontrol/dirty.ico"/>
            </ng-container>
          </ng-template>
          <ng-template matTabContent>
            <view-model-editor [viewModel]="selectedType.viewModelItemProxy.
              item" [hasUnsavedChanges]="selectedType.viewModelItemProxy.dirty"
              (modified)="selectedType.viewModelItemProxy.dirty = true"
              [dataModel]="selectedType.dataModelItemProxy.item">
            </view-model-editor>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
  </div>
</div>
