@import '../../../../../../app.component';

/deep/ .datatable-row-detail {
  overflow: auto !important;
}

.ngx-datatable.material {
	background:#FFF;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);

	&.striped {
		.datatable-row-odd {
			background: #eee;
		}
  }
}

.selector {
  padding-left : 10px;
}

.title {
  padding : 10px 5px 0 10px;
  color : white;
  font-size: x-large;
  height: 50px;
  vertical-align: auto;
  margin-bottom: 10px;
}

/deep/ datatable-body {
  height: 100;
}

/deep/ .ngx-datatable.fixed-row .datatable-scroll {
  white-space: normal !important;
}
