@import '../../../../../../app.component';

.selector {
  padding-left : 10px;
}

.title {
  padding : 10px 5px 0 10px;
  color : white;
  font-size: x-large;
  height: 50px;
  vertical-align: auto;
  margin-bottom: 10px;
}

/deep/ .mat-expansion-panel-content {
  height: unset;
}

/deep/ .mat-expansion-indicator:after {
  color: whitesmoke;
}
