<div class="title" [ngStyle]="{'background-color' : color}" style="display: flex; flex-direction: row;">
  {{kindName}}: {{stateName}}
  <button mat-icon-button matTooltip="Expand all differences" (click)="expandAll()" class="flex-right-align">
    <mat-icon class="fa fa-chevron-down"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Collapse all differences" (click)="collapseAll()">
    <mat-icon class="fa fa-chevron-up"></mat-icon>
  </button>
</div>
<div style="height: calc(100% - 100px); overflow-y: auto;">
  <ng-container *ngFor="let row of proxies">
    <mat-expansion-panel style="width: 100%;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.8), 0 2px 2px 0 rgba(0,0,0,.84), 0 1px 5px 0 rgba(0,0,0,.72);" #panel>
      <mat-expansion-panel-header [ngStyle]="{ 'background-color': (getViewModel(row).color ?
        getViewModel(row).color : '#000000') }">
        <mat-panel-title style="align-items:center; color: whitesmoke; font-size: x-large; width: 72%;
          display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <mat-icon class="{{getViewModel(row).icon}}" style="margin-right: 3px;"></mat-icon>
          {{ row.item[getHeader(row)] }}
        </mat-panel-title>
        <mat-panel-description style="color:whitesmoke; font-size: medium; align-items: center; width: 28%">
          <mat-icon class="fa fa-clock-o" style="font-size: x-large"></mat-icon>
          {{row.item.modifiedOn | date : 'short'}}
          <ng-container *ngIf="row.dirty">
            <button mat-icon-button [disabled]="true" class="flex-right-align">
              <img src="assets/icons/versioncontrol/dirty.ico" />
            </button>
          </ng-container>
          <ng-container *ngIf="(editableSet.indexOf(row.item.id) === -1) else editableBlock">
            <button mat-icon-button matTooltip="Edit this Item" [ngStyle]="{ 'margin-left': (row.dirty ? '' : 'auto') }"
              (click)="$event.stopPropagation(); panel.open(); editableSet.push(row.item.id)">
              <mat-icon class="fa fa-edit"></mat-icon>
            </button>
          </ng-container>
          <ng-template #editableBlock>
            <button mat-icon-button matTooltip="Save this Item" [ngStyle]="{ 'margin-left': (row.dirty ? '' : 'auto') }"
              (click)="$event.stopPropagation(); save(row)">
              <mat-icon class="fa fa-save"></mat-icon>
            </button>
            <button mat-icon-button matTooltip="Discard unsaved changes to this Item"
              (click)="$event.stopPropagation(); discardChanges(row)">
              <mat-icon class="fa fa-times"></mat-icon>
            </button>
          </ng-template>
          <button mat-icon-button matTooltip="Display Item information"
            (click)="$event.stopPropagation(); displayInformation(row)">
            <mat-icon class="fa fa-clone"></mat-icon>
          </button>
          <button mat-icon-button matTooltip="Other Options" [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation();">
            <mat-icon class="fa fa-bars"></mat-icon>
          </button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item
              (click)="$event.stopPropagation(); navigationService.navigate('Explore', { id: row.item.id })">
              <mat-icon class="fa fa-arrow-right"></mat-icon>
              Navigate in Explorer
            </button>
            <button mat-menu-item
              (click)="$event.stopPropagation(); navigationService.addTab('Explore', { id: row.item.id })">
              <mat-icon class="fa fa-external-link"></mat-icon>
              Navigate in New Tab
            </button>
          </mat-menu>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <format-object-editor [type]="row.model.item" [object]="row.item"
          [formatDefinitionType]="FormatDefinitionType.CARD" [disabled]="(editableSet.indexOf(row.item.id) === -1)">
        </format-object-editor>
      </ng-template>
    </mat-expansion-panel>
  </ng-container>
</div>
<mat-dialog-actions style="height: 40px; display: flex; flex-direction: row;">
  <button mat-button matTooltip="Close this window" class="flex-right-align" [mat-dialog-close]="">
    Close
  </button>
</mat-dialog-actions>
