<div class='dialog-container'>
  <div class="title" [ngStyle]="{'background-color' : color}">
    {{stateInfo.kind}} : {{ stateInfo.stateName}}
  </div>
    <ngx-datatable #proxyTable class="material expandable" [rows]="stateInfo.proxies" [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true">
      <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            <div>
              <strong>State</strong>
            </div>
            <div>{{row.state}}</div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <!-- Column Templates -->
      <ngx-datatable-column [width]="50" [resizeable]="true" [sortable]="true" [draggable]="false" [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a href="javascript:void(0)" class="selector fa" [class.fa-chevron-right]="!expanded" [class.fa-chevron-down]="expanded"
            title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
          </a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Name" width="300" style="border: 1px solid black">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
          {{row.item.name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Last Modified" width="300" style="border: 1px solid black">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
            {{row.item.modifiedOn | date : 'long'}}
          </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
