<div style="height: 100%; display: flex; flex-direction: row; margin: 0.05em">
  <div style="width: 60%; color: whitesmoke">
    <h4 style="height: 2.4em; padding-left: 0.3em; border-bottom: 2px solid rgba(0,0,0,.65);
      background-color: white; color: rgba(0,0,0,.8); display: flex; flex-direction: row; align-items: center">
      Assignments:
      <button mat-icon-button matTooltip="Expand all differences" (click)="expandAll()" class="flex-right-align">
        <mat-icon class="fa fa-chevron-down"></mat-icon>
      </button>
      <button mat-icon-button matTooltip="Collapse all differences" (click)="collapseAll()">
        <mat-icon class="fa fa-chevron-up"></mat-icon>
      </button>
    </h4>
    <!-- heigh calc is chosen to take into account the 1.33em from the "Assignments" h4 height
         and the margin-bottom/margin-block-end  -->
    <div style="height: calc(100% - 4.23em); overflow: auto;">
      <ng-container *ngFor="let assignment of sortedAssignmentList">
        <mat-expansion-panel style="width: 100%;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.8), 0 2px 2px 0 rgba(0,0,0,.64), 0 1px 5px 0 rgba(0,0,0,.62);" #panel>
          <mat-expansion-panel-header [ngStyle]="{ 'background-color': (getViewModel(assignment).color ?
          getViewModel(assignment).color : '#000000') }">
            <mat-panel-title style="align-items:center; color: whitesmoke; font-size: x-large; width: 68%;
            display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
              <mat-icon class="{{getViewModel(assignment).icon}}" style="margin-right: 3px;"></mat-icon>
              {{ assignment.item[getHeader(assignment)] }}
            </mat-panel-title>
            <mat-panel-description style="color:whitesmoke">
              <ng-container *ngIf="assignment.dirty">
                <button mat-icon-button [disabled]="true" class="flex-right-align">
                  <img src="assets/icons/versioncontrol/dirty.ico" />
                </button>
              </ng-container>
              <ng-container *ngIf="(editableSet.indexOf(assignment.item.id) === -1) else editableBlock">
                <button mat-icon-button matTooltip="Edit this Item"
                  [ngStyle]="{ 'margin-left': (assignment.dirty ? '' : 'auto') }"
                  (click)="$event.stopPropagation(); panel.open(); editableSet.push(assignment.item.id)">
                  <mat-icon class="fa fa-edit"></mat-icon>
                </button>
              </ng-container>
              <ng-template #editableBlock>
                <button mat-icon-button matTooltip="Save this Item"
                  [ngStyle]="{ 'margin-left': (assignment.dirty ? '' : 'auto') }"
                  (click)="$event.stopPropagation(); save(assignment)">
                  <mat-icon class="fa fa-save"></mat-icon>
                </button>
                <button mat-icon-button matTooltip="Discard unsaved changes to this Item"
                  (click)="$event.stopPropagation(); discardChanges(assignment)">
                  <mat-icon class="fa fa-times"></mat-icon>
                </button>
              </ng-template>
              <button mat-icon-button matTooltip="Display Item information"
                (click)="$event.stopPropagation(); displayInformation(assignment)">
                <mat-icon class="fa fa-search"></mat-icon>
              </button>
              <button mat-icon-button matTooltip="Navigate to this Item"
                (click)="$event.stopPropagation(); navigate(assignment)">
                <mat-icon class="fa fa-arrow-right"></mat-icon>
              </button>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <format-object-editor [type]="assignment.model.item" [object]="assignment.item"
              [formatDefinitionType]="FormatDefinitionType.CARD"
              [disabled]="(editableSet.indexOf(assignment.item.id) === -1)">
            </format-object-editor>
          </ng-template>
        </mat-expansion-panel>
      </ng-container>
    </div>
  </div>
  <activity-feed [activityList]="assignmentList" style="flex: 1 1 40%; padding-left: .5em"></activity-feed>
</div>
