
.flex-container {
  display : flex;
}

.left-content {
  width : 40px;
  color : whitesmoke;
  background-color: #660000;
}

.right-content {
  flex : 2;
}

.uneditable {
  background-color : lightgray
}
.editable {
  background-color : whitesmoke;
}
