<div class="panel">
  <div class="panel-heading">
    Term View - ({{getTermCount()}}) Terms
    <button mat-icon-button class="pull-right" [matMenuTriggerFor]="optionsMenu">
      <mat-icon class="fa fa-gear" style="vertical-align: top;"></mat-icon>
    </button>
    <mat-menu #optionsMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="showPOS = !showPOS">
        <mat-icon *ngIf="showPOS" class="fa fa-check"></mat-icon>
        <mat-icon *ngIf="!showPOS" class="fa fa-uncheck"></mat-icon>
        Show POS
      </button>
    </mat-menu>
  </div>
  <div class="panel-body">
    <div>
      <mat-form-field>
        <mat-select placeholder="POS Filter" [(ngModel)]="analysisPOSFilterName">
          <mat-option *ngFor="let filterCriteria of analysisPOSFilterCriteriaList" [value]="filterCriteria">
            {{filterCriteria}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span>
        <mat-checkbox [(ngModel)]="filterExactMatch">
          Exact Match
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="filterIgnoreCase">
          Ignore Case
        </mat-checkbox>
      </span>
      <br/>
      <mat-form-field>
        <input matInput type="text" class="input-sm"
          [(ngModel)]="analysisFilterInput" placeholder="Filter"
          [ngStyle]="invalidAnalysisFilterRegex && {'background-color':'pink'}"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Limit" [(ngModel)]="loadLimit"/>
      </mat-form-field>
      <button mat-raised-button (click)="filter(analysisFilterInput, true)"
        class="btn btn-default fa fa-search">Submit
      </button>
      <!-- <button (click)="getLastFilter()"
             class="btn btn-default fa fa-chevron-left"> Last Filter
           </button> -->
    </div>
    <div id="term-div">
      <table id="theTokensSummary"
        class="table tree-grid table-striped table-condensed table-hover">
        <thead>
          <th>
            <span (click)="sort('text')">
              Text
              <span *ngIf="sortField === 'text'">
                <i *ngIf="ascending" class="fa fa-chevron-up"></i>
                <i *ngIf="!ascending" class="fa fa-chevron-down"></i>
              </span>
            </span>
          </th>
          <th>
            <span (click)="sort('count')">
              Count
              <span *ngIf="sortField === 'count'">
                <i *ngIf="ascending" class="fa fa-chevron-up"></i>
                <i *ngIf="!ascending" class="fa fa-chevron-down"></i>
              </span>
            </span>
          </th>
          <th *ngIf="showPOS">POS Count</th>
        </thead>
        <tbody id="theTokensBody">
          <tr class="tree-grid-row" id="Chunk:{{summary.text}}"
            *ngFor="let summary of terms">
            <td (click)="filter(summary.text, false)"
              class="tree-label"
              [innerHTML] ="summary.text | highlightRegex:analysisFilterRegexHighlight:true">
            </td>
            <td>{{summary.count}}</td>
            <td *ngIf="showPOS">{{summary.posCount | json}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
