<div class="panel">
  <div class="panel-heading" style="height: 50px; display: flex;
    flex-direction: row; align-items: center;">
    Term View - (<span *ngIf="displayedCount < filteredCount"style="font-weight:normal;">{{displayedCount}}/</span>{{filteredCount}}) Terms
    <button mat-icon-button matTooltip="Copy table content to clipboard"
      style="margin-left: auto;" (click)="copy(terms, showPOS)">
      <mat-icon class="fa fa-copy"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Export table content to a file"
      [matMenuTriggerFor]="exportMenu">
      <mat-icon class="fa fa-file-o"></mat-icon>
    </button>
    <mat-menu #exportMenu="matMenu" [overlapTrigger]="false">
      <ng-container *ngFor="let format of Object.keys(DataFormat)">
        <button mat-menu-item (click)="export(terms, showPOS, itemProxy.item.
          name, DataFormat[format])">
          {{DataFormat[format]}}
        </button>
      </ng-container>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
      <mat-icon class="fa fa-gear"></mat-icon>
    </button>
    <mat-menu #optionsMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="showPOS = !showPOS">
        <mat-icon *ngIf="showPOS" class="fa fa-check"></mat-icon>
        <mat-icon *ngIf="!showPOS" class="fa fa-uncheck"></mat-icon>
        Show POS
      </button>
    </mat-menu>
  </div>
  <div class="panel-body">
    <div>
      <mat-form-field>
        <mat-select placeholder="POS Filter" [(ngModel)]="analysisPOSFilterName" (ngModelChange)="processTerms()">
          <mat-option *ngFor="let filterCriteria of termPOSFilterCriteriaList" [value]="filterCriteria">
            {{filterCriteria}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span>
        <mat-checkbox [(ngModel)]="filterExactMatch">
          Exact Match
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="filterIgnoreCase">
          Ignore Case
        </mat-checkbox>
      </span>
      <br/>
      <mat-form-field>
        <input matInput type="text" class="input-sm"
          [formControl]="filterControl" placeholder="Filter"
          [ngStyle]="invalidFilterRegex && {'background-color':'pink'}"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Limit" [(ngModel)]="loadLimit" (ngModelChange)="processTerms()"/>
      </mat-form-field>
      <button mat-raised-button (click)="submitFilter(filterControl.value)"
        class="btn btn-default fa fa-search">Submit
      </button>
    </div>
    <div id="term-div">
      <table id="theTokensSummary"
        class="table tree-grid table-striped table-condensed table-hover">
        <thead>
          <th>
            <span (click)="sort('text')">
              Text
              <span *ngIf="sortField === 'text'">
                <i *ngIf="ascending" class="fa fa-chevron-up"></i>
                <i *ngIf="!ascending" class="fa fa-chevron-down"></i>
              </span>
            </span>
          </th>
          <th>
            <span (click)="sort('count')">
              Count
              <span *ngIf="sortField === 'count'">
                <i *ngIf="ascending" class="fa fa-chevron-up"></i>
                <i *ngIf="!ascending" class="fa fa-chevron-down"></i>
              </span>
            </span>
          </th>
          <th *ngIf="showPOS">POS Count</th>
        </thead>
        <tbody id="theTokensBody">
          <tr class="tree-grid-row" id="Chunk:{{summary.text}}"
            *ngFor="let summary of terms">
            <td (click)="submitFilter(summary.text)"
              class="tree-label"
              [innerHTML] ="summary.text | highlightRegex:analysisFilterRegexHighlight:true">
            </td>
            <td>{{summary.count}}</td>
            <td *ngIf="showPOS">{{summary.posCount | json}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
