<span>
    <tr ng-controller="ActionRowController as rowCtrl">
        <td 
            ng-repeat="field in TableController.fields"
            style="border: 1px solid black; padding: 0px 5px;">
            <span ng-switch="field.primary" >
                <!-- For use with indention -->
                <span ng-switch-when="field.primary">
                    <span ng-switch="field.onProxy">
                        <span ng-switch-when="field.onProxy">
                            {{rowCtrl.indention}}||{{rowCtrlproxy[field.key]}}
                        </span>
                        <span ng-switch-default>
                            {{rowCtrl.indention}}||{{rowCtrl.proxy.item[field.key]}}
                        </span>
                    </span>
                </span>
                <span ng-switch-when="!field.primary">
                    <span ng-if="field.onProxy">
                        {{proxy[field.key]}}
                    </span>
                    <span ng-if="!field.onProxy">
                        {{proxy.item[field.key]}}
                    </span>
                </span>
                
            </span>
        </td>
    </tr>
    <recursive-container ng-if="rowCtrl.proxy.children" 
                        indention="rowCtrl.indention"
                        proxies ="rowCtrl.proxy.children"
                        fields="rowCtrl.fields"/>
</span>