<div ng-controller="ActionTableController as TableController">

    <!-- UI Branch 1 !-->
    <h1 ng-if="!TableController.actionsFound">
        No Actions Found
    </h1>
    <!-- UI Branch 2 !-->
    <table ng-if="TableController.actionsFound"
           class="tree-grid">
        <thead>
            <tr>
                <th ng-repeat="field in TableController.fields"
                    style="border: 1px solid black; padding: 0px 5px;"
                    ng-click="TableController.sortTable(TableController.proxyCollection, field.key)">
                    <span>
                        {{field.title}}
                        <span ng-if="TableController.sortedFieldKey === field.key">
                            {{TableController.sortDirection}}    
                        </span>
                    </span>
                </th>
            </tr>
        </thead>
        <!-- UI Branch 2.1 - Sortable Table !-->
        <tr ng-repeat="proxy in TableController.proxyCollection"
            ng-if="TableController.sortable">
            <td ng-repeat="field in TableController.fields"
                style="border: 1px solid black; padding: 0px 5px;">
                <span ng-switch="field.primary">
                    <!-- For use with indention -->
                    <span ng-switch-when="field.primary">
                        <span ng-switch="field.onProxy">
                            <span ng-switch-when="field.onProxy">
                                {{proxy[field.key]}}
                            </span>
                            <span ng-switch-default>
                                {{proxy.item[field.key]}}
                            </span>
                        </span>
                    </span>
                    <span ng-switch-when"!field.primary">
                        <span ng-if="field.onProxy">
                            {{proxy[field.key]}}
                        </span>
                        <span ng-if="!field.onProxy">
                            {{proxy.item[field.key]}}
                        </span>
                        </span>
                </span>
            </td>
        <!-- UI Branch 2.2 - Nested Table !-->
        <action-row proxy="TableController.itemProxy"
                    indention = "0"
                    fields="TableController.fields"
                    ng-if=" TableController.itemProxy.children && !TableController.sortable">
    </tr>
    </table>

</div>