<div class="panel">
        <div class="panel-heading">Chunk View</div>
        <div class="panel-body">                <div>
                <span><b>Chunk Summary</b>  ({{cvCtrl.getChunkCount()}})</span>
                <span class="col-xs-4 pull-right"> 
                <b>Limit</b>
                <input class="input-sm col-xs-6 pull-right" type="number" ng-model="ctrl.analysisChunkLimit"
                placeholder="Chunk Limit"/>
                </span>
          </div>
          <div   id="chunk-div">
            <table id="theChunksSummary"
                class="table tree-grid table-striped table-condensed table-hover">
                <thead>
                <th><a ng-click="cvCtrl.analysisSummarySortField = 'text'">Text</a></th>
                <th><a ng-click="cvCtrl.analysisSummarySortField = '-count'">Count</a></th>
                <th>POS Count</th>
                </thead>
                <tbody id="theChunksBody">
                <tr class="tree-grid-row" id="Chunk:{{summary.text}}"
                        ng-repeat="summary in cvCtrl.itemProxy.analysis.extendedChunkSummaryList 
                                | filter:cvCtrl.filterChunks 
                                | orderBy:cvCtrl.analysisSummarySortField 
                                | limitTo:cvCtrl.analysisChunkLimit">
                <td ng-click="cvCtrl.submitSummaryFilter(summary.text)"
                        class="tree-label"
                        ng-bind-html="summary.text | highlightRegex:cvCtrl.analysisFilterRegexHighlight"></td>
                <td>{{summary.count}}</td>
                <td>{{summary.posCount}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>