<div class="panel">
        <div class="panel-heading">Chunk View - ({{cvCtrl.getChunkCount()}}) Chunks</div>
        <div class="panel-body">                <div>
                <span class="col-xs-4 pull-right"> 
                <b>Limit</b>
                <input class="input-sm col-xs-6 pull-right" type="number" ng-model="cvCtrl.loadLimit"
                placeholder="Chunk Limit"/>
                </span>
          </div>
          <div   id="chunk-div">
            <table id="theChunksSummary"
                class="table tree-grid table-striped table-condensed table-hover">
                <thead>
                <th><span ng-click="cvCtrl.newSort('-text')">
                        Text
                        <span ng-if="cvCtrl.sortField === '-text'">
                        <i ng-if="cvCtrl.reverse" class="fa fa-chevron-up"></i>
                        <i ng-if="!cvCtrl.reverse" class="fa fa-chevron-down"></i>
                        </span>
                </span></th>
                <th ng-click="cvCtrl.newSort('-count')">
                        <span>Count
                        <span ng-if="cvCtrl.sortField === '-count'">
                        <i ng-if="tvCtrl.reverse" class="fa fa-chevron-up"></i>
                        <i ng-if="!tvCtrl.reverse" class="fa fa-chevron-down"></i>
                        </span>
                        </span>
                        </th>
                <th>POS Count</th>
                </thead>
                <tbody id="theChunksBody">
                <tr class="tree-grid-row" id="Chunk:{{summary.text}}"
                        ng-repeat="summary in cvCtrl.itemProxy.analysis.extendedChunkSummaryList 
                                | filter:cvCtrl.filterChunks 
                                | orderBy:cvCtrl.sortField:cvCtrl.reverse 
                                | limitTo:cvCtrl.loadLimit">
                <td ng-click="cvCtrl.submitSummaryFilter(summary.text)"
                        class="tree-label"
                        ng-bind-html="summary.text | highlightRegex:cvCtrl.analysisFilterRegexHighlight"></td>
                <td>{{summary.count}}</td>
                <td>{{summary.posCount}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>