<div class="panel">
        <div class="panel-heading">Sentence View - ({{svCtrl.getDetailsItemCount()}}) Sentences</div>
        <div class="panel-body"> 
        <div>
          <span><b>Analysis Details</b> </span>
                <span class="col-xs-4 pull-right"> 
                        <b>Limit</b>
                        <input class="input-sm col-xs-6 pull-right" type="number" ng-model="svCtrl.loadLimit"
                        placeholder="Details Limit"/>
                </span>
                </div>
                <input type="checkbox" ng-model="svCtrl.showSentencesInDetails"
                        ng-init="svCtrl.showSentencesInDetails=true" name="showSentencesInDetailsInput"
                        style="margin: 5px"/> Show Sentences in Details
                <input type="checkbox" ng-model="svCtrl.showPhrasesInDetails"
                        ng-init="svCtrl.showPhrasesInDetails=false" name="showPhrasesInDetailsInput"
                        style="margin: 5px"/> Show Phrases in Details
                <input type="checkbox" ng-model="svCtrl.showTokensInDetails"
                        ng-init="svCtrl.showTokensInDetails=false" name="showTokensInDetailsInput"
                        style="margin: 5px"/> Show Tokens in Details
                <div id="sentence-div">
                <table id="theDetails"
                        class="table tree-grid table-striped table-condensed table-hover">
                <thead>
                        <th style="width:20%">Type</th>
                        <th><span ng-click="svCtrl.newSort('-text')">
                                Text
                                <span ng-if="svCtrl.sortField === '-text'">
                                <i ng-if="svCtrl.reverse" class="fa fa-chevron-up"></i>
                                <i ng-if="!svCtrl.reverse" class="fa fa-chevron-down"></i>
                                </span>
                        </span></th>
                </thead>
               
                <tbody id="theDetailsBody">
                        <tr class="level-{{listItem.displayLevel}}"
                        class="tree-grid-row" id="{{listItem.displayId}}"
                        ng-repeat="listItem in svCtrl.itemProxy.analysis.extendedList 
                                | filter:svCtrl.filterDetails 
                                | orderBy:svCtrl.analysisDetailsSortField:svCtrl.reverse 
                                | limitTo:svCtrl.loadLimit">
                        <td class="indented">{{listItem.displayType}}</td>
                        <td ng-bind-html="listItem.text | highlightRegex:svCtrl.analysisFilterRegexHighlight"></td>
                        </tr>
                </tbody>
                </table>
                </div>  
                </div>
        </div>
    </div>