<div class="panel">
      <div class="panel-heading">Term View</div>
      <div class="panel-body"> 
      <div>
            <label class="control-label" for="posFilter">
              POS Filter:
              <select id="posFilter"
                      ng-model="tvCtrl.analysisPOSFilterName">
                     <option ng-repeat="filterCriteria in tvCtrl.analysisPOSFilterCriteriaList">{{filterCriteria}}</option>
              </select>
            </label>
            <br/> 
            <input class="input-sm" type="text" ng-model="tvCtrl.analysisFilterInput"
                   placeholder="Filter" style="margin: 5px"/>
            <button ng-click="tvCtrl.submitStringFilter()" 
                    class=" btn btn-default fa fa-search"> Submit
            </button>
            <!-- <button ng-click="tvCtrl.getLastFilter()" 
                    class="btn btn-default fa fa-chevron-left"> Last Filter
            </button> -->
      </div>
      <div id="term-div">
         <table id="theTokensSummary"
                class="table tree-grid table-striped table-condensed table-hover">
            <thead>
               <th>
                  <span ng-click="tvCtrl.analysisSummarySortField = 'text'">
                     Text
                  </span>
               </th>
               <th>
                  <span ng-click="tvCtrl.analysisSummarySortField = '-count'">
                     Count
                  </span>
               </th>
               <th>POS Count</th>
            </thead>
            <tbody id="theTokensBody">
               <tr class="tree-grid-row" id="Chunk:{{summary.text}}"
               ng-repeat="summary in tvCtrl.itemProxy.analysis.extendedTokenSummaryList 
                        | filter:tvCtrl.filterTokens 
                        | orderBy:tvCtrl.analysisSummarySortField 
                        | limitTo:tvCtrl.analysisTokenLimit">
               <td ng-click="tvCtrl.submitClickFilter(summary.text)"
                     class="tree-label"
                     ng-bind-html="summary.text | highlightRegex:tvCtrl.analysisFilterRegexHighlight"></td>
               <td>{{summary.count}}</td>
               <td>{{summary.posCount}}</td>
               </tr>
            </tbody>
         </table>
      </div>
      </div>
  </div>