.add-button {
  color: white;
  background-color : green;
  width: 100%;
}

.list-header {
  padding : 5px 5px 5px 0px;
  background-color : navy;
  border : 1px lightblue solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width : 100%;
  color : white;
}

.container-body {
  padding : 10px;
}

.title {
  padding-left : 10px;
  font-size: larger;
  font-weight: bold;
}
