/.angular/cache
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
.DS_Store
.idea
.strong-pm
coverage
node_modules
npm-debug.log
/db.json
bower_components
/.sass-cache/
/db.json.*
tmp/
/dist/
/build/
*.css
*.ccs.map
package
git-version.json
server/boot/jwt-auth.json
