<div
     class="kt-collection" ng-repeat="itemProxy in proxyCollection"
     ng-class="{'kt-hidden' : itemProxy.item.parentId && treeCtrl.collapsed[itemProxy.item.parentId]}"
     data-target="tree-menu-{{itemProxy.item.id}}"
     context-menu
        >
        
    <div class="kt-item"
         id="{{itemProxy.item.id}}"
         ng-init="lazyIdx=treeCtrl.allocateLazyItemIdx()"
         ng-class="{'kti-selected-item' : itemProxy.item.id === treeCtrl.selectedItemProxy.item.id,
                    'kti-filtered': !treeCtrl.matchesFilter(itemProxy) && !treeCtrl.childMatchesFilter(itemProxy),
                    'kti-filterMatchedExact': treeCtrl.matchesFilter(itemProxy, true),
                    'kti-filterMatched': treeCtrl.matchesFilter(itemProxy)}">
        <!-- Checkbox if item has a version control status -->
        <span ng-if="treeCtrl.versionControlEnabled && itemProxy.statusFlags">
        </span>
        <!-- End conditional Checkbox for Version control -->
            <div class="kti-name"
                    ng-style="{'font-weight': 'bold'}"
                    ng-click="treeCtrl.navigate('kohese.explore.edit', 
                    {id: itemProxy.item.id})">
                 <i
                        ng-click="treeCtrl.collapsed[itemProxy.item.id] = !treeCtrl.collapsed[itemProxy.item.id]; $event.stopPropagation()"
                        ng-init="treeCtrl.initCollapsed(itemProxy.item.id)"
                        class="kt-icon"
                        ng-class="{'fa fa-caret-down': (itemProxy.children.length > 0) && !treeCtrl.collapsed[itemProxy.item.id],
                        'fa fa-caret-right': (itemProxy.children.length > 0) && treeCtrl.collapsed[itemProxy.item.id],
                        'no-icon': !(itemProxy.children.length > 0)}">  
                                  </i>

                    <kind-icon kind='itemProxy.kind'></kind-icon>
                    <span class="kt-label"
                        ng-bind-html="(itemProxy.item.name | highlightRegex:treeCtrl.filter.textRegexHighlight | trustAsHTML)">
                    </span>
                    <span ng-if="itemProxy.item.tags"> {{itemProxy.item.tags}}</span>
                    <!-- Conditional Icons for Item status -->
                    <span ng-if="itemProxy.dirty">
                            <img src="resources/icons/versioncontrol/dirty.ico"
                                title = "Dirty item" />
                    </span>

                    <span ng-if="treeCtrl.versionControlEnabled">
                        {{itemProxy.status}}
                    </span>
            </div>
        <div class="kti-cell kti-actions pull-right"> 
            <!-- Default row actions -->
            <span ng-if="!treeCtrl.versionControlEnabled">
                <i class="fa fa-anchor"
                ng-click="treeCtrl.updateRoot(itemProxy)"></i>
                <i class="glyphicon glyphicon-remove  pull-right"
                ng-click="treeCtrl.removeItem(itemProxy)"> </i>
            </span>
            <!-- Version Control row actions -->
            <span ng-if="treeCtrl.versionControlEnabled && itemProxy.vcState">
                <!-- VC Status Icons -->
                <img ng-if="itemProxy.vcState.Unstaged"
                    src="resources/icons/versioncontrol/unstaged.ico"
                    title="Unstaged"/>
                <img ng-if="itemProxy.vcState.Staged"
                    src="resources/icons/versioncontrol/index-mod.ico"
                    title="Staged"/>
                <!-- Actions -->
                <i  class="fa fa-undo"
                    ng-click="treeCtrl.revertItem(itemProxy)"/>
                <i  class="fa fa-plus"
                    ng-if="itemProxy.vcState.Unstaged"
                    ng-click="treeCtrl.stageItem(itemProxy)"/>
                <i  class="fa fa-minus"
                    ng-if="itemProxy.vcState.Staged"
                    ng-click="treeCtrl.unstageItem(itemProxy)"/>


            </span>

        </div>
    </div>

    <div ng-if="itemProxy.children && (!treeCtrl.collapsed[itemProxy.item.id] || treeCtrl.previouslyExpanded[itemProxy.item.id] || (treeCtrl.allExpanded && (lazyIdx < treeCtrl.currentLazyLimit)))">
        <tree-row tree-ctrl="treeCtrl" proxy-collection="itemProxy.children"
                  ng-init="treeCtrl.previouslyExpanded[itemProxy.item.id]=true"></tree-row>
    </div>
    <!-- Dropdown menu-->
    <div class="dropdown position-fixed" id="tree-menu-{{itemProxy.item.id}}">
        <ul class="dropdown-menu" role="menu">
            <li class="pointer context-item"
                role="menuitem"
                ng-click="treeCtrl.updateRoot(itemProxy)">
                <a>
                    Set as root
                </a>
            </li>
            <li class="pointer context-item"
                role="menuitem"
                ng-click="treeCtrl.navigate('kohese.explore.create',
                                            {parentId: itemProxy.item.id})">
                <a>
                    Create child
                </a>
            </li>
            <li class="pointer context-item"
                role="menuitem"
                ng-click="treeCtrl.collapseChildren(itemProxy)">
                <a>
                    Collapse children
                </a>
            </li>
            <li class="pointer context-item"
                role="menuitem"
                ng-click="treeCtrl.expandChildren(itemProxy)">
                <a>
                    Expand Children
                </a>
            </li>
            <li class="pointer context-item"
                role="menuitem"
                ng-click="treeCtrl.expandMatchingChildren(itemProxy)">
                <a>
                    Expand Matching Children
                </a>
            </li>
        </ul>
    </div>
</div>


