<div class="kt-collection" ng-repeat="itemProxy in proxyCollection"
     ng-class="{'kt-hidden' : itemProxy.item.parentId && treeCtrl.collapsed[itemProxy.item.parentId]}">
	<div id="{{itemProxy.item.id}}" class="kt-item" 
	     ng-init="lazyIdx=treeCtrl.allocateLazyItemIdx()"
		 ng-class="{'kti-filtered': !treeCtrl.matchesFilter(itemProxy) && !treeCtrl.childMatchesFilter(itemProxy),
                   'kti-filterMatched': treeCtrl.matchesFilter(itemProxy)}">
		<div class="kti-name" ng-style="{'font-weight': 'bold'}">
			<a style=""> <i
				ng-click="treeCtrl.collapsed[itemProxy.item.id] = !treeCtrl.collapsed[itemProxy.item.id]"
				ng-init="treeCtrl.collapsed[itemProxy.item.id]=true"
				class="kt-icon"
				ng-class="{'glyphicon fa icon-minus glyphicon-minus fa-minus': (itemProxy.children.length > 0) && !treeCtrl.collapsed[itemProxy.item.id], 
                           'glyphicon fa icon-plus glyphicon-plus fa-plus': (itemProxy.children.length > 0) && treeCtrl.collapsed[itemProxy.item.id],
                           'glyphicon glyphicon-list-alt': !(itemProxy.children.length > 0),
                           'glyphicon glyphicon-th-list': (itemProxy.children.length > 0)}" >
			</i>
			</a> &lt;{{itemProxy.kind}}&gt; <span ui-sref="kohese.explore.edit({id:itemProxy.item.id})"
				class="kt-label"
				ng-bind-html="(itemProxy.item.name | highlight:treeCtrl.filter.text)"
				ng-click="treeCtrl.updateTab('edit', itemProxy.item.id)"></span><span
				ng-if="itemProxy.item.tags"> {{itemProxy.item.tags}}</span>
		</div>
		<div class="kti-cell kti-state">
            <span ng-if="itemProxy.kind==='Decision'">{{itemProxy.item.decisionState}}</span>
            <span ng-if="itemProxy.kind==='Action'">{{itemProxy.item.decisionState}}/{{itemProxy.item.actionState}}</span>
            <span ng-if="itemProxy.kind==='Task'">{{itemProxy.item.taskState}}</span>
        </div>
		<div class="kti-description"
			ng-class="{'trim-info': !showDescription, 'trim-info-visible': showDescription}"
			ng-dblclick="showDescription=!showDescription"
			ng-init="showDescription=false"
			ng-bind-html="itemProxy.item.description | highlight:treeCtrl.filter.text">
		</div>
		<div class="kti-cell kti-actions pull-right">
            <i class="fa fa-anchor"
                    ng-click="treeCtrl.updateRoot(itemProxy)"></i>
			<i class="glyphicon glyphicon-remove  pull-right"
				ng-click="treeCtrl.removeItem(itemProxy.item)"> </i>
		</div>
	</div>

	<div ng-if="itemProxy.children && (!treeCtrl.collapsed[itemProxy.item.id] || treeCtrl.previouslyExpanded[itemProxy.item.id] || (treeCtrl.allExpanded && (lazyIdx < treeCtrl.currentLazyLimit)))">
		<tree-row tree-ctrl="treeCtrl" proxy-collection="itemProxy.children" ng-init="treeCtrl.previouslyExpanded[itemProxy.item.id]=true"></tree-row>
	</div>
</div>
