
<div id="{{itemProxy.item.id}}"
	class="kt-item level-{{itemProxy.level}}">
	<div class="kti-cell">
		<a style="margin: 8px"> <i
			ng-click="treeCtrl.changeVisibilityOn(itemProxy)"
			ng-init="treeCtrl.collapsed[itemProxy.item.id]=false"
			ng-class="{'indented kt-icon':treeCtrl.showAsTree, 'glyphicon fa icon-minus glyphicon-minus fa-minus': treeCtrl.showAsTree && (itemProxy.children.length > 0) && !treeCtrl.collapsed[itemProxy.item.id], 'glyphicon fa icon-plus glyphicon-plus fa-plus': treeCtrl.showAsTree && (itemProxy.children.length > 0) && treeCtrl.collapsed[itemProxy.item.id], 'glyphicon glyphicon-list-alt': !(itemProxy.children.length > 0), 'glyphicon glyphicon-th-list': !treeCtrl.showAsTree && (itemProxy.children.length > 0)}">
		</i></a> <span ui-sref="kohese.explore.edit({id:itemProxy.item.id})"
			ng-class="{'indented kt-label':treeCtrl.showAsTree}"
			ng-bind-html="(itemProxy.item.name | highlight:treeCtrl.filterString)"
			ng-click="treeCtrl.updateTab('edit', itemProxy.item.id)"></span>
	</div>
	<div class="kti-cell"
		ng-class="{'trim-info': !showDescription, 'trim-info-visible': showDescription}"
		ng-dblclick="showDescription=!showDescription"
		ng-init="showDescription=false"
		ng-bind-html="itemProxy.item.description | highlight:treeCtrl.filterString"></div>
	<div class="kti-cell">
		<i class="glyphicon glyphicon-remove pull-right"
			ng-click="treeCtrl.removeItem(itemProxy.item)"></i>
	</div>
</div>
