@import '../utils/variables';

/*
Stylesheet for the content container element and the configurations for the dual view and single view children e
elements

Created by Josh P
*/

:root > body {
  width: 100%;
  height: 100%;
}

.tab-content {
  height: 100%;
}

#page-wrapper {

  position: fixed;
  top: $topNavHeight;
  left: $leftNavWidth;
  height: 100%;
  width: 100%;

  div {
    height:100%;
  }

  content-container {
  #content-container {
    height: 100%;
    z-index: 2;

    #tab-bar {
      height: 100%;
         ngb-tabset {
          .tab-content {
            .tab-pane {
              height: 100%;
              overflow:hidden;
              .tab-body {
                height: 100%;
                .singleview {
                  height: 100%;
                  div {
                    height: 100%;
                    div {
                      height: 100%;
                    }
                }
                }
              }
            }
          }
        }
      }
    }



    border-radius: $baseBorderRadius;
    .delete-tab-button {
      margin-left: 2px;
      padding: 1px;
      &:hover {
        background-color: red;
        color: white;
        border-radius: 50%;
      }
    }
    #add-tab-button {
      background-color: white;
    }
    button {
      border-radius: $baseBorderRadius;

    }

    .top-content {
      overflow: auto;
      left: 0;
      width: 100%;

      #top-action-bar {
        padding: 1px;
        width: 100%;
        height: $topActionBarHeight;
        .button-selected {
          background-color: $buttonAccentColor;
          color: white;
        }
      }
    }

    .bottom-content {
      position: relative;
      overflow: auto;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      background-color: white;
      > div {
        height: 100%;
      }
    }
  }


.left-content {
  height: inherit;
  overflow: hidden;
}

.right-content {
  height: inherit;
  overflow: hidden;
}



.highlighted {
  background: yellow;
}

