@import '../utils/variables';

:root > body {
  width: 100%;
  height: 100%;
}

#page-wrapper {

  position: fixed;
  top: $topNavHeight;
  left: $leftNavWidth;
  
  >div {
    height:100%;
  }
  
  #content-container {
    height: 100%;
    z-index: 2;
    
    > #tab-bar {
      height: 100%;
      
      > div {
        height: 100%;

        > .tab-content {
          height: calc(100% - #{$tabBarHeight});
          
          > .tab-pane {
            height: 100%;
            overflow:hidden;
            
            > .tab-body {
              height: 100%;
              
              > .singleview {
                height: 100%;
                
                >div {
                  height: 100%;
                  >div {
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
    
    border-radius: $baseBorderRadius;
    .delete-tab-button {
      margin-left: 2px;
      padding: 1px;
      &:hover {
        background-color: red;
        color: white;
        border-radius: 50%;
      }
    }
    #add-tab-button {
      background-color: white;
    }
    .nav {
    }
    button {
      border-radius: $baseBorderRadius;

    }

    .resizeable {
      height: inherit;
    }
    #content-resizer {
      position: relative;
      height: 6px;
      left: 0;
      right: 0;
      background-color: $primaryColor;
      cursor: n-resize;
    }
    .top-content {
      overflow: auto;
      left: 0;
      width: 100%;
      height: calc(100% - 422px);

      #top-action-bar {
        padding: 1px;
        width: 100%;
        height: $topActionBarHeight;
        .button-selected {
          background-color: $buttonAccentColor;
          color: white;
        }
      }
    }

    .bottom-content {
      position: relative;
      overflow: auto;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 416px;
      background-color: white;
      > div {
        height: 100%;
      }
    }
  }
}



.highlighted {
  background: yellow;
}

