@import '../utils/variables';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  border: 0;
  width: 100%;
  background: -webkit-linear-gradient(right, $primaryColor + 100, $primaryColor);
  background-image: -moz-linear-gradient(right, $primaryColor + 100, $primaryColor);
  background-image: -ms-linear-gradient(right, $primaryColor + 100, $primaryColor);
  background-image: -o-linear-gradient(right, $primaryColor + 100, $primaryColor);
  .navbar-brand {
    color: white;
    &:hover {
      color: white;
    }
  }

  .navbar-top-links {
    margin-right: 0;

    .dropdown {
      > a {
        &:hover {
          background-color: $buttonAccentColor;
        }
        > i {
          color: white;
        }
        > span {
          color: white;
        }
      }

    }

    .dropdown-messages, .dropdown-tasks, .dropdown-alerts {
      width: 310px;
      margin-left: auto;
      min-width: 0;
    }
    .dropdown-messages {
      margin-left: 5px;
    }

    .dropdown-tasks {
      margin-left: -59px;
    }
    .dropdown-user {
      right: 0;
      left: auto;
      :last-child {
        text-align: center;
      }
    }

    .dropdown-alerts {
      margin-left: -123px;
    }

    li {
      display: inline-block;
      :last-child {
        margin-right: 15px;
      }
      a {
        padding: 15px;
        min-height: 50px;
      }
      .dropdown-menu {
        li {
          display: block;
          :last-child {
            margin-right: 5px;
          }
          a {
            padding: 3px 20px;
            min-height: 0;
            div {
              white-space: normal;
            }
          }
        }
      }
    }
  }
}

#login-button {
  height: 50px;
  width: 100px;
  padding: 5px;
  font-size: 18px;
  background-color: $primaryColor;
  color: white;
  i {
    margin-right: 15px;
  }
}