.sidebar {
  color: whitesmoke;
  position: relative;
  top: 50px;
  width: 50px;
  height: calc(100% - 50px); }
  .sidebar .static-side-panel {
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    width: 50px;
    z-index: 7;
    background-image: -webkit-linear-gradient(bottom, #ca6464, #660000);
    background-image: -moz-linear-gradient(bottom, #ca6464, #660000);
    background-image: -ms-linear-gradient(bottom, #ca6464, #660000);
    background-image: -o-linear-gradient(bottom, #ca6464, #660000); }
    .sidebar .static-side-panel i {
      padding: 10px; }
  .sidebar .side-pane {
    display: none;
    position: static;
    z-index: -1;
    -webkit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    -o-transform: translateX(-150%);
    transform: translateX(-150%);
    transition: transform 0.6s ease;
    padding-bottom: 50px;
    width: 250px;
    height: 900px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(bottom, #ca6464, #660000);
    background-image: -moz-linear-gradient(bottom, #ca6464, #660000);
    background-image: -ms-linear-gradient(bottom, #ca6464, #660000);
    background-image: -o-linear-gradient(bottom, #ca6464, #660000); }
    .sidebar .side-pane li:hover {
      background-color: #ca6464; }
  .sidebar .sidebar-nav .navbar-collapse {
    padding-right: 0;
    padding-left: 0; }
  .sidebar .sidebar-search {
    border-radius: 10px;
    padding: 15px;
    background-color: #660000; }

.sidebar-button {
  width: 100%;
  cursor: pointer;
  border: 1px solid #983232;
  border-radius: 10px; }

.side-pane.open {
  display: block;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transform: translateX(50px);
  z-index: 10; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  border: 0;
  width: 100%;
  margin-bottom: 0;
  background: -webkit-linear-gradient(right, #64be95, #005A31);
  background-image: -moz-linear-gradient(right, #64be95, #005A31);
  background-image: -ms-linear-gradient(right, #64be95, #005A31);
  background-image: -o-linear-gradient(right, #64be95, #005A31); }
  .navbar .navbar-brand {
    color: white;
    cursor: pointer; }
    .navbar .navbar-brand:hover {
      color: white;
      background-color: #7dd7ae; }
  .navbar .navbar-top-links {
    margin-right: 0; }
    .navbar .navbar-top-links .dropdown > a:hover {
      background-color: #7dd7ae; }
    .navbar .navbar-top-links .dropdown > a > i {
      color: white; }
    .navbar .navbar-top-links .dropdown > a > span {
      color: white; }
    .navbar .navbar-top-links .dropdown-messages, .navbar .navbar-top-links .dropdown-tasks, .navbar .navbar-top-links .dropdown-alerts {
      width: 310px;
      margin-left: auto;
      min-width: 0; }
    .navbar .navbar-top-links .dropdown-messages {
      margin-left: 5px; }
    .navbar .navbar-top-links .dropdown-tasks {
      margin-left: -59px; }
    .navbar .navbar-top-links .dropdown-user {
      right: 0;
      left: auto; }
      .navbar .navbar-top-links .dropdown-user :last-child {
        text-align: center; }
    .navbar .navbar-top-links .dropdown-alerts {
      margin-left: -123px; }
    .navbar .navbar-top-links li {
      display: inline-block; }
      .navbar .navbar-top-links li :last-child {
        margin-right: 15px; }
      .navbar .navbar-top-links li a {
        padding: 15px;
        min-height: 50px; }
      .navbar .navbar-top-links li .dropdown-menu li {
        display: block; }
        .navbar .navbar-top-links li .dropdown-menu li :last-child {
          margin-right: 5px; }
        .navbar .navbar-top-links li .dropdown-menu li a {
          padding: 3px 20px;
          min-height: 0; }
          .navbar .navbar-top-links li .dropdown-menu li a div {
            white-space: normal; }

#login-button {
  height: 50px;
  width: 100px;
  padding: 5px;
  font-size: 18px;
  background-color: #005A31;
  color: white; }
  #login-button i {
    margin-right: 15px; }

:root > body {
  width: 100%;
  height: 100%; }

#page-wrapper {
  position: fixed;
  top: 50px;
  left: 50px; }
  #page-wrapper > div {
    height: 100%; }
  #page-wrapper #content-container {
    height: 100%;
    z-index: 2;
    border-radius: 10px; }
    #page-wrapper #content-container > #tab-bar {
      height: 100%; }
      #page-wrapper #content-container > #tab-bar > div {
        height: 100%; }
        #page-wrapper #content-container > #tab-bar > div > .tab-content {
          height: calc(100% - 43px); }
          #page-wrapper #content-container > #tab-bar > div > .tab-content > .tab-pane {
            height: 100%;
            overflow: hidden; }
            #page-wrapper #content-container > #tab-bar > div > .tab-content > .tab-pane > .tab-body {
              height: 100%; }
              #page-wrapper #content-container > #tab-bar > div > .tab-content > .tab-pane > .tab-body > .singleview {
                height: 100%; }
                #page-wrapper #content-container > #tab-bar > div > .tab-content > .tab-pane > .tab-body > .singleview > div {
                  height: 100%; }
                  #page-wrapper #content-container > #tab-bar > div > .tab-content > .tab-pane > .tab-body > .singleview > div > div {
                    height: 100%; }
    #page-wrapper #content-container .delete-tab-button {
      margin-left: 2px;
      padding: 1px; }
      #page-wrapper #content-container .delete-tab-button:hover {
        background-color: red;
        color: white;
        border-radius: 50%; }
    #page-wrapper #content-container #add-tab-button {
      background-color: white; }
    #page-wrapper #content-container button {
      border-radius: 10px; }
    #page-wrapper #content-container .resizeable {
      height: inherit; }
    #page-wrapper #content-container #content-resizer {
      position: relative;
      height: 6px;
      left: 0;
      right: 0;
      background-color: #005A31;
      cursor: n-resize; }
    #page-wrapper #content-container .top-content {
      overflow: auto;
      left: 0;
      width: 100%;
      height: calc(100% - 422px); }
      #page-wrapper #content-container .top-content #top-action-bar {
        padding: 1px;
        width: 100%;
        height: 43px; }
        #page-wrapper #content-container .top-content #top-action-bar .button-selected {
          background-color: #7dd7ae;
          color: white; }
    #page-wrapper #content-container .bottom-content {
      position: relative;
      overflow: auto;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 416px;
      background-color: white; }
      #page-wrapper #content-container .bottom-content > div {
        height: 100%; }

.highlighted {
  background: yellow; }

body #layout-bottom {
  height: calc(100% - 50px); }
  body #layout-bottom #side-nav-wrapper {
    z-index: 5;
    display: inline-block;
    height: inherit; }
  body #layout-bottom #page-wrapper {
    z-index: 1;
    width: calc(100% - 50px);
    height: calc(100% - 50px); }

/*# sourceMappingURL=layout.config.css.map */
