@import '../utils/variables';

body {
  #layout-bottom {
    height: calc(100% - #{$topNavHeight});
    
    #side-nav-wrapper {
      z-index: 5;
      display: inline-block;
      height: inherit;
    }
    
    #page-wrapper {
      z-index: 1;
      width: calc(100% - #{$leftNavWidth});
      height: calc(100% - #{$topNavHeight});
    }
  }
}