@import '../utils/variables';

.sidebar {
  color: whitesmoke;
  position: relative;
  top: $topNavHeight;
  width: $leftNavWidth;
  height: calc(100% - #{$topNavHeight});

  .static-side-panel {
    position: fixed;
    top: $topNavHeight;
    left: 0;
    height: 100%;
    width: $leftNavWidth;
    z-index: 7;
    background-image: -webkit-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);
    background-image: -moz-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);
    background-image: -ms-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);
    background-image: -o-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);
    i {
      padding: 10px;
    }
  }

  .side-pane {
    display: none;
    position: static;
    z-index: -1;
    -webkit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    -o-transform: translateX(-150%);
    transform: translateX(-150%);
    transition: transform 0.6s ease;
    padding-bottom: 50px;
    width: $sidePaneWidth;
    height: 900px;
    border-radius: $baseBorderRadius;
    background-image: -webkit-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);
    background-image: -moz-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);
    background-image: -ms-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);
    background-image: -o-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);

    li {
      &:hover {
        background-color: $secondaryColor + 100;
      }
    }

  }

  .sidebar-nav {
    .navbar-collapse {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .sidebar-search {
    border-radius: $baseBorderRadius;
    padding: 15px;
    background-color: $secondaryColor;

  }
}

.sidebar-button {
  width: 100%;
  cursor: pointer;
  border: 1px solid $secondaryColor+50;
  border-radius: $baseBorderRadius;

}

.side-pane.open {
  display: block;
  -webkit-transform: translateX($leftNavWidth);
  -moz-transform: translateX($leftNavWidth);
  -ms-transform: translateX($leftNavWidth);
  -o-transform: translateX($leftNavWidth);
  transform: translateX($leftNavWidth);
  z-index: 10;
}

@media(min-width: 768px) {
  .sidebar {
  }
}