<div style="height: 100%; width: 100%;">
  <lens></lens>
  <split direction="horizontal">
    <split-area [size]="50">
      <commit-tree (rowSelected)="commitTreeRowSelected($event)"></commit-tree>
    </split-area>
    <split-area [size]="50">
      <ng-container *ngIf="selectedVersionObject">
        <div style="height: 100%; width: 100%;">
          <ng-container [ngSwitch]="getSelectionType()">
            <ng-container *ngSwitchCase="'Commit'">
              <h1>
                {{selectedVersionObject.koheseCommit.message}}
              </h1>
              <h2>
                {{selectedVersionObject.koheseCommit.author}}
                <br/>
                {{selectedVersionObject.koheseCommit.time | date:'medium'}}
              </h2>
              <mat-checkbox (change)="toggleShowingDifferencesOnly()"
                [checked]="(showDifferencesOnlySubject | async)">
                Show Differences Only
              </mat-checkbox>
              <change-summary [comparisonsSubject]="comparisonsSubject"
                [showDifferencesOnlySubject]="showDifferencesOnlySubject">
              </change-summary>
            </ng-container>
            <ng-container *ngSwitchCase="'Comparison'">
              <h1>{{selectedVersionObject.changeObject.name}}</h1>
              <mat-checkbox (change)="toggleShowingDifferencesOnly()"
                [checked]="(showDifferencesOnlySubject | async)">
                Show Differences Only
              </mat-checkbox>
              <comparison [comparison]="selectedVersionObject"
                [showDifferencesOnlySubject]="showDifferencesOnlySubject">
              </comparison>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </split-area>
  </split>
</div>
