<div style="height: 100%; width: 100%;">
  <lens></lens>
  <split direction="vertical">
    <split-area [size]="50">
      <commit-tree (rowSelected)="commitTreeRowSelected($event)"></commit-tree>
    </split-area>
    <split-area [size]="50">
      <ng-container *ngIf="selectedVersionObject">
        <div style="height: 100%; width: 100%;">
          <ng-container [ngSwitch]="getSelectionType()">
            <ng-container *ngSwitchCase="'Commit'">
              <h1>
                {{selectedVersionObject.koheseCommit.message}}
              </h1>
              <h2>
                {{selectedVersionObject.koheseCommit.author}}
                <br/>
                {{selectedVersionObject.koheseCommit.time | date:'medium'}}
              </h2>
            </ng-container>
            <ng-container *ngSwitchCase="'Difference'">
              <h1>
                {{selectedVersionObject.item.name}}
              </h1>
              <ng-container *ngIf="selectedVersionObject.path">
                <h3>
                  Path: {{selectedVersionObject.path}}
                </h3>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </split-area>
  </split>
</div>