<div id="content" class="container-fluid" ng-controller="ContainerController as containerCtrl">
    <link href="js/directives/contentcontainer/contentcontainer.css" rel="stylesheet" type="text/css">
    <div id="tabBar">
        <tabset>
            <tab ng-repeat="tab in containerCtrl.tabs">
                    <tab-heading>
                        {{tab.title}} - {{$index}}
                        <i ng-click=containerCtrl.deleteTab(tab) class="glyphicon glyphicon-remove"></i>
                    </tab-heading>
                    <tab-body class="tab-body">
                        <!--<button ng-click="tab.type = 'dualview'">Dualview</button>-->
                        <!--<button ng-click="tab.type = 'singleview'">Singleview</button>-->
                        <div ng-switch on="tab.type">
                            <div ng-switch-when="dualview">
                                <div dual-view></div>
                            </div>
                            <div ng-switch-when="singleview">
                                <div single-view></div>
                            </div>
                            </div>
                        </tab-body>

                    </button>
            </tab>
            <button ng-click="containerCtrl.createTab()" style="height: 40px;">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </tabset>
    </div>
    <div ng-viewport="container"></div>
</div>