$primaryColor: #005A31;
$primaryLight: #99CC99;
$accentColor: #99CC99;
$secondaryColor: #660000;
$navHover: $secondaryColor + 100;

$leftNavWidth: 50px;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  border: 0;
  width: 100%;
  background: -webkit-linear-gradient(right, $primaryColor + 100, $primaryColor);
  background-image: -moz-linear-gradient(right, $primaryColor + 100, $primaryColor);
  background-image: -ms-linear-gradient(right, $primaryColor + 100, $primaryColor);
  background-image: -o-linear-gradient(right, $primaryColor + 100, $primaryColor);
  .navbar-brand {
    color: white;
    &:hover {
      color: white;
    }
  }

  .navbar-top-links {
    margin-right: 0;

    .dropdown {
      > a {
        &:hover {
          background-color: $accentColor;
        }
        > i {
          color: white;
        }
        > span {
          color: white;
        }
      }

    }

    .dropdown-messages, .dropdown-tasks, .dropdown-alerts {
      width: 310px;
      margin-left: auto;
      min-width: 0;
    }
    .dropdown-messages {
      margin-left: 5px;
    }

    .dropdown-tasks {
      margin-left: -59px;
    }
    .dropdown-user {
      right: 0;
      left: auto;
      :last-child {
        text-align: center;
      }
    }

    .dropdown-alerts {
      margin-left: -123px;
    }

    li {
      display: inline-block;
      :last-child {
        margin-right: 15px;
      }
      a {
        padding: 15px;
        min-height: 50px;
      }
      .dropdown-menu {
        li {
          display: block;
          :last-child {
            margin-right: 5px;
          }
          a {
            padding: 3px 20px;
            min-height: 0;
            div {
              white-space: normal;
            }
          }
        }
      }
    }
  }
}

#login-button {
  height: 50px;
  width: 100px;
  padding: 5px;
  font-size: 18px;
  background-color: $primaryColor;
  color: white;
  i {
    margin-right: 15px;
  }
}

.sidebar {
  color: whitesmoke;
  position: relative;
  top: 50px;
  left: 0;
  height: calc(100% - 50px);

  .static-side-panel {
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    width: 50px;
    z-index: 7;
    background-image: -webkit-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);
    background-image: -moz-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);
    background-image: -ms-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);
    background-image: -o-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);
    i {
      padding: 10px;
    }

  }

  .side-pane {
    position: static;
    z-index: -1;
    -webkit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    -o-transform: translateX(-150%);
    transform: translateX(-150%);
    transition: transform 0.6s ease;
    padding-bottom: 50px;
    width: 250px;
    height: 900px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);
    background-image: -moz-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);
    background-image: -ms-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);
    background-image: -o-linear-gradient(bottom, $secondaryColor + 100, $secondaryColor);

  }

  .sidebar-nav {
    .navbar-collapse {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .sidebar-search {
    border-radius: 10px;
    padding: 15px;
    background-color: $secondaryColor;

  }

  //ul {
  //
  //  position: absolute;
  //  li {
  //    &:not(.sidebar-search):hover {
  //      background-color: $navHover;
  //    }
  //    border-bottom: 1px solid white;
  //  }
  //}

}

.side-pane.open {
  -webkit-transform: translateX($leftNavWidth);
  -moz-transform: translateX($leftNavWidth);
  -ms-transform: translateX($leftNavWidth);
  -o-transform: translateX($leftNavWidth);
  transform: translateX($leftNavWidth);
  z-index: 10;
}

@media(min-width: 768px) {
  .sidebar {
    margin-top: 50px;
  }
}
