$leftNavWidth: 50px;
$topNavHeight: 40px;
$primaryColor: #005A31;
$accentColor: #CBE32D;
$lightColor: #F3FAB6;

$secondaryColor: #660000;
$secondaryFade: $secondaryColor;

body {
  font-family: FontAwesome, arial, sans-serif;
}

.btn-default {
  &:hover {
    background-color: $primaryColor + 100;
  }
  &:active {
    background-color: $primaryColor + 100;
    color: whitesmoke;
  }
}

.panel {

  .panel-title {
    overflow: auto;
    background-color: $primaryColor + 100;
    padding: 7px;
    color: whitesmoke;
  }
  .panel-heading {
    color: whitesmoke;
    background-color: $secondaryColor + 100;
    border: 0;
    padding: 5px 15px 5px 5px;
    > span {
      font-weight: bold;
    }
    i {
      .fa {
        width: 50px;
        height: 50px;
      }
    }
  }
}

.highlighted {
  background: yellow;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 $leftNavWidth;
    padding: 0;
    border-left: 1px solid #e7e7e7;
  }
}

.search-result {
  margin: 30px;
  .result-creator {
  }
  .last-modified {

  }
}

.admin-screen {

  overflow: auto;
  width: 100%;

  #admin-user-list {
    float: left;
    width: 45%;
    height: 100%;

    .card-container {
      $card-size: 250px;
      perspective: 400px;
      .card {
        width: $card-size;
        margin: 20px;
        transition: all 0.6s ease;
        transform-style: preserve-3d;
        border-radius: 30px;

        .front {
          background-color: $primaryColor;
          backface-visibility: hidden;
          height: $card-size;
          border-radius: 30px;
          .title {
            padding: 10px;
            font-size: 24px;
            color: white;
            background-color: $primaryColor + 100
          }

          .body {
            color: white;
            padding: 10px;
          }
          .footer {
            position: absolute;
            bottom: 0;
            width: $card-size;
            padding: 10px;
            background-color: $primaryColor + 200;
            color: black;
          }
        }

        .back {
          border-radius: 30px;
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px;
          height: $card-size;
          width: $card-size;
          transform: rotateY(180deg);
          background-color: $primaryColor;
          backface-visibility: hidden;
          color: white;
        }

        &:hover {
          -webkit-transition-delay: .6s;
          -moz-transition-delay: .6s;
          -o-transition-delay: .6s;
          -ms-transition-delay: .6s;
          transition-delay: .6s;
          transform: rotateY(180deg);
        }
      }
    }
  }

  #admin-user-form {

    float: right;
    width: 45%;
    position: fixed;
    top: 200px;
    right: 0px;
    * {
      margin: 5px;
    }
  }

}

.knowledge-tree {
    border-collapse: collapse;
    width: calc(100% - 20px);
    margin: 0px 0px 0px 20px;
    max-height: 500px;
    overflow: auto;
    

    .kt-icon, .kt-label {
	    cursor: pointer; 
    }
}

.kt-collection .kt-collection {
  padding-left: 15px;
  }

.knowledge-tree .kt-item {
//    border: 1px black solid;
//    padding: 10px 10px;
//    margin: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 20px;
    line-height: 20px;
    border-bottom: 2px solid #ddd;
}

.kt-collection .kt-hidden {
    display: none;
}

.knowledge-tree .kt-head, .knowledge-tree .kt-item {
	width: 100%;
}

.kt-item:hover {
  background-color: #e5e5e5;
}

.knowledge-tree .kt-head {
    font-weight: bold;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.kth-cell, .kti-cell {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0px 5px;
}

.kti-name {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0px 5px;
    width: 40%;
}

.kti-description {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0px 5px;
    width: 40%;
}

.knowledge-tree {
  .kt-head {
    .glyphicon-plus {
      color: green;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .kt-item {
    .glyphicon-remove {
      color: $secondaryColor + 100;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

table {
  th {
    .glyphicon-plus {
      color: green;
      &:hover {
        cursor: pointer;
      }
    }
  }

  td {
    .glyphicon-remove {
      color: $secondaryColor + 100;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

#page-wrapper {
  position: relative;
  top: 50px;
  z-index:1;
  height: 100%;
  #content-container {
    z-index: 2;
    border-radius: 10px;
    .nav {
    }
    button {
      border-radius: 10px;

    }
    #content-resizer {
      position: absolute;
      height: 6px;
      left: 0;
      bottom: 410px;
      right: 0;
      background-color: $primaryColor;
      cursor: n-resize;
    }
    .top-content {
      overflow: auto;
      left: 0;
      width: 100%;

      #top-action-bar {
        position: relative;
        top: 0px;
        width: 100%;
        .button-selected {
          background-color: $primaryColor + 100;
          color: white;
        }
      }
    }

    .bottom-content {
      position: absolute;
      overflow: auto;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      background-color: white;
      > div {
        height: 100%;
      }
    }
  }
}

  #add-tab-button {
    background-color: white;
  }

  #login-form {
    text-align: center;

    h1 {
      font-size: 60px;
      margin-top: auto;
      font-family: lobster, arial, sans-serif;
    }

    input {
      margin: 5px;
    }

    button {
      color: white;
      padding: 10px;
      margin: 5px;
      width: 20%;
      background-color: $primaryColor;
      &:hover {
        color: white;
        background-color: $primaryColor + 100;
      }
    }
  }

  .trim-info {
    max-width: 50em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
  }

  .trim-info-visible {
    max-width: 50em;
    white-space: pre-wrap;
    position: relative;
  }
