body {
  font-family: FontAwesome, arial, sans-serif; }

.btn-default:hover {
  background-color: #64be95; }
.btn-default:active {
  background-color: #64be95;
  color: whitesmoke; }

.panel .panel-title {
  overflow: auto;
  background-color: #64be95;
  padding: 7px;
  color: whitesmoke; }
.panel .panel-heading {
  color: whitesmoke;
  background-color: #ca6464;
  border: 0;
  padding: 5px 15px 5px 5px; }
  .panel .panel-heading > span {
    font-weight: bold; }
  .panel .panel-heading i .fa {
    width: 50px;
    height: 50px; }

.highlighted {
  background: yellow; }

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 50px;
    padding: 0;
    border-left: 1px solid #e7e7e7; } }
.search-result {
  margin: 30px; }

.admin-screen {
  overflow: auto;
  width: 100%; }
  .admin-screen #admin-user-list {
    float: left;
    width: 45%;
    height: 100%; }
    .admin-screen #admin-user-list .card-container {
      perspective: 400px; }
      .admin-screen #admin-user-list .card-container .card {
        width: 250px;
        margin: 20px;
        transition: all 0.6s ease;
        transform-style: preserve-3d;
        border-radius: 30px; }
        .admin-screen #admin-user-list .card-container .card .front {
          background-color: #005A31;
          backface-visibility: hidden;
          height: 250px;
          border-radius: 30px; }
          .admin-screen #admin-user-list .card-container .card .front .title {
            padding: 10px;
            font-size: 24px;
            color: white;
            background-color: #64be95; }
          .admin-screen #admin-user-list .card-container .card .front .body {
            color: white;
            padding: 10px; }
          .admin-screen #admin-user-list .card-container .card .front .footer {
            position: absolute;
            bottom: 0;
            width: 250px;
            padding: 10px;
            background-color: #c8fff9;
            color: black; }
        .admin-screen #admin-user-list .card-container .card .back {
          border-radius: 30px;
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px;
          height: 250px;
          width: 250px;
          transform: rotateY(180deg);
          background-color: #005A31;
          backface-visibility: hidden;
          color: white; }
        .admin-screen #admin-user-list .card-container .card:hover {
          -webkit-transition-delay: .6s;
          -moz-transition-delay: .6s;
          -o-transition-delay: .6s;
          -ms-transition-delay: .6s;
          transition-delay: .6s;
          transform: rotateY(180deg); }
  .admin-screen #admin-user-form {
    float: right;
    width: 45%;
    position: fixed;
    top: 200px;
    right: 0px; }
    .admin-screen #admin-user-form * {
      margin: 5px; }

.knowledge-tree {
  display: table;
  border-collapse: collapse;
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  /*
          .level-1 {
            left: 0px; }
          .level-2 {
            left: 15px; }
          .level-3 {
            left: 30px; }
          .level-4 {
            left: 45px; }
          .level-5 {
            left: 60px; }
          .level-6 {
            left: 75px; }
          .level-7 {
            left: 90px; }
          .level-8 {
            left: 105px; }
          .level-9 {
            left: 120px; }
  */ }

.knowledge-tree .level-1 .indented {
  left: 0px; }

.knowledge-tree .level-2 .indented {
  left: 15px; }

.knowledge-tree .level-3 .indented {
  left: 30px; }

.knowledge-tree .level-4 .indented {
  left: 45px; }

.knowledge-tree .level-5 .indented {
  left: 60px; }

.knowledge-tree .level-6 .indented {
  left: 75px; }

.knowledge-tree .level-7 .indented {
  left: 90px; }

.knowledge-tree .level-8 .indented {
  left: 105px; }

.knowledge-tree .level-9 .indented {
  left: 120px; }

.knowledge-tree .kt-head, .knowledge-tree .kt-item {
  display: table-row;
  width: 100%; }

.knowledge-tree > .kt-item:nth-of-type(odd) {
  background-color: #f9f9f9; }

.knowledge-tree > .kt-item:hover {
  background-color: #e5e5e5; }

.knowledge-tree .kt-head {
  font-weight: bold;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd; }

.knowledge-tree .kt-head .kth-cell, .knowledge-tree .kt-item .kti-cell {
  display: table-cell;
  padding: 5px; }

.knowledge-tree .kt-head .glyphicon-plus {
  color: green; }

.knowledge-tree .kt-head .glyphicon-plu:hover {
  cursor: pointer; }

.knowledge-tree .kt-item .glyphicon-remove {
  color: #ca6464; }

.knowledge-tree .kt-item .glyphicon-remove:hover {
  cursor: pointer; }

table th .glyphicon-plus {
  color: green; }
  table th .glyphicon-plus:hover {
    cursor: pointer; }
table td .glyphicon-remove {
  color: #ca6464; }
  table td .glyphicon-remove:hover {
    cursor: pointer; }

#page-wrapper {
  position: relative;
  top: 50px;
  z-index: 1; }
  #page-wrapper #content-container {
    z-index: 2;
    border-radius: 10px; }
    #page-wrapper #content-container button {
      border-radius: 10px; }
    #page-wrapper #content-container #content-resizer {
      position: absolute;
      height: 6px;
      left: 0;
      bottom: 410px;
      right: 0;
      background-color: #005A31;
      cursor: n-resize; }
    #page-wrapper #content-container .top-content {
      overflow: auto;
      left: 0;
      width: calc(100% - 50px); }
      #page-wrapper #content-container .top-content #top-action-bar {
        position: relative;
        top: 0px;
        width: 100%; }
        #page-wrapper #content-container .top-content #top-action-bar .button-selected {
          background-color: #64be95;
          color: white; }
    #page-wrapper #content-container .bottom-content {
      position: absolute;
      overflow: auto;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      background-color: white; }
      #page-wrapper #content-container .bottom-content > div {
        height: 100%; }

#add-tab-button {
  background-color: white; }

#login-form {
  text-align: center; }
  #login-form h1 {
    font-size: 60px;
    margin-top: auto;
    font-family: lobster, arial, sans-serif; }
  #login-form input {
    margin: 5px; }
  #login-form button {
    color: white;
    padding: 10px;
    margin: 5px;
    width: 20%;
    background-color: #005A31; }
    #login-form button:hover {
      color: white;
      background-color: #64be95; }

.trim-info {
  max-width: 50em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative; }

.trim-info-visible {
  max-width: 50em;
  white-space: pre-wrap;
  position: relative; }

/*# sourceMappingURL=style.css.map */
