.version-control-admin {
  padding: 5px;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .repository-panel {
    margin: 5px;
  }

  .remote-container {
    height: 80px;
    overflow: auto;
    border: 1px solid black;
  }
}

.repo-list {
  height: calc(100% - 365.7px);
  overflow: auto;
}

// Highlights row when mouse hovers over it
mat-row:hover {
  background-color: rgb(230,230,230);
}

// Buttons are initially hidden
.hidden-buttons button {
  visibility:hidden;
}

// Buttons become visible when mouse hovers over row
mat-row:hover button{
  visibility: visible;
}
