<h2 mat-dialog-title class=dialog-title>UnMounted Repositories</h2>
<mat-dialog-content class="mat-typography dialog-content">
  <div class="repo-list-dialog">
    <ng-container *ngIf="isLoaded">
      <mat-table [dataSource]="repoList" class="mat-elevation-z8 mount-table">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let repoList">{{repoList.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="duplicated">
          <mat-header-cell *matHeaderCellDef> Duplicated </mat-header-cell>
          <mat-cell *matCellDef="let repoList">{{repoList.duplicated}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let repoList"> {{repoList.description | truncate: 120}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="options">
          <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
          <mat-cell *matCellDef="let repoList" style="display: flex; justify-content: flex-end;">
            <div class="hidden-buttons">
              <!-- For SCSS styling -->
              <button mat-icon-button matTooltip="Other Options" [matMenuTriggerFor]="menu">
                <mat-icon class="fa fa-bars"></mat-icon>
              </button>
              <mat-menu #menu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item [disabled]="repoList.duplicated" (click)="mountRepo(repoList.id, true)">
                  Mount
                </button>
                <ng-container *ngIf=repoList.disabled>
                  <button mat-menu-item [disabled]="repoList.duplicated" (click)="mountRepo(repoList.id, false)">
                    Enable
                  </button>
                </ng-container>
              </mat-menu>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="rowDef; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let proxy; columns: rowDef; let j=index;" tabindex="{{j}}"></mat-row>
      </mat-table>
    </ng-container>
  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-dialog-close class="mat-raised-button mat-primary">close</button>
</mat-dialog-actions>
