<div class="version-control-admin">
  <div>
    <h4>Version Control:</h4>

    <div class=float-container>
      <div class=float-child-1>
        <input style="margin-right: 1em" id="add-remote-input" type="text" [(ngModel)]="remoteNameInput" placeholder='remote name'/>
        <input style="margin-right: 1em" id="add-remote-url" type="text" [(ngModel)]="remoteUrlInput" placeholder='push URL' />
        <button class="btn btn-primary" (click)="addRemote()">Add Remote</button>
      </div>
      <div class=float-child-2>
        <button id=refresh-button class="btn btn-primary" (click)="getRemotes()">Refresh Remotes</button>
      </div>
    </div>


    <div class=remote-container>
      <mat-table [dataSource]=remotes class=mat-elevation-z8>
        <ng-container matColumnDef=remote>
          <mat-header-cell *matHeaderCellDef>Remote Repository</mat-header-cell>
          <mat-cell *matCellDef="let repo">{{repo}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="remoteRowDef; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let proxy; columns: remoteRowDef; let j=index;" tabindex="{{j}}"></mat-row>
      </mat-table>
    </div>

    <hr />
    <div class=commit-item-group>
        <input style="margin-left: 1em; margin-right: 1em"
          id="commit-message-input" type="text" [(ngModel)]="commitMessageInput" placeholder='commit message'/>
        <button style="margin-right: 5em" class="btn btn-primary" (click)="commit()">Commit Staged Items</button>
        <input style="margin-right: 1em" id="push-remote-name" type="text" [(ngModel)]="pushRemoteNameInput" placeholder='push to'/>
        <button class="btn btn-primary" (click)="push()">Push</button>
    </div>
    <hr>

  </div>

  <div class=float-container style="margin-bottom: 2em">
    <div class=float-child-1>
      <h4>Mounted Repositories:</h4>
    </div>
    <div class=float-child-2>
      <button class="btn btn-primary" (click)=refreshRepositories()>Refresh Repositories</button>
    </div>
    <div class=float-child-3>
      <button class="btn btn-primary" (click)=displayRepositories()>Mount Repositories</button>
    </div>
  </div>

  <div class="repo-list">
    <mat-table [dataSource]="repositories" class="mat-elevation-z8" style="width: 100%;">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let repositories">{{repositories.item.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef> Items </mat-header-cell>
        <mat-cell *matCellDef="let repositories">{{repositories.descendantCount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let repositories"> {{repositories.item.description | truncate: 120}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nav">
        <mat-header-cell *matHeaderCellDef> Nav </mat-header-cell>
        <mat-cell *matCellDef="let repositories" style="display: flex; justify-content: flex-end;">
          <div class="hidden-buttons">
            <!-- For SCSS styling -->
              <button mat-icon-button matTooltip="Display Item Information" (click)="displayInformation(repositories.item.id)">
                <mat-icon class="fa fa-clone"></mat-icon>
              </button>
              <button mat-icon-button matTooltip="Other Options" [matMenuTriggerFor]="menu">
                <mat-icon class="fa fa-bars"></mat-icon>
              </button>
              <mat-menu #menu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item (click)="navigationService.navigate('Explore', { id: repositories.item.id })">
                  <mat-icon class="fa fa-arrow-right"></mat-icon>
                  Navigate in Explorer
                </button>
                <button mat-menu-item (click)="navigationService.addTab('Explore', { id: repositories.item.id })">
                  <mat-icon class="fa fa-external-link"></mat-icon>
                  Navigate in New Tab
                </button>
                <button mat-menu-item (click)="unmountRepo(repositories.item.id)">
                  Unmount
                </button>
                <button mat-menu-item (click)="disableRepo(repositories.item.id)">
                  Disable
                </button>
                <button mat-menu-item (click)="changeMountPoint(repositories.item.id)">
                  Change Mount Point
                </button>
              </mat-menu>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="rowDef; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let proxy; columns: rowDef; let j=index;" tabindex="{{j}}"></mat-row>
    </mat-table>
  </div>
</div>
