@import '../../../app.component';

.version-control-admin {
  // overall page styling
  height: 100%;
  width: 100%;
  overflow: hidden;

  // version control and repositories title styling
  h4 {
    padding-left: 5px;
    font-weight: bold;
    color: rgb(75, 75, 75); /* charcoal text */
  }

  // remote repositories table container
  .remote-container {
    height: 11.33em;
    width: 100%;
    overflow: auto;
  }

  // repositories table container
  .repo-list {
    height: calc(100% - 25.43em);
    overflow: auto;
  }

  .commit-item-group {
    margin-bottom: 1em;
  }
}

//////////////////////////////////
// same row buttons using
// flex and float
//////////////////////////////////

// This display spec pushes the button to the right
.version-control-admin #refresh-button {
  display: flex;
}

.float-container {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;

  // remote name and push url
  .float-child-1 {
    float: left;
  }

  // Mount Repositories button
  .float-child-2 {
    float: right;
  }

  // Refresh Repositories button
  .float-child-3 {
    float: right;
    padding-right: 1em;
  }
}

//////////////////////////////////
// mat-table
//////////////////////////////////

// Every other row is colored
mat-row:nth-child(even) {
  background-color: rgb(245,245,245);
}

// Highlights row when mouse hovers over it
mat-row:hover {
  background-color: rgb(230,230,230);
}

// Buttons are initially hidden
.hidden-buttons button {
  visibility:hidden;
}

// Buttons become visible when mouse hovers over row
mat-row:hover button {
  visibility: visible;
}

//////////////////////////////////
// mat-dialog
//////////////////////////////////
mat-dialog-actions {
  display: flex;
  float: right;
}
