<div id="content-container">
  <button mat-icon-button id="add-tab-button" (click)="addTab('Dashboard', {})">
    <mat-icon class="glyphicon glyphicon-plus"></mat-icon>
  </button>
  <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="tabSelectionChanged($event)">
    <mat-tab *ngFor="let tab of tabs" class="nav nav-tabs">
      <ng-template mat-tab-label>
        <span>
          {{tab.title}}
          <i (click)="removeTab(tab)" class="delete-tab-button glyphicon glyphicon-remove"></i>
        </span>
      </ng-template>
      <router-outlet></router-outlet>
    </mat-tab>
  </mat-tab-group>
</div>
