<div id="content-container">
    <div id="tab-bar">
      <button id="add-tab-button" (click)="addTab('Dashboard', '/dashboard', {})">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
        <ngb-tabset>
          <div *ngFor="let tab of tabs">
            <ngb-tab label="tab.active"
            class=" nav nav-tabs">
                <ng-template ngbTabTitle>
                  <span (click)="setTab(tab)">
                    {{tab.title}}
                    <i (click)="removeTab(tab)" class="delete-tab-button glyphicon glyphicon-remove"></i>
                  </span>
                </ng-template>
                <ng-template ngbTabContent
                             class="tab-body"
                             style="height:100%;">
                  <router-outlet></router-outlet>
                </ng-template>
            </ngb-tab>
          </div>

        </ngb-tabset>

    </div>

</div>
