<h1 mat-dialog-title style="height: 40px; width: 100%;">{{data.title}}</h1>
<mat-dialog-content style="height: calc(100% - 100px); width: 100%; overflow:
  auto;">
  <ng-container *ngIf="data.text">
    <pre style="font-family: Roboto, 'Helvetica Neue', sans-serif">
      {{data.text}}
    </pre>
  </ng-container>
  <ng-container *ngIf="data.fieldName">
    <ng-container *ngIf="data.text">
      <br/>
      <br/>
    </ng-container>
    <ng-container *ngIf="data.options">
      <mat-form-field style="width: 100%;">
        <mat-select placeholder="{{data.fieldName}}" [disabled]="(data.
          options.length === 0)" [(ngModel)]="data.value">
          <mat-option *ngFor="let option of data.options" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="data.inputType">
      <ng-container [ngSwitch]="data.inputType">
        <ng-container *ngSwitchCase="INPUT_TYPES.MULTILINE_TEXT">
          <mat-form-field style="width: 100%;">
            <textarea matInput placeholder="{{data.fieldName}}" columns="80"
              rows="3" [(ngModel)]="data.value">
            </textarea>
          </mat-form-field>
        </ng-container>
        <ng-container *ngSwitchCase="INPUT_TYPES.MARKDOWN">
          <markdown-editor [value]="data.value" [valueIdentifier]="data.
            fieldName" (valueChanged)="data.value = $event">
          </markdown-editor>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <mat-form-field style="width: 100%;">
            <input matInput type="{{data.inputType}}"
              placeholder="{{data.fieldName}}" [(ngModel)]="data.value"/>
          </mat-form-field>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions style="height: 40px; width: 100%;">
  <ng-container *ngIf="data.fieldName">
    <span class="dialog-actions">
      <button mat-button [disabled]="(data.validate ? !data.validate(data.
        value) : false)" [mat-dialog-close]="data.value">
        Accept
      </button>
      <button mat-button [mat-dialog-close]="">
        Cancel
      </button>
    </span>
  </ng-container>
  <ng-container *ngIf="!data.fieldName">
    <span class="dialog-actions">
      <button *ngFor="let label of data.buttonLabels; let j = index"
        mat-button [mat-dialog-close]="j">
        {{label}}
      </button>
    </span>
  </ng-container>
</mat-dialog-actions>
