<div>
  <h1 mat-dialog-title>{{data.title}}</h1>
  <mat-dialog-content>
    {{data.text}}
    <ng-container *ngIf="data.inputType">
      <ng-container *ngIf="data.text">
        <br/>
        <br/>
      </ng-container>
      <mat-form-field>
        <input matInput type="{{data.inputType}}"
          placeholder="{{data.fieldName}}" [(ngModel)]="inputtedValue"/>
      </mat-form-field>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions>
    <ng-container *ngIf="data.inputType">
      <span class="dialog-actions">
        <button mat-raised-button [mat-dialog-close]="inputtedValue">
          Apply
        </button>
        <button mat-raised-button [mat-dialog-close]="0">
          Cancel
        </button>
      </span>
    </ng-container>
    <ng-container *ngIf="!data.inputType">
      <span class="dialog-actions">
        <button *ngFor="let label of data.buttonLabels; let j = index"
          mat-raised-button [mat-dialog-close]="j">
          {{label}}
        </button>
      </span>
    </ng-container>
  </mat-dialog-actions>
</div>
