<div class="flex-grid" style="height : 100%">
  <dashboard-selector [user]="currentUser"
                      (dashboardSelected)="dashboardSelected($event)"
  ></dashboard-selector>
  <div class="col2" style="height : 100%">
    <div *ngIf="dashboardType === dashboardTypes.assignments">
      <assignment-dashboard [assignmentListStream]="assignmentListStream"
                            [assignmentTypeStream]="assignmentTypeStream"></assignment-dashboard>
    </div>
    <div *ngIf="dashboardType === dashboardTypes.userPreferences && currentUser">
      <user-dashboard [user]="currentUser"></user-dashboard>
    </div>
  </div>
</div>

