<lens></lens>
<div class="flex-grid" style="height : 100%">
  <dashboard-selector [user]="currentUser"
                      (dashboardSelected)="dashboardSelected($event)"
  ></dashboard-selector>
  <div class="right-content" style="height : 100%">
    <div *ngIf="selectedDashboard.dashboardType === DashboardTypes.ASSIGNMENT">
      <assignment-dashboard [assignmentListStream]="assignmentListStream"
                            [assignmentTypeStream]="assignmentTypeStream"></assignment-dashboard>
    </div>
    <div *ngIf="selectedDashboard.dashboard === DashboardSelections.USER_PREFERENCES && currentUser">
      <user-dashboard [user]="currentUser"></user-dashboard>
    </div>
    <div *ngIf="selectedDashboard.dashboardType === DashboardTypes.PROJECT">
      <project-dashboard></project-dashboard>
    </div>
  </div>
</div>

