<div class="property-row">
  <div class="selector">
    <mat-form-field style="width: 100%;">
      <mat-select placeholder="Attribute" [(ngModel)]="property.propertyName"
        (selectionChange)="updateKind($event.value)"
        [compareWith]="areSameAttribute" [disabled]="isDisabled">
        <ng-container *ngFor="let kind of Object.keys(attributeNames)">
          <mat-optgroup [label]="kind">
            <ng-container *ngFor="let attributeName of attributeNames[kind]">
              <mat-option [value]="{ kind: kind, attribute: attributeName }">
                {{attributeName}}
              </mat-option>
            </ng-container>
          </mat-optgroup>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Options
      </mat-panel-title>
      <mat-panel-description>
        Modify the format on this property
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Labels
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-checkbox [(ngModel)]="property.hideLabel" [disabled]="isDisabled">
        Hide Label
      </mat-checkbox>
      <br/>
      <label>Custom label : </label>
        <input matInput [(ngModel)]="property.customLabel"
          [disabled]="isDisabled"/>
      <br/>
      <label>Orientation : </label>
      <mat-select style="width : 200px;" [(ngModel)]="property.
        labelOrientation" [disabled]="isDisabled">
          <mat-option [value]="'Top'">Top</mat-option>
          <mat-option [value]="'Left'">Left</mat-option>
      </mat-select>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Content
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngIf="attribute.relation && Array.isArray(attribute.
        type) && (container.kind === 'list') && (tableDefinitions.length > 0)">
        <mat-checkbox [ngModel]="!!property.tableDefinition"
          (ngModelChange)="property.tableDefinition = ($event ?
          tableDefinitionSelect.selected.value : null)"
          [disabled]="(isDisabled || (property.propertyName.kind !== kind.
          name))">
          As Table
        </mat-checkbox>
        <br/>
        <mat-form-field style="width: 100%;">
          <mat-select #tableDefinitionSelect placeholder="Table Definition"
            [disabled]="(isDisabled || !property.tableDefinition)"
            [ngModel]="tableDefinitions[0].id">
            <ng-container *ngFor="let tableDefinition of tableDefinitions">
              <mat-option [value]="tableDefinition.id">
                {{tableDefinition.name}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <mat-checkbox [(ngModel)]="property.hideEmpty" [disabled]="isDisabled">
        Hide if empty
      </mat-checkbox>
    </mat-expansion-panel>
  </mat-expansion-panel>
  <button *ngIf="!disableDelete" mat-button class="remove-button"
    (click)="deleteRow()" [disabled]="isDisabled">
    Delete Row
  </button>
</div>
