virtual-scroll {
  height: 90%;
  width : 100%;
}

.activity-row {
  height : 80px;
  width : 100%;
  border-bottom : 1px solid gray;
  &:hover {
    cursor: pointer;
  }
}

.activity-list {
  padding : 15px;
  width: 50%;
  display: inline-block;
  height : 600px;
  overflow : auto !important;
}

.feed-title {
  background-color : navy;
  color : white;
  padding : 5px;
}
