<h4 style="height: 32px; background-color: navy; color: white;">
  Activity Feed:
</h4>
<div style="overflow: auto; height: calc(100% - 40px);">
  <ng-container *ngFor="let activity of activityList">
    <div class="activity-row" (click)="openProxyDetails(activity)">
      <b>{{activity.item.name}} </b>
      <span>&#160;</span>
      <span *ngIf="activity.item.modifiedOn === activity.item.createdOn"> created on</span>
      <span *ngIf="activity.item.modifiedOn !== activity.item.createdOn"> modified on </span>
      <span>&#160;</span>
      {{activity.item.modifiedOn | date: 'long'}} by {{activity.item.modifiedBy}}
    </div>
  </ng-container>
</div>
