<div style="height: 100%;">
  <div style="height: 5%; display: flex; flex-direction: row;">
    <mat-form-field style="width: 30%;">
      <mat-select placeholder="Document Configuration"
        [ngModel]="documentConfiguration"
        (ngModelChange)="documentConfiguration = $event">
        <ng-container *ngFor="let configuration of documentConfigurations">
          <mat-option [value]="configuration">
            {{configuration.name}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button matTooltip="Add a Document Configuration"
      (click)="editDocumentConfiguration(undefined)">
      <mat-icon class="fa fa-plus"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Edit this Document Configuration"
      [disabled]="!documentConfiguration" (click)="editDocumentConfiguration(
      documentConfiguration)">
      <mat-icon class="fa fa-edit"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Remove this Document Configuration"
      [disabled]="!documentConfiguration"
      (click)="removeSelectedDocumentConfiguration()">
      <mat-icon class="fa fa-trash"></mat-icon>
    </button>
  </div>
  <div [ngStyle]="{ 'height': (isDialogInstance() ? '90%' : '95%') }">
    <text-editor #textEditor [text]="document"
      [disabled]="!documentConfiguration || (Object.keys(documentConfiguration.
      components).length === 0)" [formatText]="getFormattedTextFunction()"
      [save]="getSaveFunction()">
    </text-editor>
  </div>
  <ng-container *ngIf="isDialogInstance()">
    <mat-dialog-actions style="height: 5%; display: flex;
      flex-direction: column;">
      <span class="flex-right-align">
        <button mat-button matTooltip="Propagate this configuration"
          [disabled]="!documentConfiguration" (click)="matDialogRef.close(
          documentConfiguration)">
          Apply
        </button>
        <button mat-button matTooltip="Cancel the document editing process"
          (click)="matDialogRef.close(undefined)">
          Cancel
        </button>
      </span>
    </mat-dialog-actions>
  </ng-container>
</div>
