<span [ngSwitch]="kind">
  <i *ngSwitchCase="'Action'"
    class ="fa fa-paper-plane"
    tooltip="Action"></i>

  <i *ngSwitchCase="'Decision'"
    class ="fa fa-gavel"
    tooltip="Decision"></i>

  <i *ngSwitchCase="'Task'"
    class ="fa fa-tasks"
    tooltip="Task"></i>

  <i *ngSwitchCase="'Item'"
    class ="fa fa-sticky-note"
    tooltip="Item"></i>

  <i *ngSwitchCase="'Issue'"
    class ="fa fa-exclamation-circle"
    tooltip="Issue"></i>

  <i *ngSwitchCase="'Observation'"
    class ="fa fa-comment"
    tooltip="Observation"></i>

  <i *ngSwitchCase="'KoheseUser'"
    class ="fa fa-user"
    tooltip="User"></i>

  <i *ngSwitchCase="'Repository'"
    class ="fa fa-database"
    tooltip="Repository"></i>

  <i *ngSwitchCase="'Internal-Model'"
    class ="fa fa-sitemap"
    tooltip="Models"></i>

  <i *ngSwitchCase="'Internal'"
    class ="fa fa-database"
    tooltip="Internal"></i>

  <i *ngSwitchCase="'Internal-Lost'"
    class ="fa fa-trash"
    tooltip="Repository"></i>

  <i *ngSwitchDefault class ="fa fa-sticky-note"></i>
</span>
