<div class="col user-dash" style="height : 100%;">
  <h4>
    <span *ngIf="user">
      {{user.item.name}}
    </span>
    <span *ngIf="!user">
      Loading
      <mat-spinner [diameter]="50"></mat-spinner>
    </span>
  </h4>
  <h4 class="dashboard-section"
      (click)="selectDashType(DashboardTypes.ASSIGNMENT)"
      [ngClass]="{'selectedDashListItem' : menuType === MenuTypes.PERSONAL}">
    My Dashboard
  </h4>
  <h4 (click)="selectDashType(DashboardTypes.PROJECT)"
      [ngClass]="{'selectedDashListItem' : menuType === MenuTypes.PROJECT}"
      class="dashboard-section">
    Project Dashboard</h4>
  <!-- Toggled off while reports are being worked on -->
    <!-- <h4 (click)="selectDashType(DashboardTypes.REPORT)"
      [ngClass]="{'selectedDashListItem' : menuType === MenuTypes.REPORT}"
      class="dashboard-section">
    Reports</h4> -->
  <hr>
  <div>
    <mat-divider style="border-color: white"></mat-divider>
    <div *ngIf="menuType === MenuTypes.PERSONAL">
      <h5 class="dashListHeader"> Assignments</h5>
      <div>
        <h6 class="dashListItem"
            (click)="selectDashboard(DashboardSelections.ACTIVE_ASSIGNMENTS)"
            [ngClass]="{'selectedDashListItem' : selectedDashboard.dashboard ===
                        DashboardSelections.ACTIVE_ASSIGNMENTS}"> Active </h6>
        <h6 class="dashListItem"
            (click)="selectDashboard(DashboardSelections.DUE_ASSIGNMENTS)"
            [ngClass]="{'selectedDashListItem' : selectedDashboard.dashboard ===
                        DashboardSelections.DUE_ASSIGNMENTS}"> Due</h6>
        <h6 class="dashListItem"
            (click)="selectDashboard(DashboardSelections.OPEN_ASSIGNMENTS)"
            [ngClass]="{'selectedDashListItem' : selectedDashboard.dashboard ===
                        DashboardSelections.OPEN_ASSIGNMENTS}"> Open</h6>
        <h6 class="dashListItem"
            (click)="selectDashboard(DashboardSelections.COMPLETED_ASSIGNMENTS)"
            [ngClass]="{'selectedDashListItem' : selectedDashboard.dashboard ===
                      DashboardSelections.COMPLETED_ASSIGNMENTS}">Completed</h6>
      </div>
      <mat-divider></mat-divider>
      <div *ngIf="user">
        <h5 class="dashListHeader"> User</h5>
        <div>
          <h6 class="dashListItem"
              (click)="selectDashboard(DashboardSelections.USER_PREFERENCES)"
              [ngClass]="{'selectedDashListItem' : selectedDashboard.dashboard ===
                            DashboardSelections.USER_PREFERENCES}">Preferences</h6>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="menuType === MenuTypes.PROJECT">
      <h5 class="dashListHeader"> Project</h5>
      <div>
        <h6 class="dashListItem"
            (click)="selectDashboard(DashboardSelections.PROJECT_OVERVIEW)"
            [ngClass]="{'selectedDashListItem' : selectedDashboard.dashboard ===
                            DashboardSelections.PROJECT_OVERVIEW}"> Overview</h6>
        <h6 class="dashListItem"
            (click)="selectDashboard(DashboardSelections.USER_STATISTICS)"
            [ngClass]="{'selectedDashListItem' : selectedDashboard.dashboard ===
                            DashboardSelections.USER_STATISTICS}">User Statistics</h6>
        <h6 class="dashListItem"
            (click)="selectDashboard(DashboardSelections.PROJECT_STATUS)"
            [ngClass]="{'selectedDashListItem' : selectedDashboard.dashboard ===
                            DashboardSelections.PROJECT_STATUS}">Project Status</h6>
      </div>
      <mat-divider></mat-divider>
  </div>
  <div *ngIf="menuType === MenuTypes.REPORT">
    <h5 class="dashListHeader"> Reports</h5>
    <div>
      <h6 class="dashListItem"
      (click)="selectDashboard(DashboardSelections.REPORT_GENERATION)"
      [ngClass]="{'selectedDashListItem' : selectedDashboard.dashboard ===
                      DashboardSelections.REPORT_GENERATION}"> Overview</h6>
    </div>
  </div>
</div>
