.dashListHeader {
  color : whitesmoke !important;
}

.dashListItem {
  color : silver;
  padding-left : 20px;
  &:hover {
    cursor: pointer;
  }
}

.selectedDashListItem {
  color : black;
  background-color : silver;

}

.user-dash {
  background-color : #111e1e;
  color : whitesmoke !important;
}

.dashboard-section {
  &:hover {
    cursor: pointer;
  }
}
