<div class="top-bar">
  <mat-form-field>
    <input matInput #searchInput type="text" placeholder="Search"
      [(ngModel)]="searchCriterion.value"
      (input)="searchStringChanged(searchInput.value)"/>
  </mat-form-field>
  <button mat-icon-button
    (click)="openFilterDialog(filterSubject.getValue()).subscribe()"
    [ngClass]="{ 'highlight': filterSubject.getValue() }"
    matTooltip="Edit filter">
    <mat-icon class="fa fa-filter"></mat-icon>
  </button>
  <button mat-icon-button [disabled]="!(filterSubject | async)"
    (click)="removeFilter()" matTooltip="Remove filter">
    <mat-icon class="fa fa-eraser"></mat-icon>
  </button>
  <span style="margin-left: auto">
    <button mat-icon-button style="outline: none"
      matTooltip="Go back to Explorer View"
      (click)="navigationService.navigate('Explore', { id: absoluteRoot.item.id })">
      <mat-icon class="fa fa-arrow-right"></mat-icon>
    </button>
    <button mat-icon-button (click)="toggleDocumentSync()"
      matTooltip="Toggle selection synchronization for the tree"
      [ngClass]="{ 'highlight': sync }">
      <mat-icon class="fa fa-exchange"></mat-icon>
    </button>
  </span>

</div>
<div style="height: 12%; width: 100%;">
  <div class="kt-head kth-cell">
    Root
  </div>
  <ng-container *ngIf="rootSubject.getValue()">
    <tree-row [treeRow]="getRootRow()" [images]="images"
      [rowActions]="rootRowActions" [menuActions]="rootMenuActions">
    </tree-row>
  </ng-container>
</div>
<div class="outline-tree">
  <virtual-scroll #tree [items]="visibleRows">
    <tree-row *ngFor="let row of tree.viewPortItems"
      [treeRow]="row" [rowActions]="rowActions"
      [images]="images" [menuActions]="menuActions">
    </tree-row>
  </virtual-scroll>
</div>
