<div #menuDiv style="visibility: hidden; position: fixed" [matMenuTriggerFor]="contextMenu"></div>
<div class="document-row" (contextmenu)="onContextMenu($event, menuDiv, docInfo.proxy)">

  <div id="menuWrapper">
    <mat-toolbar>
      <ng-container *ngIf="!row.editable else editableBlock">
        <button mat-icon-button matTooltip="Edit this Item" style="margin-left: auto;"
          [disabled]="row.editable || docInfo.proxy.item.preventModification || docInfo.proxy.model.item.restrictInstanceEditing"
          (click)="row.editable = true">
          <mat-icon class="fa fa-edit"></mat-icon>
        </button>
      </ng-container>
      <ng-template #editableBlock>
        <button mat-icon-button matTooltip="Save this Item" style="margin-left: auto;"
          [disabled]="!row.editable"
          (click)="save(docInfo.proxy, row, docInfo);">
          <mat-icon class="fa fa-save"></mat-icon>
        </button>
        <button mat-icon-button matTooltip="Discard unsaved changes to this Item"
          [disabled]="!row.editable" (click)="discardChanges(docInfo.proxy)">
          <mat-icon class="fa fa-times"></mat-icon>
        </button>
      </ng-template>
      <button mat-icon-button (click)="displayInformation(docInfo.proxy)">
        <mat-icon class="fa fa-clone"></mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="rowMenu">
        <mat-icon class="fa fa-bars"></mat-icon>
      </button>
      <mat-menu #rowMenu="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item (click)="navigationService.navigate('Explore', { id: docInfo.proxy.item.id })">
            <mat-icon class="fa fa-arrow-right"></mat-icon>
            Navigate in Explorer
          </button>
          <button mat-menu-item (click)="navigationService.addTab('Explore', { id: docInfo.proxy.item.id })">
            <mat-icon class="fa fa-external-link"></mat-icon>
            Navigate in New Tab
          </button>
        </ng-template>
      </mat-menu>
    </mat-toolbar>
  </div>

  <mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent>
      <ng-container *ngIf="!row.editable else editableBlock">
        <button mat-menu-item
          [disabled]="row.editable || docInfo.proxy.item.preventModification || docInfo.proxy.model.item.restrictInstanceEditing"
          (click)="row.editable = true">
          <mat-icon class="fa fa-edit"></mat-icon>
          Edit
        </button>
      </ng-container>
      <ng-template #editableBlock>
        <button mat-menu-item [disabled]="!row.editable" (click)="save(docInfo.proxy, row, docInfo);">
          <mat-icon class="fa fa-save"></mat-icon>
          Save
        </button>
        <button mat-menu-item [disabled]="!row.editable" (click)="discardChanges(docInfo.proxy)">
          <mat-icon class="fa fa-times"></mat-icon>
          Discard Changes
        </button>
      </ng-template>
      <button mat-menu-item (click)="displayInformation(docInfo.proxy)">
        <mat-icon class="fa fa-clone"></mat-icon>
        Display Item
      </button>
      <ng-container *ngIf="!row.editable">
        <button mat-menu-item [matMenuTriggerFor]="nestedMenu1">
          More Options
        </button>
      </ng-container>
    </ng-template>
  </mat-menu>

  <mat-menu #nestedMenu1="matMenu">
    <button mat-menu-item (click)="navigationService.navigate('Explore', { id: docInfo.proxy.item.id })">
      <mat-icon class="fa fa-arrow-right"></mat-icon>
      Navigate in Explorer
    </button>
    <button mat-menu-item (click)="navigationService.addTab('Explore', { id: docInfo.proxy.item.id })">
      <mat-icon class="fa fa-external-link"></mat-icon>
      Navigate in New Tab
    </button>
  </mat-menu>

  <format-object-editor [disabled]="(
    !row.editable || docInfo.proxy.item.preventModification || docInfo.proxy.model.item.restrictInstanceEditing)"
    [type]="docInfo.proxy.model.item" [object]="docInfo.proxy.item"
    [formatDefinitionType]="FormatDefinitionType.DOCUMENT">
  </format-object-editor>
</div>

<!-- This is the best, incomplete example that we have of a standalone contextMenu component executed in another component.

      <ng-container *ngFor="let menuItem of getMenuItems(docInfo.proxy)">
        <button mat-menu-item (click)="menuItem.execute()">
          <mat-icon class="{{ menuItem.icon }}"></mat-icon>
          {{ menuItem.action }}
        </button>
      </ng-container>
    -->
