<div>
  <creation-row [referenceProxy]="docInfo.proxy" class="document-row" *ngIf="row.addTop" [relation]="'sibling'" (itemCreated)="insertRow($event, row, 'addTop')"></creation-row>
  <div [ngClass]="{'hovered-row': row.rowState === 'show'}" style="background-color: lightgray;">
    <div style="width: 40px; display: inline-block" [ngClass]="{'hovered-actions' : row.rowState === 'show'}" *ngIf="showActions" class="row-actions">
      <div class="button-group" *ngIf="row.rowState === 'show'">
        <button mat-icon-button class="fa fa-plus side-button" (click)="row.addTop = true" *ngIf="!row.addTop">
          <i class="fa fa-chevron-up"></i>
        </button>
        <button mat-icon-button class="fa fa-plus side-button" (click)="row.addTop = false" *ngIf="row.addTop">
          <i class="fa fa-times"></i>
        </button>
        <button mat-icon-button class="fa fa-clipboard side-button" (click)="showProxyDetails(docInfo.proxy)"></button>
        <button mat-icon-button *ngIf="!row.editable" class="fa fa-edit side-button" (click)="row.editable = true"></button>
        <button mat-icon-button *ngIf="row.editable" class="fa fa-save side-button" (click)="upsertItem(docInfo.proxy, row, docInfo);"></button>
        <button mat-icon-button *ngIf="row.editable" class="fa fa-times side-button" (click)="row.editable = false;"></button>
        <button mat-icon-button class="fa fa-plus side-button" (click)="row.addBottom = true" *ngIf="!row.addBottom">
          <i class="fa fa-chevron-down"></i>
        </button>
        <button mat-icon-button class="fa fa-plus side-button" (click)="row.addBottom = false" *ngIf="row.addBottom">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <div class="document-row">
      <ng-container *ngIf="row.editable else notEditable">
        <div>
          <mat-form-field style="width: 100%;">
            <input matInput type="text" placeholder="{{docInfo.format.header.
              contents[0].customLabel}}" [(ngModel)]="docInfo.proxy.item.
              name"/>
          </mat-form-field>
        </div>
      </ng-container>
      <ng-template #notEditable>
        <label>
          <span>{{docInfo.format.header.contents[0].customLabel}}</span>
        </label>
        <div [innerHTML]="'<h' + (docInfo.depth + 1) + '>' + docInfo.proxy.item.
          name + '</h' + (docInfo.depth + 1) + '>'">
        </div>
      </ng-template>
      <format-object-editor [type]="docInfo.proxy.model.item"
        [viewModel]="TreeConfiguration.getWorkingTree().getProxyFor('view-' +
        docInfo.proxy.kind.toLowerCase()).item" [object]="docInfo.proxy.item"
        [attributes]="getAttributes(docInfo.proxy.model.item)"
        [formatDefinition]="docInfo.format" [disabled]="!row.editable">
      </format-object-editor>
    </div>
    <!-- <div class="document-row" *ngIf="row.editable" [ngClass]="{'hovered-body': row.rowState === 'show'}">
      <textarea matInput [(ngModel)]="docInfo.proxy.item.name"></textarea>
      <hr/>
      <textarea matInput matTextareaAutosize #description [(ngModel)]="docInfo.proxy.item.description"></textarea>
    </div> -->
  </div>
  <creation-row [referenceProxy]="docInfo.proxy" [relation]="'child'" *ngIf="row.addBottom" class="document-row" (itemCreated)="insertRow($event, row, 'addBottom')"></creation-row>
</div>
