<div style="height: 100%;">
  <div id="top-action-bar">
    <div>
      <!-- Start View Control -->
      <mat-form-field>
        <mat-select placeholder="View" [ngModel]="(selectedViewStream | async)"
          (selectionChange)="viewSelectionChanged($event.value)">
          <mat-option *ngFor="let view of (viewMap | mapKey)" [value]="view">
            {{view}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Start Default Toolbar -->
      <button mat-icon-button matTooltip="Edit the filter"
        (click)="openFilterDialog()">
        <mat-icon class="fa fa-filter"></mat-icon>
      </button>
      <button mat-icon-button matTooltip="Remove the filter"
        (click)="removeFilter()">
        <mat-icon class="fa fa-filter"></mat-icon>
        <mat-icon class="fa fa-times"></mat-icon>
      </button>
    </div>
  </div>
  <!-- Begin Knowledge Tree -->
  <div class="knowledge-tree-panel">
    <ng-container [ngSwitch]="(selectedViewStream | async)">
      <ng-container *ngSwitchCase="'Default'">
        <default-tree #defaultTree [selectedViewSubject]="selectedViewStream">
        </default-tree>
      </ng-container>
      <ng-container *ngSwitchCase="'References'">
        <reference-tree #referenceTree></reference-tree>
      </ng-container>
      <ng-container *ngSwitchCase="'Version Control'">
        <default-tree #defaultTree [selectedViewSubject]="selectedViewStream">
        </default-tree>
      </ng-container>
    </ng-container>
  </div> <!-- End Knowledge Tree -->
</div>
