@import '../../app.component';

:host {
  ::ng-deep .mat-tab-body-wrapper {
    height: 100%;
    width: 100%;

    .mat-tab-body {
      .mat-tab-body-content {
        overflow: hidden;
      }
    }
  }
}

