<div>
  <ng-container
    *ngFor="let fieldName of transitionCandidateFieldNames">
    <div class="field-transition-container">
      <label>{{fieldName}}: {{itemProxy.item[fieldName]}}</label>
      <br/>
      <button mat-raised-button class="state-button"
        *ngFor="let candidateId of (transitionCandidates[fieldName] | mapKey)"
        matTooltip="{{koheseType.fields[fieldName].properties.state[transitionCandidates[fieldName][candidateId].target].description}}"
        [disabled]="disableTransitioning"
        (click)="openTransitionDialog(fieldName, transitionCandidates[fieldName][candidateId].target)">
        {{candidateId}}
      </button>
    </div>
  </ng-container>
</div>
