<div  style="width: 100%;" [ngStyle]="{ 'height': data ? '90%' : '100%' }">
  <split direction="horizontal">
    <split-area [size]="65">
      <div style="height: 100%; width: 100%; padding: 3px 3px;">
        <div style="height: 40%; width: 100%">
          <mat-form-field style="width: 100%;">
            <input matInput type="text" placeholder="Name" [(ngModel)]="type.
              name"/>
          </mat-form-field>
          <br/>
          <ng-container *ngIf="!containingType">
            <mat-form-field style="width: 100%;">
              <textarea matInput type="text" placeholder="Description"
                [(ngModel)]="type.description" rows="3" cols="80">
              </textarea>
            </mat-form-field>
            <br/>
            <mat-form-field style="width: 100%;">
              <mat-select placeholder="Icon" [(ngModel)]="type.icon">
                <ng-container *ngFor="let icon of dynamicTypesService.getIcons()">
                  <mat-option [value]="icon">
                    <mat-icon class="{{icon}}"></mat-icon>
                    {{icon}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
            <br/>
            <mat-form-field style="width: 100%;">
              <mat-select placeholder="Supertypes" [(ngModel)]="type.base">
                <ng-container *ngFor="let typeName of (dynamicTypesService.
                  getKoheseTypes() | mapKey)">
                  <mat-option [value]="typeName">
                    {{typeName}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </div>
        <ng-container *ngIf="!containingType">
          <div style="height: 20%; width: 100%; display: flex;
            flex-direction: column;">
            <h3>
              Local Types
            </h3>
            <span class="flex-right-align">
              <button mat-icon-button (click)="addLocalType()">
                <mat-icon class="fa fa-plus"></mat-icon>
              </button>
            </span>
            <mat-list>
              <ng-container *ngFor="let localType of type.localTypes">
                <mat-list-item>
                  {{localType.name}}
                  <span class="flex-right-align">
                    <button mat-icon-button (click)="editLocalType(localType)">
                      <mat-icon class="fa fa-edit"></mat-icon>
                    </button>
                    <button mat-icon-button (click)="removeLocalType(
                      localType)">
                      <mat-icon class="fa fa-trash"></mat-icon>
                    </button>
                  </span>
                </mat-list-item>
              </ng-container>
            </mat-list>
          </div>
          <div style="height: 20%; width: 100%; display: flex;
            flex-direction: column;">
            <h3>
              Format Definitions
            </h3>
            <span class="flex-right-align">
              <button mat-icon-button matTooltip="Add a format definition"
                (click)="addFormatDefinition()">
                <mat-icon class="fa fa-plus"></mat-icon>
              </button>
            </span>
            <mat-list>
              <ng-container *ngFor="let formatDefinitionId of (view.
                formatDefinitions | mapKey)">
                <mat-list-item>
                  <button mat-icon-button matTooltip="Select this format 
                    definition to make it the default format definition for 
                    this type" (click)="setDefaultFormatDefinition(
                    formatDefinitionId)">
                    <ng-container *ngIf="view.formatDefinitions[
                      formatDefinitionId].defaultFormatDefinition">
                      <mat-icon class="fa fa-star"></mat-icon>
                    </ng-container>
                    <ng-container *ngIf="!view.formatDefinitions[
                      formatDefinitionId].defaultFormatDefinition">
                      <mat-icon class="fa fa-star-o"></mat-icon>
                    </ng-container>
                  </button>
                  {{view.formatDefinitions[formatDefinitionId].name}}
                  <span class="flex-right-align">
                    <button mat-icon-button
                      matTooltip="Edit this format definition"
                      (click)="editFormatDefinition(formatDefinitionId)">
                      <mat-icon class="fa fa-edit"></mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Preview this format 
                      definition" (click)="previewFormatDefinition(
                      formatDefinitionId)">
                      <mat-icon class="fa fa-search"></mat-icon>
                    </button>
                    <button mat-icon-button
                      matTooltip="Remove this format definition"
                      (click)="removeFormatDefinition(formatDefinitionId)">
                      <mat-icon class="fa fa-trash"></mat-icon>
                    </button>
                  </span>
                </mat-list-item>
              </ng-container>
            </mat-list>
          </div>
          <div style="height: 20%; width: 100%; display: flex;
            flex-direction: column;">
            <h3>
              Table Definitions
            </h3>
            <span class="flex-right-align">
              <button mat-icon-button matTooltip="Add a table definition"
                (click)="addTableDefinition()">
                <mat-icon class="fa fa-plus"></mat-icon>
              </button>
            </span>
            <mat-list>
              <ng-container *ngFor="let tableDefinition of view.
                tableDefinitions">
                <mat-list-item>
                  {{tableDefinition.name}}
                  <span class="flex-right-align">
                    <button mat-icon-button
                      matTooltip="Edit this table definition"
                      (click)="editTableDefinition(tableDefinition)">
                      <mat-icon class="fa fa-edit"></mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Preview this table 
                      definition" (click)="previewTableDefinition(
                      tableDefinition)">
                      <mat-icon class="fa fa-search"></mat-icon>
                    </button>
                    <button mat-icon-button
                      matTooltip="Remove this table definition"
                      (click)="removeTableDefinition(tableDefinition)">
                      <mat-icon class="fa fa-trash"></mat-icon>
                    </button>
                  </span>
                </mat-list-item>
              </ng-container>
            </mat-list>
          </div>
        </ng-container>
      </div>
    </split-area>
    <split-area [size]="35">
      <div style="width: 100%; padding: 3px 3px; display: flex;
        flex-direction: column;">
        <h3>
          Attributes
        </h3>
        <span class="flex-right-align">
          <button mat-icon-button matTooltip="Add an attribute to this type"
            (click)="addAttribute()">
            <mat-icon class="fa fa-plus"></mat-icon>
          </button>
        </span>
        <mat-list>
          <ng-container *ngFor="let attributeName of (type.properties | mapKey)">
            <mat-list-item>
              {{attributeName}}
              <span class="flex-right-align">
                <button mat-icon-button (click)="editAttribute(attributeName)">
                  <mat-icon class="fa fa-edit"></mat-icon>
                </button>
                <button mat-icon-button (click)="removeAttribute(attributeName)">
                  <mat-icon class="fa fa-trash"></mat-icon>
                </button>
              </span>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </div>
    </split-area>
  </split>
</div>
<ng-container *ngIf="data">
  <mat-dialog-actions style="height: 10%; width: 100%; display: flex;
    flex-direction: column;">
    <span class="flex-right-align">
      <button mat-raised-button
        [mat-dialog-close]="type">
        Accept
      </button>
      <button mat-raised-button [mat-dialog-close]="">
        Cancel
      </button>
    </span>
  </mat-dialog-actions>
</ng-container>
