<div style="display: flex; height: 90%">
  <commit-tree
    (rowSelected)="rowSelected($event)">
  </commit-tree>
  <div style="flex: 1;">
    <h1>Selected Commit:</h1>
    <div *ngIf=!selectedCommit>No Commit Selected</div>
    <div *ngIf="selectedCommit">
      <h3>Author: {{selectedCommit.author}}</h3>
      <h3>Message: {{selectedCommit.message}}</h3>
      <h3>Time: {{selectedCommit.time | date :'medium'}}</h3>
    </div>  
  </div>
</div>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="confirm()">Confirm</button>
</mat-dialog-actions>
