<div style="display: flex; height: 90%">
  <mat-list style="flex : 1; height: 100%; overflow: auto;">
    <mat-list-item *ngFor="let commitRecord of commitList"
                  (click)="onCommitSelected(commitRecord.commit, commitRecord.commitId)">
      {{commitRecord.commit.message}} - {{commitRecord.commit.time | date :'medium'}}
    </mat-list-item>
  </mat-list>
  <div style="flex : 1;">
    <h1>Selected Commit : </h1>
    <div *ngIf=!selectedCommit> No commit Selected</div>
    <div *ngIf="selectedCommit">
      <h3>Author : {{selectedCommit.commit.author}}</h3>
      <h3>Message : {{selectedCommit.commit.message}}</h3>
      <h3>Time : {{selectedCommit.commit.time | date :'medium'}}</h3>
      <h3>Parents : </h3>
      <div style="height: 100%; overflow:auto;">
        <mat-list>
          <mat-list-item *ngFor="let parent of selectedCommit.parents">
            {{parent.message}} - {{parent.time | date :'medium'}}
          </mat-list-item>
        </mat-list>
      </div>
    </div>  

  </div>
</div>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="confirm()">Confirm</button>
</mat-dialog-actions>
