<div style="width: 100%;" [ngStyle]="{ 'height': isDialogInstance() ? '90%' :
  '100%' }">
  <div style="height: 50px; display: flex; flex-direction: row;">
    <ng-container *ngIf="add">
      <button mat-icon-button matTooltip="Add elements" [disabled]="isDisabled"
        (click)="add()" class="flex-right-align">
        <mat-icon class="fa fa-plus"></mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="remove">
      <button mat-icon-button matTooltip="Remove the selected elements"
        [disabled]="(isDisabled || (selection.length === 0))"
        (click)="remove(selection)">
        <mat-icon class="fa fa-times"></mat-icon>
      </button>
    </ng-container>
  </div>
  <mat-table #table matSort [dataSource]="rows"
    style="height: calc(100% - 50px); overflow: auto;">
    <ng-container matColumnDef="{{columns.join() + 'selection'}}">
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 64px;">
        <mat-checkbox [ngModel]="((rows.length !== 0) && (selection.length ===
          rows.length))" (ngModelChange)="toggleAllSelected($event)"
          [disabled]="(isDisabled || (!move && !remove) || (rows.length ===
          0))" style="padding: 7px;">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" style="flex: 0 0 64px;">
        <mat-checkbox [ngModel]="(selection.indexOf(element) !== -1)"
          (ngModelChange)="toggleSelected(element)" [disabled]="(isDisabled ||
          (!move && !remove))" style="padding: 7px;">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container *ngFor="let column of columns">
      <ng-container matColumnDef="{{column}}">
        <mat-header-cell *matHeaderCellDef>
          {{column}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element[column]}}
        </mat-cell>
      </ng-container>
    </ng-container>
    <ng-container matColumnDef="{{columns.join() + 'menu'}}">
      <mat-header-cell *matHeaderCellDef style="flex: 0 0 64px;">
      </mat-header-cell>
      <mat-cell *matCellDef="let element" style="flex: 0 0 64px;">
        <button mat-icon-button [disabled]="isDisabled"
          [matMenuTriggerFor]="rowMenu">
          <mat-icon class="fa fa-bars"></mat-icon>
        </button>
        <mat-menu #rowMenu="matMenu" [overlapTrigger]="false">
          <ng-container *ngIf="edit">
            <button mat-menu-item (click)="edit(element)">
              <mat-icon class="fa fa-edit"></mat-icon>
              Edit
            </button>
          </ng-container>
          <ng-container *ngIf="remove">
            <button mat-menu-item (click)="remove([element])">
              <mat-icon class="fa fa-times"></mat-icon>
              Remove
            </button>
          </ng-container>
        </mat-menu>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="getDisplayColumnIdentifiers(); sticky:
      true">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: getDisplayColumnIdentifiers()"
      draggable="{{!!move}}" (dragstart)="$event.dataTransfer.setData('rows',
      getMoveDataTransferValue(row)); $event.dataTransfer.dropEffect = 'move';
      changeDetectorRef.detach()" (dragend)="changeDetectorRef.reattach();
      changeDetectorRef.markForCheck()" (dragover)="$event.preventDefault();
      $event.currentTarget.style['border-top'] = ''; $event.currentTarget.
      style['border-bottom'] = ''; ((($event.offsetY / $event.currentTarget.
      offsetHeight) < 0.5) ? $event.currentTarget.style['border-top'] =
      'dashed' : $event.currentTarget.style['border-bottom'] = 'dashed')"
      (dragleave)="$event.currentTarget.style['border-top'] = ''; $event.
      currentTarget.style['border-bottom'] = ''" (drop)="$event.
      preventDefault(); $event.currentTarget.style['border-top'] = ''; $event.
      currentTarget.style['border-bottom'] = ''; move(getRowsFromDataTransfer(
      $event.dataTransfer.getData('rows')), row, ((($event.offsetY / $event.
      currentTarget.offsetHeight) < 0.5) ? true : false))">
    </mat-row>
  </mat-table>
</div>
<ng-container *ngIf="isDialogInstance()">
  <mat-dialog-actions style="height: 10%; width: 100%; display: flex;
    flex-direction: column;">
    <span class="flex-right-align">
      <button mat-button matTooltip="Select these elements"
        (click)="matDialogRef.close(selection)">
        Select
      </button>
      <button mat-button matTooltip="Cancel the selection process"
        (click)="matDialogRef.close(undefined)">
        Cancel
      </button>
    </span>
  </mat-dialog-actions>
</ng-container>
