<div style="width: 100%;" [ngStyle]="{ 'height': data ? 'calc(100% - 40px)' :
  '100%' }">
  <mat-form-field style="width: 100%; padding: 3px 3px;">
    <input matInput type="text" placeholder="Name"
      [(ngModel)]="attributeName"/>
  </mat-form-field>
  <mat-form-field style="width: 100%; padding: 3px 3px;">
    <input matInput type="text" placeholder="Display Name"
      [(ngModel)]="view.displayName"/>
  </mat-form-field>
  <div class="property-container" style="width: 100%;">
    <div class="form-container">
      <mat-form-field style="width: 100%;">
        <mat-select placeholder="Type" [ngModel]="attribute.type"
          (ngModelChange)="typeSelected($event)"
          [compareWith]="areTypesSame">
          <mat-option *ngFor="let attributeType of (attributeTypes | mapKey)"
            [value]="attributeTypes[attributeType]">
            {{attributeType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="attribute.type === 'StateMachine'">
        <button mat-icon-button matTooltip="Edit the associated state machine"
          (click)="openStateMachineEditor()">
          <mat-icon class="fa fa-edit"></mat-icon>
        </button>
        <br/>
        <br/>
      </ng-container>
      <ng-container *ngIf="(Object.values(fundamentalTypes).indexOf(
        multivalued ? attribute.type[0] : attribute.type) === -1)">
        <mat-form-field style="width: 100%;">
          <mat-select placeholder="Reference Attribute"
            [ngModel]="attribute.relation" (ngModelChange)="attribute.
            relation = $event" [compareWith]="areRelationsEqual"
            [disabled]="!attribute.relation">
            <ng-container *ngIf="attribute.relation">
              <mat-optgroup *ngFor="let typeName of (idAttributes | mapKey)"
                [label]="typeName">
                <mat-option *ngFor="let attributeName of idAttributes[
                  typeName]" [value]="{ kind: typeName,
                  foreignKey: attributeName }">
                  {{attributeName}}
                </mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <br/>
      </ng-container>
      <mat-form-field style="width: 100%;">
        <mat-select placeholder="Display Type" [ngModel]="view.inputType.type"
          (ngModelChange)="view.inputType.type = $event"
          [compareWith]="areTypeValuesEqual">
          <mat-option *ngFor="let attributeType of getTypes()"
            [value]="getTypeValue(attributeType)">
            {{attributeType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox class="field-option" [(ngModel)]="multivalued">
        Multivalued
      </mat-checkbox>
      <br/>
      <mat-checkbox class="field-option" [(ngModel)]="attribute.
        required">
        Required
      </mat-checkbox>
      <br/>
      <mat-checkbox class="field-option" [(ngModel)]="attribute.id">
        Kind ID
      </mat-checkbox>
      <br/>
      <mat-form-field style="width: 100%;">
        <textarea matInput placeholder="Default Value" rows="3" cols="80"
          [(ngModel)]="attribute.default">
        </textarea>
      </mat-form-field>
      <br/>
    </div>
  </div>
</div>
<ng-container *ngIf="data">
  <mat-dialog-actions style="height: 40px; display: flex; flex-direction:
    row;">
    <button mat-button [disabled]="!editable" class="flex-right-align"
      (click)="close(true)">
      Accept
    </button>
    <button mat-button (click)="close(false)">
      Cancel
    </button>
  </mat-dialog-actions>
</ng-container>
