@import '../../app.component';

.item-actions {

  i {
    border: 2px solid $secondaryColor + 200;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
    padding: 3px 5px 3px 5px;
    margin-right: 5px;
  }

  .fa-stack {
    margin-right: 5px;
    .stacked-child {
      border: none;
      padding: 0;
      margin: 0;
    }
    .stacked-parent {
      border: none;
      margin: 0;
    }
  }
}

#details-tabs {
  height: 100%;

  .tab-content {
    height: calc(100% - 43px);
  }
}

/deep/ .mat-tab-body-wrapper {
  height: 100%;
  width: 100%;
}

.tab-pane {
  overflow: auto;
  .absolute {
    position: absolute;
  }
  label {

    margin: 10px;
    #Rationale {
      width: 500px;
    }
    .alternative-field {
      width: 500px;
    }
  }
  .form-actions {
    margin-left: 20px;
  }
}

tab {
  div {
    overflow: auto;
  }
}

.active-state {
  background-color: $primaryColor + 100;
  color: white;
}