@import '../../app.component';

#details-tabs {
  height: 100%;

  .tab-content {
    height: calc(100% - 43px);
  }
}

/deep/ .mat-tab-body-wrapper {
  height: 100%;
  width: 100%;
}

.tab-pane {
  overflow: auto;
  .absolute {
    position: absolute;
  }
  label {

    margin: 10px;
    #Rationale {
      width: 500px;
    }
    .alternative-field {
      width: 500px;
    }
  }
  .form-actions {
    margin-left: 20px;
  }
}

tab {
  div {
    overflow: auto;
  }
}

.active-state {
  background-color: $primaryColor + 100;
  color: white;
}

.panel-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
