

<div *ngIf="itemProxy" id="details-panel" class="panel">
    <div class="panel-heading ">
        <span *ngIf="itemProxy.kind">{{itemProxy.kind}} Information: {{itemProxy.item.name}} </span>
        <span *ngIf="!itemProxy.kind">No Item Selected</span>
        <span class="pull-right item-actions">
            <i class="fa fa-level-up"
                    *ngIf="itemProxy.item.parentId"
                    (click)="navigate('Explore', {id :itemProxy.item.parentId})"
                    title="Go to Parent"></i>
            <i class="fa fa-lg fa-edit"
               *ngIf="!enableEdit"
               (click)="enableEdit=true"
               title="Edit"></i>
            <span *ngIf="enableEdit"
                  class="fa fa-stack">
                <i class="fa fa-lg fa-edit fa-stack-2x stacked-parent"
                   (click)="enableEdit = false;"
                   title="Cancel Edit"></i>
                <i class="fa fa-stack-1x fa-times stacked-child"
                   (click)="enableEdit = false;"
                   title="Cancel Edit"></i>
            </span>
            <i class="fa fa-lg fa-save"
               (click)="upsertItem(detailsFormGroup.value)"
               title=" Save"
                    ></i>
            <!-- <i class="fa fa-clone pull-right"
               (click)="navigate('Explore', {id: itemProxy.item.id})"
               title="Split Screen">
            </i> -->
            <i class="fa fa-lg fa-arrows-alt"
               (click)="navigate('Investigate', {id: itemProxy.item.id})"
               title="Fullscreen"></i>
        </span>
    </div>
    <div class="panel-body">
        <!-- Nav tabs -->
        <mat-tab-group id="details-tabs">
            <mat-tab id="defaultTab" active="defaultTab.active" label="Document">
                <button (click)="generateHTMLReport()" class="btn btn-primary">
                   Generate HTML Report
               </button>
                <button (click)="generateDOCXReport()" class="btn btn-primary">
                   Generate Word Document
               </button>
               <button
                      class= "btn btn-primary"
                      (click)="navigate('Analysis',
                                {id: itemProxy.item.id})">
                      Analyze
              </button>
                <document-view [proxyStream]="proxyStream"
                               [incrementalLoad]="true"></document-view>
            </mat-tab>
            <mat-tab label="Details" *ngIf="!itemProxy.model.internal">
                <ng-template mat-tab-label>
                   Details
                   <span *ngIf="detailsFormGroup?.dirty">
                      <img src="../../../assets/icons/versioncontrol/dirty.ico"
                      title = "Dirty item" />
                  </span>
                </ng-template>
                <details-form #editor [itemProxy]="itemProxy" 
                  [disabled]="!enableEdit"
                  (formGroupUpdated)="onFormGroupUpdated($event)"
                  (nonFormFieldChanged)="whenNonFormFieldChanges($event)">
                </details-form>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                  Children ({{itemProxy.children.length}})
              </ng-template>
              <children-tab [proxyStream]="proxyStream"></children-tab>
            </mat-tab>
            <mat-tab label="Relations">
                <h4>Relations Tab</h4>

                <p><b>This tab is under construction.</b></p>
            </mat-tab>
            <mat-tab label="History" select="getHistory()">
                <history-tab [proxyStream]="proxyStream"></history-tab>
            </mat-tab>
            <mat-tab label="Journal">
              <journal [itemProxy]="itemProxy"></journal>
            </mat-tab>
            <mat-tab label="Action Table"
                 *ngIf="itemProxy.children">

              <action-table itemProxy="itemProxy"></action-table>
            </mat-tab>
            <mat-tab label="Raw Data">
                <h4>Document Tab</h4>
                <h5>Id: {{itemProxy.item.id}}</h5>
                <h5>OID: {{itemProxy.oid}}</h5>
                <h5>Tree Hash: {{itemProxy.treeHash}}</h5>
                <pre>{{itemJson}}</pre>
                <pre>{{itemProxy.treeHashEntry | json}}</pre>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
