

<div *ngIf="itemProxy && !itemProxyError" id="details-panel" class="panel">
    <div class="panel-heading " style="padding : 10px;">
        <span *ngIf="itemProxy.kind">{{itemProxy.kind}} Information: {{itemProxy.item.name}} </span>
        <span *ngIf="!itemProxy.kind">No Item Selected</span>
        <span class="pull-right item-actions">
            <i class="fa fa-level-up"
                    *ngIf="itemProxy.item.parentId"
                    (click)="navigate('Explore', {id :itemProxy.item.parentId})"
                    title="Go to Parent"></i>
            <i class="fa fa-lg fa-edit"
               *ngIf="!editableStream.getValue()"
               (click)="editableStream.next(true)"
               title="Edit"></i>
            <span *ngIf="editableStream.getValue()"
                  class="fa fa-stack">
                <i class="fa fa-lg fa-edit fa-stack-2x stacked-parent"
                   (click)="cancelEditing()"
                   title="Cancel Edit"></i>
                <i class="fa fa-stack-1x fa-times stacked-child"
                   (click)="cancelEditing()"
                   title="Cancel Edit"></i>
            </span>
            <i class="fa fa-lg fa-save"
               (click)="upsertItem(detailsFormGroup.value)"
               title=" Save"
                    ></i>
            <i class="fa fa-lg fa-arrows-alt"
               (click)="navigate('Investigate', {id: itemProxy.item.id})"
               title="Fullscreen"></i>
        </span>
    </div>
    <div class="panel-body">
        <!-- Nav tabs -->
        <mat-tab-group id="details-tabs">
            <mat-tab id="defaultTab" label="Document">
                <button (click)="generateHTMLReport()" class="btn btn-primary">
                   Generate HTML Report
               </button>
                <button (click)="generateDOCXReport()" class="btn btn-primary">
                   Generate Word Document
               </button>
               <button
                      class= "btn btn-primary"
                      (click)="navigate('Analysis',
                                {id: itemProxy.item.id})">
                      Analyze
              </button>
                <document-view [proxyStream]="proxyStream"
                               [incrementalLoad]="true"></document-view>
            </mat-tab>
            <mat-tab label="Details">
                <ng-template mat-tab-label>
                   Details
                   <span *ngIf="detailsFormGroup?.dirty">
                      <img src="../../../assets/icons/versioncontrol/dirty.ico"
                      title = "Dirty item" />
                  </span>
                </ng-template>
                <details-form #editor [proxyStream]="proxyStream"
                  [editableStream]="editableStream"
                  (formGroupUpdated)="onFormGroupUpdated($event)"
                  (nonFormFieldChanged)="onNonFormFieldChanged($event)">
                </details-form>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                  Children ({{itemProxy.children.length}})
                  <ng-container *ngIf="itemProxy.dirty">
                    <img src="../../../assets/icons/versioncontrol/dirty.ico"
                      title="Dirty item"/>
                  </ng-container>
              </ng-template>
              <children-tab [proxyStream]="proxyStream" [editableStream]="editableStream"></children-tab>
            </mat-tab>
            <mat-tab label="References">
                <references-tab [proxyStream]="proxyStream"></references-tab>
            </mat-tab>
            <mat-tab label="History" select="getHistory()">
                <history-tab [proxyStream]="proxyStream"></history-tab>
            </mat-tab>
            <mat-tab label="Journal">
              <journal [itemProxy]="itemProxy"></journal>
            </mat-tab>
            <mat-tab label="Action Table"
                 *ngIf="itemProxy.children">

              <action-table [proxyStream]="proxyStream"
                            [editableStream]="editableStream"></action-table>
            </mat-tab>
            <mat-tab label="Raw Data">
                <h4>Raw Data Tab</h4>
                <h5>Id: {{itemProxy.item.id}}</h5>
                <h5>OID: {{itemProxy.oid}}</h5>
                <h5>Tree Hash: {{itemProxy.treeHash}}</h5>
                <h5>Decendant Count: {{itemProxy.descendantCount}}</h5>
                <h5>Item Data:</h5>
                <pre>{{itemJson}}</pre>
                <h5>Tree Hash Entry:</h5>
                <pre>{{itemProxy.treeHashEntry | json}}</pre>
                <h5>Relations:</h5>
                <pre>{{relationIdMap | json}}</pre>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
