<div class=commit-tree-container style="height: calc(100% - 7px); overflow: hidden;">
  <div class=root-container>
    <div class="kt-head kth-cell">
      Root
    </div>
    <ng-container *ngIf="rootSubject.getValue()">
      <div>
        <tree-row [treeRow]="getRootRow()"
          [rowActions]="rootRowActions" [menuActions]="rootMenuActions">
        </tree-row>
      </div>
    </ng-container>
  </div>
  <div class=descendants-container style="height: calc(100% - 71px); width: 100%; overflow: hidden">
    <div class="kt-head kth-cell">
      Descendants
    </div>
    <div class="kt-body" id=descendants-tree>
      <virtual-scroll #tree [items]="visibleRows">
        <tree-row *ngFor="let row of tree.viewPortItems"
          [treeRow]="row" [rowActions]="rowActions"
          [menuActions]="menuActions" [images]="images">
        </tree-row>
      </virtual-scroll>
    </div>
  </div>
</div>
