<div style="border: 1px solid black; border-radius: 10px; padding: 10px;">
  <div style="height: 10%; width: 100%;">
    <button mat-button style="background-color: whitesmoke"
      [disabled]="!editable" (click)="openProxySelectionDialog()">
      Select {{property.propertyName}}
    </button>
  </div>
  <proxy-table *ngIf="tableDefinition && tableData" [expandedFormat]="tableDefinition.expandedFormat" [columns]="tableDefinition.columns"
    [dataStream]="tableDataStream" (move)="move($event)"
    (remove)="remove($event)" [disabled]="!editable" style="height: 90%;
    width: 100%;">
  </proxy-table>
  <div *ngIf="tableDefinition && !tableData">
    Empty Table
  </div>
</div>
