<!-- <div ng-if="detailsCtrl.itemProxy.children.length">
    <label class="control-label" for="showChildren"> Show Children </label> <input
           type="checkbox" ng-checked="detailsCtrl.docShowChildren;detailsCtrl.updatedDoc()"
           ng-click="detailsCtrl.docShowChildren=!detailsCtrl.docShowChildren" />
  </div> -->
      
<div class="panel right-zone">
    <div class="panel-heading">Document View</div>
    <div class="panel-body"> 
            <!-- <ng-bind-html ng-if="!docCtrl.showChildren" ng-bind-html="docCtrl.itemDescriptionRendered"></ng-bind-html> -->
        <ng-bind-html ng-bind-html="docCtrl.docRendered"></ng-bind-html>
    </div>
</div>