<mat-tab-group>
  <mat-tab label="Table">
    <ng-template matTabContent>
      <div class=grid-container>


        <div class="left-content-grid" *ngIf="project">
          <div *ngFor="let type of supportedTypes">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>{{type}}</mat-panel-title>
                <ng-template matExpansionPanelContent>
                  <div *ngFor="let stateType of stateInfo[type] | mapKey">
                    <mat-list>
                      <mat-list-item class="state-item" *ngFor="let state of stateInfo[type][stateType].states"
                        (click)="toggleState(type, stateType, state)"
                        [ngClass]="{'selected-state' : selectedStatesMap.get(stateType + state)}">
                        {{state}}
                      </mat-list-item>
                    </mat-list>
                  </div>
                </ng-template>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </div>
        </div>


        <div class="right-content-grid">
          <mat-table *ngIf="matchingObjects" [dataSource]="tableStream">
            <ng-container matColumnDef="kind">
              <mat-header-cell *matHeaderCellDef> Kind </mat-header-cell>
              <mat-cell *matCellDef="let assignment"> {{assignment.kind}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let assignment"> {{assignment.item.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="state">
              <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
              <mat-cell *matCellDef="let assignment">{{assignment.state}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="assignedTo">
              <mat-header-cell *matHeaderCellDef> Assigned To </mat-header-cell>
              <mat-cell *matCellDef="let assignment"> {{assignment.item.assignedTo}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="rowDef; sticky: true"></mat-header-row>
            <mat-row (click)="openProxyDetails(proxy)" *matRowDef="let proxy; columns: rowDef; let j=index;" tabindex="{{j}}">
            </mat-row>
          </mat-table>
        </div>
      </div>

    </ng-template>
  </mat-tab>
  <mat-tab label="Chart">
    <ng-template matTabContent>
      <state-bar-chart [projectStream]="projectStream"></state-bar-chart>
    </ng-template>
  </mat-tab>
  <mat-tab label="Board">
    <ng-template matTabContent>
      <item-board [project]="(projectStream | async)?.proxy.item">
      </item-board>
    </ng-template>
  </mat-tab>
</mat-tab-group>
