@import '../../../../app.component';

/deep/ .mat-tab-body-wrapper {
  height: 100%;
}

.state-item {
  &:hover {
    cursor: pointer;
  }
}
.selected-state {
  background-color : rgba(106, 168, 106, 0.795);
  color : whitesmoke;
}

mat-tab-group {
  height: 100%;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-columns: [left-content] 2fr [right-content] 8fr;
  grid-template-rows: auto;
  gap: 0.5em;

  .left-content-grid {
    grid-column-start: left-content;
    grid-column-end: right-content;
    place-self: stretch;
  }
  .right-content-grid {
    grid-column-start: right-content;
    grid-column-end: auto;
    place-self: stretch;
  }
}
