<div class="users-screen">
    <div class="panel-body">
        <div>
            <h2>Sessions:</h2>
            <div class="session-container" ng-repeat="session in adminCtrl.sessions">
              <div>{{session.username}} - {{session.address}} - {{session.sessionId}}</div>
            </div>
        </div>
        <div id="admin-user-list">
            <h2>Users:</h2>

            <div class="card-container" ng-repeat="userProxy in adminCtrl.users">
                <div class="card">
                    <div class="front">
                        <div class="title">
                            {{userProxy.item.name}}
                        </div>
                        <div class="body">
                            {{userProxy.item.description}}
                        </div>
                        <div class="footer">
                            Modified on {{userProxy.item.modifiedOn | date }} by {{userProxy.item.modifiedBy}}

                        </div>
                    </div>
                    <div class="back">
                        <button class="btn btn-primary"
                                ng-click="adminCtrl.deleteUser(userProxy)">
                            <i class="fa fa-3x fa-trash"></i>
                            Delete
                        </button>
                        <br/>
                        <button class="btn btn-primary"
                                ng-click="adminCtrl.editUser(userProxy)">
                            <i class="fa fa-3x fa-edit"></i>
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="admin-user-form">
        <button class="btn btn-default"
                ng-click="adminCtrl.addUser();"
                ng-if="!adminCtrl.addUserForm && !adminCtrl.editUserForm">Add User
        </button>

        <div ng-if="adminCtrl.addUserForm || adminCtrl.editUserForm">

            <h3>{{adminCtrl.currentForm}}</h3>

            <form>
                <label>Username<input ng-model="adminCtrl.usernameInput" type="text"></label>
                <br/>
                <label>Description<input ng-model="adminCtrl.descriptionInput" type="text"></label>
                <br/>
                <label>Email<input ng-model="adminCtrl.emailInput" type="email"></label>
                <label>Password<input ng-model="adminCtrl.passwordInput" type="password"></label>
                <br/>
                <label>Confirm Password<input ng-model="adminCtrl.confirmPasswordInput" type="password"></label>
                <br/>
            </form>
            <button class="btn btn-primary" ng-click="adminCtrl.upsertUser()">Submit</button>
            <button class="btn btn-danger" ng-click="adminCtrl.cancelForm()">Cancel</button>
        </div>
    </div>
</div>