<div>
  <h1 mat-dialog-title>Property Editor</h1>
  <mat-dialog-content>
    <form [formGroup]="propertyForm">
      Property Name :
      <input type="text"
             formControlName="propertyName"
             class="pull-right">
      <br/>
      Template :
      <textarea matInput
                MatTextareaAutosize
                formControlName="template"></textarea>
      <br/>
      Input type :
      <input type="text"
             formControlName="inputType">
      <br/>
      Default Value:
      <input type="text" formControlName="default">
      <hr/>
      Preview Form Element : <button (click)="renderHtml()">Render</button>
      <br/>
      <div [innerHTML]="templateInput | sanitizeHtml"></div>
    </form>

<p>{{propertyForm.value | json }}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button
            (click)="saveProperty()">
    Save
    </button>
    <button mat-raised-button
            (click)="close()">
    Cancel
    </button>
  </mat-dialog-actions>
</div>
