<div>
  <h1 mat-dialog-title>Property Editor</h1>
  <mat-dialog-content>
    <form [formGroup]="propertyForm">
      Property Name :
      <input type="text"
             formControlName="propertyName"
             class="pull-right">
      <br/>
      Default Value:
      <input type="text" formControlName="default">
      <hr/>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button
            (click)="saveProperty()">
    Save
    </button>
    <button mat-raised-button
            (click)="close()">
    Cancel
    </button>
  </mat-dialog-actions>
</div>
