.lens-bar {
  height: 50px;
  width: 100%;
}
.history-lens {
  color: white;
  background : #85144b;
  height : 50px;
  width: 100%;
  padding: 10px 5px 5px 10px;
}
.branch-lens {
  color: white;
  background : #001f3f;
  height : 50px;
  width: 100%;
  padding : 10px 5px 5px 10px; 
}
.sphere-lens {
  color: white;
  background : #EE7600;
  height : 50px;
  width: 100%;
  padding : 10px 5px 5px 10px; 
}