<div style="height: 7%; width: 100%; display: flex; flex-direction: row;">
  <button mat-icon-button (click)="rootSubject.next(getRow(absoluteRoot.item.id))"
    [disabled]="!rootSubject.getValue() || (rootSubject.getValue().object === absoluteRoot)"
    matTooltip="Changes the root to be the absolute root"
    class="flex-right-align">
    <mat-icon class="fa fa-arrow-circle-o-up"></mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="filterMenu"
    [ngClass]="{ 'highlight': filterSubject.getValue() }">
    <mat-icon class="fa fa-filter"></mat-icon>
  </button>
  <mat-menu #filterMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="openFilterDialog()">
      <mat-icon class="fa fa-filter"></mat-icon>
      Edit Filter
    </button>
    <button mat-menu-item (click)="filterSubject.next(undefined)">
      <mat-icon class="fa fa-times"></mat-icon>
      Remove Filter
    </button>
  </mat-menu>
</div>
<div style="height: 12%; width: 100%;">
  <div class="kt-head kth-cell">
    Root
  </div>
  <ng-container *ngIf="rootSubject.getValue()">
    <tree-row [treeRow]="rootSubject.getValue()" [images]="images"
      [rowActions]="rootRowActions" [menuActions]="rootMenuActions">
    </tree-row>
  </ng-container>
</div>
<div style="height: 81%; width: 100%;">
  <div class="kt-head kth-cell">
    Descendants
  </div>
  <div class="kt-body">
    <virtual-scroll #tree [items]="visibleRows">
      <tree-row *ngFor="let row of tree.viewPortItems"
        [treeRow]="row" [rowActions]="rowActions"
        [images]="images" [menuActions]="menuActions">
      </tree-row>
    </virtual-scroll>
  </div>
</div>
