<div class="top-bar">
  <mat-form-field>
    <input matInput #searchInput type="text" placeholder="Search"
      [(ngModel)]="searchCriterion.value"
      (input)="searchStringChanged(searchInput.value)"/>
  </mat-form-field>
  <button mat-icon-button
    (click)="openFilterDialog(filterSubject.getValue()).subscribe()"
    [ngClass]="{ 'highlight': filterSubject.getValue() }"
    matTooltip="Edit filter">
    <mat-icon class="fa fa-filter"></mat-icon>
  </button>
  <button mat-icon-button [disabled]="!(filterSubject | async)"
    (click)="removeFilter()" matTooltip="Remove filter">
    <mat-icon class="fa fa-eraser"></mat-icon>
  </button>
  <button mat-icon-button (click)="rootSubject.next(absoluteRoot)"
    [disabled]="(rootSubject | async) === absoluteRoot"
    matTooltip="Changes the root to be the absolute root"
    class="flex-right-align">
    <mat-icon class="fa fa-arrow-circle-o-up"></mat-icon>
  </button>
</div>
<div style="height: 12%; width: 100%;">
  <div class="kt-head kth-cell">
    Root
  </div>
  <ng-container *ngIf="rootSubject.getValue()">
    <div class="kt-body">
      <tree-row [treeRow]="getRootRow()" [images]="images"
        [rowActions]="rootRowActions" [menuActions]="rootMenuActions">
      </tree-row>
    </div>
  </ng-container>
</div>
<div style="height: 81%; width: 100%;">
  <div class="kt-head kth-cell">
    Descendants
  </div>
  <div class="kt-body">
    <virtual-scroll #tree [items]="visibleRows">
      <tree-row *ngFor="let row of tree.viewPortItems"
        [treeRow]="row" [rowActions]="rowActions"
        [images]="images" [menuActions]="menuActions">
      </tree-row>
    </virtual-scroll>
  </div>
</div>
