<div>
  <div style="height: 400px;">
    <div id="projectSelectorContainer" style="height: 100%; width : 100%;">
      <div class="project-list" style="height : 100%; overflow:auto; width: 20%;">
        <mat-list>
          <mat-list-item *ngFor="let project of projectList"
                         (click)="selectProject(project)">
                         {{project.project.item.name}}
          </mat-list-item>
        </mat-list>
      </div>
      <div class="project-preview" style="height: 100%; overflow: auto; width: 70%;">
        <mat-card *ngIf="selectedProject && !multiSelect">
          <mat-card-title class="panel-heading">
            <span>{{selectedProject.project.item.name}}</span>
          </mat-card-title>
          <mat-card-content>
            <h5>Description :</h5> {{selectedProject.project.item.description}}
            <h5>Project Items : </h5>
            <div *ngFor="let projectItem of selectedProject.project.relations.references.Project.projectItems">
              {{projectItem.item.name}}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <ng-container>
    <div class="pull-right">
      <mat-dialog-actions>
        <button mat-raised-button (click)="closeDialog()">
          Cancel
        </button>
        <button mat-raised-button (click)="confirmProject()">
          Confirm
        </button>
      </mat-dialog-actions>
    </div>
  </ng-container>