.project-list {
  display : inline-block;
}

.project-preview {
  display : inline-block;
}

.project-dialog-title {
  background-color : rgb(0, 0, 92);
  color : whitesmoke;
  padding : 10px;
  position : sticky;
}