<div id="header">
  <span id="title"> Report Definitions </span>
  <button mat-button (click)="addReport()" *ngIf="repoLoaded">Add Report</button>
</div>
<div id="report-container">
  <mat-list>
    <mat-list-item *ngFor="let report of reportDefs" class="report-item" (click)="selectedReport = report">
      {{report.item.name}}
      <img *ngIf="report.dirty" src="../../../assets/icons/versioncontrol/dirty.ico">
      <hr/>
    </mat-list-item>
  </mat-list>
</div>
<div id="definition-editor" *ngIf="selectedReport">
  <h2>{{selectedReport.item.name}}
    <img *ngIf="selectedReport.dirty" src="../../../assets/icons/versioncontrol/dirty.ico">
    <button mat-button (click)="openPreview(selectedReport);">
      <i class="fa fa-search"></i> Preview</button>
    <button mat-button (click)="saveReport()">
      <i class="fa fa-save"></i> Save
    </button>
    <button mat-button class="disable-button" (click)="deleteReport()">
      <i class="fa fa-trash"></i> Delete
    </button>
  </h2>
  <label>Report name: </label>
  <input mat-input [(ngModel)]="selectedReport.item.name" />
  <div id="type-selector">
    <div style="font-size: larger">
      Included Types
      <button mat-button class="enable-button" (click)="enableAllTypes(selectedReport)">All</button>
      <button mat-button class="disable-button" (click)="disableAllTypes(selectedReport)">None</button>
    </div>
    <mat-list id="type-list">
      <mat-list-item [ngClass]="{'selected-type' : selectedType === typeInfo[type]}" *ngFor="let type of typeInfo | mapKey" style="width: 100%;">
        <mat-slide-toggle [checked]="selectedReport.item.typeFormats[type].active" (change)="toggleType(selectedReport, typeInfo[type])"></mat-slide-toggle>
        <span class="type-info" (click)="selectedType = typeInfo[type]; selectedTypeFormat = selectedReport.item.typeFormats[type];">{{typeInfo[type].dataModelProxy.item.name}}</span>
        <hr/>
      </mat-list-item>
    </mat-list>

    <div id="type-specification" *ngIf="selectedType">
      <div id="type-header">
        <span style="font-size: larger; font-weight: bold">{{selectedType.dataModelProxy.item.name}}</span>
        <span *ngIf="selectedReport.item.typeFormats[selectedType.dataModelProxy.item.name].active">(Active
          <i style="color: green; font-size: small" class="fa fa-circle"></i>)</span>
        <span *ngIf="!selectedReport.item.typeFormats[selectedType.dataModelProxy.item.name].active">(Inactive
          <i style="color: red; font-size: small" class="fa fa-circle"></i>)</span>
        <hr/>
        <span style="font-size : large;" id="property-list">Properties</span>
        <button mat-button class="enable-button" (click)="enableAllProperties()">Enable All</button>
        <button mat-button class="disable-button" (click)="disableAllProperties()">Disable All</button>
      </div>

      <div id="property-toggle">
        <mat-list>
          <mat-list-item *ngFor="let property of selectedType.fields  | mapKey">
            <mat-slide-toggle [checked]="selectedReport.item.typeFormats[selectedType.dataModelProxy.item.name].properties[property].active"
              (change)="toggleProperty(selectedType.dataModelProxy.item.name, property)"></mat-slide-toggle>
            <span class="type-info"> {{property}}</span>
            <hr/>
          </mat-list-item>
        </mat-list>
      </div>

      <div id="order-selector">
        <div class="order-title">Report Order</div>
        <div id="order-list">
          <div *ngFor="let orderedProperty of selectedTypeFormat.orderedProperties">
            <div class="order-buttons">
              <i (click)="swapPosition(selectedTypeFormat.orderedProperties, 'up', orderedProperty)" class="fa fa-caret-up order-button"></i>
              <br/>
              <i (click)="swapPosition(selectedTypeFormat.orderedProperties, 'down', orderedProperty)" class="fa fa-caret-down order-button"></i>
            </div>
              {{orderedProperty}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
