#title {
  font-size: x-large;
  font-weight: bold;
  height : 10%;
}

#report-container {
  width: 20%;
  height: 90%;
  border: 2px black solid;
  overflow : auto;
  display: inline-block;
}

#definition-editor {
  width: 70%;
  display: inline-block;
  position : absolute;
  padding-left : 10px;
  height : 90%;
}

.report-item {
  width : 100%;
  height : 50px;
  border-bottom : 1px black solid;
  cursor: pointer;
}

#type-list {
  overflow : auto;
  width : 20%;
  display: inline-block;
  height : 90%;
}

#type-info {
  width : 100%;
  padding : 10px;
  height : 100%;
}

#type-selector {
  height : 90%;
  border : 1px solid black;
}

.selected-type {
  border : 2px solid green;
}

#type-specification {
  width : 75%;
  display : inline-block;
  position : absolute;
  border : 1px solid black;
  height: 80%;
  overflow: auto;
}
