#title {
  font-size: x-large;
  font-weight: bold;
  height : 10%;
}

#report-container {
  width: 20%;
  height: 90%;
  border: 2px black solid;
  overflow : auto;
  display: inline-block;
}

#definition-editor {
  width: 60%;
  display: inline-block;
  position : absolute;
  padding-left : 10px;
  height : 90%;
}

.report-item {
  width : 100%;
  height : 50px;
  border-bottom : 1px black solid;
  cursor: pointer;
}

#type-list {
  overflow : auto;
  width : 20%;
  display: inline-block;
  height : 90%;
}

#type-info {
  width : 100%;
  padding : 10px;
  height : 100%;
}

#type-selector {
  height : 90%;
  border : 1px solid black;
}

.selected-type {
  border : 2px solid green;
}

#type-specification {
  width : 75%;
  display : inline-block;
  position : absolute;
  border-left : 1px solid black;
  height: 80%;
  overflow: auto;
}

#property-list {
  display: inline-block;
}

#order-selector {
  width : 30%;
  display: inline-block;
  height : 60%;
  overflow: auto;
  position: fixed;
  border-left: .5px solid lightslategray;
  padding: 10px;
  padding-top : 0px;
}

#property-toggle {
  width : 45%;
  display: inline-block;
  height : 80%;
  overflow: auto;
}

#type-header {
  position : sticky;
  top : 0;
  background-color: white;
  z-index: 10;
  border: 1px solid lightgray;
}

.enable-button {
  background-color : forestgreen;
  color : white;
  font-weight: bold;
}

.disable-button {
  background-color : indianred;
  color: white;
  font-weight: bold;
}

.order-button {
  cursor: pointer;
}

.order-buttons {
  display : inline-block;
}

.order-title {
  font-size : large;
  position: sticky;
  top: 0;
  background-color: white;
  z-index : 10;
  width : 100%;
  height : 40px;
  padding-top : 10px;
}
