<mat-horizontal-stepper [linear]="true" #createStepper>
  <mat-step label="Select Type" >
    <mat-card>
      <mat-card-content>
        <mat-grid-list cols="3" 
                      rowHeight="50px"
                      gutterSize="5px" 
                      class="left-content"
                      style="display: inline-block;">
          <mat-grid-tile *ngFor="let type of types"> 
            <mat-chip color="primary" 
                      [selectable]="true" 
                      (click)="onTypeSelected(type, createStepper)"
                      (dblClick)="onTypeSelected(type, createStepper)">
            {{ type.item.name}}
            </mat-chip>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-card *ngIf="selectedType" class="right-content" style="display: inline-block;">
          <mat-card-title class="panel-heading">
            <span>{{selectedType.item.name}}</span>
          </mat-card-title>
          <mat-card-content>
            {{selectedType.item.description}}
          </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button matStepperNext [disabled]="!selectedType">Next</button>
    </mat-card-actions>
  </mat-card>
  </mat-step>
    <mat-step label="Parent">
      <mat-tab-group class="left-content" style="display:inline-block">
        <mat-tab label="Tree">
          <tree-root [nodes]="rootProxy.children" options="treeOptions">
              <ng-template #treeNodeTemplate let-node let-index="index">
                <td (click)="selectedParent = node.data"
                    matTooltip="{{node.data.item.description | truncate : 150}}">{{node.data.item.name}}</td>
              </ng-template>
            </tree-root>
        </mat-tab>
        <mat-tab label="Selector">
          <input matInput type="text" placeholder="Enter Proxy" [formControl]="proxySearchControl"
             [matAutocomplete]="proxySelector"/> 
        <mat-autocomplete #proxySelector="matAutocomplete"  (optionSelected)="onProxySelected($event)" style="width: 400px;">
          <mat-option *ngFor="let proxy of (filteredProxies | async)"
            [value]="proxy">
            {{proxy.item.name}}
          </mat-option>
        </mat-autocomplete>
        </mat-tab>
        <mat-tab label="Recent">
          <div *ngFor="let proxy of recentProxies" 
               (click)="selectedParent = proxy">
            {{proxy.item.name}}
          <hr/>
          </div>
        </mat-tab>
      </mat-tab-group>
    <mat-card *ngIf="selectedParent" class="right-content" style="display: inline-block;">
      <mat-card-title class="panel-heading">
        <span>{{selectedParent.item.name}}</span>
      </mat-card-title>
      <mat-card-content>
        {{selectedParent.item.description}}
      </mat-card-content>
  </mat-card>
  <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
  </div>
    </mat-step>
    <mat-step label="Details">
        <details-form #editor 
          [createInfo]="{type: selectedType, parent: selectedParent.item.id}" 
          [disabled]="false"
          (formGroupUpdated)="onFormGroupUpdated($event)"></details-form> 
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </div>
    </mat-step>
    <mat-step label="Review">
    Review form data
    <div *ngIf="createFormGroup">
      {{this.createFormGroup.value | json }}
    </div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="createItem()">Create</button>
    </mat-step>
</mat-horizontal-stepper>