<mat-horizontal-stepper [linear]="true" #createStepper id="buildProcessStepper">
  <mat-step label="Details">
    <div class="step-container">
      <mat-card>
        <mat-card-content>
          <format-object-editor #formatObjectEditor
            [type]="(proxyPlaceholderStream | async).model.item"
            [object]="(proxyPlaceholderStream | async).item"
            [formatDefinitionType]="FormatDefinitionType.DEFAULT"
            [allowKindChange]="true" [allowKindNarrowingOnly]="false">
          </format-object-editor>
        </mat-card-content>
        <mat-card-actions style="display: flex; flex-direction: row;">
          <button mat-button matStepperNext [disabled]="!formatObjectEditor.
            isObjectValid()" style="margin-left: auto;">
            Next
          </button>
          <button mat-button (click)="cancel()">Cancel</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-step>
  <mat-step label="Review">
    <div class="step-container">
      <mat-card>
        <mat-card-content>
          Review form data
          {{proxyPlaceholderStream.getValue().item | json }}
          <div *ngIf="errorMessage">
            ERROR!!!!
            <pre>
              {{errorMessage | json}}
            </pre>
            !!!!!
          </div>
        </mat-card-content>
        <mat-card-actions style="display: flex; flex-direction: row;">
          <button mat-button (click)="clearError()" matStepperPrevious
            style="margin-left: auto;">
            Back
          </button>
          <button mat-button [disabled]="isDisabled" (click)="createItem()">
            Create
          </button>
          <button mat-button (click)="cancel()">Cancel</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-step>
</mat-horizontal-stepper>
