@import '../utils/variables';

.admin-screen {
  height: 100%;
  
  #adminPanel {
    height: 100%;
    #admin-view-wrapper {
      height: calc(100% - 65px);
      overflow:auto;
    }
  }
  
}

#repository-screen {

  .repository-panel {
    margin: 5px;
  }
}

.version-control-admin {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.users-screen {

  overflow: auto;
  width: 100%;
  
  .panel-body {
    overflow: auto;
  }

  #admin-user-list {
    float: left;
    width: 45%;
    height: 100%;

    .card-container {
      $card-size: 250px;
      perspective: 400px;
      .card {
        width: $card-size;
        margin: 20px;
        transition: all 0.6s ease;
        transform-style: preserve-3d;
        border-radius: 30px;

        .front {
          background-color: $primaryColor;
          backface-visibility: hidden;
          height: $card-size;
          border-radius: 30px;
          .title {
            padding: 10px;
            font-size: 24px;
            color: white;
            background-color: $primaryColor + 100
          }

          .body {
            color: white;
            padding: 10px;
          }
          .footer {
            position: absolute;
            bottom: 0;
            width: $card-size;
            padding: 10px;
            background-color: $primaryColor + 200;
            color: black;
          }
        }

        .back {
          border-radius: 30px;
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px;
          height: $card-size;
          width: $card-size;
          transform: rotateY(180deg);
          background-color: $primaryColor;
          backface-visibility: hidden;
          color: white;
        }

        &:hover {
          -webkit-transition-delay: .6s;
          -moz-transition-delay: .6s;
          -o-transition-delay: .6s;
          -ms-transition-delay: .6s;
          transition-delay: .6s;
          transform: rotateY(180deg);
        }
      }
    }
  }

  #admin-user-form {

    float: right;
    width: 45%;
    position: fixed;
    top: 200px;
    right: 0px;
    * {
      margin: 5px;
    }
  }

}