<div>
  <div class="panel-heading">
    <span>New:</span>
  </div>
  <mat-form-field>
    <mat-select id="typeSelector" placeholder="Type">
      <mat-option *ngFor="let type of types" [value]="type">
        {{type.item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button id="createButton" (click)="navigate('kohese.explore.create.new', {})">
    Create
  </button>
  <div class="panel-heading">
    <span>Import:</span>
  </div>
  <div class="panel-body">
    <input type="file" ng2FileSelect [uploader]="uploader" multiple="true"/>
    <br/>
    <button mat-raised-button (click)="itemRepository.importFiles(uploader.queue, route.snapshot.paramMap.get('parentId'))"
      class="btn btn-primary">Import</button>
  </div>
</div>
