<mat-card>
    <mat-card-title>
      {{assignment.item.name}} (Completed)
    </mat-card-title>
    <mat-card-content>
      {{assignment.item.details | truncate : 200}}
      Estimated Start : {{assignment.item.estimatedCompletion | date}} <br>
      Estimated Completion : {{assignment.item.estimatedCompletion | date}} <br>
      Estimated Hours : {{assignment.item.estimatedHours }} <br>
      Completed On : {{assignment.item.actualCompletion | date}} <br>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="navigate('Explore', {id: assignment.item.id})">Details</button>
    </mat-card-actions>
  </mat-card>
  