<div ng-show="navCtrl.userLoggedIn" class="navbar-default sidebar" role="navigation" ng-controller="NavigationController as navCtrl">
    <div class="sidebar-nav navbar-collapse">
        <div class="static-side-panel">
            <i ng-click="navCtrl.toggleSideBar()" class="fa fa-search fa-2x"></i>
        </div>
        <ul class="nav side-pane">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" ng-model="navCtrl.searchInput" placeholder="Search...">
                                <span class="input-group-btn">
                                <button
                                        ng-click="navCtrl.search(navCtrl.searchInput);"
                                        class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            <h3>General:</h3>
            <li>
                <div ng-click="navCtrl.search('')"><i class="fa fa-dashboard fa-fw"></i> ALL</div>
            </li>

            <h3>Status:</h3>
            <li>
                <div ng-click="navCtrl.search('[BACKLOG]')"><i class="fa fa-dashboard fa-fw"></i> BACKLOG</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[READY]')"><i class="fa fa-dashboard fa-fw"></i> READY</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[IN PROGRESS]')"><i class="fa fa-dashboard fa-fw"></i> IN PROGRESS</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[DONE]')"><i class="fa fa-dashboard fa-fw"></i> DONE</div>
            </li>

            <h3>Users:</h3>
            <li>
                <div ng-click="navCtrl.search('[DAVID]')"><i class="fa fa-user fa-fw"></i> DAVID</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[J]')"><i class="fa fa-user fa-fw"></i> J</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[JOSH]')"><i class="fa fa-user fa-fw"></i> JOSH</div>
            </li>


    </div>

</div>

