<div ng-show="navCtrl.userLoggedIn" class="navbar-default sidebar" role="navigation"
     ng-controller="NavigationController as navCtrl">
    <div class="sidebar-nav navbar-collapse">
        <div class="static-side-panel ">
            <i ng-click="navCtrl.toggleSideBar()" class="fa fa-search fa-2x sidebar-button"></i>
        </div>
        <ul class="nav side-pane">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" ng-model="navCtrl.searchInput" placeholder="Search...">
                                <span class="input-group-btn">
                                <button
                                        ng-click="navCtrl.search(navCtrl.searchInput);"
                                        class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            <h3>General:</h3>
            <li>
                <div ng-click="navCtrl.search('')"><i class="fa fa-dashboard fa-fw"></i> ALL</div>
            </li>

            <h3>Decisions:</h3>
            <li>
                <div ng-click="navCtrl.search('[Proposed]')"><i class="fa fa-dashboard fa-fw"></i> Proposed</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[Approved]')"><i class="fa fa-dashboard fa-fw"></i> Approved</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[In Analysis]')"><i class="fa fa-dashboard fa-fw"></i> In Analysis</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[Deferred]')"><i class="fa fa-dashboard fa-fw"></i> Deferred</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[In Appeal]')"><i class="fa fa-dashboard fa-fw"></i> In Appeal</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[Dissaproved]')"><i class="fa fa-dashboard fa-fw"></i> Dissaproved</div>
            </li>

            <h3>Actions:</h3>
            <li>
                <div ng-click="navCtrl.search('[Assigned]')"><i class="fa fa-dashboard fa-fw"></i> Assigned</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[Accepted]')"><i class="fa fa-dashboard fa-fw"></i> Accepted</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[In Verification]')"><i class="fa fa-dashboard fa-fw"></i> In Verification</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[Pending Reassign]')"><i class="fa fa-dashboard fa-fw"></i> Pending Reassign</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[Verified]')"><i class="fa fa-dashboard fa-fw"></i> Verified</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[Closed]')"><i class="fa fa-dashboard fa-fw"></i> Closed</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[Pending Redisposition]')"><i class="fa fa-dashboard fa-fw"></i> Pending Redisposition</div>
            </li>

            <h3>Users:</h3>
            <li>
                <div ng-click="navCtrl.search('[DAVID]')"><i class="fa fa-user fa-fw"></i> DAVID</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[J]')"><i class="fa fa-user fa-fw"></i> J</div>
            </li>
            <li>
                <div ng-click="navCtrl.search('[JOSH]')"><i class="fa fa-user fa-fw"></i> JOSH</div>
            </li>


    </div>

</div>

