<div ng-show="navCtrl.userLoggedIn" class="navbar-default sidebar" role="navigation"
     ng-controller="NavigationController as navCtrl">
    <div class="sidebar-nav navbar-collapse">
        <div class="static-side-panel ">
            <i ng-click="navCtrl.toggleSideBar()" class="fa fa-search fa-2x sidebar-button"></i>
        </div>
        <ul class="nav side-pane">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" ng-model="navCtrl.searchInput" placeholder="Search...">
                                <span class="input-group-btn">
                                <button
                                        ng-click="navCtrl.search(navCtrl.searchInput);"
                                        class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
        </ul>
    </div>

</div>
