<span id="optionsContainer">
  <mat-checkbox (change)="toggleBaseOnRight()" class="flex-right-align">
    Base On Right
  </mat-checkbox>
  <mat-checkbox (change)="filterFields($event.checked)">
    Show Differences Only
  </mat-checkbox>
</span>
<div style="height: 85%; width: 100%;">
  <split direction="horizontal">
    <split-area #leftSplitArea [size]="50">
      <ng-container *ngIf="baseOnRight">
        <div style="height: 100%; width: 100%;">
          <span class="header-span">
            <span style="width: 50%;">
              <mat-form-field style="padding: 3px; width: 100%;">
                <mat-select placeholder="Version"
                  [value]="selectedChangeVersion"
                  [disabled]="!(selectedChangeStream | async) || (1 === changeVersions.length)"
                  (selectionChange)="whenSelectedChangeVersionChanges($event.value)">
                  <mat-option *ngFor="let version of changeVersions"
                    [value]="version.commit"
                    matTooltip="{{version.message}} - {{version.date | date:'long'}}"
                    [matTooltipDisabled]="!version.date">
                    {{version.message}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </span>
            <span class="button-span">
              <button mat-icon-button class="flex-right-align"
                (click)="openProxySelectionDialog(selectedChangeStream)">
                <mat-icon class="fa fa-mouse-pointer"></mat-icon>
              </button>
              <button mat-icon-button
                [ngClass]="{ 'highlight': (changeEditableStream | async) }"
                [disabled]="!(allowChangeEditing && selectedChangeStream.getValue())"
                (click)="toggleEditability(changeEditableStream)">
                <mat-icon class="fa fa-edit"></mat-icon>
              </button>
              <button mat-icon-button [disabled]="!(changeEditableStream | async)"
                (click)="saveCurrentProxy(selectedChangeStream)">
                <mat-icon class="fa fa-save"></mat-icon>
              </button>
            </span>
          </span>
          <ng-container *ngIf="(selectedChangeStream | async)">
            <div class="field-editor-container">
              <details-form #changeDetailsForm
                [type]="(selectedChangeStream | async).model.type"
                [proxyStream]="selectedChangeStream"
                [editableStream]="changeEditableStream"
                [fieldFilterStream]="fieldFilterStream">
              </details-form>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="!baseOnRight">
        <div style="height: 100%; width: 100%;">
          <span class="header-span">
            <span style="width: 50%;">
              <mat-form-field style="padding: 3px; width: 100%;">
                <mat-select placeholder="Version"
                  [value]="selectedBaseVersion"
                  [disabled]="!(selectedBaseStream | async) || (1 === baseVersions.length)"
                  (selectionChange)="whenSelectedBaseVersionChanges($event.value)">
                  <mat-option *ngFor="let version of baseVersions"
                    [value]="version.commit"
                    matTooltip="{{version.message}} - {{version.date | date:'long'}}"
                    [matTooltipDisabled]="!version.date">
                    {{version.message}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </span>
            <span class="button-span">
              <button mat-icon-button class="flex-right-align"
                (click)="openProxySelectionDialog(selectedBaseStream)">
                <mat-icon class="fa fa-mouse-pointer"></mat-icon>
              </button>
              <button mat-icon-button
                [ngClass]="{ 'highlight': (baseEditableStream | async) }"
                [disabled]="!(allowBaseEditing && selectedBaseStream.getValue())"
                (click)="toggleEditability(baseEditableStream)">
                <mat-icon class="fa fa-edit"></mat-icon>
              </button>
              <button mat-icon-button [disabled]="!(baseEditableStream | async)"
                (click)="saveCurrentProxy(selectedBaseStream)">
                <mat-icon class="fa fa-save"></mat-icon>
              </button>
            </span>
          </span>
          <ng-container *ngIf="(selectedBaseStream | async)">
            <div class="field-editor-container">
              <details-form #baseDetailsForm
                [type]="(selectedBaseStream | async).model.type"
                [proxyStream]="selectedBaseStream"
                [editableStream]="baseEditableStream"
                [fieldFilterStream]="fieldFilterStream">
              </details-form>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </split-area>
    <split-area #rightSplitArea [size]="50">
      <ng-container *ngIf="baseOnRight">
        <div style="height: 100%; width: 100%;">
          <span class="header-span">
            <span style="width: 50%;">
              <mat-form-field style="padding: 3px; width: 100%;">
                <mat-select placeholder="Version"
                  [value]="selectedBaseVersion"
                  [disabled]="!(selectedBaseStream | async) || (1 === baseVersions.length)"
                  (selectionChange)="whenSelectedBaseVersionChanges($event.value)">
                  <mat-option *ngFor="let version of baseVersions"
                    [value]="version.commit"
                    matTooltip="{{version.message}} - {{version.date | date:'long'}}"
                    [matTooltipDisabled]="!version.date">
                    {{version.message}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </span>
            <span class="button-span">
              <button mat-icon-button class="flex-right-align"
                (click)="openProxySelectionDialog(selectedBaseStream)">
                <mat-icon class="fa fa-mouse-pointer"></mat-icon>
              </button>
              <button mat-icon-button
                [ngClass]="{ 'highlight': (baseEditableStream | async) }"
                [disabled]="!(allowBaseEditing && selectedBaseStream.getValue())"
                (click)="toggleEditability(baseEditableStream)">
                <mat-icon class="fa fa-edit"></mat-icon>
              </button>
              <button mat-icon-button [disabled]="!(baseEditableStream | async)"
                (click)="saveCurrentProxy(selectedBaseStream)">
                <mat-icon class="fa fa-save"></mat-icon>
              </button>
            </span>
          </span>
          <ng-container *ngIf="(selectedBaseStream | async)">
            <div class="field-editor-container">
              <details-form #baseDetailsForm
                [type]="(selectedBaseStream | async).model.type"
                [proxyStream]="selectedBaseStream"
                [editableStream]="baseEditableStream"
                [fieldFilterStream]="fieldFilterStream">
              </details-form>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="!baseOnRight">
        <div style="height: 100%; width: 100%;">
          <span class="header-span">
            <span style="width: 50%;">
              <mat-form-field style="padding: 3px; width: 100%;">
                <mat-select placeholder="Version"
                  [value]="selectedChangeVersion"
                  [disabled]="!(selectedChangeStream | async) || (1 === changeVersions.length)"
                  (selectionChange)="whenSelectedChangeVersionChanges($event.value)">
                  <mat-option *ngFor="let version of changeVersions"
                    [value]="version.commit"
                    matTooltip="{{version.message}} - {{version.date | date:'long'}}"
                    [matTooltipDisabled]="!version.date">
                    {{version.message}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </span>
            <span class="button-span">
              <button mat-icon-button class="flex-right-align"
                (click)="openProxySelectionDialog(selectedChangeStream)">
                <mat-icon class="fa fa-mouse-pointer"></mat-icon>
              </button>
              <button mat-icon-button
                [ngClass]="{ 'highlight': (changeEditableStream | async) }"
                [disabled]="!(allowChangeEditing && selectedChangeStream.getValue())"
                (click)="toggleEditability(changeEditableStream)">
                <mat-icon class="fa fa-edit"></mat-icon>
              </button>
              <button mat-icon-button [disabled]="!(changeEditableStream | async)"
                (click)="saveCurrentProxy(selectedChangeStream)">
                <mat-icon class="fa fa-save"></mat-icon>
              </button>
            </span>
          </span>
          <ng-container *ngIf="(selectedChangeStream | async)">
            <div class="field-editor-container">
              <details-form #changeDetailsForm
                [type]="(selectedChangeStream | async).model.type"
                [proxyStream]="selectedChangeStream"
                [editableStream]="changeEditableStream"
                [fieldFilterStream]="fieldFilterStream">
              </details-form>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </split-area>
  </split>
</div>
<ng-container *ngIf="dialogParameters">
  <div class="pull-right">
    <mat-dialog-actions>
      <button mat-raised-button [mat-dialog-close]="0">
        Close
      </button>
    </mat-dialog-actions>
  </div>
</ng-container>