@import '../../../app.component';

#optionsContainer {
  height: 5%;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  
  * {
    padding: 3px;
  }
}

split {
  .header-span {
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
    .button-span {
      width: 50%;
      margin-left: auto;
      display: flex;
      flex-direction: row;
    }
  }
  
  .field-editor-container {
    height: 88%;
    width: 100%;
  }
}
