<div style="height: 100%; width: 100%; overflow: auto;">
  <ng-container *ngIf="comparison">
    <ng-container
      *ngFor="let property of Array.from(comparison.propertyComparisonMap.
        keys())">
      <ng-container
        *ngIf="(!property.hidden && (!(showDifferencesOnlySubject | async) || (
          comparison.propertyComparisonMap.get(property).length > 1) || (
          comparison.propertyComparisonMap.get(property)[0].added ||
          comparison.propertyComparisonMap.get(property)[0].removed)))">
        <div style="padding: 0px 3px;">
          <span>
            {{property.name}}:
          </span>
          <ng-container
            *ngFor="let change of comparison.propertyComparisonMap.get(
              property)">
            <span [ngStyle]="getChangeStyle(change)">
              {{change.value}}
            </span>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="1 === comparison.numberOfHiddenProperties">
      <div>
        1 hidden property changed
      </div>
    </ng-container>
    <ng-container *ngIf="comparison.numberOfHiddenProperties > 1">
      <div>
        {{comparison.numberOfHiddenProperties}} hidden properties changed
      </div>
    </ng-container>
  </ng-container>
</div>