<div *ngFor="let column of columns" class="doc-column"[ngClass]="{'two-columns' : numColumns === 2, 'three-columns' : numColumns === 3}">
    <div *ngFor="let property of column.contents">
        <div *ngIf="['text', 'user-selector','date'].includes(property.kind)">
          <label *ngIf="!property.hideLabel && !property.customLabel" style="font-weight: bold;">{{property.propertyName}} : </label>
          <label *ngIf="!property.hideLabel && property.customeLabel" style="font-weight: bold;">{{property.customLabel}} : </label>
          <div *ngIf="!editable">{{proxy.item[property.propertyName]}}</div>
          <div *ngIf="editable">
            <textarea style="background-color: white;" matInput matTextareaAutosize #description [(ngModel)]="proxy.item[property.propertyName]"></textarea>
          </div>
        </div>
        <div *ngIf="property.kind === 'markdown'">
          <kd-markdown [property]="property" [editable]="editable" [proxy]="proxy" [container]="'columns'"></kd-markdown>
        </div>
        <div *ngIf="property.kind === 'proxy-selector'">
            <kd-proxy-selector [property]="property" [editable]="editable" [proxy]="proxy"
                              [multiselect]="property.views['form'].inputType.options['allowMultiSelect']"></kd-proxy-selector>
        </div>
        <div *ngIf="property.kind === 'state-editor'">
            <k-state-editor [itemProxy]="proxy" (stateChanged)="stateChanged($event.fieldName, $event.candidate)"></k-state-editor>
        </div>
        <div *ngIf="property.kind === 'select'">
          Select not implemented
          <!-- <label *ngIf="!property.hideLabel" style="font-weight: bold;">{{property.propertyName}} : </label> -->
        </div>
        <div *ngIf="property.kind === 'read-only'">
          <label *ngIf="!property.hideLabel" style="font-weight: bold;">{{property.propertyName}} : </label>
          <div *ngIf="!editable">{{proxy.item[property.propertyName]}}</div>
          <div *ngIf="editable">
            {{property.propertyName}} not available for editing
          </div>
        </div>
      </div>

</div>
