@import '../../../app.component';


.kt-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 100%;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 20px;
  line-height: 20px;
  border-bottom: 2px solid #ddd;

  .fa-times {
    &:hover {
      cursor: pointer;
    }
  }
}


.kt-item:hover {
  background-color: #e5e5e5;
}


.no-children {
  padding-left: 15px !important;
}

.no-icon {
  padding-left: 17px !important;
}

.trim-info {
  max-width: 25em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.trim-info-visible {
  max-width: 25em;
  white-space: pre-wrap;
  position: relative;
}

.add-button {
  color: #008000;
}

.delete-button {
  color: $secondaryColor + 100;
}

#rightSpan {
  margin-left: auto;
  flex: 0 0 auto;
}

.kt-icon {
  cursor: pointer;
  padding : 5px;
}


