<div class="panel">
  <div *ngIf="!selectedType">
      Please select a type to edit
  </div>
  <form *ngIf="selectedType"
         [formGroup]="selectedTypeForm"
         id="editor-container">
    <div id="base-editor">
      <h1>
          Type editor :
      <button mat-icon-button (click)="upsertType()">
          <i class="fa fa-save fa-2x"></i>
        </button>
      </h1>
          <br/>
          <label for="name">Name : </label>
          <input matInput type="text"
                          formControlName="name"
                     label="name" name="model-name">
          <br/>
            <label for="base">Base Class: </label>
            <input type="text" matInput [matAutocomplete]="base"
              formControlName="base" name="base">
          <mat-autocomplete #base="matAutocomplete">
            <mat-option *ngFor="let type of filteredTypes | async" [value]="type">
              {{type}}
            </mat-option>
          </mat-autocomplete>
      </div>

      <h4> Properties : </h4>
      <button mat-button (click)="editProperty()">
        Add Property
      </button>
    <mat-list id="property-list">
       <mat-card *ngFor="let property of viewProxy.item.viewProperties | mapKey">
          <mat-card-content>
              {{property}}
              <br/>
              <!-- <mat-checkbox [(ngModel)]="viewProxy.item.viewProperties[property].required"
                            name="required">
                Required</mat-checkbox>
              <br/>
              Attribute Type :
                <mat-select
                            [(ngModel)]="viewProxy.item.viewProperties[property].type"
                            name="prop-type">
                  <mat-option *ngFor="let type of validPropertyTypes" [value]="type">{{type}}</mat-option>
                </mat-select> -->
                Saving Model not currently implemented. Click edit to modify view.
          </mat-card-content>
          <mat-card-actions>
              <button mat-icon-button (click)="deleteProperty(property)">
                <i class="fa fa-trash"> Delete   </i>
              </button>
              <button mat-icon-button (click)="editProperty(viewProxy.item.viewProperties[property])">
                <i class="fa fa-edit"> Edit</i>
              </button>
          </mat-card-actions>
       </mat-card>
    </mat-list>
  </form>
</div>
