<div>
    <div id="top-action-bar">
        <button ng-click="treeCtrl.expandAll()" class="btn btn-default btn-sm" ng-disabled="!treeCtrl.showAsTree"
                style="margin: 5px">
            Expand All
        </button>
        <button ng-click="treeCtrl.collapseAll()" class="btn btn-default btn-sm" ng-disabled="!treeCtrl.showAsTree"
                style="margin: 5px">
            Collapse All
        </button>
        <i ng-click="treeCtrl.syncLocation()" ng-class="{ 'button-selected' :treeCtrl.locationSynced}" class="btn btn-default btn-sm fa fa-exchange"></i>

    <span class="pull-right">
      <span>Showing {{filteredItems.length}} of {{treeCtrl.newTree.rows.length}}</span>
      <input class="input-sm" type="text" ng-model="treeCtrl.filterString" placeholder="Filter" style="margin: 5px"/>
    </span>
    </div>

    <div>

		<script type="text/ng-template" id="itemTreeRow">
            <div id="{{itemProxy.item.id}}"
            	 class="kt-item level-{{itemProxy.level}}"
                 ng-show="!treeCtrl.hidden[itemProxy.item.id]">
	            <div class="kti-name" ng-style="{'font-weight': 'bold'}">
		          <a style="margin: 8px"> 
                      <i
			             ng-click="treeCtrl.changeVisibilityOn(itemProxy)"
			             ng-init="treeCtrl.collapsed[itemProxy.item.id]=false"
			             ng-class="{'indented kt-icon':treeCtrl.showAsTree, 'glyphicon fa icon-minus glyphicon-minus fa-minus': treeCtrl.showAsTree && (itemProxy.children.length > 0) && !treeCtrl.collapsed[itemProxy.item.id], 'glyphicon fa icon-plus glyphicon-plus fa-plus': treeCtrl.showAsTree && (itemProxy.children.length > 0) && treeCtrl.collapsed[itemProxy.item.id], 'glyphicon glyphicon-list-alt': !(itemProxy.children.length > 0), 'glyphicon glyphicon-th-list': !treeCtrl.showAsTree && (itemProxy.children.length > 0)}">
		               </i>
                  </a> 
                  <span ui-sref="kohese.explore.edit({id:itemProxy.item.id})"
			            ng-class="{'indented kt-label':treeCtrl.showAsTree}"
			            ng-bind-html="(itemProxy.item.name | highlight:treeCtrl.filterString)"
			            ng-click="treeCtrl.updateTab('edit', itemProxy.item.id)">
                  </span>
	            </div>
                <div class="<kti-description>																																																		</kti-description>"
		             ng-class="{'trim-info': !showDescription, 'trim-info-visible': showDescription}"
		             ng-dblclick="showDescription=!showDescription"
		             ng-init="showDescription=false"
		             ng-bind-html="itemProxy.item.description | highlight:treeCtrl.filterString"></div>
	            <div class="kti-cell pull-right">
		             <i class="glyphicon glyphicon-remove  pull-right"
			            ng-click="treeCtrl.removeItem(itemProxy.item)"></i>
                </div>
         </div>

          <div ng-if="itemProxy.children">
            <div class="kt-collection" ng-repeat="itemProxy in filteredItems = (itemProxy.children | filter:treeCtrl.filterString)" ng-include="'itemTreeRow'">
            </div>
          </div>
        </script>

		<div class="knowledge-tree">
            <div class="kt-head">
              <div class="kth-cell">Name</div>
              <div class="kth-cell">Description</div>
              <div class="kth-cell pull-right"><i class="glyphicon glyphicon-plus pull-right"
                   ui-sref="kohese.explore.create()"
                   ng-click="treeCtrl.updateTab('create')"></i></div>
            </div>
            <div class="kt-body">
              <div class= "kt-collection" ng-repeat="itemProxy in filteredItems = (treeCtrl.newTree.roots | filter:treeCtrl.filterString)" ng-include="'itemTreeRow'">
              </div>
            </div>
    </div>
</div>