<div id="content" ng-controller="ContainerController as containerCtrl">
    <div id="tabBar">
        <tabset>
            <tab ng-click="containerCtrl.setTab(tab)" ng-repeat="tab in containerCtrl.tabs" active="tab.active">
                <tab-heading >
                    {{tab.title}} - {{$index}}
                    <i ng-click=containerCtrl.deleteTab(tab) class="glyphicon glyphicon-remove"></i>
                </tab-heading>
                <tab-body class="tab-body">
                    <div ng-switch on="tab.type">

                        <div ng-switch-when="dualview">
                            <div dual-view></div>
                        </div>
                        <div ng-switch-when="singleview">
                            <div single-view></div>
                        </div>
                    </div>
                </tab-body>
            </tab>
            <button id="add-tab-button" ng-click="containerCtrl.addTab()" style="height: 40px;">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </tabset>
    </div>
</div>