<div style="height: 100%;" *ngIf="repoLoaded && itemProxy.analysis">
  <split direction="vertical">
    <split-area [size]="50">
      <split direction="horizontal">
        <split-area [size]="50">
          <term-view [itemProxy] = "itemProxy"
                     [filterSubject] = "filterSubject"
                     (filterUpdate)= "onFilter($event)"></term-view>
        </split-area>
        <split-area [size]="50">
          <document-view
            [proxyStream] = "proxyStream"
            [showChildrenSubject] = "showChildrenSubject"
            [filterSubject] = "filterSubject"
            ></document-view>
        </split-area>
      </split>
    </split-area>
    <split-area [size]="50">
      <split direction="horizontal">
        <split-area [size]="50">
          <phrase-view [itemProxy] = "itemProxy"
                       [filterSubject] = "filterSubject"
                       (filterUpdate)= "onFilter($event)"></phrase-view>
        </split-area>
        <split-area [size]="50">
          <sentence-view [itemProxy] = "itemProxy"
                         [filterSubject] = "filterSubject"
                         (filterUpdate)= "onFilter($event)"></sentence-view>
        </split-area>
      </split>
    </split-area>
  </split>
</div>
