<div style="height: 100%;">
  <split direction="vertical">
    <split-area [size]="50">
      <split direction="horizontal">
        <split-area [size]="50">
          <term-view></term-view>
        </split-area>
        <split-area [size]="50">
          <document-view
            [itemProxy] = "itemProxy"
            [showChildrenSubject] = "showChildrenSubject"
            [filterSubject] = "filterSubject"
            ></document-view>
        </split-area>
      </split>
    </split-area>
    <split-area [size]="50">
      <split direction="horizontal">
        <split-area [size]="50">
          <phrase-view></phrase-view>
        </split-area>
        <split-area [size]="50">
          <sentence-view></sentence-view>
        </split-area>
      </split>
    </split-area>
  </split>
</div>
