<div class="flex-container">
  <div class="left-content">
    <button mat-icon-button class="fa fa-edit" *ngIf="!editable" (click)="toggleEdit(editable)"></button>
    <button mat-icon-button class="fa fa-times" *ngIf="editable" (click)="toggleEdit(editable)"></button>
    <br>
  </div>
  <mat-card [ngClass]="{'uneditable' : !editable, 'editable': editable}" class="right-content">
    <mat-card-title>
      {{assignment.item.name}} (Active)
    </mat-card-title>
    <mat-card-content>
      Estimated Start : {{assignment.item.estimatedStart | date}} <br>
      Estimated Completion : {{ assignment.item.estimatedComplete | date }} <br>
      Estimated Hours Effort : {{ assignment.item.estimatedHoursEffort }} <br>
    <k-state-editor [itemProxy]="assignment"
                    [disableTransitioning]="!editable"
                    (stateChanged)="stateChanged($event.fieldName, $event.candidate)"></k-state-editor>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="navigate('Explore', {id: assignment.item.id})">Details</button>
    </mat-card-actions>
  </mat-card>
</div>

  