<div class="panel right-zone" [ngClass]="{'details-doc' : incrementalLoad}">
  <div class="panel-heading">
    <button mat-icon-button class="fa fa-list" *ngIf="!fullscreen" (click)="navigate('Document', {id : itemProxy.item.id})"></button>
    Document View
    <span class="pull-right">({{itemsLoaded}}/{{itemLength}}) </span>
  </div>
  <div class="body-container">
    <div data-infinite-scroll [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
      [scrollWindow]="false" [immediateCheck]="true"
      class="panel-body doc-view" #docView>
      <document-row
        #row id="docInfo.proxy.item.id"
        *ngFor="let docInfo of loadedProxies"
        (mouseenter)="selectRow(row, docInfo.proxy)" #row
        (mouseleave)="row.rowState = 'hide'"
        [docInfo] = "docInfo"
        [row] = "row"
        (viewInitialized)="rowMap[docInfo.proxy.item.id] = $event"
        [ngClass]="{'hovered-row': row.rowState === 'show'}"
        style="background-color: lightgray;"></document-row>
    </div>
  </div>
</div>
