<div class="panel right-zone" [ngClass]="{'details-doc' : incrementalLoad}">
  <div class="panel-heading">

    <ng-container *ngIf="!analysisView else analysisMode">

      <ng-container *ngIf="!outlineView else documentOutline">
        <div class="panel-heading-left">
          <span><b>Document View</b></span>
        </div>
        <div class="panel-heading-right">
          <span><b>({{itemsLoaded}}/{{itemLength}})</b></span>
          <button mat-icon-button (click)="navigate('Outline', { id: itemProxy.item.id })" matTooltip="go to outline">
            <mat-icon class="fa fa-list"></mat-icon>
          </button>
        </div>
      </ng-container>


      <ng-template #documentOutline>
        <div class="panel-heading-left">
          <span><b>Outline View</b></span>
        </div>
        <div class="panel-heading-right">
          <span><b>({{itemsLoaded}}/{{itemLength}})</b></span>
          <button mat-icon-button (click)="navigate('Explore', { id: itemProxy.item.id })" matTooltip="go to explorer">
            <mat-icon class="fa fa-arrow-left"></mat-icon>
          </button>
        </div>
      </ng-template>
    </ng-container>

    <ng-template #analysisMode>
      <div class="panel-heading-left">
        <span><b>Document View</b></span>
      </div>
      <div class="panel-heading-right">
        <span><b>({{itemsLoaded}}/{{itemLength}})</b></span>
      </div>
    </ng-template>

  </div>
  <div class="body-container">
    <div data-infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
      [scrollWindow]="false" [immediateCheck]="true" class="panel-body doc-view" #docView>
      <document-row #row id="docInfo.proxy.item.id" *ngFor="let docInfo of loadedProxies"
        [docInfo]="docInfo" [row]="row" (mouseenter)="selectRow(docInfo.proxy)"
        (viewInitialized)="rowMap[docInfo.proxy.item.id] = $event">
      </document-row>
    </div>
  </div>
</div>
