.doc-view {
  height : 100%;
  overflow : auto;
}

.body-container {
  height : calc(100% - 50px);
}

.details-doc {
  height: calc(100% - 53px);
}

.right-zone {
  height: 100%;
}

.document-row {
  padding-left : 10px;
  border-bottom : 1px gray solid;
  border-left : 1px black solid;
  width: calc(100% - 100px);
  display: inline-block;
  background-color : rgb(245, 235, 235);
}

.side-button {
  padding-bottom : 10px;
}

:host {
  height: 100%;
}

.hovered-row {
  min-height: 200px;
  vertical-align: text-bottom;
}

.hovered-body {
  background-color : white;
  min-height: 240px;
  vertical-align: top;
}

.hovered-actions {
  background-color : green;
  color : white;
  height : 100%;
  vertical-align: top;
}

.row-actions {
  height: 100%;
}

textarea {
  width : 100%;
}

/deep/creation-row {
  margin-left: 44px;
}
