.doc-view {
  height : 100%;
  overflow : scroll;
}

.body-container {
  height : calc(100% - 40px);
}

.details-doc {
  height: calc(100% - 53px);
}

.document-row {
  padding-left : 10px;
  border-bottom : 1px gray solid;
}
