<div id="outline-container">
  <split direction="horizontal">

    <split-area id="tree-container" [size]="30">
      <document-tree class="left-content"
        [selectedProxyStream]="documentProxyStream"
        (onSelect)="selectedProxyStream.next($event)"
        (rootSelected)="setRoot($event);">
      </document-tree>
    </split-area>

    <split-area id="document-container" [size]="70">
      <document-view class="right-content"
        [selectedProxyStream]="selectedProxyStream"
        [proxyStream]="proxyStream"
        (proxySelected)="documentProxyStream.next($event);"
        [outlineView]="true"
        [incrementalLoad]="false">
      </document-view>
    </split-area>

  </split>
</div>
