<div class="navbar">
  <ng-container *ngIf="(authenticated)">
    <div class="navbar-header">
      <img src="../../../../assets/icons/favicon.ico" width="50" height="50"
        (click)="navigate('Dashboard', {})">
      <span class="navbar-brand"
        [ngClass]="{'navbar-syncing': (State.SYNCHRONIZING === itemRepositoryState),
                    'navbar-disconnected': ((State.DISCONNECTED === itemRepositoryState)  ||
                                            (State.USER_LOCKED_OUT === itemRepositoryState) ||
                                            (State.SYNCHRONIZATION_FAILED === itemRepositoryState))}"
        (click)="navigate('Dashboard', {})">
        Dashboard
        <i class="fa fa-exclamation-triangle" *ngIf="(State.SYNCHRONIZATION_SUCCEEDED !== itemRepositoryState)">
          - {{syncStatusString}}
        </i>
      </span>
      <span class="navbar-brand" (click)="navigate('Explore', {id : ''})">
        Explorer
      </span>
      <span class="navbar-brand" (click)="navigate('Reports', {})">
        Reports
      </span>
    </div>
    <div class="nav navbar-top-links navbar-right">
      <ng-container *ngIf="(modifiedProxies.length > 0)">
        <button mat-icon-button [matMenuTriggerFor]="modifiedItemsMenu">
          <img src="assets/icons/versioncontrol/dirty.ico"/>
        </button>
        <mat-menu #modifiedItemsMenu="matMenu" [overlapTrigger]="false">
          <ng-container *ngFor="let modifiedProxy of modifiedProxies">
            <button mat-menu-item (click)="navigate('Explore',
              { id: modifiedProxy.item.id })">
              <mat-icon class="{{modifiedProxy.model.view.item.icon}}">
              </mat-icon>
              {{modifiedProxy.item.name}}
            </button>
          </ng-container>
        </mat-menu>
      </ng-container>
      <button mat-button [matMenuTriggerFor]="notificationMenu">
        <mat-icon class="fa fa-bell fa-2.0x" matBadgeSize="medium" matBadge="{{messageCount}}"
          [matBadgeHidden]="(!(messageCount>0))" matBadgeColor='warn'>
        </mat-icon>
        <mat-menu #notificationMenu="matMenu" [overlapTrigger]="false">
          <div style="text-align:center">Notifications</div>
          <div *ngFor=" let message of messages">
            <mat-list-item style='font-size: 10pt'>
              {{message}}
              <button mat-icon-button matTooltip="Delete Notification"
                (click)="deleteMessage(message); $event.stopPropagation()">
                <mat-icon class="fa fa-times-circle-o"></mat-icon>
              </button>
              <mat-divider></mat-divider>
            </mat-list-item>
          </div>
        </mat-menu>
      </button>
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon class="fa fa-user fa-fw"></mat-icon>
        <span>{{userName}}</span>
        <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item (click)="navigate('Admin', {})">
            <mat-icon class="fa fa-user-plus"></mat-icon>
            <span>Users</span>
          </button>
          <button mat-menu-item (click)="navigate('Versions', {})">
            <mat-icon class="fa fa-code-fork"></mat-icon>
            Versions
          </button>
          <button mat-menu-item (click)="navigate('Repositories', {})">
            <mat-icon class="fa fa-database"></mat-icon>
            <span>Repositories</span>
          </button>
          <button mat-menu-item (click)="navigate('Type-Editor', {})">
            <mat-icon class="fa fa-sitemap"></mat-icon>
            <span>Kind Editor</span>
          </button>
          <button mat-menu-item (click)="navigate('Dev-Tools', {})">
            <mat-icon class="fa fa-code"></mat-icon>
            <span>Dev Tools</span>
          </button>
          <button mat-menu-item (click)="navigate('About', {})">
            <mat-icon class="fa fa-question"></mat-icon>
            <span>About</span>
          </button>
          <button mat-menu-item (click)="logout();">
            <mat-icon class="fa fa-sign-out fa-fw"></mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </button>
    </div>
  </ng-container>
</div>
