<div *ngFor="let property of contents">
  <div *ngIf="['text','markdown', 'user-selector','date'].includes(property.kind)">
    <label *ngIf="!property.hideLabel && !property.customLabel" style="font-weight: bold;">{{property.propertyName}} : </label>
    <label *ngIf="!property.hideLabel && property.customeLabel" style="font-weight: bold;">{{property.customLabel}} : </label>
    <div *ngIf="!editable">{{proxy.item[property.propertyName]}}</div>
    <div *ngIf="editable">
      <textarea style="background-color: white;" matInput matTextareaAutosize #description [(ngModel)]="proxy.item[property.propertyName]"></textarea>
    </div>
  </div>
  <div *ngIf="property.kind === 'proxy-selector'">
      <kd-proxy-selector [property]="property" [editable]="editable" [proxy]="proxy"></kd-proxy-selector>
  </div>
  <div *ngIf="property.kind === 'state-machine'">
    State Machine not implemented
  </div>
  <div *ngIf="property.kind === 'select'">
    Select not implemented
    <!-- <label *ngIf="!property.hideLabel" style="font-weight: bold;">{{property.propertyName}} : </label> -->
  </div>
  <div *ngIf="property.kind === 'read-only'">
    <label *ngIf="!property.hideLabel" style="font-weight: bold;">{{property.propertyName}} : </label>
    <div *ngIf="!editable">{{proxy.item[property.propertyName]}}</div>
    <div *ngIf="editable">
      {{property.propertyName}} not available for editing
    </div>
  </div>
</div>
