<div *ngFor="let property of contents">
  <ng-container *ngIf="property.tableDefinition else notTable">
    <label *ngIf="!property.hideLabel" style="font-weight: bold;">{{property.
      propertyName.attribute}}:
    </label>
    <k-table [property]="property" [editable]="editable" [proxy]="proxy"></k-table>
  </ng-container>
  <ng-template #notTable>
    <div *ngIf="['text', 'user-selector','date'].includes(property.kind)">
      <label *ngIf="!property.hideLabel && !property.customLabel"
        style="font-weight: bold;">
        {{property.propertyName.attribute}}:
      </label>
      <label *ngIf="!property.hideLabel && property.customLabel" style="font-weight: bold;">{{property.customLabel}} : </label>
      <div *ngIf="!editable">
        {{proxy.item[property.propertyName.attribute]}}
      </div>
      <div *ngIf="editable">
        <textarea style="background-color: white;" matInput
          matTextareaAutosize #description [(ngModel)]="proxy.item[property.
          propertyName.attribute]">
        </textarea>
      </div>
    </div>
    <div *ngIf="property.kind === 'markdown'">
      <kd-markdown [property]="property" [editable]="editable" [proxy]="proxy" [container]="'list'"></kd-markdown>
    </div>
    <div *ngIf="property.kind === 'proxy-selector'">
        <kd-proxy-selector [property]="property" [editable]="editable" [proxy]="proxy" [multiselect]="property.inputOptions.options.allowMultiSelect"></kd-proxy-selector>
    </div>
    <div *ngIf="property.kind === 'state-editor'">
      <k-state-editor [itemProxy]="proxy" (stateChanged)="stateChanged($event.fieldName, $event.candidate)"></k-state-editor>
    </div>
    <div *ngIf="property.kind === 'select'">
      Select not implemented
      <!-- <label *ngIf="!property.hideLabel" style="font-weight: bold;">{{property.propertyName}} : </label> -->
    </div>
    <div *ngIf="property.kind === 'read-only'">
      <label *ngIf="!property.hideLabel" style="font-weight: bold;">
        {{property.propertyName.attribute}}:
      </label>
      <div *ngIf="!editable">
        {{proxy.item[property.propertyName.attribute]}}
      </div>
      <div *ngIf="editable">
        {{property.propertyName.attribute}} not available for editing
      </div>
    </div>
  </ng-template>
</div>
