
.left-content {
  overflow: auto;
  height: 700px !important;
  width: 20%;
  display: inline-block;
}
.middle-content {
  overflow: auto;
  height: 700px !important;
  width: 50%;
  display: inline-block;
}
.right-content {
  overflow: auto;
  height: 700px !important;
  width: 20%;
  display: inline-block;
}

.selected-user {
  background-color : rgba(106, 168, 106, 0.795);
  color : whitesmoke;
}
