<div class="property-containers">
  <div *ngFor="let container of format.containers">
    <div [ngSwitch]="container.kind" class="container">
      <list-container [container]="container" *ngSwitchCase="'list'"></list-container>
      <column-container [container]="container" *ngSwitchCase="'column'"></column-container>
      <table-container [container]="container" *ngSwitchCase="'table'"></table-container>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="container new-container" style="text-align: center;" (click)="addContainer()">
    <i class="fa fa-plus fa-5x"  ></i>
  </div>
</div>
