<div style="height: 100%; width: 100%;">
  <h2 mat-dialog-title style="height: 7%; width: 100%;">
    State Machine Editor
  </h2>
  <div style="height: calc(93% - 40px); width: 100%; display: flex;
    flex-direction: column;">
    <h3 style="text-align: center;">
      Target State
    </h3>
    <div style="display: flex; flex-direction: row; align-items: center;">
      <h3 style="writing-mode: tb-rl; transform: rotate(180deg)">
        Source State
      </h3>
      <mat-table [dataSource]="tableDataSource" style="flex: 1 1 auto;">
        <ng-container matColumnDef="{{LEFTMOST_COLUMN_ID}}">
          <mat-header-cell *matHeaderCellDef matTooltip="Add a new state"
            style="display: flex; justify-content: center;">
            <button mat-icon-button (click)="addState()">
              <mat-icon class="fa fa-plus"></mat-icon>
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let stateId"
            matTooltip="{{stateMachine.state[stateId].description}}">
            <button mat-button [matMenuTriggerFor]="stateRowMenu"
              [ngStyle]="{ 'font-weight': (defaultState === stateId ? 'bold' :
                'normal') }">
              {{stateId}}
            </button>
            <mat-menu #stateRowMenu [overlapTrigger]="false">
              <button mat-menu-item (click)="editState(stateId, 'description')">
                <mat-icon class="fa fa-edit"></mat-icon>
                Edit Description...
              </button>
              <button mat-menu-item (click)="editState(stateId, 'name')">
                Rename...
              </button>
              <ng-container *ngIf="(defaultState !== stateId)">
                <button mat-menu-item (click)="setDefaultState(stateId)">
                  Set as Default
                </button>
              </ng-container>
              <button mat-menu-item (click)="deleteState(stateId)">
                <mat-icon class="fa fa-trash"></mat-icon>
                Delete
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
        <ng-container *ngFor="let columnStateId of stateIds">
          <ng-container matColumnDef="{{columnStateId}}">
            <mat-header-cell *matHeaderCellDef
              matTooltip="{{stateMachine.state[columnStateId].description}}"
              style="display: flex; justify-content: center;">
              <button mat-button [matMenuTriggerFor]="stateColumnMenu"
                [ngStyle]="{ 'font-weight': (defaultState === columnStateId ?
                  'bold': 'normal') }">
                {{columnStateId}}
              </button>
              <mat-menu #stateColumnMenu [overlapTrigger]="false">
                <button mat-menu-item (click)="editState(columnStateId, 'description')">
                  <mat-icon class="fa fa-edit"></mat-icon>
                  Edit Description...
                </button>
                <button mat-menu-item (click)="editState(columnStateId, 'name')">
                  Rename...
                </button>
                <ng-container *ngIf="(defaultState !== columnStateId)">
                  <button mat-menu-item
                    (click)="setDefaultState(columnStateId)">
                    Set as Default
                  </button>
                </ng-container>
                <button mat-menu-item (click)="deleteState(columnStateId)">
                  <mat-icon class="fa fa-trash"></mat-icon>
                  Delete
                </button>
              </mat-menu>
            </mat-header-cell>
            <mat-cell *matCellDef="let rowStateId"
              style="display: flex; justify-content: center;"
              matTooltip="{{getTransitionId(rowStateId, columnStateId)}}">
              <button mat-button [matMenuTriggerFor]="transitionMenu">
                <ng-container *ngIf="getTransitionId(rowStateId, columnStateId)">
                  <span>X</span>
                </ng-container>
                <ng-container *ngIf="!getTransitionId(rowStateId, columnStateId)">
                  <span>&nbsp;</span>
                </ng-container>
              </button>
              <mat-menu #transitionMenu [overlapTrigger]="false">
                <ng-container *ngIf="!getTransitionId(rowStateId, columnStateId)">
                  <button mat-menu-item (click)="addTransition(rowStateId, columnStateId)">
                    <mat-icon class="fa fa-plus"></mat-icon>
                    Add Transition...
                  </button>
                </ng-container>
                <ng-container *ngIf="getTransitionId(rowStateId, columnStateId)">
                  <button mat-menu-item
                    (click)="editTransition(getTransitionId(rowStateId, columnStateId), '')">
                    Rename...
                  </button>
                  <button mat-menu-item
                    (click)="editTransition(getTransitionId(rowStateId, columnStateId), 'source')">
                    Change Source...
                  </button>
                  <button mat-menu-item
                    (click)="editTransition(getTransitionId(rowStateId, columnStateId), 'target')">
                    Change Target...
                  </button>
                  <button mat-menu-item [disabled]="true">
                    Specify Conditions...
                  </button>
                  <button mat-menu-item
                    (click)="deleteTransition(getTransitionId(rowStateId, columnStateId))">
                    <mat-icon class="fa fa-trash"></mat-icon>
                    Delete
                  </button>
                </ng-container>
              </mat-menu>
            </mat-cell>
          </ng-container>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let rowStateId; columns: columns"></mat-row>
      </mat-table>
    </div>
  </div>
  <ng-container *ngIf="data">
    <mat-dialog-actions style="height: 40px; display: flex; flex-direction:
      row;">
      <button mat-button class="flex-right-align"
        [mat-dialog-close]="{ stateMachine: stateMachine, defaultState:
        defaultState }">
        Apply
      </button>
      <button mat-button (click)="cancelSelected()">
        Cancel
      </button>
    </mat-dialog-actions>
  </ng-container>
</div>