:host {
  height: 100%;
  width:  100%;
  overflow: hidden;

  .panel {
    height: 100%;
    width:  100%;
    overflow: hidden;

    .panel-body {
      height: calc(100% - 50px);
      padding-right: 0px;

      #phrase-div {
        height: calc(100% - 131px);
        width: 100%;
        overflow: auto;
      }
    }
  }
}

.syncOn {
  background-color: whitesmoke;
  color : green;
  border-radius: 10px;
}
