<div class="panel">
  <div class="panel-heading" style="height: 50px; display: flex;
    flex-direction: row; align-items: center;">
    Phrase View - (
    <span *ngIf="displayedCount < filteredCount" style="font-weight:normal;">
      {{displayedCount}}/
    </span>
    {{filteredCount}}) Phrases
    <button mat-icon-button style="margin-left: auto;">
      <mat-icon class="fa fa-link" (click)="toggleLink()"
        [ngClass]="{'syncOn' : syncFilter, 'syncOff' : !syncFilter}">
      </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Copy table content to clipboard"
      (click)="copy(phrases, showPOS)">
      <mat-icon class="fa fa-copy"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Export table content to a file"
      [matMenuTriggerFor]="exportMenu">
      <mat-icon class="fa fa-file-o"></mat-icon>
    </button>
    <mat-menu #exportMenu="matMenu" [overlapTrigger]="false">
      <ng-container *ngFor="let format of Object.keys(DataFormat)">
        <button mat-menu-item (click)="export(phrases, showPOS, itemProxy.item.
          name, DataFormat[format])">
          {{DataFormat[format]}}
        </button>
      </ng-container>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
      <mat-icon class="fa fa-gear"></mat-icon>
    </button>
    <mat-menu #optionsMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="toggleShowPOS()">
        <mat-checkbox [(ngModel)]=showPOS></mat-checkbox>
        Show Parts of Speech
      </button>
    </mat-menu>
  </div>
  <div class="panel-body">
    <div class="search-options">
      <div class="pos-and-checkbox-options" style="padding-left: 10px;">
        <mat-form-field>
        <mat-select placeholder="POS Filter" [(ngModel)]="analysisPOSFilterName" (ngModelChange)="processPhrases()">
          <mat-option *ngFor="let filterCriteria of phrasePOSFilterCriteriaList" [value]="filterCriteria">
            {{filterCriteria}}
          </mat-option>
        </mat-select>
        </mat-form-field>
        <span style="padding-top: 10px;">
          <mat-checkbox [(ngModel)]="filterExactMatch" style="padding-top: 5px;">
            Exact Match
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="filterIgnoreCase" style="padding-left: 50px; padding-top: 5px;">
            Ignore Case
          </mat-checkbox>
        </span>
      </div>
      <div class="filter-and-limit-options" style="padding-left: 10px;">
        <mat-form-field>
          <input matInput type="text" class="input-sm"
            [formControl]="filterControl" placeholder="Filter"
            [ngStyle]="invalidFilterRegex && {'background-color':'pink'}"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Limit" [(ngModel)]="loadLimit" (ngModelChange)="processPhrases()"/>
        </mat-form-field>
        <h6>
          <button mat-raised-button (click)="submitFilter(filterControl.value)"
            class="btn btn-default fa fa-search">Submit
          </button>
        </h6>
      </div>
    </div>
    <div id="phrase-div">

      <mat-table [dataSource]="phrasesDataSource" class="mat-elevation-z8" style="width: 100%;">
        <ng-container matColumnDef="text">
          <mat-header-cell *matHeaderCellDef (click)="sort('text')">
             Phrase &nbsp;
            <span *ngIf="sortField === 'text'">
              <i *ngIf="ascending" class="fa fa-caret-up"></i>
              <i *ngIf="!ascending" class="fa fa-caret-down"></i>
            </span>
            </mat-header-cell>
          <mat-cell *matCellDef="let summary" (click)="submitFilter(summary.text)">
            {{summary.text}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="count">
          <mat-header-cell *matHeaderCellDef (click)="sort('count')">
             Occurrences &nbsp;
            <span *ngIf="sortField === 'count'">
              <i *ngIf="ascending" class="fa fa-caret-up"></i>
              <i *ngIf="!ascending" class="fa fa-caret-down"></i>
            </span>
          </mat-header-cell>
          <mat-cell *matCellDef="let summary">
            {{summary.count}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="posCount">
          <mat-header-cell *matHeaderCellDef> Parts of Speech </mat-header-cell>
          <mat-cell *matCellDef="let summary">
            {{summary.posCount | json}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="rowDef; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let summary; columns: rowDef; let j=index;" tabindex="{{j}}"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
