<mat-form-field class="variable-data" [formGroup]="formGroup" *ngIf="editable">
  Description : 
  <button mat-icon-button class="fa fa-question-circle" 
         matTooltip="Markdown cheat sheet" (click)="showCheatSheet()"></button>
  <textarea matInput  formControlName="{{fieldId}}"
            matTextareaAutosize 
            matAutosizeMinRows = "3"
            matAutosizeMaxRows = "25">  
  </textarea>
</mat-form-field>
<div class="binding-container">
  Markdown : 
  <markdown class="variable-binding"
            [data]="markdownData">
  </markdown>
</div>