<mat-form-field class="variable-data" [formGroup]="formGroup" *ngIf="editable">
  {{fieldName}}:
  <div style="width: 100%; display: flex; flex-direction: row;">
    <!-- Hide the file input and route its functionality to a button -->
    <input type="file" #fileInput multiple accept="image/png"
      style="display: none;" (change)="addImagesToMarkdown(textArea.
      selectionStart, fileInput.files)" class="flex-right-align"/>
    <button mat-icon-button matTooltip="Add images" (click)="fileInput.
      click()">
      <mat-icon class="fa fa-image"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Markdown cheat sheet"
      (click)="showCheatSheet()">
      <mat-icon class="fa fa-question-circle"></mat-icon>
    </button>
  </div>
  <textarea matInput #textArea formControlName="{{fieldId}}"
    matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="25"
    (paste)="addImagesToMarkdown(textArea.selectionStart, $event.clipboardData.
    files)">
  </textarea>
</mat-form-field>
<div class="binding-container">
  Markdown : 
  <markdown class="variable-binding"
            [data]="markdownData">
  </markdown>
</div>