<div class=filter-dialog-container>
  <h2 mat-dialog-title class=dialog-title>Filter</h2>
  <div class=filter-tree-container>
    <filter-tree [targetFilterSubject]="filterSubject"></filter-tree>
  </div>
  <ng-container *ngIf="data">
    <mat-dialog-actions>
      <button mat-button [disabled]="!isCriterionDefined()"
        class="flex-right-align mat-raised-button mat-primary"
        [mat-dialog-close]="filterSubject.getValue()">
        Apply
      </button>
      <button mat-dialog-close class='mat-raised-button mat-primary'>
        Cancel
      </button>
    </mat-dialog-actions>
  </ng-container>
</div>
