<div style="height: 100%; width: 100%;">
  <ng-container *ngIf="sideChangeable">
    <div
      style="height: 70px; width: 100%; display: flex; flex-direction: row;">
      <mat-form-field style="padding: 3px; width: 60%;">
        <mat-select placeholder="Version" [value]="selectedVersion"
          [disabled]="!(selectedObjectSubject | async) ||
            (1 === versions.length)"
          (selectionChange)="whenSelectedVersionChanges(selectedObjectSubject.
            getValue(), $event.value)">
          <mat-option *ngFor="let version of versions"
            [value]="version.commit"
            matTooltip="{{version.message}} - {{version.date | date:'long'}}"
            [matTooltipDisabled]="!version.date">
            {{version.message}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="openProxySelectionDialog()"
        class="flex-right-align">
        <mat-icon class="fa fa-mouse-pointer"></mat-icon>
      </button>
      <button mat-icon-button
        [ngClass]="{ 'highlight': (editableSubject | async) }"
        [disabled]="!(allowEditing && selectedObjectSubject.getValue())"
        (click)="toggleEditability()">
        <mat-icon class="fa fa-edit"></mat-icon>
      </button>
      <button mat-icon-button [disabled]="!(editableSubject | async)"
        (click)="saveCurrentProxy()">
        <mat-icon class="fa fa-save"></mat-icon>
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="type">
    <ng-container *ngIf="(editableSubject | async)">
      <div style="height: calc(100% - 70px); width: 100%;">
        <details-form #detailsForm
          [type]="type"
          [proxyStream]="selectedObjectSubject"
          [editableStream]="editableSubject"
          [fieldFilterStream]="fieldFilterSubject">
        </details-form>
      </div>
    </ng-container>
    <ng-container *ngIf="!(editableSubject | async)">
      <div>
        <ng-container
          *ngFor="let propertyName of Array.from(propertyDifferenceMap.
            keys())">
          <ng-container *ngIf="(!showDifferencesOnlySubject.getValue() || (((
            propertyDifferenceMap.get(propertyName).length > 1) || (
            propertyDifferenceMap.get(propertyName)[0].added ||
            propertyDifferenceMap.get(propertyName)[0].removed))))">
            <div style="padding: 0px 3px;">
              <span>
                {{type.fields[propertyName].views['form'].displayName}}:
              </span>
              <ng-container
                *ngFor="let difference of propertyDifferenceMap.get(
                  propertyName)">
                <ng-container
                  *ngIf="(difference.added && !isBaseVersion) || (difference.
                    removed && isBaseVersion) || (!difference.added &&
                    !difference.removed)">
                  <span [ngStyle]="setColors(difference)">
                    {{difference.value}}
                  </span>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>