@import '../../../../app.component';

.details-form {
  height: calc(100% - 44px);
  
  .form-container {
    height : 700px;
    overflow : auto;
  }
}

.form-group {
  width: 100%;
  height: calc(80% - 15px);
  overflow: auto;
}

#detailsFormStateEditorContainer {
  width: 100%;
}
