<div style="height: 100%;">
  <mat-form-field style="width: 100%;">
    <mat-select [ngModel]="(proxyStream | async).kind"
      (ngModelChange)="typeChanged($event)" placeholder="Type"
      [disabled]="!(editableStream | async)">
      <ng-container *ngFor="let koheseType of Object.values(
        dynamicTypesService.getKoheseTypes())">
        <mat-option [value]="koheseType.dataModelProxy.item.name">
          <mat-icon class="{{koheseType.viewModelProxy?.item.icon}}">
          </mat-icon>
          {{koheseType.dataModelProxy.item.name}}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="(proxyStream | async)">
    <form [formGroup]="formGroup"
      novalidate class="form-group">
      <ng-container *ngFor="let property of (type.fields | mapKey)">
        <ng-container *ngIf="type.fields[property].views['form']">
          <ng-container
            [ngSwitch]="type.fields[property].views['form'].inputType.type">
            <ng-container *ngSwitchCase="'boolean'">
              <mat-checkbox formControlName="{{property}}"
                style="width: 100%;">
                {{getAttributeRepresentation(property)}}
              </mat-checkbox>
            </ng-container>
            <ng-container *ngSwitchCase="'number'">
              <mat-form-field style="width: 100%; padding: 0px 10px 0px 10px;">
                <input matInput type="number"
                  placeholder="{{getAttributeRepresentation(property)}}"
                  formControlName="{{property}}"/>
              </mat-form-field>
            </ng-container>
            <k-text *ngSwitchCase="'text'"
              [formGroup]="formGroup" [fieldId]="property"
              [fieldName]="type.fields[property].views['form'].displayName"
              [isMultiLine]="type.fields[property].views['form'].inputType.
              options['isMultiLine']" [required]="type.fields[property].
              required">
            </k-text>
            <k-proxy-selector *ngSwitchCase="'proxy-selector'"
              [proxyContext]="(proxyStream | async)"
              [formGroup]="formGroup" [fieldId]="property"
              [type]="type.fields[property].views['form'].inputType.options['type']"
              [fieldName]="type.fields[property].views['form'].displayName"
              [allowMultiSelect]="Array.isArray(type.fields[property].type)"
              [editableStream]="editableStream" [required]="type.fields[
              property].required">
            </k-proxy-selector>
            <k-date *ngSwitchCase="'date'"
              [formGroup]="formGroup" [fieldId]="property"
              [fieldName]="type.fields[property].views['form'].displayName"
              [required]="type.fields[property].required">
            </k-date>
            <k-select *ngSwitchCase="'select'"
              [formGroup]="formGroup" [fieldId]="property"
              [fieldName]="type.fields[property].views['form'].displayName"
              [options]="type.fields[property].views['form'].inputType.options[
              'options']" [required]="type.fields[property].required">
            </k-select>
            <ng-container *ngSwitchCase="'user-selector'">
              <mat-form-field style="width: 100%; padding: 0px 10px 0px 10px;">
                <mat-select formControlName="{{property}}"
                  placeholder="{{getAttributeRepresentation(property)}}">
                  <ng-container *ngFor="let username of usernames">
                    <mat-option [value]="username">
                      {{username}}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </ng-container>
            <k-markdown *ngSwitchCase="'markdown'"
              [formGroup]="formGroup" [fieldId]="property"
              [fieldName]="type.fields[property].views['form'].displayName"
              [editableStream]="editableStream" [required]="type.fields[
              property].required">
            </k-markdown>
            <ng-container *ngSwitchCase="''">
              <ng-container *ngIf="(getTypeName(type.fields[property].type !==
                'StateMachine'))">
                <ng-container [ngSwitch]="getTypeName(type.fields[property].
                  type)">
                  <ng-container *ngIf="Array.isArray(type.fields[property].
                    type)">
                    <div style="display: flex; flex-direction: column;">
                      <h3>
                        {{getAttributeRepresentation(property)}}
                      </h3>
                      <span class="flex-right-align">
                        <button mat-icon-button
                          matTooltip="Add a value to {{property}}"
                          [disabled]="!(editableStream | async)"
                          (click)="addValue(property)">
                          <mat-icon class="fa fa-plus"></mat-icon>
                        </button>
                      </span>
                      <mat-list>
                        <ng-container *ngFor="let value of proxyStream.
                          getValue().item[property]; let j = index">
                          <mat-list-item>
                            {{getStringRepresentation(j, property)}}
                            <span class="flex-right-align">
                              <button mat-icon-button
                                matTooltip="Edit this value"
                                [disabled]="!(editableStream | async)"
                                (click)="editValue(j, property)">
                                <mat-icon class="fa fa-edit"></mat-icon>
                              </button>
                              <button mat-icon-button
                                matTooltip="Remove this value"
                                [disabled]="!(editableStream | async)"
                                (click)="removeValue(j, property)">
                                <mat-icon class="fa fa-trash"></mat-icon>
                              </button>
                            </span>
                          </mat-list-item>
                        </ng-container>
                      </mat-list>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!Array.isArray(type.fields[property].
                    type)">
                    <ng-container *ngSwitchCase="'boolean'">
                      <mat-checkbox style="width: 100%;"
                        formControlName="{{property}}">
                        {{getAttributeRepresentation(property)}}
                      </mat-checkbox>
                    </ng-container>
                    <ng-container *ngSwitchCase="'number'">
                      <mat-form-field style="width: 100%;">
                        <input matInput type="number"
                          placeholder="{{getAttributeRepresentation(property)}}"
                          formControlName="{{property}}"/>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *ngSwitchCase="'date'">
                      <mat-form-field style="width: 100%;">
                        <input matInput type="date"
                          placeholder="{{getAttributeRepresentation(property)}}"
                          formControlName="{{property}}"/>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *ngSwitchCase="'string'">
                      <mat-form-field style="width: 100%;">
                        <input matInput type="text"
                          placeholder="{{getAttributeRepresentation(property)}}"
                          formControlName="{{property}}"/>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *ngSwitchCase="'markdown'">
                      <mat-form-field style="width: 100%;">
                        <textarea matInput
                          placeholder="{{getAttributeRepresentation(property)}}"
                          columns="80" rows="3" style="width: 50%;"
                          formControlName="{{property}}">
                        </textarea>
                        <span style="width: 50%;">
                          <markdown [data]="proxyStream.getValue().item[
                            property]">
                          </markdown>
                        </span>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *ngSwitchCase="'user-selector'">
                      <mat-form-field style="width: 100%;">
                        <mat-select placeholder="{{getAttributeRepresentation(
                          property)}}" formControlName="{{property}}">
                          <ng-container *ngFor="let username of usernames">
                            <mat-option [value]="username">
                              {{username}}
                            </mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <div style="width: 100%; display: flex;
                        flex-direction: row;">
                        <label style="width: 20%;">
                          {{getAttributeRepresentation(property)}}:&nbsp;
                        </label>
                        <ng-container *ngIf="proxyStream.getValue().item[
                          property]">
                          <button mat-raised-button (click)="openObjectEditor(
                            property)" style="width: 60%;" [disabled]="true">
                            {{getStringRepresentation(undefined, property)}}
                          </button>
                        </ng-container>
                        <span class="flex-right-align" style="width: 20%;
                          display: flex; flex-direction: row;">
                          <button mat-icon-button matTooltip="Select an object"
                            [disabled]="!(editableStream | async)"
                            (click)="openObjectSelector(property)"
                            class="flex-right-align">
                            <mat-icon class="fa fa-ellipsis-h"></mat-icon>
                          </button>
                          <button mat-icon-button
                            matTooltip="Remove the selection for {{property}}"
                            [disabled]="(proxyStream.getValue().item[
                            property] == null)" (click)="proxyStream.
                            getValue().item[property] = undefined">
                            <mat-icon class="fa fa-times"></mat-icon>
                          </button>
                        </span>
                      </div>
                    </ng-container>
                    <br/>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </form>
    <div style="width: 100%; display: flex; flex-direction: row;">
      <ng-container
        *ngFor="let attributeName of transitionCandidateAttributeNames">
        <div style="margin: 5px;">
          <label>
            {{attributeName}}: {{proxyStream.getValue().item[attributeName]}}
          </label>
          <br/>
          <ng-container *ngFor="let candidateId of (transitionCandidates[
            attributeName] | mapKey)">
            <button mat-raised-button matTooltip="{{type.fields[attributeName].
              properties.state[transitionCandidates[attributeName][
              candidateId].target].description}}"
              [disabled]="!(editableStream | async)" (click)="transition(
              attributeName, transitionCandidates[attributeName][candidateId].
              target)" style="margin: 5px;">
              {{candidateId}}
            </button>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
