@import '../../../../app.component';

.details-form {
  height: calc(100% - 44px);
  
  .form-container {
    height : 700px;
    overflow : auto;
  }
}

.form-group {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.state-button {
  margin: 5px;
}
