<h2>{{listTitle}}</h2>
<hr>
<div class="container">Search:<input ng-model="itemQuery", type="text"/></div>
<hr>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th><a href="" ng-click="itemSortField = 'id'">Id</a></th>
        <th><a href="" ng-click="itemSortField = 'title'">Title</a></th>
        <th><a href="" ng-click="itemSortField = 'description'">Description</a></th>
        <th ng-hide="isEdit"><a href="" ng-click="itemSortField = 'parentId'">Parent</a></th>
        <th><i class="glyphicon glyphicon-plus pull-right" ng-click="newItem()"></i></th>
    </thead>
    <tbody>
        <tr ng-repeat="item in items  | filter:itemQuery | orderBy:itemSortField"">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td ng-click="editItem({id:item.parentId})" ng-hide="isEdit">{{item.parentId}}</td>
            <td style="width:50px" class="pull-right">
              <i class="glyphicon glyphicon-pencil" ng-click="editItem(item)"></i>
              <i class="glyphicon glyphicon-remove" ng-click="removeItem(item)"></i>
            </td>
        </tr>
    </tbody>
</table>