<div>
    <input type="checkbox" ng-model="showAsTree" ng-init="showAsTree=true" name="showAsTreeInput"/> Show As Tree
    <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm" ng-show="showAsTree">Expand All</button>
    <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm" ng-show="showAsTree">Collapse All</button>
    <span class="pull-right">
      <input class="input-sm" type="text" ng-model="filterString" placeholder="Filter" />
      <div>Showing {{filteredItems.length}} of {{items.length}}</div>
    </span>
</div>

<div ng-show="showAsTree">
    <tree-grid tree-data="tree_data" tree-control="my_tree" col-defs="col_defs" expand-on="expanding_property" on-select="my_tree_handler(branch)" icon-leaf= "glyphicon glyphicon-list-alt" expand-level="4"/>
</div>

<div ng-show="!showAsTree">
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th><a href="" ng-click="itemSortField = 'id'">Id</a></th>
        <th><a href="" ng-click="itemSortField = 'title'">Title</a></th>
        <th><a href="" ng-click="itemSortField = 'description'">Description</a></th>
        <th ng-hide="isEdit"><a href="" ng-click="itemSortField = 'parentId'">Parent</a></th>
        <th><i class="glyphicon glyphicon-plus pull-right" ng-click="newItem()"></i></th>
    </thead>
    <tbody>
        <tr ng-repeat="item in filteredItems = (items  | filter:filterString) | orderBy:itemSortField">
            <td ng-click="editItem(item)">{{item.id}}</td>
            <td ng-bind-html="item.title | highlight:filterString">{{item.title}}</td>
            <td ng-bind-html="item.description | highlight:filterString">{{item.description}}</td>
            <td ng-click="editItem({id:item.parentId})" ng-hide="isEdit">{{tree.objs[item.parentId].title}}</td>
            <td class="pull-right">
              <i class="glyphicon glyphicon-remove" ng-click="removeItem(item)"></i>
            </td>
        </tr>
    </tbody>
</table>

</div>
