<div style="padding: 5px;">
    <input type="checkbox" ng-model="showAsTree" ng-init="showAsTree=true" name="showAsTreeInput" style="margin: 5px"/> Show As Tree
    <button ng-click="expandAll()" class="btn btn-default btn-sm" ng-disabled="!showAsTree" style="margin: 5px">Expand All</button>
    <button ng-click="collapseAll()" class="btn btn-default btn-sm" ng-disabled="!showAsTree" style="margin: 5px">Collapse All</button>
    <button ng-click="syncLocation()" class="btn btn-default btn-sm" style="margin: 5px">Sync Location</button>
    <span class="pull-right">
      <span>Showing {{filteredItems.length}} of {{newTree.rows.length}}</span>
      <input class="input-sm" type="text" ng-model="filterString" placeholder="Filter" style="margin: 5px"/>

    </span>
</div>

<div ng-show="showAsTree">
<table class="table tree-grid table-striped table-condensed table-hover">
    <thead>
        <th><a href="" ng-click="itemSortField = 'title'">Title</a></th>
        <th><a href="" ng-click="itemSortField = 'description'">Description</a></th>
        <th ng-show="!showAsTree" ng-hide="isEdit"><a href="" ng-click="itemSortField = 'parentId'">Parent</a></th>
        <th><i class="glyphicon glyphicon-plus pull-right" ng-click="newItem()"></i></th>
    </thead>
    <tbody>
        <tr ng-init="visible=true" id="{{itemProxy.item.id}}" class="level-{{itemProxy.level}}" class="tree-grid-row" ng-repeat="itemProxy in filteredItems = (newTree.rows | filter:filterString)" ng-show="!hidden[itemProxy.item.id]">
            <td><a style="margin: 8px" ng-show="showAsTree"><i ng-click="changeVisibility()" ng-init="collapsed[itemProxy.item.id]=false; collapsable=(itemProxy.children.length > 0)" ng-class="{'indented tree-icon':showAsTree, 'glyphicon fa icon-minus glyphicon-minus fa-minus': collapsable && !collapsed[itemProxy.item.id], 'glyphicon fa icon-plus glyphicon-plus fa-plus': collapsable && collapsed[itemProxy.item.id], 'glyphicon glyphicon-list-alt': !collapsable}"></i></a><span ng-click="editItem(itemProxy.item)" ng-class="{'indented tree-label':showAsTree}" ng-bind-html="(itemProxy.item.title | highlight:filterString)"/></td>
            <td ng-class="{'trim-info': !showDescription, 'trim-info-visible': showDescription}" ng-dblclick="showDescription=!showDescription" ng-init="showDescription=false" ng-bind-html="itemProxy.item.description | highlight:filterString"></td>
            <td ng-show="!showAsTree" ng-click="editItem({id:itemProxy.item.parentId})">{{tree.objs[itemProxy.item.parentId].title}}</td>
            <td class="pull-right">
              <i class="glyphicon glyphicon-remove" ng-click="removeItem(itemProxy.item)"></i>
            </td>
        </tr>
    </tbody>
</table>

</div>
