<form name="itemForm" class="form-horizontal">

<div class="control-group" ng-class="{error: itemForm.id.$invalid}" ng-show="isEdit">
    <label class="control-label" for="Id">Id</label>
    <div class="controls">
        <input type="text" ng-model="editedItem.id" id="Id" ng-disabled="true"/>
    </div>
</div>
<div class="control-group" ng-class="{error: itemForm.title.$invalid}">
    <label class="control-label" for="Title">Title</label>
    <div class="controls">
        <input type="text" ng-model="editedItem.title" id="Title"/>
    </div>
</div>
<div class="control-group" ng-class="{error: itemForm.description.$invalid}">
    <label class="control-label" for="Description">Description</label>
    <div class="controls">
        <textarea type="text" ng-model="editedItem.description" id="Description"/>
    </div>
</div>
<div class="control-group" ng-class="{error: itemForm.parentId.$invalid}">
    <label class="control-label" for="Parent">Parent</label>
    <div class="controls">
        <input type="text" ng-model="editedItem.parentId" id="Parent" ng-disabled="true"/>
    </div>
</div>
<div class="form-actions">
    <button ng-click="upsertItem()" class="btn btn-primary">
        Submit
    </button>
    <a href="#/" class="btn">Cancel</a>
</div>
</form>

<div class="container" ng-show="isEdit">
  <ng-include src="'js/item/templates/item.html'"/>
</div>
