<div style="width: 100%;">
  {{valueIdentifier}}
  <div style="height: 10%; width: 100%; display: flex; flex-direction: row;">
    <!-- Hide the file input and route its functionality to a button -->
    <input type="file" #fileInput accept="image/png, image/jpeg"
      style="display: none;" (change)="addImagesToMarkdown(textArea.
      selectionStart, fileInput.files)" class="flex-right-align"/>
    <button mat-icon-button matTooltip="Add images" (click)="fileInput.click()"
      class="flex-right-align">
      <mat-icon class="fa fa-image"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Display Markdown information"
      (click)="openMarkdownInformationDialog()">
      <mat-icon class="fa fa-question-circle"></mat-icon>
    </button>
  </div>
  <mat-form-field style="height: 45%; width: 100%;">
    <textarea matInput #textArea placeholder="Markdown" columns="80" rows="3"
      [ngModel]="formattedValue" (ngModelChange)="updateValue($event)"
      (paste)="addImagesToMarkdown(textArea.selectionStart, $event.
      clipboardData.files)">
  </textarea>
  </mat-form-field>
  <div style="height: 45%; width: 100%;">
    Preview:
    <markdown [data]="value"></markdown>
  </div>
</div>