<div style="height: 50px; width: 100%; display: flex; flex-direction: row;">
  <h3>
    {{valueIdentifier}}
  </h3>
  <!-- Hide the file input and route its functionality to a button -->
  <input type="file" #fileInput multiple accept="image/png, image/jpeg"
    style="display: none;" (change)="addImagesToMarkdown(textArea.
    selectionStart, fileInput.files)" class="flex-right-align"/>
  <button mat-icon-button matTooltip="Add images" (click)="fileInput.click()"
    class="flex-right-align">
    <mat-icon class="fa fa-image"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Display Markdown information"
    (click)="openMarkdownInformationDialog()">
    <mat-icon class="fa fa-question-circle"></mat-icon>
  </button>
</div>
<mat-form-field style="width: 100%;">
  <textarea matInput #textArea placeholder="Markdown" columns="80"
    cdkTextareaAutosize style="padding: unset;" [ngModel]="formattedValue"
    (ngModelChange)="updateValue($event)" (paste)="addImagesToMarkdown(
    textArea.selectionStart, $event.clipboardData.files)">
  </textarea>
</mat-form-field>
<div style="width: 100%;">
  Preview:
  <markdown [data]="value"></markdown>
</div>
