<div>
  <mat-form-field>
    <mat-select placeholder="Type" [(ngModel)]="selectedType">
      <mat-option *ngFor="let type of (typeService.getKoheseTypes() | mapKey)" [value]="typeService.getKoheseTypes()[type]">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <overview-form #userInput [type]="selectedType"></overview-form>
</div>
<ng-container *ngIf="data">
  <div class="pull-right">
    <mat-dialog-actions>
      <button mat-raised-button [mat-dialog-close]="0">
        Cancel
      </button>
      <button mat-raised-button [mat-dialog-close]="1"
         (click)="build(userInput.getFormGroup().value)">
        Finish
      </button>
    </mat-dialog-actions>
  </div>
</ng-container>
