<div *ngIf="!project" style="padding: 20px;">
  <h1> Please select a project :
    <button mat-raised-button (click)="openProjectSelection()"> Select </button>
  </h1>
</div>
<div *ngIf="project" style="padding: 20px;">
  <h1>{{ project.proxy.item.name }}
    <button mat-raised-button (click)="openProjectSelection()"> Change Project</button>
    <button mat-raised-button (click)="editProject()"> Edit Project</button>
  </h1>

</div>
<div style="height: calc(100% - 100px);">
  <ng-container *ngIf="(projectStream | async)">
    <ng-container [ngSwitch]="dashboardSelection">
      <ng-container *ngSwitchCase="DashboardSelections.PROJECT_OVERVIEW">
        <project-overview [projectStream]="projectStream"></project-overview>
      </ng-container>
      <ng-container *ngSwitchCase="DashboardSelections.USER_STATISTICS">
        <user-statistics [projectStream]="projectStream"></user-statistics>
      </ng-container>
      <ng-container *ngSwitchCase="DashboardSelections.PROJECT_STATUS">
        <status-dashboard [projectStream]="projectStream"></status-dashboard>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
