<div style="height: 50px; display: flex; flex-direction: row;">
  <ng-container *ngIf="!editable else editableBlock">
    <button mat-icon-button matTooltip="Edit display settings for this kind"
      class="flex-right-align" (click)="editable = true">
      <mat-icon class="fa fa-edit"></mat-icon>
    </button>
  </ng-container>
  <ng-template #editableBlock>
    <!-- Leave the "save" button always enabled for now. -->
    <button mat-icon-button matTooltip="Save display settings for this kind"
      class="flex-right-align" (click)="save()">
      <mat-icon class="fa fa-save"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Discard display changes to this kind"
      (click)="discardChanges()">
      <mat-icon class="fa fa-times"></mat-icon>
    </button>
  </ng-template>
</div>
<div style="border-bottom: 1px solid lightgray; margin-bottom: 5px;">
  <label>
    Icon:
  </label>
  <br/>
  <mat-form-field style="width: 100%;">
    <input matInput type="text" placeholder="Filter" [disabled]="!editable"
      (input)="filterChanged($event.target.value)"/>
  </mat-form-field>
  <div #iconList style="height: 300px; overflow: auto;">
    <div style="column-count: 4;">
      <ng-container *ngFor="let icon of getIcons()">
        <button mat-button matTooltip="{{icon.name + ((icon.usages.length > 0) ?
          (' - Used by the following kinds: ' + icon.usages.join(', ')): '')}}"
          [ngClass]="{ 'highlight': (viewModel.icon === icon.iconString) }"
          [disabled]="!editable" (click)="iconSelected(icon.iconString)"
          style="width: 100%; text-align: left;">
          <mat-icon class="{{icon.iconString}}"></mat-icon>
          <span matBadge="{{icon.usages.length}}" [matBadgeHidden]="(icon.
            usages.length === 0)" matBadgeOverlap="false">
            {{icon.name}}
          </span>
        </button>
        <br/>
      </ng-container>
    </div>
  </div>
</div>
<mat-form-field style="width: 180px;">
  <input matInput type="color" placeholder="Color" [disabled]="!editable"
    [ngModel]="viewModel.color" (ngModelChange)="colorSelected($event)"
    style="height: 40px; width: 180px;"/>
</mat-form-field>
<br/>
<div>
  <div style="height: 50px; display: flex; flex-direction: row;">
    <h3>
      Tables
    </h3>
    <button mat-icon-button matTooltip="Add a table definition"
      class="flex-right-align" (click)="addTableDefinition()"
      [disabled]="!editable">
      <mat-icon class="fa fa-plus"></mat-icon>
    </button>
  </div>
  <div style="height: calc(100% - 50px); overflow: auto;">
    <ng-container *ngFor="let tableDefinition of Object.values(viewModel.
      tableDefinitions)">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="align-items: center;">
            {{tableDefinition.name}}
          </mat-panel-title>
          <button mat-icon-button matTooltip="Rename this table
            definition" class="flex-right-align"
            (click)="renameTableDefinition(tableDefinition.id); $event.
            stopPropagation()" [disabled]="!editable">
            <mat-icon class="fa fa-i-cursor"></mat-icon>
          </button>
          <button mat-icon-button matTooltip="Remove this table
            definition" (click)="removeTableDefinition(
            tableDefinition.id); $event.stopPropagation()"
            [disabled]="!editable">
            <mat-icon class="fa fa-trash"></mat-icon>
          </button>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <!-- Handle local type selection -->
          <table-editor [tableDefinition]="tableDefinition" [kind]="dataModel"
            [disabled]="!editable">
          </table-editor>
        </ng-template>
      </mat-expansion-panel>
    </ng-container>
  </div>
</div>
<div>
  <div style="height: 50px; display: flex; flex-direction: row;">
    <h3>
      Format Definitions
    </h3>
    <button mat-icon-button matTooltip="Add a format definition"
      class="flex-right-align" (click)="addFormatDefinition()"
      [disabled]="!editable">
      <mat-icon class="fa fa-plus"></mat-icon>
    </button>
  </div>
  <div style="height: calc(100% - 50px); overflow: auto;">
    <ng-container *ngFor="let formatDefinition of Object.values(viewModel.
      formatDefinitions)">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="align-items: center;">
            {{formatDefinition.name}}
          </mat-panel-title>
          <button mat-icon-button matTooltip="Rename this format definition"
            class="flex-right-align" (click)="renameFormatDefinition(
            formatDefinition.id); $event.stopPropagation()"
            [disabled]="!editable">
            <mat-icon class="fa fa-i-cursor"></mat-icon>
          </button>
          <button mat-icon-button matTooltip="Preview this format definition"
            (click)="previewFormatDefinition(formatDefinition.id); $event.
            stopPropagation()">
            <mat-icon class="fa fa-search"></mat-icon>
          </button>
          <button mat-icon-button matTooltip="Make this format definition the
            default document format definition for this kind"
            (click)="setDefaultFormatDefinition(FormatDefinitionType.DOCUMENT,
            formatDefinition.id); $event.stopPropagation()"
            [disabled]="!editable">
            <mat-icon class="fa fa-star" [ngClass]="{ 'highlight-foreground':
              (viewModel.defaultFormatKey[FormatDefinitionType.DOCUMENT] ===
              formatDefinition.id) }">
            </mat-icon>
          </button>
          <button mat-icon-button matTooltip="Make this format definition the
            default card format definition for this kind"
            (click)="setDefaultFormatDefinition(FormatDefinitionType.CARD,
            formatDefinition.id); $event.stopPropagation()"
            [disabled]="!editable">
            <mat-icon class="fa fa-star" [ngClass]="{ 'highlight-foreground':
              (viewModel.defaultFormatKey[FormatDefinitionType.CARD] ===
              formatDefinition.id) }">
            </mat-icon>
          </button>
          <button mat-icon-button matTooltip="Remove this format definition"
            (click)="removeFormatDefinition(formatDefinition.id); $event.
            stopPropagation()" [disabled]="(!editable || (Object.keys(
            viewModel.formatDefinitions).length === 1))">
            <mat-icon class="fa fa-trash"></mat-icon>
          </button>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <format-gui [format]="formatDefinition" [kind]="dataModel"
            [disabled]="!editable">
          </format-gui>
        </ng-template>
      </mat-expansion-panel>
    </ng-container>
  </div>
</div>
<div style="height: 50px; width: 100%;">
  <h3>
    Attributes
  </h3>
</div>
<mat-table #attributeTable matSort [dataSource]="attributes"
  (matSortChange)="sortAttributes($event.active, $event.direction)">
  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Name
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.name}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Display Name">
    <mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100%;
      padding-right: 5px;">
      Display Name
    </mat-header-cell>
    <mat-cell *matCellDef="let element" style="width: 100%;
      padding-right: 5px;">
      <mat-form-field style="width: 100%;">
        <input matInput type="text" [ngModel]="element.displayName"
          (ngModelChange)="element.displayName = $event; itemProxy.dirty =
          true" [disabled]="!editable"/>
      </mat-form-field>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Display Type">
    <mat-header-cell *matHeaderCellDef mat-sort-header
      style="flex: 0 0 180px;">
      Display Type
    </mat-header-cell>
    <mat-cell *matCellDef="let element" style="flex: 0 0 180px;">
      <mat-form-field style="width: 100%; padding: 0px 5px 0px 5px;">
        <mat-select [ngModel]="element.inputType.type"
          (ngModelChange)="element.inputType.type = $event; itemProxy.dirty =
          true" [disabled]="!editable" [compareWith]="areTypeValuesEqual">
          <mat-option *ngFor="let attributeType of getTypes(element.name)"
            [value]="getTypeValue(element.name, attributeType)">
            {{attributeType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['Name', 'Display Name', 'Display Type'];
    sticky: true">
  </mat-header-row>
  <mat-row *matRowDef="let row; columns: ['Name', 'Display Name',
    'Display Type']">
  </mat-row>
</mat-table>