<div *ngIf="project">

  <div class="project-tree">
    <h4 style="position: sticky">Project Items : </h4>
    <tree-root [nodes]="projectItems" options="treeOptions">
      <ng-template #treeNodeTemplate let-node let-index="index">
        <td (click)="openProxyDetails(node.data)" matTooltip="{{node.data.item.description | truncate : 150}}">{{node.data.item.name}}</td>
      </ng-template>
    </tree-root>
  </div>
  <div class="activity-list">
    <h4>Activity Feed: </h4>
    <virtual-scroll #activityFeed [items]="activityList">
      <div *ngFor="let activity of activityFeed.viewPortItems" class="activity-row" (click)="openProxyDetails(activity)">
        <b>{{activity.item.name}} </b>
        <span>&#160;</span>
        <span *ngIf="activity.item.modifiedOn === activity.item.createdOn"> created on</span>
        <span *ngIf="activity.item.modifiedOn !== activity.item.createdOn"> modified on </span>
        <span>&#160;</span>
        {{activity.item.modifiedOn | date: 'long'}} by {{activity.item.modifiedBy}}
      </div>
    </virtual-scroll>
  </div>
  <div class="project-tree"*ngIf="lostProjectItems">
      <h4 style="position: sticky">Lost Items : </h4>
      <tree-root [nodes]="lostProjectItems" options="treeOptions">
         <ng-template #treeNodeTemplate let-node let-index="index">
           <td (click)="openProxyDetails(node.data)" matTooltip="{{node.data.item.description | truncate : 150}}">{{node.data.item.name}}</td>
         </ng-template>
      </tree-root>
      </div>
</div>
