@import '../../../../app.component';

virtual-scroll {
  height: 90%;
  width : 100%;
}

.activity-row {
  height : 50px;
  width : 100%;
  border-bottom : 1px solid gray;
  &:hover {
    cursor: pointer;
  }
}
