.project-tree {
  padding : 15px;
  border : 1px solid rgb(68, 55, 55);
  border-radius : 5px;
  width: 20%;
  display : inline-block;
  height : 700px;
  overflow : auto !important;
}

.activity-list {
  padding : 15px;
  width: 50%;
  display: inline-block;
  height : 700px;
  overflow : hidden;
}

virtual-scroll {
  height: 90%;
  width : 100%;
}

.activity-row {
  height : 50px;
  width : 100%;
  border-bottom : 1px solid gray;
  &:hover {
    cursor: pointer;
  }
}
