@import '../../../../../app.component';

/deep/ .mat-expansion-panel-content {
  height: 300px;
  overflow: auto !important;
}

.selected-type {
  background-color : rgba(106, 168, 106, 0.795);
  color : whitesmoke;
}

