<div style="height: 100%; width: 100%;">
  <ng-container *ngIf="koheseType">
    <split direction="horizontal">
      <split-area id="propertyListSplitArea" [size]="33">
        <button mat-icon-button id="addButton" (click)="add()"
          [disabled]="koheseType.dataModelProxy.item.isMetaModel">
          <mat-icon class="fa fa-plus"></mat-icon>
        </button>
        <mat-list>
          <mat-list-item
            *ngFor="let propertyId of (koheseType.dataModelProxy.item.properties | mapKey)">
            {{propertyId}}
            <span class="list-item-button-span">
              <button mat-icon-button
                [ngClass]="{ 'highlight': (selectedPropertyId === propertyId) }"
                (click)="selectedPropertyId = propertyId">
                <mat-icon class="fa fa-edit"></mat-icon>
              </button>
              <button mat-icon-button (click)="delete(propertyId)"
                [disabled]="koheseType.dataModelProxy.item.isMetaModel">
                <mat-icon class="fa fa-trash"></mat-icon>
              </button>
            </span>
          </mat-list-item>
        </mat-list>
      </split-area>
      <split-area [size]="67">
        <split direction="vertical">
          <split-area [size]="50" class="pad">
            <ng-container
              *ngIf="koheseType.fields[selectedPropertyId]">
              <mat-form-field>
                <mat-select placeholder="Type"
                  [ngModel]="koheseType.fields[selectedPropertyId].type"
                  (ngModelChange)="updateProperty(['type'], convertTypeString($event))"
                  [disabled]="koheseType.dataModelProxy.item.isMetaModel"
                  [compareWith]="areTypesSame">
                  <mat-option *ngFor="let type of (types | mapKey)"
                    [value]="types[type]">
                    {{type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br/>
              <mat-checkbox
                [ngModel]="koheseType.fields[selectedPropertyId].id"
                (ngModelChange)="updateProperty(['id'], $event)"
                [disabled]="koheseType.dataModelProxy.item.isMetaModel">
                ID Field
              </mat-checkbox>
              <br/>
              <mat-checkbox
                [checked]="koheseType.fields[selectedPropertyId].relation"
                (change)="changeRelationness($event.checked)"
                [disabled]="koheseType.dataModelProxy.item.isMetaModel">
                Reference Field
              </mat-checkbox>
              <br/>
              <ng-container
                *ngIf="koheseType.fields[selectedPropertyId].relation">
                <mat-form-field>
                  <mat-select placeholder="Reference Type"
                    [ngModel]="koheseType.fields[selectedPropertyId].relation"
                    (ngModelChange)="updateProperty(['relation'], $event)"
                    [compareWith]="areRelationsEqual"
                    [disabled]="koheseType.dataModelProxy.item.isMetaModel">
                    <mat-optgroup *ngFor="let typeName of (idProperties | mapKey)"
                      [label]="typeName">
                      <mat-option
                        *ngFor="let propertyName of idProperties[typeName]"
                        [value]="{ kind: typeName, foreignKey: propertyName }">
                        {{propertyName}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
                <br/>
              </ng-container>
              <mat-checkbox [(ngModel)]="multivalued"
                [disabled]="koheseType.dataModelProxy.item.isMetaModel">
                Multivalued
              </mat-checkbox>
              <br/>
              <mat-checkbox
                [ngModel]="koheseType.fields[selectedPropertyId].required"
                (ngModelChange)="updateProperty(['required'], $event)"
                [disabled]="koheseType.dataModelProxy.item.isMetaModel">
                Required
              </mat-checkbox>
              <br/>
              <mat-form-field>
                <textarea matInput placeholder="Default Value" rows="3"
                  cols="80"
                  [ngModel]="koheseType.fields[selectedPropertyId].default"
                  (ngModelChange)="updateProperty(['default'], $event)"
                  [disabled]="koheseType.dataModelProxy.item.isMetaModel">
                </textarea>
              </mat-form-field>
            </ng-container>
          </split-area>
          <split-area [size]="50" class="pad">
            <ng-container
              *ngIf="koheseType.fields[selectedPropertyId] && koheseType.fields[selectedPropertyId].views['form']">
              <mat-form-field>
                <input matInput type="text" placeholder="Display Name"
                  [ngModel]="koheseType.fields[selectedPropertyId].views['form'].displayName"
                  (ngModelChange)="updateProperty(['views', 'form', 'displayName'], $event)"/>
              </mat-form-field>
              <br/>
              <mat-form-field>
                <mat-select placeholder="Input Type"
                  [ngModel]="koheseType.fields[selectedPropertyId].views['form'].inputType.type"
                  (ngModelChange)="updateProperty(['views', 'form', 'inputType', 'type'], $event)">
                  <mat-option
                    *ngFor="let inputType of userInputs | mapKey"
                    [value]="inputType">
                    {{userInputs[inputType]}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br/>
            </ng-container>
          </split-area>
        </split>
      </split-area>
    </split>
  </ng-container>
</div>
