<div mat-dialog-title class="dialog-title" style="height: 40px;
  background-color: maroon; color: whitesmoke;">
  <span style="font-size: large">{{itemProxy.item.name}}</span>
  <span class="pull-right item-actions">
    <i mat-icon-button class="fa fa-lg fa-edit"
      *ngIf="!editableStream.getValue()"
      (click)="editableStream.next(true)"
      title="Edit">
    </i>
    <span *ngIf="editableStream.getValue()" class="fa fa-stack">
      <i class="fa fa-lg fa-edit fa-stack-2x stacked-parent"
        (click)="cancelEditing()"
        title="Cancel Edit">
      </i>
      <i class="fa fa-stack-1x fa-times stacked-child"
        (click)="cancelEditing()"
        title="Cancel Edit">
      </i>
    </span>
    <i mat-icon-button class="fa fa-lg fa-save"
      (click)="upsertItem(detailsFormGroup.value)"
      title="Save">
    </i>
  </span>
</div>
<mat-dialog-content style="height: calc(100% - 100px)">
  <mat-tab-group>
    <mat-tab label="Document" *ngIf="!hideDocument">
      <document-view [proxyStream]="proxyStream" [incrementalLoad]="true">
      </document-view>
    </mat-tab>
    <mat-tab label="Details">
      <details-form [proxyStream]="proxyStream"
        [editableStream]="editableStream"
        (formGroupUpdated)="onFormGroupUpdated($event)"
        (nonFormFieldChanged)="onNonFormFieldChanged($event)">
      </details-form>
    </mat-tab>
    <mat-tab label="References">
      <references-tab [proxyStream]="proxyStream" [routingStrategy]="'tab'">
      </references-tab>
    </mat-tab>
    <mat-tab label="History" select="getHistory()">
      <history-tab [proxyStream]="proxyStream"></history-tab>
    </mat-tab>
    <mat-tab label="Journal">
      <journal [itemProxy]="itemProxy"></journal>
    </mat-tab>
    <mat-tab label="Action Table" *ngIf="itemProxy.children">
      <action-table [proxyStream]="proxyStream"
        [editableStream]="editableStream">
      </action-table>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions style="height: 40px; display: flex; flex-direction: row;">
  <button mat-raised-button class="flex-right-align" (click)="addTab(
    'Explore', {id: itemProxy.item.id})">
    Explore
  </button>
  <button mat-raised-button (click)=close()>Close</button>
</mat-dialog-actions>
