#analysis-view{
    height: 100%;
    width: 100%;
    overflow: hidden;
    #document-view{
        height: inherit;
        .panel{
            height: calc(100% - 28.89px);
            position: absolute;
            top: 0px;
            right: 0px;
            width: 100%;
            .panel-body{
                overflow:auto;
                height: 100%;
            }
        }
    }
    #term-view{
        height: inherit;
        width: inherit;
        .panel{
            height: calc(100% - 28.89px); 
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            .panel-body {
                overflow: auto;
                height:100%;
            }
        }
    }
    #chunk-view{
        height: inherit;
        width: inherit;
        .panel{
            height: calc(100% - 28.89px);
            width:  100%;
            overflow: hidden;
            position: absolute;
            left: 0px;
            bottom: 0px;
            .panel-body {
                overflow: auto;
                height: 100%;
            }
        }
    }
    #sentence-view{
        height: inherit;
        .panel{
            height: calc(100% - 28.89px);
            width: 100%;
            overflow: hidden;
            position: absolute;
            right: 0px;
            bottom: 0px;
            .panel-body {
                overflow: auto;
                height: 100%;
            }
        }
    }
}