.create-controls {
    position: absolute;
    height:   inherit;
    bottom:   0;
    z-index:  10;
    background-color: white;
    width: 95%;
    padding: 5px 0px 5px 5px;
    overflow: hidden;
}

.create-button {
    border: 1px black solid;
    border-radius: 10px;
    display: inline-block;
    padding: 0px 10px;
    background-color: green;
    color: white;
    margin-right: 5px;
    &:hover{
        cursor: pointer;
    }
}