@import '../utils/variables';

.tab-pane {
  label {
    margin: 10px;
    #Rationale {
      width: 500px;
    }
    .alternative-field {
      width: 500px;
    }
  }
  .form-actions {
    margin-left: 20px;
  }
}

