@import '../utils/variables';

.tab-pane {
  overflow: auto;
  //.details-tab {
  //  width: 80%;
  //}
  .absolute {
    position: absolute;
  }
  label {

    margin: 10px;
    #Rationale {
      width: 500px;
    }
    .alternative-field {
      width: 500px;
    }
  }
  .form-actions {
    margin-left: 20px;
  }
}

//.details-buttons {
//  position: absolute;
//  top: 300px;
//  right: 0;
//  button {
//    margin-bottom: 10px;
//  }
//}

.active-state {
  background-color: $primaryColor + 100;
  color: white;
}

tab {
  div {
    overflow: auto;
  }
}

