@import '../utils/variables';

.tab-pane {
  .absolute {
    position: absolute;
  }
  label {

    margin: 10px;
    #Rationale {
      width: 500px;
    }
    .alternative-field {
      width: 500px;
    }
  }
  .form-actions {
    margin-left: 20px;
  }
}

.active-state {
  background-color: $primaryColor + 100;
  color: white;
}

