@import '../utils/variables';

.knowledge-tree {
  border-collapse: collapse;
  position: relative;
  height: calc(100% - $topActionBarHeight);
  width: calc(100% - 20px);
  margin: 0px 0px 0px 20px;
    
  .kt-icon, .kt-label {
    cursor: pointer;
  }
}

// Recursive padding
.kt-collection .kt-collection {
  padding-left: 15px;
}

.knowledge-tree .kt-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 20px;
  line-height: 20px;
  border-bottom: 2px solid #ddd;
}

.kt-collection .kt-hidden {
  display: none;
}

.knowledge-tree .kt-head, .knowledge-tree .kt-item {
  width: 100%;
}

.kt-body {
  height: calc(100% - 30px);
  overflow: auto;
}

.kt-item:hover {
  background-color: #e5e5e5;
}

.kti-filtered {
  display:none;
}

.kti-filterMatchedChild {
}

.kti-filterMatched {
}

.knowledge-tree .kt-head {
  font-weight: bold;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.kth-cell, .kti-cell {
  display: inline-block;
  vertical-align: top;
  padding: 5px 0px 5px;
}

.kti-name {
  display: inline-block;
  vertical-align: top;
  padding: 5px 0px 5px;
  width: 40%;
}

.kti-description {
  display: inline-block;
  vertical-align: top;
  padding: 5px 0px 5px;
  width: 40%;
}

.knowledge-tree {
  .kt-head {
    .glyphicon-plus {
      color: green;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .kt-item {
    .glyphicon-remove {
      color: $secondaryColor + 100;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.trim-info {
  max-width: 50em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.trim-info-visible {
  max-width: 50em;
  white-space: pre-wrap;
  position: relative;
}