#type-list {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
}
#type-editor {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  width : 50%;
  position : fixed;
  right: 0;
  top : 98px;
  #editor-container {
    height: 100%;
    #base-editor {
      max-height : 500px;
    }
    #property-list {
      height: 500px;
      overflow: auto;
      width: 80%
    }
  }
}
