@import "../utils/variables";

#login-form {
  text-align: center;

  h1 {
    font-size: 60px;
    margin-top: auto;
    font-family: lobster, arial, sans-serif;
  }

  input {
    margin: 5px;
  }

  button {
    color: white;
    padding: 10px;
    margin: 5px;
    width: 20%;
    background-color: $primaryColor;
    &:hover {
      color: white;
      background-color: $primaryColor + 100;
    }
  }
}