<div class="column-header">
  <span class="title">Column</span>
  <span class="pull-right action-menu">
    <button mat-button id="actionMenu" [matMenuTriggerFor]="actionMenu">
      <mat-icon class="fa fa-bars"></mat-icon>
    </button>
    <mat-menu #actionMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="removeContainer()"
        [disabled]="isDisabled">
        <mat-icon class="fa fa-trash"></mat-icon>
        <span>Delete Container</span>
      </button>
      <button mat-menu-item (click)="setFormat(2)" [disabled]="isDisabled">
        <i *ngIf="container.numColumns === 2" class="fa fa-check"></i>2 Columns | | | </button>
      <button mat-menu-item (click)="setFormat(3)" [disabled]="isDisabled">
        <i *ngIf="container.numColumns === 3" class="fa fa-check"></i>3 Columns | | | |</button>
    </mat-menu>
  </span>
</div>
<div class="container-body">
  <div *ngIf="container.numColumns === 2" class="two-columns">
    <div class="c2c1">
      <property-row *ngFor="let content of container.columns[0].contents"
        [container]="container" [property]="content" [kind]="kind"
        (deleted)="deleteProperty(0, $event);" [disabled]="isDisabled">
      </property-row>
      <button mat-button class="add-button" (click)="addRow(0);"
        [disabled]="isDisabled">
        <i class="fa fa-plus"></i> Add Row</button>
    </div>
    <div class="c2c2">
      <property-row *ngFor="let content of container.columns[1].contents"
        [container]="container" [property]="content" [kind]="kind"
        (deleted)="deleteProperty(1, $event);" [disabled]="isDisabled">
      </property-row>
      <button mat-button class="add-button" (click)="addRow(1);"
        [disabled]="isDisabled">
        <i class="fa fa-plus"></i> Add Row</button>
    </div>
  </div>
  <div *ngIf="container.numColumns === 3" class="three-columns">
    <div class="c3c1">
      <property-row *ngFor="let content of container.columns[0].contents"
        [container]="container" [property]="content" [kind]="kind"
        (deleted)="deleteProperty(0, $event);" [disabled]="isDisabled">
      </property-row>
      <button mat-button class="add-button" (click)="addRow(0);"
        [disabled]="isDisabled">
        <i class="fa fa-plus"></i> Add Row</button>
    </div>
    <div class="c3c2">
      <property-row *ngFor="let content of container.columns[1].contents"
        [container]="container" [property]="content" [kind]="kind"
        (deleted)="deleteProperty(1, $event);" [disabled]="isDisabled">
      </property-row>
      <button mat-button class="add-button" (click)="addRow(1);"
        [disabled]="isDisabled">
        <i class="fa fa-plus"></i> Add Row</button>
    </div>
    <div class="c3c3">
      <property-row *ngFor="let content of container.columns[2].contents"
        [container]="container" [property]="content" [kind]="kind"
        (deleted)="deleteProperty(2, $event);" [disabled]="isDisabled">
      </property-row>
      <button mat-button class="add-button" (click)="addRow(2);"
        [disabled]="isDisabled">
        <i class="fa fa-plus"></i> Add Row</button>
    </div>
  </div>
</div>
