<div style="height: 100%; width: 100%;">
  <h2 mat-dialog-title style="height: 7%; width: 100%;">
    Compare Commits
  </h2>
  <mat-form-field style="height: 7%; width: 100%;">
    <mat-select placeholder="Change" [value]="changeCommitId"
      (selectionChange)="changeCommitId = $event.value; compareCommits()">
      <mat-option *ngFor="let commitId of (commitMap | mapKey)"
        [value]="commitId">
        {{commitMap[commitId].message}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field style="height: 7%; width: 100%;">
    <mat-select placeholder="Base" [value]="baseCommitId"
      (selectionChange)="baseCommitId = $event.value; compareCommits()">
      <mat-option *ngFor="let commitId of (commitMap | mapKey)"
        [value]="commitId">
        {{commitMap[commitId].message}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <div style="height: 69%; width: 100%;">
    <change-summary [comparisonsSubject]="comparisonsSubject"></change-summary>
  </div>
  <ng-container *ngIf="data">
    <mat-dialog-actions
      style="height: 10%; width: 100%; display: flex; flex-direction: column;">
      <span class="flex-right-align">
        <button mat-raised-button [mat-dialog-close]="">
          Close
        </button>
      </span>
    </mat-dialog-actions>
  </ng-container>
</div>
