<div style="height: 100%; width: 100%;">
  <h2 mat-dialog-title style="height: 7%; width: 100%;">
    Compare Commits
  </h2>
  <mat-form-field style="height: 7%; width: 100%;">
    <mat-select placeholder="Base" [value]="baseCommitId"
      (selectionChange)="baseCommitId = $event.value; compareCommits()">
      <mat-option *ngFor="let commitId of (commitMap | mapKey)"
        [value]="commitId">
        {{commitMap[commitId].message}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field style="height: 7%; width: 100%;">
    <mat-select placeholder="Change" [value]="changeCommitId"
      (selectionChange)="changeCommitId = $event.value; compareCommits()">
      <mat-option *ngFor="let commitId of (commitMap | mapKey)"
        [value]="commitId">
        {{commitMap[commitId].message}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <virtual-scroll #differenceList [items]="differences">
    <ng-container *ngFor="let difference of differenceList.viewPortItems">
      <button mat-raised-button [matMenuTriggerFor]="differenceMenu"
        style="width: 100%; text-align: left;">
        <mat-icon class="{{difference.iconString}}"></mat-icon>
        {{difference.item.name}}
      </button>
      <br/>
    </ng-container>
    <mat-menu #differenceMenu="matMenu" [overlapTrigger]="false">
      <ng-template matMenuContent let-difference="difference">
        <button mat-menu-item (click)="openComparisonDialog(difference)">
          <mat-icon class="fa fa-exchange"></mat-icon>
          Compare Versions
        </button>
      </ng-template>
    </mat-menu>
  </virtual-scroll>
  <ng-container *ngIf="data">
    <mat-dialog-actions
      style="height: 10%; width: 100%; display: flex; flex-direction: column;">
      <span class="flex-right-align">
        <button mat-raised-button [mat-dialog-close]="">
          Close
        </button>
      </span>
    </mat-dialog-actions>
  </ng-container>
</div>
