<form name="detailsCtrl.actionForm">
    <label class=control-label" for="ActionState">
        State:
        <select id="ActionState"
                ng-disabled="!detailsCtrl.enableEdit"
                ng-model="detailsCtrl.itemProxy.item.actionState">
            <option ng-repeat="state in detailsCtrl.actionStates">{{state.item.name}}</option>
        </select>
    </label>
    <label class=control-label">
        Assigned To:
        <angucomplete-alt id="AssignedTo"
                          disable-input="!detailsCtrl.enableEdit"
                          placeholder="{{detailsCtrl.itemProxy.item.assignedTo}}"
                          selected-object="detailsCtrl.actionAssigned"
                          search-fields="item.name,item.description"
                          title-field="item.name"
                          description-field="item.description"
                          pause="100"
                          local-data="detailsCtrl.userList"
                          minlength="1"
                          match-class="highlight"
                ></angucomplete-alt>
    </label>
    <br>
    <label class=control-label" for="EstimatedStart">
        Estimated Start:
        <div class="controls">
            <input
                    ng-model="detailsCtrl.itemProxy.item.estimatedStart"
                    ng-disabled="!detailsCtrl.enableEdit"
                    id="EstimatedStart">
        </div>
    </label>
    <label class=control-label" for="EstimatedCompletion">
        Estimated Completion:
        <div class="controls">
            <input ng-model="detailsCtrl.itemProxy.item.estimatedCompletion"
                   ng-disabled="!detailsCtrl.enableEdit"
                   id="EstimatedCompletion">
        </div>
    </label>
    <label class=control-label" for="EstimatedHours">
        Estimated Hours:
        <div class="controls">
            <input ng-model="detailsCtrl.itemProxy.item.estimatedHoursEffort"
                   ng-disabled="!detailsCtrl.enableEdit"
                   id="EstimatedHours">
        </div>
    </label>
    <br>
    <label class=control-label" for="ActualStart">
        Actual Start:
        <div class="controls">
            <input ng-model="detailsCtrl.itemProxy.item.actualStart"
                   ng-disabled="!detailsCtrl.enableEdit"
                   id="ActualStart">
        </div>
    </label>
    <label class=control-label" for="ActualCompletion">
        Actual Completion:
        <div class="controls">
            <input ng-model="detailsCtrl.itemProxy.item.actualCompletion"
                   ng-disabled="!detailsCtrl.enableEdit"
                   id="ActualCompletion">
        </div>
    </label>
    <label class=control-label" for="ActualHours">
        Actual Hours:
        <div class="controls">
            <input ng-model="detailsCtrl.itemProxy.item.actualHoursEfforts"
                   ng-disabled="!detailsCtrl.enableEdit"
                   id="ActualHours">
        </div>
    </label>
</form>