<div>
    <div class="text-center" ng-if="detailsCtrl.itemProxy.item.actionState === 'Assigned'
                                    && detailsCtrl.currentUser === detailsCtrl.itemProxy.item.assignedTo">
        Do you you accept this assignment?
        <br>
        <button ng-click="detailsCtrl.updateState('Accepted', 'Action')"
                class="btn btn-primary">Yes
        </button>
        <button ng-click="detailsCtrl.updateState('Pending Reassign', 'Action')" class="btn btn-danger">No
        </button>
    </div>
    <div ng-if="detailsCtrl.itemProxy.item.actionState === 'Pending Reassign'"
         class="text-center">
        Action requires assignment:
        <label class=control-label">
            Assign To:
            <angucomplete-alt id="AssignedTo"
                              disable-input="!detailsCtrl.enableEdit"
                              placeholder="{{detailsCtrl.itemProxy.item.assignedTo}}"
                              selected-object="detailsCtrl.actionAssigned"
                              search-fields="item.name,item.description"
                              title-field="item.name"
                              description-field="item.description"
                              pause="100"
                              local-data="detailsCtrl.userList"
                              minlength="1"
                              match-class="highlight"
                    ></angucomplete-alt>
            <button ng-click="detailsCtrl.updateState('Assigned', 'Action')"
                    class="btn btn-primary">Assign
            </button>
            </button>

        </label>
    </div>

    <accordion>
        <div ng-include="'components/common/templates/decision-form.new.html'"></div>
        <accordion-group heading="Approved"
                         is-open="detailsCtrl.accordion.Approved">
            <label class=control-label">
                Assigned To:
                <angucomplete-alt id="AssignedTo"
                                  disable-input="!detailsCtrl.enableEdit"
                                  placeholder="{{detailsCtrl.itemProxy.item.assignedTo}}"
                                  selected-object="detailsCtrl.actionAssigned"
                                  search-fields="item.name,item.description"
                                  title-field="item.name"
                                  description-field="item.description"
                                  pause="100"
                                  local-data="detailsCtrl.userList"
                                  minlength="1"
                                  match-class="highlight"
                        ></angucomplete-alt>
            </label>
            <button ng-click="detailsCtrl.updateState('Assigned', 'Action')"
                    class="btn btn-primary">Assign
            </button>
            <button ng-click="detailsCtrl.updateState('Pending Reassign', 'Action')" class="btn btn-danger">Reassign
            </button>
        </accordion-group>

        <accordion-group heading="Accepted"
                         is-open="detailsCtrl.accordion.Accepted">
            <div>
                <label class="control-label three-columns">
                    Estimated Start:
            <span class="input-group ">
                <input type="text"
                       class="form-control"
                       ng-disabled="!detailsCtrl.enableEdit"
                       datepicker-popup="dd-MMMM-yyyy"
                       ng-model="detailsCtrl.itemProxy.item.estimatedStart"
                       ng-change="detailsCtrl.convertDate('estimatedStart')"
                       is-open="detailsCtrl.estimatedStart"
                       datepicker-options="detailsCtrl.dateOptions"
                       close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-disabled="!detailsCtrl.enableEdit"
                        ng-click="detailsCtrl.openDatePicker($event, 'estimatedStart')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </span>
                </label>
                <label class="three-columns control-label">
                    Estimated Completion:
            <span class="input-group">
                <input type="text"
                       class="form-control"
                       datepicker-popup="dd-MMMM-yyyy"
                       ng-disabled="!detailsCtrl.enableEdit"
                       ng-model="detailsCtrl.itemProxy.item.estimatedCompletion"
                       ng-change="detailsCtrl.convertDate('estimatedCompletion', true)"
                       is-open="detailsCtrl.estimatedCompletion"
                       datepicker-options="detailsCtrl.dateOptions"
                       close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-disabled="!detailsCtrl.enableEdit"
                        ng-click="detailsCtrl.openDatePicker($event, 'estimatedCompletion')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </span>
                </label>
                <label class="control-label three-columns top-align" for="EstimatedHours">
                    Estimated Hours:
                    <br/>
                    <input class=""
                           ng-model="detailsCtrl.itemProxy.item.estimatedHoursEffort"
                           ng-disabled="!detailsCtrl.enableEdit"
                           id="EstimatedHours">
                </label>
                <br>
                <button ng-click="detailsCtrl.updateState('In Work', 'Action')"
                        class="btn btn-primary">Begin Work
                </button>
                <button ng-click="detailsCtrl.updateState('Pending Reassign','Action')"
                        class="btn btn-danger"> Reassign
                </button>
            </div>
        </accordion-group>
        <accordion-group heading="In Work"
                         is-open="detailsCtrl.accordion.InWork">
            <label class="three-columns control-label">
                Actual Start:
            <span class="input-group">
                <input type="text"
                       class="form-control"
                       datepicker-popup="dd-MMMM-yyyy"
                       ng-disabled="!detailsCtrl.enableEdit"
                       ng-model="detailsCtrl.itemProxy.item.actualStart"
                       ng-change="detailsCtrl.convertDate('actualStart')"
                       is-open="detailsCtrl.actualStart"
                       datepicker-options="detailsCtrl.dateOptions"
                       close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-disabled="!detailsCtrl.enableEdit"
                        ng-click="detailsCtrl.openDatePicker($event, 'actualStart')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
                  </span>
                </span>
            </label>
            <label class="three-columns control-label">
                Actual Completion:
                <div class="controls">
            <span class="input-group">
                <input type="text"
                       class="form-control"
                       datepicker-popup="dd-MMMM-yyyy"
                       ng-disabled="!detailsCtrl.enableEdit"
                       ng-model="detailsCtrl.itemProxy.item.actualCompletion"
                       ng-change="detailsCtrl.convertDate('actualCompletion', true)"
                       is-open="detailsCtrl.actualCompletion"
                       datepicker-options="detailsCtrl.dateOptions"
                       close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-disabled="!detailsCtrl.enableEdit"
                        ng-click="detailsCtrl.openDatePicker($event, 'actualCompletion')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
                  </span>
                </span>
                </div>
            </label>
            <label class="control-label top-align three-columns" for="ActualHours">
                Actual Hours:
                <div class="controls">
                    <input ng-model="detailsCtrl.itemProxy.item.actualHoursEfforts"
                           ng-disabled="!detailsCtrl.enableEdit"
                           id="ActualHours">
                </div>
            </label>
            <br>
            <button ng-click="detailsCtrl.updateState('In Verification', 'Action')"
                    class="btn btn-primary">Request Verification
            </button>
        </accordion-group>
        <accordion-group heading="In Verification"
                         is-open="detailsCtrl.accordion.InVerification">
            Verified By:
            <angucomplete-alt id="VerifiedBy"
                              disable-input="!detailsCtrl.enableEdit"
                              placeholder="{{detailsCtrl.itemProxy.item.verifiedBy}}"
                              selected-object="detailsCtrl.verifiedBy"
                              search-fields="item.name,item.description"
                              title-field="item.name"
                              description-field="item.description"
                              pause="100"
                              local-data="detailsCtrl.userList"
                              minlength="1"
                              match-class="highlight"
                    ></angucomplete-alt>
            <br>
            <button ng-click="detailsCtrl.updateState('Verified', 'Action')"
                    class="btn btn-primary">Verify
            </button>
            <button ng-click="detailsCtrl.updateState('In Work', 'Action')"
                    class="btn btn-danger">Deny</button>

    </accordion>
</div>