<form name="detailsCtrl.decisionForm">
    <label class="control-label" for="DecisionState">
        State:
        <br/>
        <select id="DecisionState"
                ng-disabled="!detailsCtrl.enableEdit"
                ng-model="detailsCtrl.itemProxy.item.decisionState">
            <option ng-repeat="state in detailsCtrl.decisionStates">{{state.item.name}}</option>
        </select>
    </label>
    <label class="control-label three-columns">
        Approved By:
        <angucomplete-alt id="ApprovedBy"
                          disable-input="!detailsCtrl.enableEdit"
                          placeholder="{{detailsCtrl.itemProxy.item.approvedBy}}"
                          selected-object="detailsCtrl.decisionApproved"
                          search-fields="item.name,item.description"
                          title-field="item.name"
                          description-field="item.description"
                          pause="100"
                          local-data="detailsCtrl.userList"
                          minlength="1"
                          match-class="highlight"
                ></angucomplete-alt>
    </label>
    <br/>
    <label class="control-label three-columns">
        Approved On:
        <div class="controls">
            <span class="input-group">
                <input type="text"
                       class="form-control"
                       datepicker-popup="dd-MMMM-yyyy"
                       ng-model="detailsCtrl.itemProxy.item.approvedOn"
                       ng-change="detailsCtrl.convertDate('approvedOn', true)"
                       is-open="detailsCtrl.approvedOn"
                       datepicker-options="detailsCtrl.dateOptions"
                       close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="detailsCtrl.openDatePicker($event, 'approvedOn')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
                  </span>
                </span>
        </div>
    </label>
    <br/>
    <label class=control-label" for="Rationale">
        Rationale
        <div class="controls">
            <input id="Rationale"
                   ng-disabled="!detailsCtrl.enableEdit"
                   ng-model="detailsCtrl.itemProxy.item.rationale">
        </div>
    </label>
    <br>
    <label>
        Alternatives:
        <div ng-repeat="alternative in detailsCtrl.itemProxy.item.alternatives track by $index">
            <input class="alternative-field"
                   type="text"
                   ng-disabled="!detailsCtrl.enableEdit"
                   ng-model="alternative.text">
        </div>
        <button ng-click="detailsCtrl.addAlternative()"
                ng-show="detailsCtrl.enableEdit"
                class="btn btn-primary">Add
        </button>
    </label>
</form>