<div>
        <span ng-if="detailsCtrl.itemProxy.kind === 'Decision'" class="form-actions">
        <button ng-click="detailsCtrl.enableEdit=true" ng-disabled="detailsCtrl.enableEdit" class="btn btn-primary">
            Edit
        </button>
        <button ng-click="detailsCtrl.upsertItem()"
                ng-disabled="!detailsCtrl.enableEdit || detailsCtrl.itemForm.$pristine
                && detailsCtrl.actionForm.$pristine && detailsCtrl.decisionForm.$pristine" class="btn btn-primary">
            Update
        </button>
        <button ng-click="detailsCtrl.enableEdit=false; detailsCtrl.cancel()" ng-disabled="!detailsCtrl.enableEdit"
                class="btn btn-danger">
            Cancel
        </button>
        <!-- /.panel-body -->
    </span>
    <accordion-group heading="Proposed"
                     is-open="detailsCtrl.accordion.Proposed">
        <ng-include src="'components/common/templates/itemform.html'"></ng-include>
        <label class=control-label" for="Rationale">
            Rationale
            <div class="controls">
                <input id="Rationale"
                       ng-disabled="!detailsCtrl.enableEdit"
                       ng-model="detailsCtrl.itemProxy.item.rationale">
            </div>
        </label>
        <br>
        <label>
            Alternatives:
            <div ng-repeat="alternative in detailsCtrl.itemProxy.item.alternatives track by $index">
                <input class="alternative-field"
                       type="text"
                       ng-disabled="!detailsCtrl.enableEdit"
                       ng-model="alternative.text">
            </div>
            <button ng-click="detailsCtrl.incrementItemInput('alternatives')"
                    ng-show="detailsCtrl.enableEdit"
                    class="btn btn-primary">Add
            </button>
        </label>
        <br>
        <button ng-click="detailsCtrl.updateState('In Analysis', 'Decision')"
                class="btn btn-primary">Request Analysis
        </button>
    </accordion-group>
    <accordion-group heading="In Analysis"
                     is-open="detailsCtrl.accordion.InAnalysis">
        <div>
            <label class="control-label three-columns">
                Estimated Start:
            <span class="input-group ">
                <input type="text"
                       class="form-control"
                       datepicker-popup="dd-MMMM-yyyy"
                       ng-model="detailsCtrl.itemProxy.item.estimatedStart"
                       ng-change="detailsCtrl.convertDate('estimatedStart')"
                       is-open="detailsCtrl.estimatedStart"
                       datepicker-options="detailsCtrl.dateOptions"
                       close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="detailsCtrl.openDatePicker($event, 'estimatedStart')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </span>
            </label>
            <label class="three-columns control-label">
                Estimated Completion:
            <span class="input-group">
                <input type="text"
                       class="form-control"
                       datepicker-popup="dd-MMMM-yyyy"
                       ng-model="detailsCtrl.itemProxy.item.estimatedCompletion"
                       ng-change="detailsCtrl.convertDate('estimatedCompletion', true)"
                       is-open="detailsCtrl.estimatedCompletion"
                       datepicker-options="detailsCtrl.dateOptions"
                       close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="detailsCtrl.openDatePicker($event, 'estimatedCompletion')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </span>
            </label>
            <label class="control-label three-columns absolute">
                Estimated Hours:
                <br/>
                <input class=""
                       ng-model="detailsCtrl.itemProxy.item.estimatedHoursEffort"
                       ng-disabled="!detailsCtrl.enableEdit">
            </label>
            <br>
        </div>
        <button ng-click="detailsCtrl.updateState('In Review','Decision')"
                class="btn btn-primary">Request Review
        </button>
    </accordion-group>
    <accordion-group heading="In Review"
                     is-open="detailsCtrl.accordion.InReview">
        <label class="control-label three-columns">
            Approved By:
            <angucomplete-alt id="ApprovedBy"
                              disable-input="!detailsCtrl.enableEdit"
                              placeholder="{{detailsCtrl.itemProxy.item.approvedBy}}"
                              selected-object="detailsCtrl.decisionApproved"
                              search-fields="item.name,item.description"
                              title-field="item.name"
                              description-field="item.description"
                              pause="100"
                              local-data="detailsCtrl.userList"
                              minlength="1"
                              match-class="highlight"
                    ></angucomplete-alt>
        </label>
        <br/>
        <label class="control-label three-columns">
            Approved On:
            <div class="controls">
            <span class="input-group">
                <input type="text"
                       class="form-control"
                       datepicker-popup="dd-MMMM-yyyy"
                       ng-model="detailsCtrl.itemProxy.item.approvedOn"
                       ng-change="detailsCtrl.convertDate('approvedOn', true)"
                       is-open="detailsCtrl.approvedOn"
                       datepicker-options="detailsCtrl.dateOptions"
                       close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="detailsCtrl.openDatePicker($event, 'approvedOn')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
                  </span>
                </span>
            </div>
        </label>
        <br/>
        <button ng-click="detailsCtrl.updateState('Approved', 'Decision')"
                class="btn btn-primary">Approve
        </button>
        <button ng-click="detailsCtrl.updateState('Disapproved', 'Decision')"
                class="btn btn-danger">Disapprove
        </button>
        <button ng-click="detailsCtrl.updateState('Deferred', 'Decision')"
                class="btn btn-default">Defer
        </button>
        </button>
    </accordion-group>
</div>