<form name="detailsCtrl.itemForm" class="form-horizontal">
    <div>
        <div style="width: 10%; display: inline-block">
					<span class="control-group"
                          ng-class="{error: detailsCtrl.itemForm.kind.$invalid}">
						<label class="control-label" for="Kind">Kind</label>
						<div class="controls">
                            <select id="Kind"
                                    ng-model="detailsCtrl.itemProxy.kind"
                                    ng-change="detailsCtrl.updateItem()"
                                    ng-disabled="!(detailsCtrl.enableEdit && !detailsCtrl.itemProxy.item.hasOwnProperty('id'))">
                                <option ng-repeat="kind in detailsCtrl.kindList">{{kind.modelName}}</option>
                            </select>
                            <!--<input  ng-if="detailsCtrl.itemProxy.item.constructor.modelName" style="width: 90%;" type="text" ng-model="detailsCtrl.itemProxy.item.constructor.modelName"-->
                            <!--id="Kind" ng-disabled="true"/>-->
                            <!--<input  ng-if="!detailsCtrl.itemProxy.item.constructor.modelName" style="width: 90%;" type="text" ng-model="ignoreData" ng-init=""-->
                            <!--id="Kind" ng-disabled="true"/>-->
                        </div>
					</span>
        </div>
        <div style="width: 20%; display: inline-block">
					<span class="control-group"
                          ng-class="{error: detailsCtrl.itemForm.id.$invalid}">
						<label class="control-label" for="Id">Id</label>
						<div class="controls">
                            <input style="width: 90%;" type="text" ng-model="detailsCtrl.itemProxy.item.id"
                                   id="Id" ng-disabled="true"/>
                        </div>
					</span>
        </div>
            <label class="control-label">
                Parent:
                <angucomplete-alt id="Parent"
                                  disable-input="!detailsCtrl.enableEdit"
                                  selected-object="detailsCtrl.parentChanged"
                                  placeholder="{{detailsCtrl.parentProxy.item.name}}"
                                  search-fields="name"
                                  title-field="name"
                                  pause="100"
                                  local-data="detailsCtrl.proxyList"
                                  minlength="1"
                                  match-class="highlight"
                                  style="width: 200px;"
                        ></angucomplete-alt>
            </label>

        <!--<div style="width: 20%; display: inline-block">-->
        <!--<span class="control-group"-->
        <!--ng-class="{error: detailsCtrl.itemForm.parentId.$invalid}">-->
        <!--<label-->
        <!--class="control-label" for="Parent"-->
        <!--ui-sref="kohese.explore.edit({id:detailsCtrl.itemProxy.item.parentId})">Parent Id</label>-->
        <!--<div class="controls">-->
        <!--<input style="width: 90%;" type="text"-->
        <!--ng-model="detailsCtrl.itemProxy.item.parentId" id="Parent"-->
        <!--ng-change="detailsCtrl.updateParentProxy()"-->
        <!--ng-disabled="!detailsCtrl.enableEdit"/>-->
        <!--</div>-->
        <!--</span>-->
        <!--</div>-->
        <!--<div style="width: 45%; display: inline-block">-->
        <!--<span class="control-group"-->
        <!--ui-sref="kohese.explore.edit({id:detailsCtrl.itemProxy.item.parentId})"-->
        <!--ng-class="{error: detailsCtrl.itemForm.parentId.$invalid}">-->
        <!--<label-->
        <!--class="control-label" for="Parent Name"-->
        <!--<div class="controls">-->
        <!--<input style="width: 90%;" type="text"-->
        <!--ng-model="detailsCtrl.parentProxy.item.name" id="Parent Name"-->
        <!--ng-disabled="true"/>-->
        <!--</div>-->
        <!--</span>-->
        <!--</div>-->

    </div>
    <div class="control-group"
         ng-class="{error: detailsCtrl.itemForm.name.$invalid}">
        <label class="control-label" for="name">Name</label>

        <div class="controls">
            <input type="text" ng-model="detailsCtrl.itemProxy.item.name" id="name"
                   ng-disabled="!detailsCtrl.enableEdit" style="width:100%"/>
        </div>
    </div>
    <div class="control-group"
         ng-class="{error: detailsCtrl.itemForm.tags.$invalid}">
        <label class="control-label">Tags</label>

        <!--<angucomplete-alt id="Tags"-->
        <!--placeholder="Add Tag"-->
        <!--selected-object="detailsCtrl.tagSelected"-->
        <!--search-fields="item.name,item.description"-->
        <!--title-field="item.name"-->
        <!--description-field="item.description"-->
        <!--pause="100"-->
        <!--local-data="detailsCtrl.categoryTags"-->
        <!--minlength="1"-->
        <!--input-class="form-control form-control-small"-->
        <!--match-class="highlight"-->
        <!--clear-selected="true"-->
        <div class="controls">
            <input type="text" ng-model="detailsCtrl.itemProxy.item.tags" id="Tags"
                   ng-disabled="!detailsCtrl.enableEdit" style="width:100%"/>
        </div>
    </div>
    <div class="control-group"
         ng-class="{error: detailsCtrl.itemForm.description.$invalid}">
        <label class="control-label" for="Description">Description</label>

        <div class="controls">
							<textarea
                                    rows="1" msd-elastic
                                    style="width:100%; max-width:100%;"
                                      ng-model="detailsCtrl.itemProxy.item.description"
                                      ng-disabled="!detailsCtrl.enableEdit" id="Description"></textarea>
        </div>
    </div>
</form>