<form name="detailsCtrl.repositoryForm">
<div>
    <div ng-include="'components/common/templates/itemform.html'"></div>
    <div class="control-group">
        <label class="control-label" for="Origin">Origin</label>
        <div class="controls">
            <input type="text"
                    ng-model="detailsCtrl.itemProxy.item.origin"
                    ng-disabled="true">
        </div>
    </div>
    <div class="control-group">
       <label class="control-label" for="Mounted">Mounted</label>
        <div class="controls">
            <input type="text"
                    ng-model="detailsCtrl.itemProxy.item.mounted"
                    ng-disabled="true">
        </div>
    </div>
</div>
</form>