<div class="admin-screen">
    <div class="panel">
        <div class="panel-heading">Admin</div>
        <span>
            <button class="btn btn-primary" ui-sref="kohese.admin.actions">Actions</button>
            <button class="btn btn-primary" ui-sref="kohese.admin.users">Users</button>
            <button class="btn btn-primary" ui-sref="kohese.admin.groups">Groups</button>
            <button class="btn btn-primary" ui-sref="kohese.admin.repository">Repository</button>
        </span>

        <div id="admin-view-wrapper">
            <ui-view></ui-view>
        </div>
    </div>
</div>