<div class="admin-screen" style="height:inherit">
    <div class="panel" id="adminPanel" style="height:inherit">
        <div class="panel-heading">Admin</div>
        <span>
            <button class="btn btn-primary" ng-click="adminCtrl.navigate('kohese.admin.users', 'singleview')">Users</button>
            <button class="btn btn-primary" ng-click="adminCtrl.navigate('kohese.admin.groups','singleview')">Groups</button>
            <button class="btn btn-primary" ng-click="adminCtrl.navigate('kohese.admin.repository', 'singleview')">Repository</button>
        </span>

        <div id="admin-view-wrapper" style="height:inherit">
            <ui-view></ui-view>
        </div>
    </div>
</div>