<div style="height: 50px; display: flex; flex-direction: row;">
  <mat-form-field style="width: 40%; padding: 0px 3px 0px 3px;">
    <mat-select placeholder="Kind" [(ngModel)]="selectedKind">
      <ng-container *ngFor="let kind of getBoardKinds()">
        <mat-option [value]="kind">
          {{kind.name}}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 40%; padding: 0px 3px 0px 3px;">
    <mat-select placeholder="Attribute" [(ngModel)]="selectedAttribute">
      <ng-container *ngFor="let classPropertiesAttribute of Object.values(
        selectedKind.classProperties)">
        <mat-option [value]="classPropertiesAttribute.definition">
          {{classPropertiesAttribute.definition.name}}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <ng-container
    *ngIf="isSelectedAttributeMultivaluedAndInstantaneouslyFinite()">
    <div style="margin-left: auto; display: flex; flex-direction: column;
      justify-content: center;">
      <mat-checkbox [(ngModel)]="shouldGroupElements">
        Group Elements
      </mat-checkbox>
    </div>
  </ng-container>
  <button mat-icon-button matTooltip="Save the selected Project"
    (click)="save()" [ngStyle]="{ 'margin-left':
    (isSelectedAttributeMultivaluedAndInstantaneouslyFinite() ? '' :
    'auto') }">
    <mat-icon class="fa fa-save"></mat-icon>
  </button>
</div>
<div style="height: calc(100% - 50px); overflow-x: auto; display: flex;
  flex-direction: row;">
  <ng-container *ngFor="let categoryItems of getCategoryItems(); trackBy:
    getCategoryItemsIdentifier">
    <div (dragover)="draggedOver($event, categoryItems)" (dragleave)="$event.
      currentTarget.style.border = ''" (drop)="$event.preventDefault();
      cardDropped($event.dataTransfer.getData($event.dataTransfer.types[0]),
      categoryItems.category)" style="height: 100%; width: 400px; min-width:
      400px; margin: 0px 7px 0px 7px; display: flex; flex-direction: column;">
      <div style="height: 50px;">
        <h3 matTooltip="{{getCategoryHeading(categoryItems)}} ({{categoryItems.items.length}})" style="display:
          flex; flex-direction: row;">
          <span style="max-width: 90%; white-space: nowrap; overflow: hidden;
            text-overflow: ellipsis;">
            {{getCategoryHeading(categoryItems)}}
          </span>
          &nbsp;({{categoryItems.items.length}})
        </h3>
      </div>
      <div style="height: calc(100% - 50px); overflow: auto; display: flex;
        flex-direction: column;">
        <ng-container *ngFor="let item of categoryItems.items">
          <mat-card draggable="{{mayDrag(item)}}" (dragstart)="$event.
            dataTransfer.setData(item[selectedAttribute.name], item.id);
            $event.dataTransfer.dropEffect = 'move'; changeDetectorRef.
            detach()" (dragend)="changeDetectorRef.reattach();
            changeDetectorRef.markForCheck()" [ngStyle]="{ 'background-color':
            viewModel.color }" style="flex: 0 0 170px; color: whitesmoke;
            margin-bottom: 3px;">
            <mat-card-title style="display: flex; flex-direction: row;">
              <h3 matTooltip="{{item.name}}" style="white-space: nowrap;
                overflow: hidden; text-overflow: ellipsis;">
                <mat-icon class="{{viewModel.icon}}">
                </mat-icon>
                {{item.name}}
              </h3>
              <button mat-icon-button matTooltip="Display Item information"
                style="margin-left: auto;" (click)="displayInformation(
                item)">
                <mat-icon class="fa fa-search"></mat-icon>
              </button>
              <button mat-icon-button matTooltip="Navigate to this Item"
                (click)="navigate(item)">
                <mat-icon class="fa fa-arrow-right"></mat-icon>
              </button>
            </mat-card-title>
            <mat-card-content style="background-color: white; color: black;">
              <format-object-editor [type]="selectedKind"
                [viewModel]="viewModel" [object]="item"
                [attributes]="getAttributes()"
                [formatDefinition]="getFormatDefinition()" [disabled]="true">
              </format-object-editor>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
