<div class="preview-header">Table Preview
  <span class="pull-right">
    <button mat-raised-button (click)="openProxySelection()">Select Proxy</button>
  </span>
</div>
<!--
  Change retrieval of tableDefinition below to get an actual TableDefinition
  and not a reference to a TableDefinition
-->
<k-table *ngIf="previewProxy" [tableDefinition]="property.tableDefinition"
  [rows]="getRows()">
</k-table>
<div *ngIf="!previewProxy" class="no-proxy-area">
  <h1>Please Select an item to preview</h1>
</div>
<button mat-raised-button (click)="close()">Close</button>
