<div class="panel">
  <div class="panel-heading" style="height: 50px; display: flex;
    flex-direction: row; align-items: center;">
    Sentence View - (
    <span *ngIf="displayedCount < filteredCount" style="font-weight:normal;">
      {{displayedCount}}/
    </span>
    {{filteredCount}}) Sentences
    <button mat-icon-button style="margin-left: auto;" (click)="toggleLink()">
      <mat-icon class="fa fa-link" [ngClass]="{'syncOn' : syncFilter,
        'syncOff' : !syncFilter}">
      </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Copy table content to clipboard"
      (click)="sentenceCopy()">
      <mat-icon class="fa fa-copy"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Export table content to a file"
      [matMenuTriggerFor]="exportMenu">
      <mat-icon class="fa fa-file-o"></mat-icon>
    </button>
    <mat-menu #exportMenu="matMenu" [overlapTrigger]="false">
      <ng-container *ngFor="let format of Object.keys(DataFormat)">
        <button mat-menu-item (click)="sentenceExport(DataFormat[format])">
          {{DataFormat[format]}}
        </button>
      </ng-container>
    </mat-menu>
  </div>
  <div class="panel-body">
    <div>
      <span><b>Analysis Details</b></span>
      <span class="col-xs-4 pull-right">
        <mat-form-field>
          <input matInput class="input-sm col-xs-6 pull-right" type="number"
            [(ngModel)]="loadLimit" (ngModelChange)="processSentences()" placeholder="Details Limit"/>
        </mat-form-field>
      </span>
      <mat-checkbox [(ngModel)]="showItemsInDetails" (ngModelChange)="onCriteriaChange()">
        Items
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="showSentencesInDetails" (ngModelChange)="onCriteriaChange()">
        Sentences
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="showPhrasesInDetails" (ngModelChange)="onCriteriaChange()">
        Phrases
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="showTokensInDetails" (ngModelChange)="onCriteriaChange()">
        Tokens
      </mat-checkbox>
    </div>
    <div id="sentence-div">
      <table id="theDetails"
        class="table tree-grid table-striped table-condensed table-hover">
        <thead>
          <th>Category</th>
          <th style="width:20%; min-width:200px; max-width:350px">Type</th>
          <th>
            <span (click)="sort('text')">
              Text
              <span *ngIf="sortField === 'text'">
                <i *ngIf="ascending" class="fa fa-chevron-up"></i>
                <i *ngIf="!ascending" class="fa fa-chevron-down"></i>
              </span>
            </span>
          </th>
        </thead>
        <tbody id="theDetailsBody">
          <ng-container *ngFor="let listItem of sentences">
            <tr class="level-{{listItem.displayLevel}}"
              class="tree-grid-row" id="{{listItem.displayId}}"
              (click)="highlight(listItem)">
              <td>{{getCategory(listItem)}}</td>
              <td><span class="indented">{{listItem.displayType}}</span></td>
              <td [innerHTML]="listItem.text | highlightRegex:filterRegexHighlight:true"></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
