<div class="panel">
  <div class="panel-heading" style="height: 50px; display: flex;
    flex-direction: row; align-items: center;">
    Sentence View - (
    <span *ngIf="displayedCount < filteredCount" style="font-weight:normal;">
      {{displayedCount}}/
    </span>
    {{filteredCount}}) Sentences
    <button mat-icon-button style="margin-left: auto;" (click)="toggleLink()">
      <mat-icon class="fa fa-link" [ngClass]="{'syncOn' : syncFilter,
        'syncOff' : !syncFilter}">
      </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Copy table content to clipboard"
      (click)="sentenceCopy()">
      <mat-icon class="fa fa-copy"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Export table content to a file"
      [matMenuTriggerFor]="exportMenu">
      <mat-icon class="fa fa-file-o"></mat-icon>
    </button>
    <mat-menu #exportMenu="matMenu" [overlapTrigger]="false">
      <ng-container *ngFor="let format of Object.keys(DataFormat)">
        <button mat-menu-item (click)="sentenceExport(DataFormat[format])">
          {{DataFormat[format]}}
        </button>
      </ng-container>
    </mat-menu>
  </div>
  <div class="panel-body">
    <div>
      <span><b>Analysis Details</b></span>
      <span class="col-xs-4 pull-right">
        <mat-form-field>
          <input matInput class="input-sm col-xs-6 pull-right" type="number"
            [(ngModel)]="loadLimit" (ngModelChange)="processSentences()" placeholder="Details Limit"/>
        </mat-form-field>
      </span>
      <mat-checkbox [(ngModel)]="showItemsInDetails" (ngModelChange)="onCriteriaChange()">
        Items
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="showSentencesInDetails" (ngModelChange)="onCriteriaChange()">
        Sentences
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="showPhrasesInDetails" (ngModelChange)="onCriteriaChange()">
        Phrases
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="showTokensInDetails" (ngModelChange)="onCriteriaChange()">
        Tokens
      </mat-checkbox>
    </div>
    <div id="sentence-div">
      <mat-table [dataSource]="sentencesDataSource" class="mat-elevation-z8" style="width: 100%;">

        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef>
             Category &nbsp;
          </mat-header-cell>
          <mat-cell *matCellDef="let listItem">{{getCategory(listItem)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>
             Type &nbsp;
          </mat-header-cell>
          <mat-cell *matCellDef="let listItem" class="indented">{{listItem.displayType}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="text">
          <mat-header-cell *matHeaderCellDef
            (click)="sort('text')">
             Sentence &nbsp;
            <span *ngIf="sortField === 'text'">
              <i *ngIf="ascending" class="fa fa-caret-up"></i>
              <i *ngIf="!ascending" class="fa fa-caret-down"></i>
            </span>
          </mat-header-cell>
          <mat-cell *matCellDef="let listItem" (click)="highlight(listItem)">
            {{listItem.text}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="rowDef; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let listItem; columns: rowDef; let j=index;"
          class="level-{{listItem.displayLevel}}"
          tabindex="{{j}}">
        </mat-row>
      </mat-table>
    </div>
  </div>
</div>
