

<div id="details-panel" class="panel">
    <div class="panel-heading ">
        <span ng-if="detailsCtrl.itemProxy.kind">{{detailsCtrl.itemProxy.kind}} Information: {{detailsCtrl.itemProxy.item.name}} </span>
        <span ng-if="!detailsCtrl.itemProxy.kind">No Item Selected</span>
        <span class="pull-right item-actions">
            <i class="fa fa-lg fa-level-up"
                    ng-if="detailsCtrl.itemProxy.item.parentId"
                    ng-click="detailsCtrl.updateTab(detailsCtrl.NavigationService.getCurrentState(detailsCtrl.tab.id), detailsCtrl.itemProxy.item.parentId)"
                    title="Go to Parent"></i>
            <i class="fa fa-lg fa-edit"
               ng-if="!detailsCtrl.enableEdit"
               ng-click="detailsCtrl.enableEdit=true"
               title="Edit"></i>
            <span ng-if="detailsCtrl.enableEdit"
                  class="fa fa-stack">
                <i class="fa fa-lg fa-edit fa-stack-2x stacked-parent"
                   ng-click="detailsCtrl.enableEdit = false"
                   title="Cancel Edit"></i>
                <i class="fa fa-stack-1x fa-times stacked-child"
                   ng-click="detailsCtrl.enableEdit = false; detailsCtrl.cancel();"
                   title="Cancel Edit"></i>
            </span>
            <i class="fa fa-lg fa-save"
               ng-click="detailsCtrl.upsertItem()"
               title=" Save"
                    ></i>
            <i ng-if="detailsCtrl.tab.type === 'singleview'" class="fa fa-clone pull-right"
               ng-click="detailsCtrl.updateTab('kohese.explore.edit', detailsCtrl.itemProxy.item.id)"
               title="Split Screen">
            </i>
            <i class="fa fa-lg fa-arrows-alt" ng-if="detailsCtrl.tab.type === 'dualview'"
               ng-click="detailsCtrl.updateTab('kohese.investigate', detailsCtrl.itemProxy.item.id)"
               title="Fullscreen"></i>
        </span>
    </div>
    <div class="panel-body">
        <!-- Nav tabs -->
        <tabset id="details-tabs">
            <tab id="defaultTab" active="detailsCtrl.defaultTab.active" heading="Document">
                <h4>Document Tab</h4>
                <button ng-click="detailsCtrl.generateHTMLReport()" class="btn btn-primary">
                   Generate HTML Report
               </button>
                <button ng-click="detailsCtrl.generateDOCXReport()" class="btn btn-primary">
                   Generate Word Document
               </button>

		           <div ng-if="detailsCtrl.itemProxy.children.length">
                  <label class="control-label" for="showChildren"> Show Children </label> <input
                         type="checkbox" ng-checked="detailsCtrl.docShowChildren;detailsCtrl.updatedDoc()"
                         ng-click="detailsCtrl.docShowChildren=!detailsCtrl.docShowChildren" />
                </div>
		            

                <ng-bind-html ng-if="!detailsCtrl.docShowChildren" style="height:100%" ng-bind-html="detailsCtrl.itemDescriptionRendered"></ng-bind-html>
                <ng-bind-html ng-if="detailsCtrl.docShowChildren" style="height:100%" ng-bind-html="detailsCtrl.docRendered"></ng-bind-html>
               
            </tab>
            <tab >
                 <tab-heading>Overview <span ng-show="detailsCtrl.itemForm.$dirty">(*)</span></tab-heading>
                <div class="details-tab" ng-if="detailsCtrl.itemProxy.kind ==='Action'">
                    <ng-include src="'components/common/templates/action-form.new.html'"></ng-include>
                </div>
                <div class="details-tab" ng-if="detailsCtrl.itemProxy.kind != 'Action' &&
                detailsCtrl.itemProxy.kind != 'Decision' && detailsCtrl.itemProxy.kind != 'Task'
                && detailsCtrl.itemProxy.kind != 'Repository'">
                    <ng-include src="'components/common/templates/itemform.html'"></ng-include>
                </div>
                <div class="details-tab" ng-if="detailsCtrl.itemProxy.kind ==='Task'">
                    <ng-include src="'components/common/templates/task-form.html'"></ng-include>
                </div>
                <div class="details-tab" ng-if="detailsCtrl.itemProxy.kind ==='Decision'">
                    <accordion>
                        <ng-include src="'components/common/templates/decision-form.new.html'"></ng-include>
                    </accordion>
                </div>
                <div class="details-tab" ng-if="detailsCtrl.itemProxy.kind ==='Repository'">
                    <ng-include src="'components/common/templates/repository-form.html'"></ng-include>
                </div>

            </tab>
            <tab ng-if="detailsCtrl.itemProxy.kind === 'Observation'">
                <tab-heading>Observation</tab-heading>
                <ng-include src="'components/common/templates/observation-form.html'"></ng-include>
            </tab>
            <tab ng-if="detailsCtrl.itemProxy.kind === 'Issue'">
                <tab-heading>Issue</tab-heading>
                <ng-include src="'components/common/templates/issue-form.html'"></ng-include>
            </tab>
            <tab heading="Children ({{detailsCtrl.itemProxy.children.length}})">
                <ng-include src="'components/detailsview/subviews/item.html'"></ng-include>
            </tab>
            <tab heading="Relations">
                <h4>Relations Tab</h4>

                <p><b>This tab is under construction.</b></p>
            </tab>
            <tab heading="Analysis" select="detailsCtrl.fetchAnalysis()">
              <tab-heading>Analysis</tab-heading>
              <tab-content style="height:100%; width:100%; overflow:hidden" >
	              <div style="width:100%">
				          <span>
				            <label class=control-label" for="posFilter">
		                        POS Filter:
		                        <select id="posFilter"
		                                ng-model="detailsCtrl.analysisPOSFilterName">
		                            <option ng-repeat="filterCriteria in detailsCtrl.analysisPOSFilterCriteriaList">{{filterCriteria}}</option>
		                        </select>
		                </label>
				            
		      					<input class="input-sm" type="text" ng-model="detailsCtrl.analysisFilterInput"
		                           placeholder="Filter" style="margin: 5px"/>
		                    <button ng-click="detailsCtrl.submitFilter()" class=" btn btn-default fa fa-search"> Submit</button>
		                    <button ng-click="detailsCtrl.getLastFilter()" class="btn btn-default fa fa-chevron-left"> Last
		                        Filter
		                    </button>
		 	        		</span>
		              <span>
		                <input type="checkbox" ng-model="detailsCtrl.summaryFilterExactMatch"
		                       name="summaryFilterExactMatchInput"
		                       style="margin: 5px"/> Exact Match
		                <input type="checkbox" ng-model="detailsCtrl.summaryFilterIgnoreCase"
		                       name="summaryFilterIgnoreCaseInput"
		                       style="margin: 5px"/> Ignore Case
		              </span>
	              </div>
	              <div style="height: calc(100% - 45px); width:100%; overflow:none; display:block">
                  <div style="height:49%; width:40%; overflow:auto; display:inline-block">
                    <div>
                      <span><b>Token Summary</b>  ({{detailsCtrl.getTokenCount()}})</span>
                      <span class="col-xs-4 pull-right"> 
                        <b>Limit</b>
                        <input class="input-sm col-xs-6 pull-right" type="number" ng-model="detailsCtrl.analysisTokenLimit"
                           placeholder="Token Limit" style="margin: 5px"/>
                      </span>
                    </div>
                    <table id="theTokensSummary"
                           class="table tree-grid table-striped table-condensed table-hover">
                      <thead>
                        <th><a ng-click="detailsCtrl.analysisSummarySortField = 'text'">Text</a></th>
                        <th><a ng-click="detailsCtrl.analysisSummarySortField = '-count'">Count</a></th>
                        <th>POS Count</th>
                      </thead>
                      <tbody id="theTokensBody">
                        <tr class="tree-grid-row" id="Chunk:{{summary.text}}"
                          ng-repeat="summary in detailsCtrl.itemProxy.analysis.extendedTokenSummaryList | filter:detailsCtrl.filterTokens | orderBy:detailsCtrl.analysisSummarySortField | limitTo:detailsCtrl.analysisTokenLimit">
                          <td ng-click="detailsCtrl.submitSummaryFilter(summary.text)"
                              class="tree-label"
                              ng-bind-html="summary.text | highlightRegex:detailsCtrl.analysisFilterRegexHighlight"></td>
                          <td>{{summary.count}}</td>
                          <td>{{summary.posCount}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                   <div class="pull-right" style="height:49%; width:59%; vertical-align: top; display:inline-block; overflow:auto">
                     <div>
                       <span><b>Chunk Summary</b>  ({{detailsCtrl.getChunkCount()}})</span>
                       <span class="col-xs-4 pull-right"> 
                         <b>Limit</b>
                         <input class="input-sm col-xs-6 pull-right" type="number" ng-model="detailsCtrl.analysisChunkLimit"
                            placeholder="Chunk Limit" style="margin: 5px"/>
                       </span>
                     </div>
                     <table id="theChunksSummary"
                            class="table tree-grid table-striped table-condensed table-hover">
                       <thead>
                         <th><a ng-click="detailsCtrl.analysisSummarySortField = 'text'">Text</a></th>
                         <th><a ng-click="detailsCtrl.analysisSummarySortField = '-count'">Count</a></th>
                         <th>POS Count</th>
                       </thead>
                       <tbody id="theChunksBody">
                         <tr class="tree-grid-row" id="Chunk:{{summary.text}}"
                           ng-repeat="summary in detailsCtrl.itemProxy.analysis.extendedChunkSummaryList | filter:detailsCtrl.filterChunks | orderBy:detailsCtrl.analysisSummarySortField | limitTo:detailsCtrl.analysisChunkLimit">
                           <td ng-click="detailsCtrl.submitSummaryFilter(summary.text)"
                               class="tree-label"
                               ng-bind-html="summary.text | highlightRegex:detailsCtrl.analysisFilterRegexHighlight"></td>
                           <td>{{summary.count}}</td>
                           <td>{{summary.posCount}}</td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

                  <div style="height:50%; width:100%; overflow:auto">
                    <div>
                      <span><b>Analysis Details</b>  ({{detailsCtrl.getDetailsItemCount()}})</span>
                      <span class="col-xs-4 pull-right"> 
                        <b>Limit</b>
                        <input class="input-sm col-xs-6 pull-right" type="number" ng-model="detailsCtrl.analysisDetailsItemLimit"
                           placeholder="Details Limit" style="margin: 5px"/>
                      </span>
                    </div>
                    <input type="checkbox" ng-model="detailsCtrl.showSentencesInDetails"
                         ng-init="detailsCtrl.showSentencesInDetails=true" name="showSentencesInDetailsInput"
                         style="margin: 5px"/> Show Sentences in Details
                    <input type="checkbox" ng-model="detailsCtrl.showChunksInDetails"
                         ng-init="detailsCtrl.showChunksInDetails=false" name="showChunksInDetailsInput"
                         style="margin: 5px"/> Show Chunks in Details
                    <input type="checkbox" ng-model="detailsCtrl.showTokensInDetails"
                         ng-init="detailsCtrl.showTokensInDetails=false" name="showTokensInDetailsInput"
                         style="margin: 5px"/> Show Tokens in Details
                    <table id="theDetails"
                           class="table tree-grid table-striped table-condensed table-hover">
                      <thead>
                        <th style="width:20%">Type</th>
                        <th><a href="" ng-click="detailsCtrl.analysisDetailsSortField = 'text'">Text</a></th>
                      </thead>
                      <tbody id="theDetailsBody">
                        <tr class="level-{{listItem.displayLevel}}"
                          class="tree-grid-row" id="{{listItem.displayId}}"
                          ng-repeat="listItem in detailsCtrl.itemProxy.analysis.extendedList | filter:detailsCtrl.filterDetails | orderBy:detailsCtrl.analysisDetailsSortField | limitTo:detailsCtrl.analysisDetailsItemLimit">
                          <td class="indented">{{listItem.displayType}}</td>
                          <td ng-bind-html="listItem.text | highlightRegex:detailsCtrl.analysisFilterRegexHighlight"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                 </div>
              </tab-content>
            </tab>
            <tab heading="History" select="detailsCtrl.getHistory()">
                <h4>History Tab</h4>

                <div style="width:20%; overflow:auto; display:inline-block;">
                  <label>Created by: {{detailsCtrl.itemProxy.item.createdBy}}</label>
                  <label>Created on: {{detailsCtrl.itemProxy.item.createdOn | date:'medium'}}</label>
                  <label>Modified by: {{detailsCtrl.itemProxy.item.modifiedBy}}</label>
                  <label>Modified on: {{detailsCtrl.itemProxy.item.modifiedOn | date:'medium'}}</label>
                </div>
                <div class="pull-right" style="width:78%; vertical-align: top; display:inline-block; overflow:auto">                
                  <table>
                      <thead>
                        <th style="width:30%">Commit</th>
                        <th style="width:45%">Message</th>
                        <th style="width:10%">Author</th>
                        <th style="width:14%">Date</th>
                      </thead>
                      <tbody id="theDetailsBody">
                        <tr ng-repeat="record in detailsCtrl.itemProxy.history" style="vertical-align: top;">
                          <td>{{record.commit}}</td>
                          <td>{{record.message}}</td>
                          <td>{{record.author}}</td>
                          <td>{{record.date | date:'medium'}}</td>
                        </tr>
                      </tbody>
                  </table>
                  <label >{{record}}</label>
                </div>  

            </tab>
            <tab heading="Journal">
                <h4>Journal Tab</h4>

                <p><b>This tab is under construction.</b></p>
            </tab>
            <tab heading="Action Table"
                 ng-if="detailsCtrl.itemProxy.children">

              <action-table item-proxy="detailsCtrl.itemProxy">
            </tab>

            </tab>
        </tabset>
    </div>
    <!-- /.panel -->
    <!--<span ng-if="detailsCtrl.itemProxy.kind != 'Decision' && detailsCtrl.itemProxy.kind != 'Action'"-->
    <!--class="form-actions">-->
    <!--<button ng-click="detailsCtrl.enableEdit=true" ng-disabled="detailsCtrl.enableEdit" class="btn btn-primary">-->
    <!--Edit-->
    <!--</button>-->
    <!--<button ng-click="detailsCtrl.upsertItem()"-->
    <!--ng-disabled="!detailsCtrl.enableEdit || detailsCtrl.itemForm.$pristine-->
    <!--&& detailsCtrl.actionForm.$pristine && detailsCtrl.decisionForm.$pristine" class="btn btn-primary">-->
    <!--Update-->
    <!--</button>-->
    <!--<button ng-click="detailsCtrl.enableEdit=false; detailsCtrl.cancel()" ng-disabled="!detailsCtrl.enableEdit"-->
    <!--class="btn btn-danger">-->
    <!--Cancel-->
    <!--</button>-->
    <!-- /.panel-body -->
    </span>
</div>
