<div class="panel" style="margin-bottom: 0px">
    <div class="panel-heading ">
        <span ng-if="detailsCtrl.itemProxy.kind">{{detailsCtrl.itemProxy.kind}} Information: {{detailsCtrl.itemProxy.item.name}} </span>
        <span ng-if="!detailsCtrl.itemProxy.kind">No Item Selected</span>
        <i ng-if="detailsCtrl.tab.type === 'singleview'" class="fa fa-clone pull-right"
           ui-sref="kohese.explore.edit({id:detailsCtrl.itemProxy.item.id})"
           ng-click="detailsCtrl.updateTab('edit', itemProxy.item.id, 'dualview')">
        </i>
        <i class="fa fa-arrows-alt pull-right" ng-if="detailsCtrl.tab.type === 'dualview'"
           ui-sref="kohese.investigate({id:detailsCtrl.itemProxy.item.id})"
           ng-click="detailsCtrl.updateTab('investigate', itemProxy.item.id, 'singleview')"></i>

    </div>
    <div class="panel-body">
        <!-- Nav tabs -->
        <tabset>
            <tab id="defaultTab" active="detailsCtrl.defaultTab.active">
                <tab-heading>Overview <span ng-show="detailsCtrl.itemForm.$dirty">(*)</span></tab-heading>
                <div class="details-tab" ng-if="detailsCtrl.itemProxy.kind ==='Action'">
                    <ng-include src="'components/common/templates/action-form.new.html'"></ng-include>
                </div>
                <div class="details-tab" ng-if="detailsCtrl.itemProxy.kind != 'Action'">
                    <ng-include src="'components/common/templates/itemform.html'"></ng-include>
                </div>
            </tab>
            <tab ng-if="detailsCtrl.itemProxy.kind === 'Observation'">
                <tab-heading>Observation</tab-heading>
                <ng-include src="'components/common/templates/observation-form.html'"></ng-include>
            </tab>
            <tab ng-if="detailsCtrl.itemProxy.kind === 'Issue'">
                <tab-heading>Issue</tab-heading>
                <ng-include src="'components/common/templates/issue-form.html'"></ng-include>
            </tab>
            <tab ng-if="detailsCtrl.itemProxy.kind === 'Action' || detailsCtrl.itemProxy.kind === 'Decision'"
                 class="decision-tab">
                <tab-heading>Decision <span ng-show="detailsCtrl.decisionForm.$dirty">(*)</span></tab-heading>
                <ng-include class="details-tab" src="'components/common/templates/decision-form.html'"></ng-include>
            </tab>
            <tab heading="Children ({{detailsCtrl.itemProxy.children.length}})">
                <ng-include src="'components/detailsview/subviews/item.html'"></ng-include>
            </tab>
            <tab heading="Relations">
                    <h4>Relations Tab</h4>

                    <p><b>This tab is under construction.</b></p>
            </tab>
            <tab heading="Analysis" select="detailsCtrl.fetchAnalysis()">
		        <span class="pull-right">
		            <label class=control-label" for="posFilter">
                        POS Filter:
                        <select id="posFilter"
                                ng-model="detailsCtrl.analysisPOSFilterName">
                            <option ng-repeat="filterCriteria in detailsCtrl.analysisPOSFilterCriteriaList">
                                {{filterCriteria}}
                            </option>
                        </select>
                    </label>
		            
                    <button ng-click="detailsCtrl.getLastFilter()" class="btn btn-default fa fa-chevron-left"> Last
                        Filter
                    </button>
					<input class="input-sm" type="text" ng-model="detailsCtrl.analysisFilterInput"
                           placeholder="Filter" style="margin: 5px"/>
                    <button ng-click="detailsCtrl.submitFilter()" class=" btn btn-default fa fa-search"> Submit</button>
				</span>

                <h4>Analysis Summary</h4>
                <input type="checkbox" ng-model="detailsCtrl.showChunksinSummary"
                       ng-init="detailsCtrl.showChunksinSummary=false" name="showChunksInSummaryInput"
                       style="margin: 5px"/> Show Chunks in Summary
                <input type="checkbox" ng-model="detailsCtrl.showTokensinSummary"
                       ng-init="detailsCtrl.showTokensinSummary=true" name="showTokensInSummaryInput"
                       style="margin: 5px"/> Show Tokens in Summary
                <table
                        class="table tree-grid table-striped table-condensed table-hover">
                    <thead>
                    <th><a ng-click="detailsCtrl.analysisSummarySortField = 'text'">Text</a></th>
                    <th>Type</th>
                    <th><a ng-click="detailsCtrl.analysisSummarySortField = '-count'">Count</a></th>
                    <th>POS Count</th>
                    </thead>
                    <tbody>
                    <tr class="tree-grid-row" id="Chunk:{{summary.text}}"
                        ng-hide="!detailsCtrl.analysisFilterPOS(summary,detailsCtrl.analysisPOSFilterCriteria[detailsCtrl.analysisPOSFilterName]) || ((summary.displayType == 'Chunk') && !detailsCtrl.showChunksinSummary) || ((summary.displayType == 'Token') && !detailsCtrl.showTokensinSummary)"
                        ng-repeat="summary in detailsCtrl.itemProxy.analysis.extendedSummaryList | filter:{text:detailsCtrl.analysisFilterString} | orderBy:detailsCtrl.analysisSummarySortField">
                        <td ng-click="detailsCtrl.analysisFilterInput = summary.text;detailsCtrl.submitFilter()"
                            class="tree-label"
                            ng-bind-html="summary.text | highlight:detailsCtrl.analysisFilterString"></td>
                        <td>{{summary.displayType}}</td>
                        <td>{{summary.count}}</td>
                        <td>{{summary.posCount}}</td>
                    </tr>
                    </tbody>
                </table>

                <h4>Analysis Details</h4>
                <input type="checkbox" ng-model="detailsCtrl.showSentencesInDetails"
                       ng-init="detailsCtrl.showSentencesInDetails=true" name="showSentencesInDetailsInput"
                       style="margin: 5px"/> Show Sentences in Details
                <input type="checkbox" ng-model="detailsCtrl.showChunksInDetails"
                       ng-init="detailsCtrl.showChunksInDetails=false" name="showChunksInDetailsInput"
                       style="margin: 5px"/> Show Chunks in Details
                <input type="checkbox" ng-model="detailsCtrl.showTokensInDetails"
                       ng-init="detailsCtrl.showTokensInDetails=false" name="showTokensInDetailsInput"
                       style="margin: 5px"/> Show Tokens in Details
                <table
                        class="table tree-grid table-striped table-condensed table-hover">
                    <thead>
                    <th style="width:20%">Type</th>
                    <th><a href="" ng-click="detailsCtrl.analysisDetailsSortField = 'text'">Text</a></th>
                    <th>Begin</th>
                    <th>End</th>
                    </thead>
                    <tbody>
                    <tr class="level-{{listItem.displayLevel}}"
                        ng-hide="((listItem.displayLevel == 2) && !detailsCtrl.showSentencesInDetails) || ((listItem.displayLevel == 3) && !detailsCtrl.showChunksInDetails) || ((listItem.displayLevel == 4) && !detailsCtrl.showTokensInDetails)"
                        class="tree-grid-row" id="{{listItem.displayId}}"
                        ng-repeat="listItem in detailsCtrl.itemProxy.analysis.extendedList | filter:{text:detailsCtrl.analysisFilterString} | orderBy:detailsCtrl.analysisDetailsSortField">
                        <td class="indented">{{listItem.displayType}}</td>
                        <td ng-bind-html="listItem.text | highlight:detailsCtrl.analysisFilterString"></td>
                        <td>{{listItem.begin}}</td>
                        <td>{{listItem.end}}</td>
                    </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading="History">
                <h4>History Tab</h4>

                <label>Created by: {{detailsCtrl.itemProxy.item.createdBy}}</label>
                <br/>
                <label>Created on: {{detailsCtrl.itemProxy.item.createdOn | date:'medium'}}</label>
                <br/>
                <label>Modified by: {{detailsCtrl.itemProxy.item.modifiedBy}}</label>
                <br/>
                <label>Modified on: {{detailsCtrl.itemProxy.item.modifiedOn | date:'medium'}}</label>

            </tab>
            <tab heading="Journal">
                <h4>Journal Tab</h4>

                <p><b>This tab is under construction.</b></p>
            </tab>
            <tab heading="New Decision Form">
                <accordion>
                    <div ng-include="'components/common/templates/decision-form.new.html'"></div>
                </accordion>
            </tab>
        </tabset>
    </div>
    <!-- /.panel -->
        <span ng-if="detailsCtrl.itemProxy.kind != 'Decision' && detailsCtrl.itemProxy.kind != 'Action'"
              class="form-actions">
        <button ng-click="detailsCtrl.enableEdit=true" ng-disabled="detailsCtrl.enableEdit" class="btn btn-primary">
            Edit
        </button>
        <button ng-click="detailsCtrl.upsertItem()"
                ng-disabled="!detailsCtrl.enableEdit || detailsCtrl.itemForm.$pristine
                && detailsCtrl.actionForm.$pristine && detailsCtrl.decisionForm.$pristine" class="btn btn-primary">
            Update
        </button>
        <button ng-click="detailsCtrl.enableEdit=false; detailsCtrl.cancel()" ng-disabled="!detailsCtrl.enableEdit"
                class="btn btn-danger">
            Cancel
        </button>
        <!-- /.panel-body -->
    </span>
</div>
