<span class="pull-right">
      <span>Showing {{filteredItems.length}} of {{detailsview.itemProxy.children.length}}</span>
      <input class="input-sm" type="text" ng-model="filterString" placeholder="Filter" style="margin: 5px"/>

    </span>
<table class="table table-striped table-condensed table-hover">
  <thead>
  <th><a href="" ng-click="itemSortField = 'title'">Title</a></th>
  <th><a href="" ng-click="itemSortField = 'description'">Description</a></th>
  <th ng-hide="isEdit"><a href="" ng-click="itemSortField = 'parentId'">Parent</a></th>
  <th><i class="glyphicon glyphicon-plus pull-right" ng-click="newItem()"></i></th>
  </thead>
  <tbody>
  <tr ng-repeat="proxy in filteredItems = (detailsview.itemProxy.children  | filter:filterString) | orderBy:itemSortField">
    <td ng-click="detailsview.editItem(proxy.item)" ng-bind-html="proxy.item.title | highlight:filterString"/>
            <td ng-class="{'trim-info': !showDescription, 'trim-info-visible': showDescription}" ng-dblclick="showDescription=!showDescription" ng-init="showDescription=true" ng-bind-html="proxy.item.description | highlight:filterString"></td>
    <td ng-click="detailsview.editItem({id:proxy.item.parentId})" ng-hide="isEdit">{{proxy.item.parentId}}</td>
    <td class="pull-right">
      <i class="glyphicon glyphicon-remove" ng-click="detailsview.removeItem(proxy.item)"></i>
    </td>
  </tr>
  </tbody>
</table>
