@import '../utils/variables';

.admin-screen {
  height: calc(100% - 90px);
  width: calc(100% - 65px);
  
  .users-screen {
    height: calc(100% - 41px);
    width: 100%;
    
    .session-container {
      height: 20%;
      width: calc(100% - 10px);
      overflow: auto;
    }

    .user-container {
      height: 80%;
      width: 100%;
    
      #admin-user-list {
        float: left;
        height: 100%;
        width: 45%;
        overflow: auto;
      }

      #admin-user-form {
        float: right;
        width: 55%;
        top: 200px;
        right: 0px;
        margin-top: 20px;
        * {
          margin: 5px;
        }
      }
    }
  }
}

.version-control-admin {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  height: calc(100% - 90px);
  width: calc(100% - 65px);
  overflow: auto;
  
  .repository-panel {
    margin: 5px;
  }
  
  .remote-container {
    height: 20%;
    overflow: auto;
    border: 1px solid black;
  }
}
