<ng-container [formGroup]="formGroup">
  <div [ngClass]="{'multiSelect' : allowMultiSelect}">
  <h4> {{fieldName}} :
    <button mat-raised-button (click)="openProxySelectionDialog()"
                              [disabled]="!editable"> Select </button>
  </h4>
    <span *ngIf="selectedProxy && !allowMultiSelect">
      {{selectedProxy.item.name}}
    </span>
  <div *ngIf="allowMultiSelect">
    Selections :
    <hr>
    <mat-list>
      <mat-list-item *ngFor="let selection of selectedProxies"
            matTooltip="{{selection.item.description | truncate : 50}}">
        {{ selection.item.name }}
    </mat-list-item>
  </mat-list>
  </div>
  </div>
</ng-container>
