<ng-container [formGroup]="formGroup">
  <h4> {{fieldName}} : 
      <button mat-raised-button (click)="openProxySelectionDialog()"> Select </button></h4>
  <div [ngClass]="{'multiSelect' : allowMultiSelect}">
    <span *ngIf="selectedProxy && !allowMultiSelect">
      {{selectedProxy.item.name}}
    </span>
  <div *ngIf="allowMultiSelect">
    Selections : 
    <hr>
    <div *ngFor="let selection of selectedProxies" 
          (click)="navigate('Explore', {id: selection.item.id})">
      {{ selection.item.name }}  
    </div>
  </div>
  </div>
</ng-container>
