
<label *ngIf="!property.hideLabel">
  <span *ngIf="!property.customLabel">
    {{property.propertyName.attribute}}
  </span>
  <span *ngIf="property.customLabel">{{property.customLabel}}</span>
  </label>
<!-- {{property | json}} -->
<div *ngIf="!editable"><div [innerHTML]="rendered"></div></div>
<div *ngIf="editable">
  <!-- The Item with an ID of 8237c4f0-dee9-11e9-a55a-959e09443fdc requires
  that an implementation such as the "overflow" portion of the ngStyle
  attribute below be used. -->
  <textarea style="background-color: white;" matInput matTextareaAutosize
    #description [(ngModel)]="proxy.item[header.contents[0].propertyName.
    attribute]" [ngStyle]="{ 'overflow': (((proxy.item[header.contents[0].
    propertyName.attribute].indexOf('\n') !== -1) || (proxy.item[header.
    contents[0].propertyName.attribute].indexOf('\r') !== -1)) ? 'auto' :
    'hidden') }">
  </textarea>
</div>
