<div style="height: 50px; display: flex; flex-direction: row;">
  <mat-form-field style="width: 40%; padding: 0px 3px 0px 3px;">
    <mat-select placeholder="Kind" [(ngModel)]="selectedKind">
      <ng-container *ngFor="let kind of getBoardKinds()">
        <mat-option [value]="kind">
          {{kind.name}}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 40%; padding: 0px 3px 0px 3px;">
    <mat-select placeholder="Attribute" [(ngModel)]="selectedAttribute">
      <ng-container *ngFor="let classPropertiesAttribute of Object.values(selectedKind.classProperties)">
        <mat-option [value]="classPropertiesAttribute.definition">
          {{classPropertiesAttribute.definition.name}}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="isSelectedAttributeMultivaluedAndInstantaneouslyFinite()">
    <div style="margin-left: auto; display: flex; flex-direction: column; justify-content: center;">
      <mat-checkbox [(ngModel)]="shouldGroupElements">
        Group Elements
      </mat-checkbox>
    </div>
  </ng-container>
</div>
<div style="height: calc(100% - 50px); overflow-x: auto; display: flex;
  flex-direction: row;">
  <ng-container *ngFor="let categoryItems of getCategoryItems(); trackBy:
    getCategoryItemsIdentifier">
    <div (dragover)="draggedOver($event, categoryItems)" (dragleave)="$event.
      currentTarget.style.border = ''" (drop)="$event.preventDefault();
      cardDropped($event.dataTransfer.getData($event.dataTransfer.types[0]),
      categoryItems.category)" style="height: 100%; width: 400px; min-width:
      400px; margin: 0px 7px 0px 7px; display: flex; flex-direction: column;">
      <div style="height: 50px;">
        <h3 matTooltip="{{getCategoryHeading(categoryItems)}} ({{categoryItems.items.length}})"
          style="display: flex; flex-direction: row;">
          <span style="max-width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            {{getCategoryHeading(categoryItems)}}
          </span>
          &nbsp;({{categoryItems.items.length}})
        </h3>
      </div>
      <div style="height: calc(100% - 50px); overflow: auto; display: flex; flex-direction: column;">
        <ng-container *ngFor="let item of categoryItems.items">
          <mat-expansion-panel #panel>
            <mat-expansion-panel-header draggable="{{mayDrag(item)}}"
              (dragstart)="$event.dataTransfer.setData(item[selectedAttribute.name], item.id);
              $event.dataTransfer.dropEffect = 'move';
              changeDetectorRef.detach();" (dragend)="changeDetectorRef.reattach();
              changeDetectorRef.markForCheck();" [ngStyle]="{ 'background-color': viewModel.color }"
              style="color: whitesmoke">
              <mat-panel-title [attr.id]=item showIfTruncated
                matTooltip="{{item.name}}">
                <mat-icon class="{{viewModel.icon}}"></mat-icon>
                {{item.name}}
              </mat-panel-title>
              <mat-panel-description style="color: whitesmoke">
                <ng-container *ngIf="itemRepository.getTreeConfig().getValue().config.getProxyFor(item.id).dirty">
                  <!-- Wrapped the img below with a button to size and vertically align
                    the image well. -->
                  <button mat-icon-button [disabled]="true">
                    <img src="assets/icons/versioncontrol/dirty.ico" />
                  </button>
                </ng-container>
                <ng-container *ngIf="(editableSet.indexOf(item.id) === -1) else editableBlock">
                  <button mat-icon-button matTooltip="Edit this Item"
                    (click)="$event.stopPropagation(); panel.open(); editableSet.push(item.id)">
                    <mat-icon class="fa fa-edit"></mat-icon>
                  </button>
                </ng-container>
                <ng-template #editableBlock>
                  <button mat-icon-button matTooltip="Save this Item"
                    [ngStyle]="{ 'margin-left': ((item.id).dirty ? '' : 'auto') }"
                    (click)="$event.stopPropagation(); save(item)">
                    <mat-icon class="fa fa-save"></mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Discard unsaved changes to this Item"
                    (click)="$event.stopPropagation(); discardChanges(item)">
                    <mat-icon class="fa fa-times"></mat-icon>
                  </button>
                </ng-template>
                <button mat-icon-button matTooltip="Other Options" [matMenuTriggerFor]="menu"
                  style="margin-left: auto;"
                  (click)="$event.stopPropagation();">
                  <mat-icon class="fa fa-bars"></mat-icon>
                </button>
                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                  <button mat-menu-item
                    (click)="displayInformation(item)">
                    <mat-icon class="fa fa-clone"></mat-icon>
                    Display Item information
                  </button>
                  <button mat-menu-item
                    (click)="$event.stopPropagation(); navigationService.navigate('Explore', { id: item.id })">
                    <mat-icon class="fa fa-arrow-right"></mat-icon>
                    Navigate in Explorer
                  </button>
                  <button mat-menu-item
                    (click)="$event.stopPropagation(); navigationService.addTab('Explore', { id: item.id })">
                    <mat-icon class="fa fa-external-link"></mat-icon>
                    Navigate in New Tab
                  </button>
                </mat-menu>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <format-object-editor
                [type]="selectedKind" [object]="item"
                [formatDefinitionType]="FormatDefinitionType.BOARD"
                [disabled]="(editableSet.indexOf(item.id) === -1)">
              </format-object-editor>
            </ng-template>
          </mat-expansion-panel>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
