#proxySelectorContainer {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  
  * {
    flex: 0 0 50%;
  }
}

mat-card-content {
  height: 90%;
  width: 100%;
  overflow: auto;
}

/deep/ .mat-horizontal-content-container {
  height: 90%;
  width: 100%;
}

/deep/ .mat-horizontal-stepper-content {
  height: 100%;
  width: 100%;
}

.relation-kind {
  color: lightgray;
  font-style: italic;
  font-size: small;
  padding-left : 10px;
}