<div id="proxySelectorContainer">
  <mat-tab-group class="left-content" *ngIf="repoInitialized">
    <mat-tab label="Recent">
      <div *ngFor="let proxy of recentProxies"
        (click)="selectProxy(proxy)">
        {{proxy.item.name}}
        <hr/>
      </div>
    </mat-tab>
    <mat-tab label="Tree">
      <tree-root [nodes]="rootProxy.children" options="treeOptions">
        <ng-template #treeNodeTemplate let-node let-index="index">
          <td (click)="selectParent(node.data)"
            matTooltip="{{node.data.item.description | truncate : 150}}">{{node.data.item.name}}</td>
        </ng-template>
      </tree-root>
    </mat-tab>
    <mat-tab label="Selector">
      <mat-form-field style="width: 100%;">
        <input matInput type="text" placeholder="Proxy" [formControl]="proxySearchControl"
          [matAutocomplete]="proxySelector"/>
      </mat-form-field>
      <mat-autocomplete #proxySelector="matAutocomplete"  (optionSelected)="onAutoCompleteSelected($event)">
        <mat-option *ngFor="let proxy of (filteredProxies | async)"
          [value]="proxy">
          {{proxy.item.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-tab>
  </mat-tab-group>
  <mat-card *ngIf="selectedParent" class="right-content">
    <mat-card-title class="panel-heading">
      <span>{{selectedParent.item.name}}</span>
    </mat-card-title>
    <mat-card-content>
      {{selectedParent.item.description}}
    </mat-card-content>
  </mat-card>
  <div *ngIf="multiSelect" class="right-content">
    <h4>Selections:</h4>
    <div *ngFor="let selection of selectedProxies">
      {{selection.item.name}}
    </div>
  </div>
</div>
