<mat-form-field>
  <input matInput type="text" placeholder="Name" [(ngModel)]="type.name"/>
</mat-form-field>
<br/>
<label>
  Icon:
  <span>
    <mat-icon class="{{type.icon}}">
    </mat-icon>
  </span>
</label>
<button mat-raised-button (click)="openIconSelectionDialog()">
  Select Icon...
</button>
<br/>
<br/>
<mat-form-field>
  <mat-select placeholder="Parent Type" [(ngModel)]="type.base">
    <mat-option *ngFor="let t of (filteredTypes | mapKey)" [value]="t">
      <mat-icon class="{{filteredTypes[t].icon}}"></mat-icon>
      {{t}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br/>
<mat-form-field>
  <textarea matInput placeholder="Description" rows="3" cols="80"
    [(ngModel)]="type.description">
  </textarea>
</mat-form-field>
