<div style="height: 100%; width: 100%; display: flex; flex-direction: row;">
  <ng-container *ngIf="koheseType">
    <div style="height: 100%; flex: 1 1 50%;" class="pad">
      <h3>
        Type Information
      </h3>
      <mat-form-field style="width: 100%;">
        <input matInput type="text" placeholder="Name"
          [(ngModel)]="koheseType.dataModelProxy.item.name"
          [disabled]="koheseType.dataModelProxy.item.isMetaModel"/>
      </mat-form-field>
      <br/>
      <mat-form-field style="width: 100%;">
        <mat-select placeholder="Parent Type"
          [value]="koheseType.dataModelProxy.item.base"
          (selectionChange)="changeParentType($event.value)"
          [disabled]="koheseType.dataModelProxy.item.isMetaModel">
          <mat-option *ngFor="let t of (filteredTypes | mapKey)" [value]="t">
            <ng-container *ngIf="filteredTypes[t].viewModelProxy">
              <mat-icon class="{{filteredTypes[t].viewModelProxy.item.icon}}">
              </mat-icon>
            </ng-container>
            {{t}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <mat-form-field style="width: 100%;">
        <textarea matInput placeholder="Description" rows="3" cols="80"
          [(ngModel)]="koheseType.dataModelProxy.item.description"
          [disabled]="koheseType.dataModelProxy.item.isMetaModel">
        </textarea>
      </mat-form-field>
    </div>
    <ng-container *ngIf="koheseType.viewModelProxy">
      <div style="height: 100%; flex: 1 1 50%;" class="pad">
        <h3>
          Display Information
        </h3>
        <mat-form-field style="width: 100%;">
          <input matInput type="text" placeholder="Name"
            [(ngModel)]="koheseType.viewModelProxy.item.modelName"/>
        </mat-form-field>
        <label>
          Icon:
          <span>
            <mat-icon class="{{koheseType.viewModelProxy.item.icon}}">
            </mat-icon>
          </span>
        </label>
        <button mat-raised-button (click)="openIconSelectionDialog()">
          Select Icon...
        </button>
        <br/>
        <br/>
      </div>
    </ng-container>
  </ng-container>
</div>
