<div class="dependencies" style="display: inline-block">
    <h4>Dependencies : </h4>
    <h5>Predecessors :</h5>
    <ul *ngIf="relations.references[kind]">
      <li *ngFor="let predecessor of relations.references[kind].predecessors"> 
        {{predecessor.item.name}} - {{predecessor.state}}
      </li>
    </ul>
    <h5>Successors : </h5> 
    <ul *ngIf="relations.referencedBy[kind]"> 

      <li *ngFor="let successor of relations.referencedBy[kind].predecessors"> 
        {{successor.item.name}} - {{successor.state}}
      </li>
    </ul>
  </div>