<h1>Item List</h1>
<hr>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Parent</th>
        <th><a href="#/newItem"><i class="glyphicon glyphicon-plus pull-right"></i></a></th>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td>{{item.parentId}}</td>
            <td class="pull-right">
            <!-- TBD: Determine how edit works in state machine
              <i class="glyphicon glyphicon-pencil" ng-click="editItem(item)"></i>
              -->
              <i class="glyphicon glyphicon-remove" ng-click="removeItem(item)"></i>
            </td>
        </tr>
    </tbody>
</table>