<div id="analysis-view" split-pane>

	<div split-pane-component height="50%">
    <div split-pane>
      <div split-pane-component width="30%">
        <term-view id="term-view" ng-if="aCtrl.itemProxy" class="col"
          item-proxy="aCtrl.itemProxy"></term-view>
      </div>
      <div split-pane-divider width="5px"></div>
      <div split-pane-component>
        <document-view id="document-view" ng-if="aCtrl.itemProxy"
          class="col align-self-end" item-proxy="aCtrl.itemProxy"
          show-children="aCtrl.showChildren"></document-view>
      </div>
    </div>
	</div>

	<div split-pane-divider height="5px"></div>

	<div split-pane-component>
	  <div split-pane>
	    <div split-pane-component width="40%">
        <phrase-view id="phrase-view"
                    ng-if="aCtrl.itemProxy" 
                    class="col" 
                    item-proxy="aCtrl.itemProxy"></phrase-view>
      </div>

      <div split-pane-divider width="5px"></div>

      <div split-pane-component>
        <sentence-view id="sentence-view" 
                       ng-if="aCtrl.itemProxy"                
                       class="col"
                       item-proxy="aCtrl.itemProxy"></sentence-view>
      </div>
    </div>
	</div>

</div>