<div class="flex-container" *ngIf="proxy">
    <div class="left-content">
      <button mat-icon-button class="fa fa-edit" *ngIf="!editable" (click)="toggleEdit(editable)"></button>
      <button mat-icon-button class="fa fa-times" *ngIf="editable" (click)="toggleEdit(editable)"></button>
      <br>
      <button mat-icon-button class="fa fa-save" *ngIf="editable" (click)="upsertItem()"></button>
    </div>
    <mat-card [ngClass]="{'uneditable' : !editable, 'editable': editable}" class="right-content">
      <mat-card-title>
        {{proxy.item.name}}
      </mat-card-title>
      <mat-card-content>
        <div style="display: inline-block">
          <h4>Time Estimates</h4>
          Estimated Start : {{proxy.item.estimatedStart | date}} <br>
          Estimated Completion : {{ proxy.item.estimatedCompletion | date }} <br>
          Estimated Hours Effort : {{ proxy.item.estimatedHoursEffort }} <br>
          <k-state-editor [itemProxy]="proxy"
                          [disableTransitioning]="!editable"
                          (stateChanged)="stateChanged($event.fieldName, $event.candidate)"></k-state-editor>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="openProxyDialog('Explore', {id: proxy.item.id})">
          Details <i class="fa fa-arrow-right"></i>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
