<div class="admin-screen">
  <div class="panel-heading">Admin</div>
  <div class="users-screen">
    <div class="session-container">
      <h2>Sessions:</h2>
      <div *ngFor="let session of sessions | mapKey">
        <div>{{sessions[session].username}} - {{sessions[session].address}} - {{sessions[session].sessionId}}</div>
        </div>
    </div>
    <div class="user-container">
      <div id="admin-user-list">
        <h2>Users:</h2>
        <div class="card-container" *ngFor="let userProxy of users">
          <div class="panel panel-default">
            <div class="panel-title">
              {{userProxy.item.name}}
            </div>
            <div class="panel-body">
              {{userProxy.item.description}}
              Modified on {{userProxy.item.modifiedOn | date }} by {{userProxy.item.modifiedBy}}
            </div>
            <div class="panel-footer">
              <button class="btn btn-primary"
                (click)="deleteUser(userProxy)">
                  <i class="fa fa-trash"></i>
                    Delete
              </button>
              <br/>
              <button class="btn btn-primary"
                (click)="editUser(userProxy)">
                  <i class="fa fa-edit"></i>
                    Edit
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="admin-user-form">
        <button class="btn btn-default"
          (click)="addUser()"
          *ngIf="!addUserForm && !editUserForm">Add User
        </button>

        <div *ngIf="addUserForm || editUserForm">
          <h3>{{currentForm}}</h3>
            <form>
              <label>Username<input [(ngModel)]="usernameInput" name="usernameInput" type="text"/></label>
              <br/>
              <label>Description<input [(ngModel)]="descriptionInput" name="descriptionInput" type="text"/></label>
              <br/>
              <label>Email<input [(ngModel)]="emailInput" name="emailInput" type="email"/></label>
              <label>Password<input [(ngModel)]="passwordInput" name="passwordInput" type="password"/></label>
              <br/>
              <label>Confirm Password<input [(ngModel)]="confirmPasswordInput" name="confirmPasswordInput" type="password"/></label>
              <br/>
            </form>
            <button class="btn btn-primary" (click)="updateUser()">Submit</button>
            <button class="btn btn-danger" (click)="cancelForm()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
