<div>
    <div class="version-control-admin">
        <h4>
            Version Control:
        </h4>
            <div>
                <h5>Repository List:</h5>
                <button (click)="getRemotes()"
                        class="btn btn-primary">Refresh Repositories</button>
                <div *ngFor="let repo of remotesList">
                    {{repo}}
                </div>
            </div>
        <div>
            <label for="add-remote-input">Remote Name: </label>
            <input id="add-remote-input" type="text" [(ngModel)]="remoteNameInput"/>
            <label for="push-remote-url">Push url :</label>
            <input id="add-remote-url" type="text" 
                    [(ngModel)]="remoteUrlInput">
            <button (click)="addRemote()" 
                    class="btn btn-primary">Add Remote</button>
        </div>

        <div>
            <h4>Commit/Push Item Changes</h4>
            <label for="commit-message-input">Commit Message: </label>
            <input id="commit-message-input" type="text" [(ngModel)]="commitMessageInput" />
            <button (click)="commit()"
                    class="btn btn-primary">Commit Staged Items</button>
            <br/>
            <label for="push-remote-name">Push to :</label>
            <input id="push-remote-name" type="text" 
                   [(ngModel)]="pushRemoteNameInput">
            <button (click)="push()"
                    class="btn btn-primary">Push</button>
        </div>
    </div>
    
    <hr/>
    <h4>
        Repositories:
    </h4>
    <hr/>
    <div class="panel repository-panel"
         *ngFor="let repository of repositoryList"
            >
        <div class="panel-title">
            {{repository.item.name}}
        </div>
        <div class="panel-body">
            <h5>
                <b>Description:</b>
            </h5>
            {{repository.item.description}}
            <br/>
            <h5>
                <b>Items:</b>
            </h5>
            {{repository.descendantCount}}
        </div>
        <div class="panel-footer">
            <button class="btn btn-default"
                    (click)="addTab('Edit', {})">
                Go <i class="fa fa-chevron-right"></i>
            </button>
        </div>

    </div>
</div>