<mat-form-field style="width: 100%;">
  <input matInput #nameInput type="text" placeholder="Name"/>
</mat-form-field>
<markdown-editor #descriptionMarkdownEditor [valueIdentifier]="'Description'"
  style="height: 250px; width: 100%;">
</markdown-editor>
<div style="width: 100%; display: flex; flex-direction: row; justify-content:
  center; align-items: center;">
  <h4>
    Observing&nbsp;Activity:
  </h4>
  <ng-container *ngIf="selectedParentId">
    <button mat-button (click)="displayInformation(selectedParentId)"
      style="width: 100%; white-space: nowrap; overflow: hidden; text-overflow:
      ellipsis;">
      {{TreeConfiguration.getWorkingTree().getProxyFor(selectedParentId).
        item.name}}
    </button>
  </ng-container>
  <button mat-icon-button matTooltip="Select a parent"
    (click)="selectParent()" style="margin-left: auto;">
    <mat-icon class="fa fa-ellipsis-h"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Clear the parent selection"
    [disabled]="!selectedParentId" (click)="selectedParentId = ''">
    <mat-icon class="fa fa-times"></mat-icon>
  </button>
</div>
<div style="width: 100%; display: flex; flex-direction: row;">
  <mat-form-field style="width: 33%; padding: 0px 3px 0px 3px;">
    <mat-select #observedBySelect placeholder="Observed By"
      [ngModel]="sessionService.user.name">
      <ng-container *ngFor="let username of getUsernames()">
        <mat-option [value]="username">
          {{username}}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 33%; padding: 0px 3px 0px 3px;">
    <input matInput #dateObservedInput type="date" placeholder="Date
      Observed"/>
  </mat-form-field>
  <mat-form-field style="width: 33%; padding: 0px 3px 0px 3px;">
    <input matInput #timeObservedInput type="time" placeholder="Time
      Observed"/>
  </mat-form-field>
</div>
<div style="height: 150px; width: 100%;">
  <div style="height: 50px; display: flex; flex-direction: row;">
    <h4>
      Additional Context
    </h4>
    <button mat-icon-button matTooltip="Add context entries"
      style="margin-left: auto;" (click)="addContextEntries()">
      <mat-icon class="fa fa-plus"></mat-icon>
    </button>
  </div>
  <div style="height: calc(100% - 50px); overflow-y: auto;">
    <ng-container *ngFor="let additionalContextId of additionalContextIds;
      let j = index">
      <div style="display: flex; flex-direction: row;">
        <button mat-button (click)="displayInformation(additionalContextId)"
          style="width: 100%; white-space: nowrap; overflow: hidden;
          text-overflow: ellipsis; text-align: left;">
          {{TreeConfiguration.getWorkingTree().getProxyFor(additionalContextId).
            item.name}}
        </button>
        <button mat-icon-button matTooltip="Remove this context entry"
          style="margin-left: auto;" (click)="additionalContextIds.splice(j,
          1)">
          <mat-icon class="fa fa-times"></mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</div>
<div style="display: flex; flex-direction: row; justify-content: center;
  align-items: center;">
  <button mat-button [disabled]="!nameInput.value"
    (click)="addObservation(nameInput.value, descriptionMarkdownEditor.value,
    observedBySelect.selected.value, dateObservedInput.value,
    timeObservedInput.value, false)" style="margin-left: auto; padding: 3px 3px
    3px 3px;">
    Add Observation
  </button>
  <button mat-button [disabled]="!nameInput.value"
    (click)="addObservation(nameInput.value, descriptionMarkdownEditor.value,
    observedBySelect.selected.value, dateObservedInput.value,
    timeObservedInput.value, true)" style="padding: 3px 3px 3px 3px;">
    Add Issue
  </button>
</div>
<mat-divider></mat-divider>
<div style="width: 100%; display: flex; flex-direction: row;">
  <mat-form-field style="width: 40%; padding: 0px 3px 0px 3px;">
    <mat-select placeholder="Ordering" [(ngModel)]="selectedOrdering">
      <mat-option *ngFor="let ordering of Object.keys(Ordering)"
        [value]="Ordering[ordering]">
        {{Ordering[ordering]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 60%; padding: 0px 3px 0px 3px;">
    <input matInput #filterInput type="text" placeholder="Filter"
      (input)="filterChanged($event.target.value)"/>
  </mat-form-field>
</div>
<div style="overflow-y: auto;">
  <ng-container *ngFor="let observationItemProxy of getObservations(
    filterInput.value)">
    <mat-card [ngStyle]="{ 'background-color': (getViewModel(
      observationItemProxy.model.item.name).color ? getViewModel(
      observationItemProxy.model.item.name).color : '#000000') }" style="color:
      whitesmoke; margin-bottom: 3px;">
      <mat-card-title style="display: flex; flex-direction: row;">
        <h3>
          <mat-icon class="{{getViewModel(observationItemProxy.model.item.
            name).icon}}">
          </mat-icon>
          {{observationItemProxy.item.name}}
        </h3>
        <ng-container *ngIf="(editableSet.indexOf(observationItemProxy.item.id)
          === -1) else editableBlock">
          <button mat-icon-button matTooltip="Edit this Item"
            class="flex-right-align" (click)="editableSet.push(
            observationItemProxy.item.id)">
            <mat-icon class="fa fa-edit"></mat-icon>
          </button>
        </ng-container>
        <ng-template #editableBlock>
          <button mat-icon-button matTooltip="Save this Item"
            class="flex-right-align" (click)="save(observationItemProxy)">
            <mat-icon class="fa fa-save"></mat-icon>
          </button>
          <button mat-icon-button matTooltip="Discard unsaved changes to this
            Item" (click)="discardChanges(observationItemProxy)">
            <mat-icon class="fa fa-times"></mat-icon>
          </button>
        </ng-template>
        <button mat-icon-button matTooltip="Navigate to this Item"
          (click)="navigate(observationItemProxy)">
          <mat-icon class="fa fa-arrow-right"></mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content style="background-color: white; color: black;">
        <format-object-editor [type]="observationItemProxy.kind"
          [viewModel]="getViewModel(observationItemProxy.model.item.name)"
          [object]="observationItemProxy.item" [attributes]="getAttributes(
          observationItemProxy.model.item)"
          [formatDefinition]="getFormatDefinition(observationItemProxy.model.
          item.name)" [disabled]="(editableSet.indexOf(observationItemProxy.
          item.id) === -1)">
        </format-object-editor>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
