<div style="height: 70px; display: flex; flex-direction: row;">
  <mat-form-field style="width: 40%; padding: 0px 3px 0px 3px;">
    <mat-select placeholder="Ordering" [(ngModel)]="selectedOrdering">
      <mat-option *ngFor="let ordering of Object.keys(Ordering)"
        [value]="Ordering[ordering]">
        {{Ordering[ordering]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 50%; padding: 0px 3px 0px 3px;">
    <input matInput #filterInput type="text" placeholder="Filter"
      (input)="filterChanged($event.target.value)"/>
  </mat-form-field>
  <button mat-icon-button matTooltip="Add an entry" (click)="addEntry()"
    style="margin-left: auto;">
    <mat-icon class="fa fa-plus"></mat-icon>
  </button>
</div>
<div style="height: calc(100% - 70px); overflow-y: auto;">
  <ng-container *ngFor="let observationItemProxy of getObservations(
    filterInput.value)">
    <mat-card [ngStyle]="{ 'background-color': (getViewModel(
      observationItemProxy.model.item.name).color ? getViewModel(
      observationItemProxy.model.item.name).color : '#000000') }" style="color:
      whitesmoke; margin-bottom: 3px;">
      <mat-card-title style="display: flex; flex-direction: row;">
        <h3>
          <mat-icon class="{{getViewModel(observationItemProxy.model.item.
            name).icon}}">
          </mat-icon>
          {{observationItemProxy.item.name}}
        </h3>
        <ng-container *ngIf="(editableSet.indexOf(observationItemProxy.item.id)
          === -1) else editableBlock">
          <button mat-icon-button matTooltip="Edit this Item"
            class="flex-right-align" (click)="editableSet.push(
            observationItemProxy.item.id)">
            <mat-icon class="fa fa-edit"></mat-icon>
          </button>
        </ng-container>
        <ng-template #editableBlock>
          <button mat-icon-button matTooltip="Save this Item"
            class="flex-right-align" (click)="save(observationItemProxy)">
            <mat-icon class="fa fa-save"></mat-icon>
          </button>
          <button mat-icon-button matTooltip="Discard unsaved changes to this
            Item" (click)="discardChanges(observationItemProxy)">
            <mat-icon class="fa fa-times"></mat-icon>
          </button>
        </ng-template>
        <button mat-icon-button matTooltip="Navigate to this Item"
          (click)="navigate(observationItemProxy)">
          <mat-icon class="fa fa-arrow-right"></mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content style="background-color: white; color: black;">
        <format-object-editor [type]="observationItemProxy.model.item"
          [object]="observationItemProxy.item"
          [formatDefinitionType]="FormatDefinitionType.JOURNAL"
          [disabled]="(editableSet.indexOf(observationItemProxy.item.id) ===
          -1)">
        </format-object-editor>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
