<div class="journal">
  <mat-form-field style="width: 100%;">
    <input matInput type="text" placeholder="Name"
      [(ngModel)]="observationName"/>
  </mat-form-field>
  <mat-form-field style="width: 100%;">
    <textarea matInput placeholder="Description" cols="80" rows="3"
      [(ngModel)]="journalEntryContent"></textarea>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput #userInput type="text" placeholder="Observed By"
      [matAutocomplete]="userFilter" [(ngModel)]="observingUser"
      (input)="filterUsers(userInput.value)"/>
  </mat-form-field>
  <mat-autocomplete #userFilter="matAutocomplete" style="display: none;">
    <mat-option *ngFor="let proxy of filteredUserProxies"
      [value]="proxy.item.name">
      {{proxy.item.name}}
    </mat-option>
  </mat-autocomplete>
  <mat-form-field>
    <input matInput type="date" placeholder="Date Observed"
      [(ngModel)]="dateObserved"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="time" placeholder="Time Observed"
      [(ngModel)]="timeObserved"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Observing Activity" readonly
      [ngModel]="observingActivity?.item.name"
      (click)="openObservingActivitySelectionDialog()"/>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="addAsIssue">
    Add As Issue
  </mat-checkbox>
  <br/>
  <button mat-raised-button class="pull-right"
    [disabled]="(!observationName || !observingActivity)"
    (click)="addJournalEntry()">
    Add Observation
  </button>
  <br/>
  <br/>
  <hr/>
  <mat-form-field id="sortStrategyFormField">
    <mat-select placeholder="Sort Strategy" [(value)]="selectedSortStrategy"
      (selectionChange)="sort($event.value)">
      <mat-option *ngFor="let strategy of (SORT_STRATEGIES | mapKey)"
        [value]="strategy">
        {{SORT_STRATEGIES[strategy]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field id="contentFilterFormField">
    <input matInput #observationFilterInput type="text" placeholder="Filter"
      (input)="filterObservations(observationFilterInput.value)"/>
  </mat-form-field>
  <br/>
  <div>
    <journal-entry *ngFor="let entry of filteredEntries" [itemProxy]="entry"
      [journalTargetId]="journalTargetId"
      (journalTarget)="journalTargetId = ($event ? $event : itemProxy.item.id)">
    </journal-entry>
  </div>
</div>
