@import '../../../app.component';

.journal {
  height: 100%;
  width: 100%;
  
  * {
    padding: 3px;
  }
}

.journal-entry {
  border: 3px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  
  #journalEntryContentContainer {
    * {
      padding: 3px;
    }
  }
}

#sortStrategyFormField {
  width: calc(40% - 20px);
}
  
#contentFilterFormField {
  width: calc(60% - 20px);
}
  
.issue {
  background-color: darkorange;
}
