<div style="height: 5%; display: flex; flex-direction: column;">
  <label>
    Created by {{proxyStream.getValue().item.createdBy}} on {{(proxyStream.
      getValue().item.createdOn | date:'medium')}}
  </label>
  <label>
    Last modified by {{proxyStream.getValue().item.modifiedBy}} on
      {{(proxyStream.getValue().item.modifiedOn | date:'medium')}}
  </label>
</div>
<div style="height: 95%;">
  <div style="height: 50px; display: flex; flex-direction: row;">
    <button mat-icon-button matTooltip="Expand all versions"
      class="flex-right-align" (click)="changeAllExpansionStates(true)">
      <mat-icon class="fa fa-chevron-down"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Collapse all versions"
      (click)="changeAllExpansionStates(false)">
      <mat-icon class="fa fa-chevron-up"></mat-icon>
    </button>
  </div>
  <div style="height: calc(100% - 50px); overflow: auto;">
    <ng-container *ngFor="let version of versions">
      <mat-expansion-panel (opened)="compare(version)"
        style="box-shadow: 0 3px 1px -2px rgba(0,0,0,.8), 0 2px 2px 0 rgba(0,0,0,.64), 0 1px 5px 0 rgba(0,0,0,.62);">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{version.message}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div style="display: flex; flex-direction: column;">
            <label>
              Produced By: {{version.author}}
            </label>
            <label>
              Produced On: {{(version.date | date:'medium')}}
            </label>
            <comparison [comparison]="differenceMap.get(version.commit)">
            </comparison>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </ng-container>
  </div>
</div>
