<ng-container *ngFor="let version of versions">
  <mat-expansion-panel (opened)="compare(version)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{version.message}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <label>
        Produced By: {{version.author}}
      </label>
      <br/>
      <label>
        Produced On: {{(version.date | date:'medium')}}
      </label>
      <comparison [comparison]="differenceMap.get(version.commit)">
      </comparison>
    </ng-template>
  </mat-expansion-panel>
</ng-container>
