<div style="width: 100%; display: flex; flex-direction: column; overflow: auto;
  padding: 7px;" [ngStyle]="{ 'height': isDialogInstance() ?
  'calc(100% - 40px)' : '100%' }">
  <ng-container *ngIf="isDisabled else enabled">
    <markdown [data]="itemRepository.getMarkdownRepresentation(object,
      (enclosingType ? enclosingType : selectedType), selectedType, viewModel,
      formatDefinitionType, 0, false)">
    </markdown>
  </ng-container>
  <ng-template #enabled>
    <ng-container *ngIf="(allowKindChange && (types.length > 1))">
      <mat-form-field style="width: 100%;">
        <mat-select placeholder="Kind" [(ngModel)]="selectedType">
          <ng-container *ngFor="let typeOption of types">
            <mat-option [value]="typeOption">
              {{typeOption.name}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <ng-container *ngFor="let container of formatDefinition.containers">
      <ng-container *ngIf="(container.kind === FormatContainerKind.
        REVERSE_REFERENCE_TABLE) else notReverseReferencesTable">
        <h3>
          Reverse References For {{getReverseReferenceTableHeaderContent(
            container)}}
        </h3>
        <table_ [rows]="getReverseReferences(container)" [columns]="['name']"
          [getText]="getTableCellTextRetrievalFunction(undefined)"
          [disabled]="true">
        </table_>
      </ng-container>
      <ng-template #notReverseReferencesTable>
        <div style="display: flex;" [ngStyle]="{ 'flex-direction': ((container.
          kind === 'list') ? 'column' : 'row') }">
          <ng-container *ngFor="let attributeDefinition of container.contents">
            <ng-container *ngIf="attributeDefinition.visible">
              <ng-container *ngIf="Array.isArray(selectedType.classProperties[
                attributeDefinition.propertyName].definition.type) else
                singleValuedBlock">
                <ng-container *ngIf="attributeDefinition.tableDefinition else
                  notTableBlock">
                  <h3>
                    {{getAttributeRepresentation(attributeDefinition)}}
                  </h3>
                  <table_ [rows]="getTableElements(attributeDefinition)"
                    [columns]="getTableColumns(attributeDefinition)"
                    [getText]="getTableCellTextRetrievalFunction(
                    attributeDefinition.propertyName)"
                    [add]="getTableElementAdditionFunction(attributeDefinition)"
                    [move]="getTableElementMovementFunction(attributeDefinition)"
                    [remove]="getTableElementRemovalFunction(
                    attributeDefinition)" [disabled]="!attributeDefinition.
                    editable" style="width: 100%;">
                  </table_>
                </ng-container>
                <ng-template #notTableBlock>
                  <div style="display: flex; flex-direction: column;">
                    <div style="display: flex; flex-direction: row;">
                      <h3>
                        {{getAttributeRepresentation(attributeDefinition)}}
                      </h3>
                      <ng-container *ngIf="(((attributeDefinition.kind === '')
                        || (attributeDefinition.kind === 'proxy-selector')) &&
                        isLocalTypeAttribute(attributeDefinition.
                        propertyName) && !isEnumerationAttribute(
                        attributeDefinition))">
                        <button mat-icon-button matTooltip="Expand all elements"
                          style="margin-left: auto;" [disabled]="!object[
                          attributeDefinition.propertyName]?.length"
                          (click)="expandAllMultivaluedAttributeExpansionPanels(
                          attributeDefinition.propertyName)">
                          <mat-icon class="fa fa-chevron-down"></mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Collapse all
                          elements" [disabled]="!object[attributeDefinition.
                          propertyName]?.length"
                          (click)="collapseAllMultivaluedAttributeExpansionPanels(
                          attributeDefinition.propertyName)">
                          <mat-icon class="fa fa-chevron-up"></mat-icon>
                        </button>
                      </ng-container>
                      <!--
                        The 'addValue' function is intentionally called
                        potentially twice below - the first time to set the
                        value of 'object[attributeDefinition.propertyName]' to
                        an empty Array, and the second time to push a value
                        onto that Array.
                      -->
                      <button mat-icon-button matTooltip="Add a value to
                        {{attributeDefinition.propertyName}}"
                        [disabled]="!attributeDefinition.editable"
                        (click)="addValue(attributeDefinition.propertyName);
                        ((((attributeDefinition.kind === '') ||
                        (attributeDefinition.kind === 'proxy-selector')) &&
                        !isLocalTypeAttribute(attributeDefinition.
                        propertyName)) ? openObjectSelector(
                        attributeDefinition.propertyName, undefined) : object[
                        attributeDefinition.propertyName].push(addValue(
                        attributeDefinition.propertyName)))"
                        [ngStyle]="{ 'margin-left': ((((attributeDefinition.kind
                        === '') || (attributeDefinition.kind ===
                        'proxy-selector')) && isLocalTypeAttribute(
                        attributeDefinition.propertyName) &&
                        !isEnumerationAttribute(attributeDefinition)) ? '' :
                        'auto') }">
                        <mat-icon class="fa fa-plus"></mat-icon>
                      </button>
                    </div>
                    <div style="overflow-y: auto;">
                      <ng-container *ngFor="let value of object[
                        attributeDefinition.propertyName]; let j = index;
                        trackBy: getMultivaluedAttributeValueIdentifier">
                        <div style="display: flex; flex-direction: row;">
                          <ng-container [ngSwitch]="attributeDefinition.kind">
                            <ng-container *ngSwitchCase="'boolean'">
                              <mat-checkbox [(ngModel)]="object[
                                attributeDefinition.propertyName][j]"
                                [disabled]="!attributeDefinition.editable"
                                style="width: 100%;">
                              </mat-checkbox>
                            </ng-container>
                            <ng-container *ngSwitchCase="'number'">
                              <mat-form-field style="width: 100%;">
                                <input matInput type="number"
                                  [(ngModel)]="object[attributeDefinition.
                                  propertyName][j]"
                                  [disabled]="!attributeDefinition.editable"/>
                              </mat-form-field>
                            </ng-container>
                            <ng-container *ngSwitchCase="'date'">
                              <mat-form-field style="width: 100%;">
                                <input matInput [matDatepicker]="matDatepicker"
                                  [ngModel]="getDateString(object[
                                  attributeDefinition.propertyName][j])"
                                  (ngModelChange)="($event ? object[
                                  attributeDefinition.propertyName][j] =
                                  $event.getTime() : '')"
                                  [disabled]="!attributeDefinition.editable"/>
                                <mat-datepicker-toggle matSuffix
                                  [for]="matDatepicker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #matDatepicker>
                                </mat-datepicker>
                              </mat-form-field>
                            </ng-container>
                            <ng-container *ngSwitchCase="'string'">
                              <mat-form-field style="width: 100%;">
                                <input matInput type="text"
                                  [(ngModel)]="object[attributeDefinition.
                                  propertyName][j]"
                                  [disabled]="!attributeDefinition.editable"/>
                              </mat-form-field>
                            </ng-container>
                            <!--
                              Hopefully the case below can be removed
                              eventually.
                            -->
                            <ng-container *ngSwitchCase="'text'">
                              <mat-form-field style="width: 100%;">
                                <input matInput type="text"
                                  [(ngModel)]="object[attributeDefinition.
                                  propertyName][j]"
                                  [disabled]="!attributeDefinition.editable"/>
                              </mat-form-field>
                            </ng-container>
                            <ng-container *ngSwitchCase="'maskedString'">
                              <mat-form-field style="width: 100%;">
                                <input matInput type="password"
                                  [(ngModel)]="object[attributeDefinition.
                                  propertyName][j]"
                                  [disabled]="!attributeDefinition.editable"/>
                              </mat-form-field>
                            </ng-container>
                            <ng-container *ngSwitchCase="'markdown'">
                              <ng-container *ngIf="!attributeDefinition.
                                editable else editableBlock">
                                <markdown [data]="object[attributeDefinition.
                                  propertyName][j]">
                                </markdown>
                              </ng-container>
                              <ng-template #editableBlock>
                                <markdown-editor [value]="object[
                                  attributeDefinition.propertyName][j]"
                                  (valueChanged)="object[attributeDefinition.
                                  propertyName][j] = $event">
                                </markdown-editor>
                                <br/>
                              </ng-template>
                            </ng-container>
                            <ng-container *ngSwitchCase="'state-editor'">
                              <div style="display: flex; flex-direction: row;">
                                <div style="display: flex; flex-direction:
                                  column; justify-content: center;">
                                  <label style="margin-bottom: unset;">
                                    {{object[attributeDefinition.propertyName][
                                      j]}}&nbsp;
                                  </label>
                                </div>
                                <ng-container
                                  *ngFor="let transitionCandidateName of
                                  getStateTransitionCandidates(
                                  attributeDefinition); let j = index">
                                  <button mat-raised-button
                                    [disabled]="!attributeDefinition.editable"
                                    style="margin: 0px 3px 0px 3px;"
                                    [ngStyle]="{ 'margin-left': ((j === 0) ?
                                    'auto' : '') }" (click)="object[
                                    attributeDefinition.propertyName][j] =
                                    selectedType.classProperties[
                                    attributeDefinition.propertyName].
                                    definition.properties.transition[
                                    transitionCandidateName].target">
                                    {{transitionCandidateName}}
                                  </button>
                                </ng-container>
                              </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'user-selector'">
                              <mat-form-field style="width: 100%;">
                                <mat-select [(ngModel)]="object[
                                  attributeDefinition.propertyName][j]"
                                  [disabled]="!attributeDefinition.editable">
                                  <ng-container *ngFor="let username of
                                    usernames">
                                    <mat-option [value]="username">
                                      {{username}}
                                    </mat-option>
                                  </ng-container>
                                </mat-select>
                              </mat-form-field>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                              <div style="width: 100%; display: flex;
                                flex-direction: row;"
                                [ngStyle]="{ 'align-items':
                                (isLocalTypeAttribute(attributeDefinition.
                                propertyName) ? '' : 'center') }">
                                <ng-container *ngIf="object[
                                  attributeDefinition.propertyName]">
                                  <ng-container *ngIf="isLocalTypeAttribute(
                                    attributeDefinition.propertyName) else
                                    globalTypeAttribute">
                                    <ng-container *ngIf="isEnumerationAttribute(
                                      attributeDefinition) else
                                      koheseModelAttribute">
                                      <mat-form-field style="width: 100%;">
                                        <mat-select [(ngModel)]="object[
                                          attributeDefinition.propertyName][j]"
                                          [disabled]="!attributeDefinition.
                                          editable">
                                          <ng-container *ngFor="let option of
                                            getOptions(attributeDefinition.
                                            propertyName)">
                                            <mat-option [value]="option.name">
                                              {{getEnumerationValueRepresentation(
                                                attributeDefinition, option)}}
                                            </mat-option>
                                          </ng-container>
                                        </mat-select>
                                      </mat-form-field>
                                    </ng-container>
                                    <ng-template #koheseModelAttribute>
                                      <mat-expansion-panel
                                        #multivaluedAttributeExpansionPanel
                                        attr.attributeName="{{attributeDefinition.
                                        propertyName}}" style="width: 100%;">
                                        <mat-expansion-panel-header>
                                          <mat-panel-title>
                                            {{itemRepository.
                                              getStringRepresentation(object,
                                              attributeDefinition.propertyName,
                                              j, (enclosingType ? enclosingType :
                                              selectedType), selectedType,
                                              viewModel, formatDefinitionType)}}
                                          </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ng-template matExpansionPanelContent>
                                          <format-object-editor
                                            [enclosingType]="(enclosingType ?
                                            enclosingType : selectedType)"
                                            [type]="selectedType.classLocalTypes[
                                            (enclosingType ? enclosingType :
                                            selectedType).classProperties[
                                            attributeDefinition.propertyName].
                                            definition.type].definition"
                                            [object]="object[attributeDefinition.
                                            propertyName][j]"
                                            [formatDefinitionType]="formatDefinitionType"
                                            [disabled]="isDisabled">
                                          </format-object-editor>
                                        </ng-template>
                                      </mat-expansion-panel>
                                    </ng-template>
                                  </ng-container>
                                  <ng-template #globalTypeAttribute>
                                    <button mat-button [disabled]="true"
                                      style="width: 100%; margin: 0px 3px 0px
                                      3px; white-space: nowrap; overflow:
                                      hidden; text-overflow: ellipsis;">
                                      {{itemRepository.getStringRepresentation(
                                        object, attributeDefinition.
                                        propertyName, j, (enclosingType ?
                                        enclosingType : selectedType),
                                        selectedType, viewModel,
                                        formatDefinitionType)}}
                                    </button>
                                  </ng-template>
                                </ng-container>
                                <ng-container *ngIf="isLocalTypeAttribute(
                                  attributeDefinition.propertyName) else
                                  globalTypeAttribute">
                                  <ng-container *ngIf="!isEnumerationAttribute(
                                    attributeDefinition) && !object[
                                    attributeDefinition.propertyName][j]">
                                    <button mat-icon-button matTooltip="Set a
                                      value for {{attributeDefinition.
                                      propertyName}}"
                                      [disabled]="!attributeDefinition.
                                      editable" style="margin-left: auto;"
                                      (click)="object[attributeDefinition.
                                      propertyName][j] = getDefaultValue(
                                      selectedType.classProperties[
                                      attributeDefinition.propertyName].
                                      definition)">
                                      <mat-icon class="fa fa-plus"></mat-icon>
                                    </button>
                                  </ng-container>
                                </ng-container>
                                <ng-template #globalTypeAttribute>
                                  <button mat-icon-button matTooltip="Select an
                                    Item" [disabled]="!attributeDefinition.
                                    editable" (click)="openObjectSelector(
                                    attributeDefinition.propertyName, j)"
                                    style="margin-left: auto;">
                                    <mat-icon class="fa fa-ellipsis-h">
                                    </mat-icon>
                                  </button>
                                </ng-template>
                              </div>
                            </ng-container>
                          </ng-container>
                          <button mat-icon-button matTooltip="Remove this
                            value" [disabled]="!attributeDefinition.editable"
                            (click)="object[attributeDefinition.propertyName].
                            splice(j, 1)" style="margin-left: auto;">
                            <mat-icon class="fa fa-times"></mat-icon>
                          </button>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-template>
                <br/>
              </ng-container>
              <ng-template #singleValuedBlock>
                <ng-container [ngSwitch]="attributeDefinition.kind">
                  <ng-container *ngSwitchCase="'boolean'">
                    <mat-checkbox [(ngModel)]="object[attributeDefinition.
                      propertyName]" [disabled]="!attributeDefinition.
                      editable" style="width: 100%;">
                      {{getAttributeRepresentation(attributeDefinition)}}
                    </mat-checkbox>
                  </ng-container>
                  <ng-container *ngSwitchCase="'number'">
                    <mat-form-field style="width: 100%;">
                      <input matInput type="number"
                        placeholder="{{getAttributeRepresentation(
                        attributeDefinition)}}" [(ngModel)]="object[
                        attributeDefinition.propertyName]"
                        [disabled]="!attributeDefinition.editable"/>
                    </mat-form-field>
                  </ng-container>
                  <ng-container *ngSwitchCase="'date'">
                    <mat-form-field style="width: 100%;">
                      <input matInput [matDatepicker]="matDatepicker"
                        placeholder="{{getAttributeRepresentation(
                        attributeDefinition)}}" [ngModel]="getDateString(object[
                        attributeDefinition.propertyName])"
                        (ngModelChange)="($event ? object[attributeDefinition.
                        propertyName] = $event.getTime() : '')"
                        [disabled]="!attributeDefinition.editable"/>
                      <mat-datepicker-toggle matSuffix [for]="matDatepicker">
                      </mat-datepicker-toggle>
                      <mat-datepicker #matDatepicker></mat-datepicker>
                    </mat-form-field>
                  </ng-container>
                  <ng-container *ngSwitchCase="'string'">
                    <mat-form-field style="width: 100%;">
                      <input matInput type="text"
                        placeholder="{{getAttributeRepresentation(
                        attributeDefinition)}}" [(ngModel)]="object[
                        attributeDefinition.propertyName]"
                        [disabled]="!attributeDefinition.editable"/>
                    </mat-form-field>
                  </ng-container>
                  <!-- Hopefully the case below can be removed eventually. -->
                  <ng-container *ngSwitchCase="'text'">
                    <mat-form-field style="width: 100%;">
                      <input matInput type="text"
                        placeholder="{{getAttributeRepresentation(
                        attributeDefinition)}}" [(ngModel)]="object[
                        attributeDefinition.propertyName]"
                        [disabled]="!attributeDefinition.editable"/>
                    </mat-form-field>
                  </ng-container>
                  <ng-container *ngSwitchCase="'maskedString'">
                    <mat-form-field style="width: 100%;">
                      <input matInput type="password"
                        placeholder="{{getAttributeRepresentation(
                        attributeDefinition)}}" [(ngModel)]="object[
                        attributeDefinition.propertyName]"
                        [disabled]="!attributeDefinition.editable"/>
                    </mat-form-field>
                  </ng-container>
                  <ng-container *ngSwitchCase="'markdown'">
                    <ng-container *ngIf="!attributeDefinition.editable else
                      editableBlock">
                      <label style="width: 100%;">
                        {{getAttributeRepresentation(attributeDefinition)}}:
                      </label>
                      <markdown [data]="object[attributeDefinition.
                        propertyName]">
                      </markdown>
                    </ng-container>
                    <ng-template #editableBlock>
                      <markdown-editor [value]="object[attributeDefinition.
                        propertyName]"
                        [valueIdentifier]="getAttributeRepresentation(
                        attributeDefinition)" (valueChanged)="object[
                        attributeDefinition.propertyName] = $event">
                      </markdown-editor>
                      <br/>
                    </ng-template>
                  </ng-container>
                  <ng-container *ngSwitchCase="'state-editor'">
                    <div style="display: flex; flex-direction: row;">
                      <div style="display: flex; flex-direction: column;
                        justify-content: center;">
                        <label style="margin-bottom: unset;">
                          {{getAttributeRepresentation(attributeDefinition)}}:
                            {{object[attributeDefinition.propertyName]}}&nbsp;
                        </label>
                      </div>
                      <ng-container *ngFor="let transitionCandidateName of
                        getStateTransitionCandidates(attributeDefinition);
                        let j = index">
                        <button mat-raised-button
                          [disabled]="!attributeDefinition.editable"
                          style="margin: 0px 3px 0px 3px;"
                          [ngStyle]="{ 'margin-left': ((j === 0) ? 'auto' :
                          '') }" (click)="object[attributeDefinition.
                          propertyName] = selectedType.classProperties[
                          attributeDefinition.propertyName].definition.
                          properties.transition[transitionCandidateName].target">
                          {{transitionCandidateName}}
                        </button>
                      </ng-container>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="'user-selector'">
                    <mat-form-field style="width: 100%;">
                      <mat-select placeholder="{{getAttributeRepresentation(
                        attributeDefinition)}}" [(ngModel)]="object[
                        attributeDefinition.propertyName]"
                        [disabled]="!attributeDefinition.editable">
                        <ng-container *ngFor="let username of usernames">
                          <mat-option [value]="username">
                            {{username}}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <div style="width: 100%; display: flex; flex-direction:
                      row;" [ngStyle]="{ 'align-items': (isLocalTypeAttribute(
                      attributeDefinition.propertyName) ? '' : 'center') }">
                      <label>
                        {{getAttributeRepresentation(
                          attributeDefinition)}}:&nbsp;
                      </label>
                      <ng-container *ngIf="(isLocalTypeAttribute(
                        attributeDefinition.propertyName) &&
                        isEnumerationAttribute(attributeDefinition)) else
                        notEnumeration">
                        <mat-form-field style="width: 100%;">
                          <mat-select
                            placeholder="{{getAttributeRepresentation(
                            attributeDefinition)}}" [(ngModel)]="object[
                            attributeDefinition.propertyName]"
                            [disabled]="!attributeDefinition.editable">
                            <ng-container *ngFor="let option of getOptions(
                              attributeDefinition.propertyName)">
                              <mat-option [value]="option.name">
                                {{getEnumerationValueRepresentation(
                                  attributeDefinition, option)}}
                              </mat-option>
                            </ng-container>
                          </mat-select>
                        </mat-form-field>
                      </ng-container>
                      <ng-template #notEnumeration>
                        <ng-container *ngIf="object[attributeDefinition.
                          propertyName]">
                          <ng-container *ngIf="isLocalTypeAttribute(
                            attributeDefinition.propertyName) else
                            globalTypeAttribute">
                            <mat-expansion-panel style="width: 100%;">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  {{itemRepository.getStringRepresentation(
                                    object, attributeDefinition.propertyName,
                                    undefined, (enclosingType ? enclosingType :
                                    selectedType), selectedType, viewModel,
                                    formatDefinitionType)}}
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <ng-template matExpansionPanelContent>
                                <format-object-editor
                                  [enclosingType]="(enclosingType ?
                                  enclosingType : selectedType)"
                                  [type]="(enclosingType ? enclosingType :
                                  selectedType).classLocalTypes[selectedType.
                                  classProperties[attributeDefinition.
                                  propertyName].definition.type].definition"
                                  [object]="object[attributeDefinition.
                                  propertyName]"
                                  [formatDefinitionType]="formatDefinitionType"
                                  [disabled]="isDisabled">
                                </format-object-editor>
                              </ng-template>
                            </mat-expansion-panel>
                          </ng-container>
                          <ng-template #globalTypeAttribute>
                            <button mat-button  [disabled]="true" style="width:
                              100%; margin: 0px 3px 0px 3px; white-space: nowrap;
                              overflow: hidden; text-overflow: ellipsis;">
                              {{itemRepository.getStringRepresentation(object,
                                attributeDefinition.propertyName, undefined,
                                (enclosingType ? enclosingType : selectedType),
                                selectedType, viewModel, formatDefinitionType)}}
                            </button>
                          </ng-template>
                        </ng-container>
                        <ng-container *ngIf="isLocalTypeAttribute(
                          attributeDefinition.propertyName) else
                          globalTypeAttribute">
                          <ng-container *ngIf="!object[attributeDefinition.
                            propertyName]">
                            <button mat-icon-button matTooltip="Set a value for
                              {{attributeDefinition.propertyName}}"
                              [disabled]="!attributeDefinition.editable"
                              style="margin-left: auto;"
                              (click)="object[attributeDefinition.propertyName] =
                              getDefaultValue(selectedType.classProperties[
                              attributeDefinition.propertyName].definition)">
                              <mat-icon class="fa fa-plus"></mat-icon>
                            </button>
                          </ng-container>
                        </ng-container>
                        <ng-template #globalTypeAttribute>
                          <button mat-icon-button matTooltip="Select an Item"
                            [disabled]="!attributeDefinition.editable"
                            (click)="openObjectSelector(attributeDefinition.
                            propertyName, undefined)" style="margin-left:
                            auto;">
                            <mat-icon class="fa fa-ellipsis-h"></mat-icon>
                          </button>
                        </ng-template>
                        <ng-container *ngIf="(!isLocalTypeAttribute(
                          attributeDefinition.propertyName) || object[
                          attributeDefinition.propertyName])">
                          <button mat-icon-button
                            matTooltip="Remove the selection for
                            {{attributeDefinition.propertyName}}"
                            [disabled]="(!attributeDefinition.editable
                            || (object[attributeDefinition.propertyName] == null))"
                            [ngStyle]="{ 'margin-left': (object[attributeDefinition.
                            propertyName] ? 'auto' : '') }" (click)="object[
                            attributeDefinition.propertyName] = undefined">
                            <mat-icon class="fa fa-times"></mat-icon>
                          </button>
                        </ng-container>
                      </ng-template>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-template>
            </ng-container>
          </ng-container>
        </div>
      </ng-template>
    </ng-container>
  </ng-template>
</div>
<ng-container *ngIf="isDialogInstance()">
  <mat-dialog-actions style="height: 40px; width: 100%; display: flex;
    flex-direction: row;">
    <button mat-raised-button [disabled]="!isObjectValid()" (click)="close(
      true)" style="margin-left: auto;">
      Accept
    </button>
    <button mat-raised-button (click)="close(false)">
      Cancel
    </button>
  </mat-dialog-actions>
</ng-container>