<div style="width: 100%; display: flex; flex-direction: column; overflow: auto;
  padding: 7px;" [ngStyle]="{ 'height': isDialogInstance() ?
  'calc(100% - 40px)' : '100%' }">
  <ng-container *ngIf="isDisabled else enabled">
    <markdown [data]="itemRepository.getMarkdownRepresentation(object,
      (enclosingType ? enclosingType : selectedType), selectedType, viewModel,
      formatDefinitionType, 0, false)">
    </markdown>
  </ng-container>
  <ng-template #enabled>
    <ng-container *ngIf="allowKindChange">
      <div style="height: 300px;">
        <tree [root]="itemRepository.getTreeConfig().getValue().config.
          getProxyFor('Model-Definitions').item"
          [getChildren]="getTreeComponentConfiguration(
          TreeComponentConfiguration.GET_CHILDREN)"
          [hasChildren]="getTreeComponentConfiguration(
          TreeComponentConfiguration.HAS_CHILDREN)"
          [getText]="getTreeComponentConfiguration(TreeComponentConfiguration.
          GET_TEXT)" [getIcon]="getTreeComponentConfiguration(
          TreeComponentConfiguration.GET_ICON)" [selection]="[selectedType]"
          [maySelect]="getTreeComponentConfiguration(TreeComponentConfiguration.
          MAY_SELECT)"
          [elementSelectionHandler]="getTreeComponentConfiguration(
          TreeComponentConfiguration.ELEMENT_SELECTION_HANDLER)">
        </tree>
      </div>
    </ng-container>
    <ng-container *ngFor="let container of formatDefinition.containers">
      <ng-container *ngIf="(container.kind === FormatContainerKind.
        REVERSE_REFERENCE_TABLE) else notReverseReferencesTable">
        <h3>
          Reverse References For {{getReverseReferenceTableHeaderContent(
            container)}}
        </h3>
        <table_ [rows]="getReverseReferences(container)" [columns]="['name']"
          [getText]="getTableCellTextRetrievalFunction()" [disabled]="true">
        </table_>
      </ng-container>
      <ng-template #notReverseReferencesTable>
        <div style="display: flex;" [ngStyle]="{ 'flex-direction': ((container.
          kind === 'list') ? 'column' : 'row') }">
          <ng-container *ngFor="let attributeDefinition of container.contents">
            <ng-container *ngIf="attributeDefinition.visible">
              <ng-container *ngIf="Array.isArray(selectedType.classProperties[
                attributeDefinition.propertyName].definition.type) else
                singleValuedBlock">
                <multivalued-field [koheseObject]="object"
                  [dataModel]="selectedType" [viewModel]="viewModel"
                  [enclosingDataModel]="enclosingType"
                  [propertyDefinition]="attributeDefinition">
                </multivalued-field>
              </ng-container>
              <ng-template #singleValuedBlock>
                <singlevalued-field [koheseObject]="object"
                  [dataModel]="selectedType" [viewModel]="viewModel"
                  [enclosingDataModel]="enclosingType"
                  [propertyDefinition]="attributeDefinition">
                </singlevalued-field>
              </ng-template>
            </ng-container>
          </ng-container>
        </div>
      </ng-template>
    </ng-container>
  </ng-template>
</div>
<ng-container *ngIf="isDialogInstance()">
  <mat-dialog-actions style="height: 40px; width: 100%; display: flex;
    flex-direction: row;">
    <button mat-raised-button [disabled]="!isObjectValid()" (click)="close(
      true)" style="margin-left: auto;">
      Accept
    </button>
    <button mat-raised-button (click)="close(false)">
      Cancel
    </button>
  </mat-dialog-actions>
</ng-container>
