<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated KoheseTypes -->
      <package
            uri="http://www.example.org/KoheseTypes"
            class="KoheseTypes.KoheseTypesPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Kohese -->
      <package
            uri="http://www.kohese.com/KoheseModel"
            class="KoheseModel.KoheseModelPackage"
            genModel="model/Kohese.genmodel"/>
   </extension>

</plugin>
