<mat-table *ngIf="tableStream" #childTable [dataSource]="tableStream">

  <ng-container matColumnDef="kind">
    <mat-header-cell *matHeaderCellDef> Kind </mat-header-cell>
    <mat-cell *matCellDef="let child">{{child.kind}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let child"> {{child.item.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="assignedTo">
    <mat-header-cell *matHeaderCellDef style="padding-left: 20px;"> Assigned To </mat-header-cell>
    <mat-cell *matCellDef="let child" style="padding-left: 20px;"> {{child.item.assignedTo}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
    <mat-cell *matCellDef="let child"> {{child.state}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="childrenCount">
    <mat-header-cell *matHeaderCellDef> Children(#) </mat-header-cell>
    <mat-cell *matCellDef="let child" style="justify-content: center;"> {{child.children.length}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="nav">
    <mat-header-cell *matHeaderCellDef>Navigation</mat-header-cell>
    <mat-cell *matCellDef="let child" style="display: flex; justify-content: flex-end;">
      <div class="hidden-buttons"> <!-- div and class for scss styling -->
        <button mat-icon-button matTooltip="Display Item Information" (click)="displayInformation(child)">
          <mat-icon class="fa fa-clone"></mat-icon>
        </button>
        <button mat-icon-button matTooltip="Other Options" [matMenuTriggerFor]="menu"
          (click)="$event.stopPropagation();">
          <mat-icon class="fa fa-bars"></mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item (click)="navigationService.navigate('Explore', { id: child.item.id })">
            <mat-icon class="fa fa-arrow-right"></mat-icon>
            Navigate in Explorer
          </button>
          <button mat-menu-item (click)="navigationService.addTab('Explore', { id: child.item.id })">
            <mat-icon class="fa fa-external-link"></mat-icon>
            Navigate in New Tab
          </button>
        </mat-menu>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="rowDef; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let proxy; columns: rowDef let j=index;" tabindex="{{j}}"
    draggable="true"
    (dragstart)="$event.dataTransfer.setData('id', proxy.item.id)"
    (dragover)="$event.preventDefault()"
    (drop)="whenDropOccurs(proxy, $event)">
  </mat-row>
</mat-table>
