<mat-table *ngIf="tableStream" #childTable [dataSource]="tableStream">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let child"> {{child.item.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="kind">
      <mat-header-cell *matHeaderCellDef> Kind </mat-header-cell>
      <mat-cell *matCellDef="let child">
        {{child.kind}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="assignedTo">
      <mat-header-cell *matHeaderCellDef> Assigned To </mat-header-cell>
      <mat-cell *matCellDef="let child"> {{child.item.assignedTo}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actionState">
      <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
      <mat-cell *matCellDef="let child"> {{child.item.actionState}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let child"> {{child.item.description | truncate : 30}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="childrenCount">
      <mat-header-cell *matHeaderCellDef> Children(#) </mat-header-cell>
      <mat-cell *matCellDef="let child"> {{child.children.length}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="rowDef"></mat-header-row>
  <mat-row (click)="navigate('Explore', {id:proxy.item.id})"
    *matRowDef="let proxy; columns: rowDef" draggable="true"
    (dragstart)="$event.dataTransfer.setData('id', proxy.item.id)"
    (dragover)="$event.preventDefault()"
    (drop)="whenDropOccurs(proxy, $event)">
  </mat-row>
</mat-table>
