<div style="visibility: hidden; position: fixed"
    [style.left]="x"
    [style.top]="y"
    [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent>
    <ng-container *ngFor="let menuItem of menuItems">
      <button mat-menu-item matTooltip="{{ menuItem.tooltip }}"
        [disabled]="(menuItem.isEnabled != null) && !menuItem.isEnabled()"
        (click)="menuItem.execute()">
        <mat-icon class="{{ menuItem.icon }}"></mat-icon>
        {{ menuItem.action }}
      </button>
    </ng-container>
	</ng-template>
</mat-menu>
