//Palette
$primaryColor: #005A31;
$accentColor: #CBE32D;
$lightColor: #F3FAB6;
$secondaryColor: #660000;
$secondaryFade: $secondaryColor;
$buttonAccentColor: $primaryColor + 125;

//Element Sizes
$leftNavWidth: 50px;
$topNavHeight: 50px;
$sidePaneWidth: 250px;
$tabBarHeight: 43px;
$topActionBarHeight: 43px;

$baseBorderRadius : 10px;

//font
$fontColor: black;