<div>
    <div id="top-action-bar">
        <button ui-sref="kohese.explore" class="btn btn-default fa-chevron-left"> Tree</button>
        Found {{searchCtrl.searchResults.length}} matches:
    </div>
    <div
            ng-click="searchCtrl.updateTab(itemProxy.item.id)"
            ui-sref="kohese.search({id:itemProxy.item.id, filter: searchCtrl.searchString})"
            class="search-result card panel panel-default"
            id="{{itemProxy.item.id}}"
            ng-repeat="itemProxy in searchCtrl.searchResults = (searchCtrl.itemStore.rows | filter: {item: { $: searchCtrl.searchString}})">
        <div class="panel-title result-title">{{itemProxy.item.title}}</div>
        <div class="panel-body">
            <div class="result-description">{{itemProxy.item.description}}</div>
        </div>
        <div class="panel-footer">
            <span class="last-modified">Last modified: {{itemProxy.item.modifiedOn | date}}</span>
        </div>
    </div>
</div>