<div style="height: 50px; width: 100%; display: flex; flex-direction: row;">
  <button mat-icon-button matTooltip="Expand all differences"
    (click)="expandAll()" class="flex-right-align">
    <mat-icon class="fa fa-chevron-down"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Collapse all differences"
    (click)="collapseAll()">
    <mat-icon class="fa fa-chevron-up"></mat-icon>
  </button>
</div>
<div style="height: calc(100% - 50px); width: 100%; overflow: auto;">
  <ng-container *ngFor="let comparison of (comparisonsSubject | async)">
    <ng-container *ngIf="hasChanges(comparison)">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{comparison.changeObject.name}}
          <ng-container
            *ngFor="let changeType of comparison.changeTypes">
            <mat-icon
              class="{{Comparison.getChangeIconString(changeType)}}"
              matTooltip="{{changeType}}" style="padding: 0px 3px;">
            </mat-icon>
          </ng-container>
        </mat-expansion-panel-header>
        <div
          style="height: 50px; width: 100%; display: flex;
            flex-direction: row;">
          <button mat-icon-button matTooltip="Open comparison dialog"
            (click)="openComparisonDialog(comparison)"
            class="flex-right-align">
            <mat-icon class="fa fa-exchange"></mat-icon>
          </button>
        </div>
        <ng-container
          *ngFor="let property of Array.from(comparison.propertyComparisonMap.
            keys())">
          <ng-container
            *ngIf="(!property.hidden && (comparison.propertyComparisonMap.get(
              property).length > 1) || (comparison.propertyComparisonMap.get(
              property)[0].added || comparison.propertyComparisonMap.get(
              property)[0].removed))">
            <div style="padding: 0px 3px;">
              <span>
                {{property.name}}:
              </span>
              <ng-container
                *ngFor="let change of comparison.propertyComparisonMap.get(
                  property)">
                <span [ngStyle]="getChangeStyle(change)">
                  {{change.value}}
                </span>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="1 === comparison.numberOfHiddenProperties">
          <div>
            1 hidden property changed
          </div>
        </ng-container>
        <ng-container *ngIf="comparison.numberOfHiddenProperties > 1">
          <div>
            {{comparison.numberOfHiddenProperties}} hidden properties changed
          </div>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>
  </ng-container>
</div>