<div style="height: 50px; width: 100%; display: flex; flex-direction: row;">
  <button mat-icon-button matTooltip="Expand all differences"
    (click)="expandAll()" class="flex-right-align">
    <mat-icon class="fa fa-chevron-down"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Collapse all differences"
    (click)="collapseAll()">
    <mat-icon class="fa fa-chevron-up"></mat-icon>
  </button>
</div>
<div style="height: calc(100% - 50px); width: 100%; overflow: auto;">
  <ng-container *ngFor="let comparison of (comparisonsSubject | async)">
    <ng-container *ngIf="hasChanges(comparison)">
      <mat-expansion-panel [expanded]="expanded">
        <mat-expansion-panel-header>
          {{comparison.changeObject.name}}
          <ng-container
            *ngFor="let changeType of comparison.changeTypes">
            <mat-icon
              class="{{Comparison.getChangeIconString(changeType)}}"
              matTooltip="{{changeType}}" style="padding: 0px 3px;">
            </mat-icon>
          </ng-container>
        </mat-expansion-panel-header>
        <div
          style="height: 50px; width: 100%; display: flex;
            flex-direction: row;">
          <button mat-icon-button matTooltip="Open comparison dialog"
            (click)="openComparisonDialog(comparison)"
            class="flex-right-align">
            <mat-icon class="fa fa-exchange"></mat-icon>
          </button>
        </div>
        <comparison [comparison]="comparison"
          [showDifferencesOnlySubject]="showDifferencesOnlySubject">
        </comparison>
      </mat-expansion-panel>
    </ng-container>
  </ng-container>
</div>